[2020-10-19 22:28] silkimen commented on #351
Hi @Adza93,

thanks for your detailed problem description. I've never tried to reproduce with multiple calls of 'setServerTrustMode()'. Maybe this will do the trick.

Seems like something is going wrong during NSDecoder decoding, but I've no idea why.

There is absolutely no problem with your wrapper code. It's basically the same in ionic-native wrapper.

Please open a new issue in the ionic-nativ

[2020-10-20 21:57] silviogutierrez commented on #372
Great! Thanks for fixing this. An empty urlencoded request will still be
parsed cleanly. So while strange, it's better than a loud error on certain
frameworks.

Thanks again.

On Sun, Oct 18, 2020 at 10:40 PM Sefa Ilkimen <notifications@github.com>
wrote:

[2020-10-21 06:46] supabitra commented on #88
Anxiously waiting for the progress callback implementation for **Android** "_cordova.plugin.http.downloadFile_".
Also, kindly suggest if there is an alternate way out, which can be used until the actual implementation concludes.

This is an elegant and popular library, which is being used by so many Apps. Please don't give up! Thank you.

[2020-10-21 07:30] jpike88 commented on #88
Android honestly doesn't even need this plugin. You have the full power of Chromium behind Android Cordova apps nowadays. It's really only more useful to get around iOS limitations and prevent the iOS web view from leaking memory in my experience

[2020-10-22 21:33] JonSmart opened #377 "[Bug] iOS Crash when using latest version 3.1.0"
**Describe the bug**
Our latest build uses the new 3.1.0 version, our test users are reporting random crashes, using Firebase Crashlytics the crash has been identified within this plugin.

**System info**
 - affected HTTP plugin version: 3.1.0
 - affected platform(s) and version(s): iOS 13.3.1 (17D50)
 - affected device(s): iPhone XR
 - cordova version: 9.0.0
 - cordova platform version(s): ios 6.

[2020-10-23 23:08] rodalz commented on #168
Based on @sarath-vijay 's solution, I bring another workaround:

1. remove code from angular.json, as it is not necessary

[code]

2. add a new script to package.json

[code]

3. Since capacitor depends on cocoapods, we already have the Xcodeproj gem.

So here is the ruby ​​script for addCertToXcodeProj.rb:

[code]

4. npm run set:ios:certificate

[2020-10-26 09:19] ptorrent commented on #88
Hello ! Is it already working on IOS ?

[2020-10-27 14:56] subukamath opened #378 "Improper Validation of Certificate - Android"
We use this library for our android app. When running Veracode Vulnerability scan for the android app, below vulnerability was reported.

Improper Validation of Certificate with Host Mismatch CWE ID 297
http://cwe.mitre.org/data/definitions/297.html

The failure to validate host-specific certificate data may mean that, while the certificate read was valid, it was not for the site originally reques

[2020-10-31 05:15] silkimen commented on #378
**TLSSocketFactory.java**: This code is not validating the certificates. It's an adapter for the socket factory, it's used to enable TLS 1.2 on older android versions and then all other methods are delegated to the original implementation, we just forward the calls. So, it's a false positive.

**CordovaServerTrust.java**: the `noOpTrustManagers` are meant to disable trust validation. It's only use

[2020-10-31 05:17] silkimen commented on #352
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-10-31 05:18] silkimen commented on #346
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2020-11-03 07:39] venkatesh8 opened #379 "http.downloadFile() : 'withCredentials: true' support along with headers"
I am trying to download an image from URL where it returns blob in ionic 5. My API is cookie based authentication as well as headers.
How to check if the downloadFile() method supports cookies sync? is cookies support there? if Yes, please provide a sample code to test.
myCode:
`
const url = 'https://abc.com';
const headers = {
'Content-Type': 'application/json',
'Accept': '*/*'
};`

`this.http.do

[2020-11-06 11:30] silkimen commented on #378
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-11-06 11:31] #378 closed

[2020-11-06 11:32] #346 closed

[2020-11-06 11:35] silkimen commented on #377
Hi Jon, can you please try downgrading cordova-ios to 5.1.1? I'd like to know if this problem is related to that version.

[2020-11-06 16:29] JonSmart commented on #377
That might prove quite difficult as this is hard to replicate and we only saw this when testing with a volume of users - which makes it risky to revert on the core as that could have other side-effects.  What I can tell you that we reverted to 3.0.1 of this lib and it has continued to work perfectly every time.

[2020-11-07 14:09] degob opened #380 "Missing HostnameVerifier?"
Hi Silkimen,
thank you for the cool plugin 'cordova-plugin-advanced-http'.
I am having issues with server trust mode 'pinned'.
The certificates are being checkd correctly, but as the hostnameVerifier is set to 'null', I get an error that hostname is not verified.
I wonder if it should be possible to add a hostnameVerifier (maybe even the 'noOpVerifier') to the pinned mode.
I don't understand what

[2020-11-08 14:56] cgcman commented on #130
in my case, the problem was Firebase dependencies, i fix with this solution for every Firebase implementation.

[code]

[2020-11-09 14:22] LyteFM commented on #357
https://github.com/silkimen/cordova-plugin-advanced-http/issues/168

This issue is a duplicate and should be closed.

https://github.com/ashenwgt/ionic-capacitor-ssl-pinning -> example repo for how to get it working.

[2020-11-10 14:42] Ramya-Kakarla opened #381 "How to call a POST method without the data attribute in options ?"
In case of POST method cordova plugin always expects the data to be sent. How to handle if there is no data available?
Tried the workarounds shared in the link below, but it doesn't seem to work in my case.
https://github.com/silkimen/cordova-plugin-advanced-http/issues/324
https://github.com/silkimen/cordova-plugin-advanced-http/issues/177.
Sample code snippet of what I'm trying:

cordova.plugin.

[2020-11-14 16:59] cremfert commented on #234
I found a solution to this:
just do not call ```setServerTrustMode``` so that the default validation of IOS is used. As this plugin uses AFNetworking in the background you can now install TrustKit (https://github.com/datatheorem/TrustKit) and configure it by ```Info.plist```. Configure TrustKit to use auto-swizzling as described here (https://github.com/datatheorem/TrustKit/blob/master/docs/gettin

[2020-11-18 14:06] NLueg opened #382 "NSInvalidArgumentException on iOS when activating SSL-Pinning"
**Describe the bug**
Several iOS devices are crashing on start when SSL pinning is activated. Without it, we don't have any problem.

**System info**
 - affected HTTP plugin version: 3.0.1
 - affected platform(s) and version(s): iOS 14+, iOS 12.2
 - affected device(s): iPhone 11, iPhone X
 - cordova version: 9.0.0
 - cordova platform version(s): ios 6.1.1

**Are you using ionic-native-wrapper?**

[2020-11-19 14:34] tobika commented on #365
In order to fix this you also have to add some more permissions as described here:
https://github.com/mauron85/cordova-plugin-background-geolocation/issues/688#issuecomment-647137427

` <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />`

[2020-11-19 23:34] ath0mas commented on #344
Many commits linking same issue postmanlabs/httpbin#617 seem to report for _httpbin to be abandoned_ and they migrated their tests to https://httpbingo.org/.

Could this be done here too?

[2020-11-20 09:04] ath0mas opened #383 "[Bug] [Android] not following redirects for some URLs since version 3"
**Describe the bug**
Some URLs with redirects were properly **resolved in success** with plugin version **2.5.1**, but are now **resolved in error** with status 301/302 **since 3.0** up to current 3.1.0.

**System info**
 - affected HTTP plugin version: 3.0.0 to 3.1.0
 - affected platform(s) and version(s): Android
 - affected device(s): devices and emulators
 - cordova version: cordova 10
 - cord

[2020-11-20 12:16] ath0mas commented on #383
Just confirmed the **http/https** fact.

For these tests I used [httpbingo.org/redirect-to](https://httpbingo.org) and mixing _http_ and _https_ between base and redirect URLs,

\ | 2.5.1 | 3.0.0 | 3.1.0
------------ | ------------- | ------------- | -------------
http &rarr; http | :heavy_check_mark: | :heavy_check_mark: | :heavy_check_mark:
http**s** &rarr; http**s** | :heavy_check_mark: | :heav

[2020-11-26 14:39] gabn88 opened #384 "Add own certificate to cordova app with a Let's Encrypt encrypted backend on Android < 7"
Starting June 2021Let's Encrypt will start using an new root certificate (https://letsencrypt.org/2020/11/06/own-two-feet.html). This won't work with Android < 7.
The only feasible workaround is to use okhttp and add a root certificate to the app (https://stackoverflow.com/questions/64844311/certpathvalidatorexception-connecting-to-a-lets-encrypt-host-on-android-m-or-ea and https://github.com/dima

[2020-12-03 16:08] SugamAmtrak opened #385 "Android HostnameVerifier Security Issue"
Hello, when we published the app to Google Play, we received a warning as shown below:

Your app(s) are using an unsafe implementation of the HostnameVerifier interface. You can find more information about how resolve the issue in this Google Help Center article.

We identified that the CordovaServerTrust.java implements the HostnameVerifier and uses the verify method. The problem looks to be arou

[2020-12-05 02:23] silkimen commented on #385
Hi @SugamAmtrak, please check this issue #378. It's okay to ignore this warning as long as you [don't use the "nocheck" trust mode](https://github.com/silkimen/cordova-plugin-advanced-http#setservertrustmode), which is only meant for testing purposes.

[2020-12-07 10:22] ofirattia opened #386 "Pinned Certificated - How to pin the certs within the app"
Hi,

I followed the instructions the described in the README and I am trying to understand if I miss something here.

I added the certificates (der format with .cer extension) to the www folder and setServerTrust as pinned, when I execute the HTTP request I see the following log in XCODE:

{Error Domain=kCFErrorDomainCFNetwork Code=-1202 "(null)" UserInfo={_kCFStreamPropertySSLClientCertificateSta

[2020-12-08 07:13] nipuna21018 opened #387 "[Bug] [ios] security issue - unsafe Objective-C protocol `NSCoding` has been used in the plugin"
**Description**
The `NSKeyedArchiver` or `NSKeyedUnarchiver` methods used by the Plugin are insecure because they are incompatible with the `NSSecureCoding` protocol. An attacker-controlled payload that is deserialized via these APIs may result in attacker-controlled code being executed.

`NSCoding` is an Objective-C protocol that interoperates with `NSKeyedArchiver` and `NSKeyedUnarchiver`. Toget

[2020-12-08 11:49] silkimen commented on #387
Hi Nipuna,

thanks for creating this issue. Where did you find those methods in this plugin? All `NSCoding` conforming classes already do use secure decoding. I can't find any usage of `NSKeyedArchiver ` or `NSKeyedUnarchiver `.

[2020-12-08 11:50] silkimen commented on #385
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-12-08 11:50] #385 closed

[2020-12-08 11:53] silkimen commented on #344
@ath0mas seems to be a good alternative. Do you mind creating a PR?

[2020-12-08 16:35] nipuna21018 commented on #387
Hi Silkimen,

This issue was reported by [DataTheorem](https://www.datatheorem.com/), an agency which scans apps for security. We are using this plugin in our app.

I found `NSCoding` protocol is used in the file `src/ios/AFNetworking/AFHTTPSessionManager.m`, line no 443.

I thought `NSKeyedArchiver ` and `NSKeyedUnarchiver ` are associated with `NSCoding` protocol. If not please ignore those two

[2020-12-08 19:08] silkimen commented on #387
Ah okay, I see. `src/ios/AFNetworking/AFHTTPSessionManager.m` is third party code in `AFNetworking` library. Line 443 is for checking if the `configuration` instance (`NSURLSessionConfiguration`) conforms to `NSCoding`. It's not decoding any data.

The interesting part is happening [here in lines 411-414](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/ios/AFNetworking/AFH

[2020-12-08 20:28] ofirattia opened #388 "Debugging Network Requests When Using cordova.plugin.http"
Hi,
There is any option to debug the calls that being called using cordova.plugin.http on the developer tools? like any other XHR?

Because if I am using the cert pinning for example, I want to see the network calls as well, as of now I am not able to see them.

[2020-12-08 20:30] ofirattia commented on #388
I am closing since its duplicate and there is no option to do that.

[2020-12-08 22:04] ath0mas commented on #344
@silkimen Sure.

Shall we go for a full replacement of httpbin.org with httpbingo.org, or just for these two specs?
And can I change the default scheme to https, to switch to http only when necessary?
Any advice about "Update test cert for httpbin.org" or so, for ci or other test cases?

[2020-12-08 23:10] silkimen commented on #344
Hmm, I think it's better to start with these two specs and see how stable things are working. If it's working stable for the next two months or so, we can replace all specs. I'm also considering another alternative: spinning up a test server every time we're running the specs, but I don't actually know if this is possible with GitHub Actions and Travis CI. 🤔

[2020-12-10 14:19] nipuna21018 commented on #387
I understood. Thank you for taking time to look into this matter.
I'm closing this issue as this is not an issue further.

[2020-12-10 14:19] #387 closed

[2020-12-11 09:07] Schlupps commented on #357
No I don't think so. It is not the pinning problem. The function to be used it setClientAuthMode. You can send the certificate for client certificate authentication. I have the same problem. In the current  @ionic-native/http version this function seems not to be implemented.

Any ideas or workarounds?

[2020-12-11 15:00] gummibjorn commented on #351
We were actually able to reproduce this crash. It happens when you call setServerTrustMode during an ongoing Http-Call. In our case we called setServerTrustMode before every Request, so this happened quite frequently. After moving setServerTrustMode to the application start the crash seemed not to be reproducible anymore.

[2020-12-29 16:16] silkimen commented on #388
Hi @ofirattia, you are right, this is a duplicate of #167. Unfortunately, not possible in developer tools.

[2020-12-29 16:16] #388 closed

[2020-12-29 16:30] silkimen commented on #386
Hi @ofirattia, can you please check your domain on https://www.ssllabs.com/ssltest/ and post a screenshot of the results (just blank the domain name)?

[2020-12-29 16:39] silkimen commented on #384
Hi @gabn88, this plugin does not support adding new root certificates to the Android system CA store. Though you could pin to the new root certificate, but then you won't be able to communicate with servers using certificates which are issued from another root CA. If this a viable option for you, check [README #setservertrustmode](https://github.com/silkimen/cordova-plugin-advanced-http#setservert

[2020-12-29 16:57] silkimen commented on #381
Please format your example code properly. Read [the documentation #setheader](https://github.com/silkimen/cordova-plugin-advanced-http#setheader) carefully. Something is wrong in following lines:

[code]

[2020-12-29 17:17] silkimen commented on #380
Hi @degob,
I'm sorry for my late response. When the hostname verifier is set to `null` it should use the default verifier provided by `javax.net.ssl.HttpsURLConnection` see [HttpsURLConnection](https://docs.oracle.com/javase/7/docs/api/javax/net/ssl/HttpsURLConnection.html). The "magic" is happening [here in CordovaHttpBase.java#L135-L137](https://github.com/silkimen/cordova-plugin-advanced-http/b

[2021-01-01 17:08] BunnyUmar commented on #377
Hello
 please check your certification this is correct format .cer.

[2021-01-07 03:19] ThangD commented on #295
@bsbechtel @RomanRobot Could you please help to give the detail of the fix? I'm facing with the same issue. Where i put the main.ts with the content of fix. Thanks.

[2021-01-12 21:16] ath0mas commented on #383
Android code mostly in [HttpRequest](https://github.com/silkimen/cordova-plugin-advanced-http/blob/f8f52e1e975c24ae70843b12da1a46a72f402a6a/src/android/com/silkimen/http/HttpRequest.java) seems to rely on [java.net.HttpURLConnection](https://developer.android.com/reference/java/net/HttpURLConnection) toggling redirect through `setInstanceFollowRedirects`.

Quick search about http/https redirection

[2021-01-13 02:32] chrisjdev opened #391 "[Bug] [Android] Out of memory error when uploading a large file"
**Describe the bug**
I was attempting to upload a ~300MB file using uploadFile() on Android 11. Very quickly it got several out of memory errors and eventually crashed. I traced the issue down to HttpRequest.copy(), where it will attempt to read the entire file, write the entire file, and HttpURLConnection will attempt to buffer the entire file in memory before sending, to have an accurate content

[2021-01-17 17:14] ath0mas opened #392 "[E2E Test] [Android] Fail to run e2e tests on Android 7+ emulators"
**Describe the bug**
All e2e tests are failing on Android 7+ emulators because of `elementById` reported as an invalid locator ; Appium and/or Chrome seem to have change the way to find elements.

**System info**
 - affected HTTP plugin version: dev 3.1.1
 - affected platform(s) and version(s): Android 7+ (ok for 5 and 6, failing for 7 and 11)
 - affected device(s): local emulators
 - appium versi

[2021-01-17 18:06] ath0mas opened #393 "[E2E Test] [Android] Content-Type not equal for "FormData empty" spec"
**Describe the bug**
On my machine, running latest added [E2E spec about "FormData empty"](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/e2e-specs.js#L1113) returns an error because of Content-Type not matching.

**System info**
 - affected HTTP plugin version: dev 3.1.0
 - affected platform(s) and version(s): Android
 - affected device(s): local emulators with Android

[2021-01-17 20:38] Kashifcbt opened #395 "SSL pinning Android Trust anchor for certification not found"
Hi there i am trying to implement ssl pinning in my ionic  application first i tried with my backend server i got the error
"TLS connection could not be established: javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found." then to check if my ssl certificate is not valid i tried calling  "google.com"
but got same error.
i h

[2021-01-17 21:30] ath0mas opened #397 "[Feature] [E2E] Update cordova and tools versions for testing"
**Is your feature request related to a problem? Please describe.**
CI uses Node.js 10 and test app is built from a template with outdated cordova, platforms and plugins.

**Describe the solution you'd like**
Update CI to **Node.js 14** as latest LTS version,
test app template to **cordova 10**,
with corresponding _modern_ cordova **platforms** (see [list](https://github.com/apache/cordova-lib/blob

[2021-01-17 23:03] ath0mas commented on #393
My bad!
I was testing current 3.1.1(dev) specs on test app with installed plugin 3.1.0 instead of same 3.1.1(dev) version.

[2021-01-17 23:03] #393 closed

[2021-01-18 02:31] #344 closed

[2021-01-18 23:02] ath0mas commented on #383
New spec for this issue is ready in PR #396.

Help welcome on anything to try, possible fix, or contribution to help here

[2021-01-22 07:15] akashdeepsharma1991 commented on #70
Hii can you provide more detail in this.. i am having the same issue.. i am stuck in a project i am using the latest ionic version

[2021-01-22 09:59] TheCelavi commented on #70
@akashdeepsharma1991 Oh, dude, so sorry, I can not remember, it was looooong time ago. If I closed it, I found a solution but beat me if I can remember what was the issue and how I did solve it. So sorry.

[2021-01-27 15:20] chacabuk commented on #365
mobilemarines:
i have exactly same issue.
Do you solve it?

I try adding permission, like tobika said:
<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

It's work... but android going to remove my app from they store if i not explain why using this permission.
And.. all of my explanation not conform they...
Because they said: you not in background... you have a fore

[2021-01-27 17:00] Stone-TM commented on #395
I think it could be that the path to your certificate is not the same as the actual path

[2021-01-31 15:27] jkd2bleu commented on #259
For those who has still this problem, I faced the same issue which is related to ionic webpack configuration. Here is how to fix it: https://stackoverflow.com/questions/56857657/ssl-pinning-issue-with-ionic-capacitor/65980732#65980732

[2021-02-16 05:23] IllusionVK commented on #88
Hey @jpike88 Josh, i'm wondering if you are able to share the work that you did on implementing progress for iOS ?  Perhaps if you didn't have time to finish it some of us could keep working on it to get it implemented ?  If you did get it finished, are you able to submit as a pull request?  Thanks in advance !

[2021-02-16 06:22] jpike88 commented on #88
go for it
https://github.com/aquipa/cordova-plugin-advanced-http

[2021-02-16 14:15] vandres commented on #381
@silkimen I think we get the same problem. When sending a POST request with an empty data property, the plugin complains  that it is expecting Array or Object. Strangely, this only happen, when we make a production build. In a dev build, the error doesn't occur.

Code:

[code]

Error:

`Error: advanced-http: "data" option is configured to support only following data types: Array, Object`

It doesn

[2021-02-17 17:43] kgillespieatmosphere commented on #381
I gave up trying to use this plugin for my needs.

https://github.com/aporat/cordova-plugin-fetch

I can recommend this plugin. It behaves like standard fetch API which everything pretty much uses and supports. It provides the same capabilities in terms of being able to process requests in the background and across different CORs domains. Plus you can send POSTs with any data type you want.

[2021-02-22 05:07] achakra21 commented on #248
@johnborges Seems the issue still persists on 3.1.0 , but what was that plugin you have used to cleared the cookies

[2021-02-22 14:02] johnborges commented on #248
@achakra21 [capacitor-plugin-cookies](https://github.com/johnborges/capacitor-plugin-cookies)

[2021-02-23 02:58] achakra21 commented on #248
@johnborges thanks for the your quick reply ,I found a way this clearCookies() to work on iOS , I was using in on ionViewDidLoad() it was not working but same was working with Android , but in my use case when I next time logging in to the App it should clear the previous cache cookies , so I added the clearCookies() method inside the login method now it seems to be working on iOS , but still I do

[2021-03-02 02:26] achakra21 commented on #248
I can confirm now it's working with recent version on iOS 13 and 14  ,it's sometimes not works if you place it inside the life cycle method , but it works if you place inside and button click method , in my case I had to clear the cookies each time I login ,  I placed the clearCookies() method inside that it worked .

[2021-03-05 08:24] kalandher opened #400 "[Error: advanced-http: "data" option is configured to support only following instance types: FormData] [Android.9] response type blob is not supported?"
**Describe the bug**
i'm trying to download a excel file which is in blob format, so sending responsetype as blob in sendRequest method but getting below error

Error: advanced-http: "data" option is configured to support only following instance types: FormData.

**System info**
 - affected HTTP plugin version: 2.4.1
 - affected platform(s) and version(s): [Android.9]
 - affected device(s): MI A2

[2021-03-05 15:46] luisgon1 opened #401 "[Bug] [Android, iOS] Cookies not being removed"
**Describe the bug**
I cant find a way of clearing the cookies.
I have used different steps to try to clear the cookies but they still are being sent on requests.
I have tried:
   cordova.plugin.http.clearCookies();
   window.localStorage.removeItem('__advancedHttpCookieStore__');
   document.cookie = key + '=; Max-Age=0';
And no luck.

Ionic:

   Ionic CLI                     : 6.13.1 (/usr/local

[2021-03-07 21:09] jfoclpf opened #402 "How to use this plugin with jQuery AJAX?"
I'm trying to use like this

[code]

Though the request headers are not set. Can I combine this plugin with `$.ajax`?

[2021-03-08 09:56] one-github commented on #148
Thanks to all for the solution! Not nice when the session cookie from the server is ignored that lightly...

[2021-03-09 07:33] iamitksharma commented on #234
I tired to do SSL pinning with the help of Public certificate but getting pinning error.
Code used :
// enable SSL pinning
    cordova.plugin.http.setServerTrustMode('pinned', function() {
      console.log('success!');
    }, function() {
      console.log('error :(');
    });

Does **cordova-plugin-advanced-http** supports public certificate pinning i.e directly downloaded from web application?

[2021-03-11 21:30] skyleguy opened #403 "Attempting to use downloadFile method results in complaints about malformed headers"
**Describe the bug**
A clear and concise description of what the bug is and what you expected to happen.

When tying to use the downloadFile method to download a file to a specific location it is throwing "Error: advanced-http: "params" option needs to be an dictionary style object, <params: {[key: string]: string | string[]}>" error even though my headers are in that format. It even throws this w

[2021-03-22 13:20] MojioMS commented on #334
same for PUT in v 3.0.1

[2021-03-24 09:55] m-menon opened #405 "cannot find symbol Android"
I am trying to build an APK on a platform that supports Cordova Plugins. I have a whole lot of Cordova Plugins that I am using and have been successful in generating an APK. However when I tried using this plugin I ran into an issue when building the APK. I remember having used an earlier version of the plugin and I remember that it ran/compiled correctly at that time. Would anyone have some point

[2021-03-24 14:15] m-menon commented on #405
OOPS! Something weird happened. When I import the plugin from the git url, then the above problem occurs. Strangely when I download the zip file and then import the plugin, the above problem vanishes! The development platform allows for importing using git url or the zip file. Now that I can use the plugin, I'll close the issue. Thanks for the excellent plugin. Many cheers.

[2021-03-24 14:15] #405 closed

[2021-03-24 15:37] afulkersonApollo opened #406 "[Bug] [iOS] cannot use number in parameter value"
**Describe the bug**
When using params, the value cannot be a number or sendRequest will throw an error.

**System info**
 - affected HTTP plugin version: latest
 - affected platform(s) and version(s): iOS 14.4
 - affected device(s): iPhone 12 Max
 - cordova version: latest
 - cordova platform version(s): latest

**Minimum viable code to reproduce**
[code]

[2021-03-24 21:13] karahi commented on #355
On 3.1.0 this is happening for me on Android. The server seems to be returning valid JSON according to "curl -L $url | jq".

[2021-04-03 23:23] millerg6711 opened #407 "[Bug] [iOS] responseType arraybuffer doesn't work for bad status code"
**Describe the bug**
If you have the responseType set to "arraybuffer", and a bad server response code is returned... an error will be thrown and the response data will be parsed as a string rather than raw data. Whereas if you have a successful response- the data will be parsed as an arraybuffer as expected.

**System info**
 - affected HTTP plugin version: 3.0.1
 - affected platform(s) and versi

[2021-04-10 12:32] jonesdhtx commented on #168
Thanks @2ez4salt! Anybody solved this for Android?

[2021-04-12 10:29] MrMid commented on #372
Hello @silkimen, can you please tag the 3.1.1 for release?

[2021-04-20 11:05] githubjavi commented on #391
Did you manage to fix the issue?

[2021-04-20 18:20] chrisjdev commented on #391
I'm afraid not. It looks like our customers only use iOS for the feature we needed it for.

[2021-04-22 15:06] petewalker opened #408 "[Bug] [android] 204 empty body throws an error if the connection is GZIP encoded"
**Describe the bug**
If you make a request which results in an empty response (with 204 response code) over a GZIPped connection, an `EOF` exception is thrown on Android.

I think this was the real problem behind #119

**System info**
 - affected HTTP plugin version: 3.1.0
 - affected platform(s) and version(s): Android *
 - affected device(s): Android
 - cordova version: Capacitor 2
 - cordova pl

[2021-04-25 13:17] indraraj26 opened #409 "[Bug] [iOS] ssl pinned return null"
**Describe the bug**
On Android i get 'Ok' but on iOS it returns null

**System info**
 - affected HTTP plugin version: [e.g. 3.1.0] 3.1.0
 - affected platform(s) and version(s): [e.g. iOS 12.2]
 - affected device(s): [e.g. iPhone 8]
 - cordova version: [e.g. 6.5.0] 10.0.0
 - cordova platform version(s): [e.g. android 7.0.0, browser 5.0.3] ios : 6.2.0

**Are you using ionic-native-wrapper?**
 - io

[2021-04-26 11:08] pentanaveen commented on #391
@chrisjdev You're able to upload files of 300MB in iOS? When we're trying to upload files larger than 10MB we're getting `Failed to load resource: The operation couldn’t be completed. (WebKitBlobResource error 1.)`. Were you facing similar issues in iOS?

[2021-04-28 03:07] SmartPlugins opened #410 "How do you use this plugin in browser mode?"
How do you use this plugin in browser mode?

[2021-04-30 07:37] vroegop opened #411 "Question: does true certificate pinning work on Android?"
I'm not a security expert, but I've been asked to advice my company on implementing certificate pinning for REST requests.

The question I have is that the official documentation tells me Cordova cannot support true certificate pinning on Android, but I don't see any claims or counterclaims about certificate pinning on Android in the readme.

If the official Cordova documentation is right, this pl

[2021-05-01 10:49] chrisjdev commented on #391
@pentanaveen Yes, uploading worked fine on iOS. Were you using the "uploadFile()" function? I think that's the key to avoiding attempting to load very large files into the JS VM and running out of memory.

[2021-05-01 12:05] pentanaveen commented on #391
Oh! We were using post with FormData for uploading files. That might be the reason the request was failing for large files. I'll give uploadFile() a try. Thanks for pointing out.

[2021-05-04 19:42] thibaultv commented on #331
Hi @TheHighriser,
Thanks for poinying this bug. As u said, okHttp must be use for old android only but it was not the case. I have maybe a problem due this behavior on 2.4.0 on production application.

For information, the use of okHttp for the second request only is due that the factory is used at the first call of `followRedirects` method that create the connection.

[2021-05-05 08:30] thibaultv commented on #411
Hi,

I think the last sentence refers to this plugin (the main one for native HTTP request on Cordova). You need to make every request through this plugin and not use HttpClient from Angular. I use a wrapper to encapsulate this logic at my side.

If someone has a clue regarding the meaning of "third-party plugins" into the second paragraph. It seems not equal to "plugins".

Kr.

[2021-05-05 09:22] thibaultv commented on #409
Hi,

As u can see [here](https://github.com/silkimen/cordova-plugin-advanced-http/blob/d7688b485dea23a132bb8c2e018fb7299000e8cb/src/android/com/silkimen/cordovahttp/CordovaServerTrust.java#L80), this function return nothing. You just have to check if promise returns a success or an error.

Kr.

[2021-05-20 14:11] #409 closed

[2021-05-20 14:43] gnans opened #412 "v3.1.1 not released"
May i know when version 3.1.1 will be released to public access

[2021-05-21 08:52] krunalsk007 commented on #400
what is the solution of this ?

[2021-05-24 17:09] vtebano13 commented on #401
Any status on this?

[2021-06-04 05:42] khelsisura commented on #400
I have a same problem as of now and try everything but still not working

[2021-06-16 20:00] russaa commented on #400
First off, from the error description and the example code, it is not clear, if you are really trying to _download_ a `Blob`, or if you are trying to _upload_ a `Blob`.
The error seems to be caused by the `data` parameter which would be used for _uploading_ something.

If you are trying to upload a `Blob`, you could try to wrap it in `FormData`, e.g. see example on [developer.mozilla.org](https://

[2021-06-17 15:54] Morgs007 opened #414 "Cannot use the plugin in a browser"
But how can you test your app using this plugin if you cannot use it in a browser!? So disappointed, only found it you cannot use it in a browser after I changed all my http requests code to use this plugin!

[2021-06-28 17:57] girishkc opened #415 "peer did not return a certificate"
Hi I am trying to send a a request.
Pinning is successful, but the server throws the error
_TLS connection peer did not send a certificate_
 cURL with same certificates working fine.

Here is the code:
`this.http.setServerTrustMode('pinned')
    .then(() => {
        console.log('[SUCCESS] SSL Pinning Starts!');
    })
    .catch(() => {
        console.log('[ERROR] SSL Pinning Fails!');
    });

[2021-06-30 04:18] jagpreetsingh83 opened #416 "[Bug] [Android, IOS] issue with T-Mobile carrier"
**Describe the bug**
We started using this plugin in Oct 2020 when we switched to WKWebView from the now deprecated UIWebView. We just now observed a very weird issue where this plugin is not working (not even initializing the native code Java/Swift) when the customers are using the _T-mobile_ network (cellular data in the US). Wifi is OK.

**System info**
 - affected HTTP plugin version: 3.0.1
 -

[2021-07-01 04:47] pritamsalunkhe4 commented on #386
@ofirattia did you get any solution to this problem. I am also facing the same issue

[2021-07-02 03:38] sohanpc opened #417 "[Bug] [platform] Request abort always false even previous request is completed. (Using in IONIC)"
**Describe the bug**
A clear and concise description of what the bug is and what you expected to happen.

**System info**
 - affected HTTP plugin version: [e.g. 2.1.1]
 - affected platform(s) and version(s): [e.g. iOS 12.2]
 - affected device(s): [e.g. iPhone 8]
 - cordova version: [e.g. 6.5.0]
 - cordova platform version(s): [e.g. android 7.0.0, browser 5.0.3]

**Are you using ionic-native-wrappe

[2021-07-04 15:52] odedle-tr opened #418 "[Bug] [IOS] AFNetworking deprecated method cause app crash"
Hi @silkimen.

We have a third party plugin that uses AFNetwoking.

It expects the new API of GET method, however the AFNetworking is being overriden with your plugin wich holds an outdated version of AFNetworking. Im sure you are aware of that.

It is important to mention that we are not using **cordova-plugin-advanced-http** directly.
We are using **cordova-plugin-code-push** that uses the **cor

[2021-07-06 09:56] mjaga opened #419 "How to add trust anchors source path in network_security_config.xml"
<trust-anchors>
            <certificates src="@raw/src/certificate"/>
        </trust-anchors>

I tried above src path. it's not working

[2021-07-07 02:24] silkimen commented on #414
Well, that's documented here: https://github.com/silkimen/cordova-plugin-advanced-http#browser-support

[2021-07-07 02:24] #414 closed

[2021-07-07 02:26] silkimen commented on #410
This plugin supports a very restricted set of functions on the cordova browser platform. It's meant for testing purposes, not for production grade usage. See readme: https://github.com/silkimen/cordova-plugin-advanced-http#browser-support

[2021-07-07 02:26] #410 closed

[2021-07-07 02:34] silkimen commented on #402
Well, maybe you can, but I'm not an jQuery expert. You will need to use some hook functionality to achieve this in jQuery sending requests with this plugin instead of XHR requests. You should try asking this on StackOverflow, not here.

[2021-07-07 02:34] #402 closed

[2021-07-07 02:39] silkimen commented on #407
Yes, that's right, but this is intended functionality. See readme: https://github.com/silkimen/cordova-plugin-advanced-http#failure The reason is that most APIs do send error strings when something went wrong and the `error` property is meant to be an error message (string not ArrayBuffer).

[2021-07-07 02:41] silkimen commented on #406
Yep, true this is intended behavior. It's meant to be type safe and it's up to you to convert your data.

[2021-07-07 02:44] silkimen commented on #415
You are NOT enabling SSL pinning in your example code. You are DISABLING all security guards. Read the readme carefully: https://github.com/silkimen/cordova-plugin-advanced-http#setservertrustmode

[2021-07-07 02:46] millerg6711 commented on #407
I don't have access to the api I'm trying to reach. Some apis return protobufs which can't be encoded as strings. What should I do as a workaround?

[2021-07-07 07:13] Morgs007 commented on #414
You cannot even initialize the plugin, it requires cordova... You cannot even do a simple post/get on a browser, the documentation you've referenced says it **cannot** do only a handful few things.

[2021-07-07 10:21] silkimen commented on #414
Ah, now I get your problem! You are trying to run this plugin in the browser without using cordova? That's not how **cordova** plugins are designed to work. This plugin does support following **cordova platforms**:
* android
* browser
* ios

You will need to add the `browser` platform to your cordova project. See https://www.npmjs.com/package/cordova-browser
This will create a browser bundle which

[2021-07-07 10:36] silkimen commented on #392
Hi @ath0mas, I'm running my test suite with following Android versions without any problems:
* Android 6.0 (emulator on BrowserStack)
* Android 8.0 (emulator on SauceLabs)
* Android 9.0 (emulator & real device on my local machine)

See [test/e2e-tooling/caps.js](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/e2e-tooling/caps.js) for details. Are you sure it's not related

[2021-07-07 10:42] silkimen commented on #412
It's released now, sorry for the delay!

[2021-07-07 10:42] #412 closed

[2021-07-07 11:08] girishkc commented on #415
Sorry. My bad. Edited the post. I was trying all combinations. but no luck yet.

[2021-07-15 01:25] silkimen opened #420 "[Feature] Make used SSL/TLS protocols configurable on Android"
**Is your feature request related to a problem? Please describe.**
In one of my customer projects (Android App), I need to disable some TLS protocol versions which are considered not safe anymore. This is meant to prevent connecting to wrongly configured servers.

**Describe the solution you'd like**
Add a new plugin preference which enables us to pass a blacklist of SSL/TLS protocols to be disabl

[2021-07-15 12:22] silkimen commented on #420
Will be implemented in release `3.2.0`.

[2021-07-15 12:22] #420 closed

[2021-07-27 07:13] meiram-tr commented on #418
This PR is fixing the issue, please merge.
https://github.com/silkimen/cordova-plugin-advanced-http/pull/422

[2021-08-05 07:34] shaharzilb-tr commented on #418
@silkimen Can you please approve this PR?
#422

[2021-08-09 05:45] lda573 commented on #357
You need to access the cordova plugin from the window obj, and there you can get the function:

export class TestHttpService {
  cordova: any = window["cordova"];

  constructor(private https: HTTP) {}
.......
// In some function, or init:
  this.cordova.plugin.http.setClientAuthMode('systemstore', {}, this.success, this.fail);

.....
//http methods from the HTTP Module -> cordova-plugin-advanced-

[2021-08-20 00:59] silkimen commented on #419
Unfortunately, this plugin does not support `network_security_config.xml`. Therefore you can't add custom trust anchors via xml config.

[2021-08-20 01:04] silkimen commented on #416
Hi jagpreetsingh83, I can't reproduce this problem on my side. I am using T-mobile network on my device, but I'm located in Germany not the US. I can't fix this without knowing what actually is the problem here.

[2021-08-20 01:08] silkimen commented on #415
Okay, did you check server logs? Does the device even hit the backend? Did you try with another backend endpoint? e.g. you can check against `https://httpbin.org/anything` (you'll first need to download their certificate and pin against that one).

[2021-08-20 01:18] silkimen commented on #411
Hey guys, I don't see there is something like "true" SSL pinning. Either it's not pinned or it is. And that's actually what this plugin is doing it's SSL pinning. If a tool is not checking the certificate on every connection to the server it's not SSL pinning.

But @thibaultv did mention an important fact: you need to make every request through this plugin, not with fetch or XHR API.

Nope, I don'

[2021-08-20 01:20] silkimen commented on #406
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2021-08-20 01:20] #406 closed

[2021-08-20 01:26] silkimen opened #425 "[Bug] [Android] plugin crashes on Android SDK levels < 24"
Plugin crashes on Android SDK levels < 24

 - affected HTTP plugin version: 3.2.0
 - affected platform(s) and version(s): Android SDK < 24

[2021-08-20 01:29] #425 closed

[2021-08-20 01:42] silkimen commented on #418
Will be fixed in 3.2.1 👍

[2021-08-20 01:42] #418 closed

[2021-08-20 13:23] bramji06 opened #426 "TLS connection could not be established: javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found"
**Describe the bug**
We are using the ionic 3 app and installed this plugin and We are unable to test the app on the android simulator.

**System info**
 - affected HTTP plugin version: [3.2.0]
 - affected platform(s) and version(s): [Android 10]
 - affected device(s): [ Android Simulator]
 - cordova version: [10.0.0]
 - cordova platform version(s): [android 9.0.0]

**Minimum viable code to reprod

[2021-08-20 16:07] jagpreetsingh83 commented on #416
Hi, this has been resolved. The issue was with a specific TMobile tower.

On Thu, Aug 19, 2021 at 9:04 PM Sefa Ilkimen ***@***.***>
wrote:

--
Jagpreet Singh Obhi
(M) +1 647 544 6803

[2021-08-20 16:22] #416 closed

[2021-08-20 16:24] #419 closed

[2021-08-20 16:29] silkimen commented on #417
So what's the problem you are experiencing? If the device has already received the response, you can't cancel it anymore. Therefore you will receive the `{aborted: false}` result. This also applies even if you didn't receive the response in the web view, yet.

[2021-08-20 16:30] silkimen commented on #411
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2021-08-20 16:30] #411 closed

[2021-08-20 16:32] silkimen commented on #407
For the time being, there is no workaround for your problem. If you want to have an option for configuring the behavior, you can open a new feature request.

[2021-08-20 17:16] silkimen commented on #403
Hi skyleguy, I think you've mixed up `headers` and `params`, which is the second argument (you named it `body`). What's the content of your `body` argument in your example?

[2021-08-20 17:19] silkimen commented on #395
Did you really try `https://www.google.com`? And did you pin against official `google.com` certificate (see screenshot)?

<img width="510" alt="CleanShot 2021-08-20 at 19 19 08@2x" src="https://user-images.githubusercontent.com/4717881/130270463-8d542c7d-94c6-4e76-9000-15955adbf2d1.png">

[2021-08-20 17:22] silkimen commented on #386
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2021-08-20 17:22] #386 closed

[2021-08-20 17:29] silkimen commented on #357
Hi guys,

this problem is related to the ionic wrapper, not the plugin itself. Please open an issue here: https://github.com/ionic-team/ionic-native

Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2021-08-20 17:29] #357 closed

[2021-08-20 17:30] #352 closed

[2021-08-22 10:41] greatwhiz commented on #295
@bsbechtel thanks for the hacky way after I had spent days on it and saw this eventually. It deserves a PR.

[2021-08-24 16:02] chrisjdev commented on #115
Looks like this should be reopened for the latest code. At some point, the fix was reverted. I tried reapplying the same fix to the latest code, but it looks like a memory leak fix in pull request #399 ensures that the socket is closed after every request. Removing that change fixes this issue and works for me, but I'm betting it would re-introduce issue #197.

Looking at SM_AFHTTPSessionManager.h

[2021-08-27 21:57] snolangps opened #428 "How to send Authorization "Bearer: Token" in headers?"
I recently added authentication to my api, and in order to reach it from my app (using cordova-plugin-advanced-http), i need to pass a Bearer token, but I don't see how that is sent?

I noticed the docs mention
```headers: { Authorization: 'OAuth2: token' }```
but I'm not using OAuth, so question is how to send with jwt token with Bearer authentication?

Thx, Shawn

[2021-09-05 13:43] zivlevy commented on #145
any solution for 307 redirect not handled ?

[2021-09-09 11:49] silkimen commented on #417
Okay, now I realized that something seems to be wrong there, because I'm experiencing strange results in tests. I've added this ti the known issues for now (see [here](https://github.com/silkimen/cordova-plugin-advanced-http#currently-known-issues)).

@russaa maybe you can check what's happening here? Even if I download or upload very big files, I can't abort the request sometimes. Looks strange t

[2021-09-16 07:19] Keyurhardas opened #430 "Why am I not able to inspect network activity?"
I am using this plugin in my Ionic 3 app for SSL pinning and I am using this through Plain Cordova approach. This is my code which enabled ssl pinning and sends a GET request. I am getting the response but I am not able to view the network activity in the Chrome developer tools> Network tab.

How can I view the network activity in my app with this plugin installed.

[code]

[2021-09-17 02:06] aghilesh commented on #430
@Keyurhardas this plugin uses native library to make network calls, which mean, it's not Ajax calls we do usually for a Cordova App which is handled by WebView. Only WebView originated calls are logged to Chrome Devloper tool - network tab.

You will have to depend on native debugging tools on Android Studio/Xcode to see those calls.

[2021-09-21 12:52] do-pe opened #431 "How can we allow only certificates signed by a trusted CA?"
I already activated SSL-Pinning and it works fine. Now when connecting to a remote endpoint, how can I only allow certificates signed by a trusted CA?

Right now the plugin also accepts self-signed certificates which makes it potentially possible to intercept traffic.

[2021-09-23 11:46] #430 closed

[2021-09-23 11:54] Keyurhardas opened #432 "How to include the .cer file in a iOS projetc?"
Hi,
I have incorporated the .cer file in my Ionic 3 Android platform using the below tag in my config.xml
 ` <resource-file src="src/certificate/mycert.cer" target="app/src/main/assets/www/certificates/mycert.cer" />`

On android the ssl pinning is working fine.

I have some doubts in the iOS platform.
1. How to include the .cer file in the iOS project?
if I include the above resource file tag in

[2021-09-23 23:20] silkimen commented on #428
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2021-09-23 23:20] #428 closed

[2021-09-23 23:26] silkimen commented on #426
Please read the [documentation](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md) carefully. We primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks!

* README.md: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md
* StackOverflow: https://stackoverflow.com/questions/tagge

[2021-09-23 23:27] silkimen commented on #432
Please read the [documentation](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md) carefully. We primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks!

* README.md: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md
* StackOverflow: https://stackoverflow.com/questions/tagge

[2021-09-24 05:56] #432 closed

[2021-09-27 09:31] Hamata6 opened #433 "[Bug] setServerTrustMode ignored with uploadFile"
**Describe the bug**
The `setServerTrustMode()` method doesn't do anything when calling `uploadFile()` in the latest 3.2.1 version. For example, `setServerTrustMode("nocheck")` still gives me this error:
The certificate for this server is invalid. You might be connecting to a server that is pretending to be “(my domain with self signed certificate)” which could put your confidential information at

[2021-10-07 08:48] gaspachoandalus commented on #194
Hi,
What about letting the user choose where he wants to store the cookies ?

I'm currently adding the following interface to `cordova.plugin.http` to be able provide a custom storage medium:
[code]

In my case, I can use my own implementation which encrypts and stores data in the native storage, but anyone could use it to store cookies in the native storage for example.

[2021-10-12 09:37] haofanning opened #435 "[Bug] [iOS]Xcode13 duplicate symbol error"
The new iOS version plugin conflicts with AFNetworking.  The error message is:

duplicate symbol '_OBJC_CLASS_$_AFCompoundResponseSerializer' in:
    /Users/macmini_3/Library/Developer/Xcode/DerivedData/mp_ios_eim-aeasddxpzolijrfjwreqmesibntn/Build/Products/Debug-iphoneos/AFNetworking/AFNetworking.framework/AFNetworking(AFURLResponseSerialization.o)
    /Users/macmini_3/Desktop/金企信/金企信v2/引用库/Plugi

[2021-10-12 12:04] fishbone1 opened #436 "[Bug] [iOS] cookies not stored when automatically following redirects"
**Describe the bug**
Cookies of redirecting HTTP responses (e.g. status code 302) are not stored. Only the cookies of the redirection's target location HTTP response are stored.

**System info**
 - affected HTTP plugin version: Sorry, I don't know at the moment, as I found this while debugging an app that has been developed by someone else. I'll add it later
 - affected platform(s) and version(s):

[2021-10-14 19:24] #395 closed

[2021-10-14 19:26] silkimen commented on #380
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2021-10-14 19:26] #380 closed

[2021-10-14 19:27] #392 closed

[2021-10-14 19:55] silkimen opened #438 "[Bug] [Browser] requests not working correctly because request options are not processed correctly"
Requests are not working correctly because request options are not processed correctly. The offset is off by one, because second timeout parameter is not implemented here.

[code]

[2021-10-14 22:52] ravithb opened #439 "Version 3.2.1 breaks code which works perfectly with 3.2.0"
Hi,

I've got an app which was using v 3.2.0 of this plugin, and just updating to version 3.2.1 causes all HTTP requests to throw a JSON Error, and not do any request at all. (No reqest seems to be sent to the server).

I have downgraded to 3.2.0

I don't have enough info to log a bug report for this as I haven't dug in to the root cause. Just making a note here in case someone else also encounter

[2021-10-23 13:30] Yentis opened #440 "[Feature] Send requests without cookie storage"
I have an app that has multiple implementations of http request handlers (electron, cordova & chrome extension) where I work with setting the cookie directly in the header and parsing any response set-cookie headers myself but I'm unable to do this with this plugin.

Ideally I'd be able to do the same thing here, so perhaps call a function that disables the cookie storage globally which will then

[2021-11-01 15:36] gklasen commented on #439
I can confirm this issue within an Ionic Cordova application: 3.2.2 breaks, 3.2.0 is fine.
Data i tried to get was JSON Array:   [{...},{...}]

[2021-11-05 08:51] rsgone-aviso commented on #382
Ever after using DER base certificate still no luck :(

<img width="1128" alt="Screenshot 2021-11-05 at 2 21 31 PM" src="https://user-images.githubusercontent.com/89898934/140483838-cbc26a5f-9f75-486f-b8f8-df7162b2e409.png">

[2021-11-05 14:33] Kohagan91 opened #441 "HTTP caches have different beheviour on android and iOS"
Hi !

I opened this issue to discuss about the data cached on device when you use android and iOS devices.

When you use this plugin on an android device, it seems no data are cached on the device. But when looking on iOS, it seems that all requests/responses are stored on the hard drive of the device in a cache.db file.

This can be a security risk. On a jailbreak device, other apps can freely ac

[2021-11-16 04:01] varadig commented on #321
I made a custom timeout system, and stop the request if there was no response

[2021-11-17 09:08] l8dyLilith opened #442 "[Feature] Exchange certificate after App is already on the device"
I write an App for my company where I need my App to connect to different servers. Every customer has his own server and my App needs to be able to reach it via https. I have a way to get the right format certificate to put into the app, but there is no way to then use it with the plugin as I cant write it into the app code once the app is on the phone as its a ready only directory.

I would like

[2021-11-23 07:04] star-collector commented on #436
@silkimen Same problem here. Can you check this out? Currently, I can't perform OAUTH authorisation properly.

[2021-11-24 14:53] andmar8 commented on #436
I'm not sure. but this sounds very much like a problem I'm experiencing, on authentication (with setFollowRedirects set to true) we are having users report they struggle to login or on app reload, lose a login session... which sounds like they are losing or not having cookies issued. We are yet to be able to actually reliable replicate the problem in a test environment but have plenty of users say

[2021-11-24 23:15] russaa commented on #417
sorry for the late reaction:
is there some more information, what exactly is "strange"?

As far as I remember, the abort-implementation for iOS was pretty straight forward, since the library already supported a `cancel` functionality for download tasks.

Was the iOS library for HTTP requests updated since then?

[2021-11-26 09:27] shivakumarnr commented on #382
@rsgone-aviso Once you add new .der certificate please rebuild the project. If after that the same issue persists your certificate as expired.

[2021-11-26 09:46] rsgone-aviso commented on #382
@shivakumarnr It is very basic that after adding certificate/any-change, we will rebuild project for sure. BTW certificate is not expired as well. Thank you

[2021-12-01 10:39] CodeWithOz opened #445 "[Feature] web worker support"
**Is your feature request related to a problem? Please describe.**
I have network requests that are currently performed in web workers. I'd like to know if there's a way to use this plugin for those requests.

**Describe the solution you'd like**
I'd like a way to use this plugin's API via a web worker.

**Describe alternatives you've considered**
Right now the alternative is to perform the reques

[2021-12-01 12:31] azharbeebeejaun commented on #435
Hi @haofanning, could you get it to work? We also have AFNetworking being installed by another plugin and the build fails because of duplicate symbols.

[2021-12-01 15:48] CodeWithOz commented on #406
Wow, this is quite a restriction. Fair enough that type safety is the reason but at least it should be stated clearly in the docs as a warning that devs should be aware of before they start using the plugin.

[2021-12-01 16:30] CodeWithOz commented on #406
Is it possible to add the option of a custom serializer? I have one that I used before this plugin but it fails because `checkKeyValuePairObject` requires that the original data be an object. How about allowing us to just pass in the stringified params if we've already serialized it? It's quite cumbersome to have to change individual values to strings just to make things work with this plugin.

[2021-12-01 18:52] CodeWithOz commented on #406
I got around this by serializing my request params and adding the serialized string directly to the url instead of putting them in the `params` object, because that's what this plugin eventually does after processing the params. For anyone wondering how to serialize your query params, you can either use this plugin's serializer in the [`url-util.js file`](https://github.com/silkimen/cordova-plugin

[2021-12-02 21:08] shurvir49 commented on #106
Any solution? still facing same issue

[2021-12-06 13:58] CodeWithOz commented on #395
@silkimen quick question. Is it up to the developer to have a mechanism that handles changes in the certs of third-party services that the developer is using? For instance in this case if the cert of google is rotated to a new one, it would be up to the developer to prevent that change from affecting his/her app, is that right?

[2021-12-22 13:59] flashart92 commented on #311
When will it be fixed?

[2021-12-25 19:23] silkimen commented on #441
Hi @Kohagan91, thank you for finding and reporting this! Yes, I agree that this can be a security risk. Therefore we should disable it and if someone needs the caching option, we can open a new feature request for this purpose. Would you mind creating a PR for this?

[2021-12-25 19:30] silkimen commented on #436
Hi guys, I'm sorry for the inconvenience you are experiencing. This is an old known issue of this plugin, see #148. Unfortunately, I had no time to fix this. Would someone mind creating a PR for this?

[2021-12-25 19:31] silkimen commented on #436
I'm closing this ticket, please follow up on #148.

[2021-12-25 19:31] #436 closed

[2021-12-25 19:38] silkimen commented on #445
Hi @CodeWithOz, unfortunately this plugin can't be used directly in a web worker. The reason is that the cordova bridge is not available in the web worker (e.g. [check this link](https://github.com/apache/cordova-docs/issues/1059)). But I'd love to implement this feature if the cordova team decided to support web workers. Maybe you can open an issue there?

[2022-01-04 01:55] haofanning commented on #435
@azharbeebeejaun No,I cant make it work, so I have to use the old version.

[2022-01-04 01:55] haofanning commented on #435
@azharbeebeejaun No,I cant make it work, so I have to use the old version.

[2022-01-10 17:47] ManiyamGT opened #448 "Kerberos SSO HTTP 401 , WWW-Authenticate: Negotiate is not auto prompt for user credential"
Getting 401 unauthorized error after upgraded to latest Kerberos SSO in server side.
After plenty of analysis,  cordova-plugin-advanced-http is not auto prompting for user to enter credential for the New Kerberos SSO handshake
that is "**WWW-Authenticate: Negotiate** "

Its working fine with Angular HttpClient

Device used : Ipad ,  OS 15.1

[2022-01-27 01:03] roberthgodoy opened #449 "How set client certificate - crt file and key file - mtls ?"
Hey, guys. I'm doing some tests with mtls through cloudflare.

I was able to set it up and it worked through Insomnia by importing the crt file and the key file.

Does this plugin support these file types? How can I do it?

[2022-01-31 22:14] ScottDodsonDev opened #450 "iOS HTTPS transaction time ~2.5x slower than HTTP"
On iOS, HTTPS is approximately 2.5x slower than HTTP. On Android, HTTP and HTTPS transaction times are about the same. iOS and Android HTTP transaction times are also comparable.

Server trust mode is set to nocheck.

Is this a bug? This question is related to #25 ; however, Android is unaffected. Is there a way to improve HTTPS transaction time on iOS?

**System info**
 - HTTP plugin version: 3.2

[2022-02-01 18:17] ManiyamGT opened #452 "[Bug] [iPad - iOS15.1] Cordova advanced http - sendRequest is not showing up auth-Prompt screen for New Kerberos SSO - credential based auth challenge on iOS 15.1"
**Description**
We have a Hybrid iOS Application build on Cordova Plugin and recently, we have updated the New Kerberos based SSO by following the presentation ( https://developer.apple.com/videos/play/tech-talks/301/ ) . After which the hybrid app is not prompting for the HTTP response challenge. But, it worked with Old Kerberos SSO -credential based authentication.

We could see the response hea

[2022-02-08 16:12] klochko7 opened #453 "TLS connection could not be established: javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found"
Good day. Could you suggest please how to solve this problem? I use..

[code]

I add to config.xml

`<preference name="AndroidBlacklistSecureSocketProtocols" value="SSLv3,TLSv1" />`

[2022-02-16 10:32] giacomomasseron opened #456 "http.post seems to cache the request: I have to "localStorage.clear()" on console tab to get another value"
Hi,
I have a Ionic 4 / Angular project, with a simple http.post request.

    var res = await this.http.post(myurl, {}, {
        Cache-Control: "no-cache"
        Content-Type: "application/json"
        Cookie: "SSESS....=....."
    });
    // it is a drupal request

I get this singular behaviour:
I get new value from the request only if i use `localStorage.clear()` on console tab of chromium. O

[2022-02-16 22:41] NXTminxu commented on #391
setChunkedStreamingMode() need to be set.

https://developer.android.com/reference/java/net/HttpURLConnection#posting-content

I tried to add the line below in CordovaHttpBase.java
`request.chunk(0);`
I got another error, can anyone help to fix it?

[code]

[2022-02-23 16:07] hughknaus commented on #435
I too am receiving `89 duplicate symbols for architecture arm64` errors and they do all appear related to AFNetworking when upgrading to `cordova-ios` 6.2.0 and `cordova-plugin-advanced-http` 3.2.2 (also tried downgrading to 3.0.0 but ended up with 157 duplicate symbols):

First few lines of duplicates:
[code]
@haofanning did you find a version of the plugin that worked?

[2022-02-25 07:41] haofanning commented on #435
@hughknaus I have an old version locally that I downloaded earlier,It depend on AFNetworking.If you want this version,give me your email adress,I can send it to you.

[2022-02-26 07:43] Cronatsu opened #457 "[Bug] [Chrome] JSON parses with additional backslashes in properties thus unable to read"
**Describe the bug**
When viewing JSON file console print out in Chrome browser, sub properties of "data" property have backslashes in their names, backslashes count as unexpected tokens when attempting to run Cordova app so unable to run if attempting to read sub properties by name.

**System info**
 - affected HTTP plugin version: 3.2.2
 - affected platform(s) and version(s): Chrome 98.0.4758.10

[2022-02-27 00:37] #457 closed

[2022-03-01 21:15] hughknaus commented on #435
@haofanning what version of `cordova-ios` and `cordova-android` are you using with your old version of `cordova-plugin-advanced-http`?

[2022-03-02 10:30] modvd commented on #295
I'm having the same issue with Ionic + Capacitor + Angular on an Android device. Sending FormData works well but the second I add a Blob to the FormData, the http request never gets send and i have no error.

[2022-03-02 15:04] hughknaus commented on #435
@haofanning  I was actually moving from 3.0.0 to 3.2.2 because I was getting the same "duplicate symbols" error (only more of them) and I was hoping 3.2.2 would help.  I think this started because we had another cordova plugin that required build dependency changes, `cordova-plugin-background-upload` upgrade from 1.1.0 to 2.0.7 requires cocoapods, which caused us to have to install a newer version

[2022-03-02 15:24] haofanning commented on #435
@hughknaus I think you are going in the wrong direction. I think this error is caused by a conflict between the AFNetworking library and cordova-plugin-advanced-http, because the code of the AFNetworking library is used by the latest version of cordova-plugin-advanced-http, resulting in variable redefinition. So the solution is to roll back cordova-plugin-advanced-http to a historical version that

[2022-03-02 18:29] hughknaus commented on #435
I noticed that this commit (https://github.com/silkimen/cordova-plugin-advanced-http/commit/c2a0317b8f52469293c89c7ea4d1fb51a1545d70), with message of

renames all the AFNetworking to SM_AFNetworking and the "duplicate symbols" errors that I get relates to SM_AFNetworking, and `cordova-plugin-background-upload` doesn't have references to SM_AFNetworking (but they import AFNetworking).

[2022-03-03 01:00] haofanning commented on #435
@hughknaus That's why i say you can give me your email address, I have the old version of cordova-plugin-advanced-http and it import AFNetworking too(not include SM_AFNetworking inside). I think it can solve your problem.

[2022-03-03 01:40] hughknaus commented on #435
@haofanning I was using 3.0.0, it uses AFNetworking and I get even more "duplicate symbols" with it. From the commit (https://github.com/silkimen/cordova-plugin-advanced-http/commit/c2a0317b8f52469293c89c7ea4d1fb51a1545d70) I imagine that's why they renamed it to SM_AFNetworking, but something else is causing the duplicates with it. I have found no good solution.

[2022-03-03 02:10] haofanning commented on #435
@hughknaus OK then, that seems to work for me so far. Maybe you can find all SM_AFNetworking,make sure it doesn't exist in your project.

[2022-03-03 02:10] haofanning commented on #435
@hughknaus OK then, that seems to work for me so far. Maybe you can find all SM_AFNetworking,make sure it doesn't exist in your project.

[2022-03-04 08:01] vv619-perf opened #458 "Memory leaks sensitive information"
In our application, during the security testing, they were able to get the request and response details from the memory dump.
Please find the following details they were able to get from the dump, is there any option or process we can implement to remove this for happening:
CordovaHttpPlugin1351829997
CordovaHttpPlugin
post https://***.***/login
username: *****
password *****
json
Authorization
Be

[2022-03-04 11:51] vv619-perf commented on #458
Got some more details from the security team, the data is collected using "**fridump**" tool. It can get the in-memory details.

Have anyone faced similar issue or provide any suggestions

[2022-03-07 17:53] hughknaus commented on #435
Found that when I remove `cordova-plugin-background-upload` from my app I can successfully build _without_ getting the "duplicate symbols" errors (of course that is undesirable as we do need the functionality for background uploading). `cordova-plugin-background-upload` is using `cocoapods` for AFNetworking.

[2022-03-07 22:54] hughknaus commented on #435
In https://github.com/silkimen/cordova-plugin-advanced-http/blob/9ff32f1892c46f6eeadb287bf73cdbd6ed7b4769/src/ios/SM_AFNetworking/SM_AFURLSessionManager.m

Does this interface https://github.com/silkimen/cordova-plugin-advanced-http/blob/9ff32f1892c46f6eeadb287bf73cdbd6ed7b4769/src/ios/SM_AFNetworking/SM_AFURLSessionManager.m#L371
and this implementation https://github.com/silkimen/cordova-plugin-

[2022-03-08 01:13] haofanning commented on #435
I'm glad you found the cause of the problem, maybe we should let the maintainer know.

[2022-03-09 15:17] hughknaus commented on #435
@haofanning the maintainer of `cordova-plugin-background-upload` has a fork and a PR of `cordova-plugin-advanced-http` that may just resolve the issue:  https://github.com/spoonconsulting/cordova-plugin-background-upload/issues/190#issuecomment-1062796133

[2022-03-09 15:40] Homand-Cindy commented on #290
I have the same problem in an Ionic App while downloading a PDF. I am sending the responseType= "blob" but the response value is always text. If i convert the response value to Blob and I read this in PDFViewer, the PDF is corrupted.

[code]

Thanks for your help!!!

[2022-03-10 07:30] Homand-Cindy opened #460 "Can't get a Blob with sendRequest function"
I use the sendRequest function to downloading a PDF in Ionic App. I am sending the responseType= "blob" but the response value is always text. If i convert the response value to Blob and I read this in PDFViewer, the PDF is corrupted.

[code]
Thanks for your help!!!

[2022-03-10 09:10] haofanning commented on #435
@hughknaus Great to hear that！Thank you for trying.

[2022-03-10 20:44] kristdevmaster commented on #358
@silkimen
I am using this plugin and get the Response Header from Server.
[code]

But at the subsequent request, it shows 401 error. And this plugin's getCookeString(<url to get the above response header>) shows empty string.
Please let me know where is the issue.

[2022-03-16 03:04] quickbook opened #462 "We are using the ionic 5 app and installed this plugin and We are unable to test the app on the android simulator."
**System info**

affected HTTP plugin version: [3.0.1]
affected platform(s) and version(s): [Android 10]
affected device(s): [ Android Simulator]
cordova version: [10.0.0]
cordova platform version(s): [android 9.0.0]

**Minimum viable code to reproduce**

e.g.:
 this.httpNative.setSSLCertMode('pinned')
          .then(() => {
            //alert('[SUCCESS] SSL Pinning Starts!');
            consol

[2022-03-21 06:32] Seeroy opened #463 "[Bug] [Android] advanced-http: an error occured during post processing response: Cannot read properties of undefined (reading '0')"
**Describe the bug**
Trying to get json with GET request from VK API. Error: "advanced-http: an error occured during post processing response: Cannot read properties of undefined (reading '0')"

**System info**
 - affected HTTP plugin version: 3.2.2
 - affected platform(s) and version(s): Android 11
 - affected device(s): realme 8
 - cordova version: 11.0.0
 - cordova platform version(s): Android

[2022-03-25 00:08] ScottDodsonDev commented on #115
@silkimen @chrisjdev Thanks! This fixed my issue #450. This was fixed in a8e3637f2728809377286aa00d85321f291d2f19 but reverted in 4b964e8b7c92b106c7c225197e8c3980f6d1f231.

[2022-03-30 21:33] #441 closed

[2022-03-31 00:44] silkimen commented on #458
I guess your pen tester team is using a rooted device, right? And then they dump data from memory? This will allow you to get sensitive information from any app.

[2022-03-31 00:46] silkimen commented on #456
What do you mean with "I get new value from the request"? Would you please provide more information?

[2022-03-31 00:47] silkimen commented on #453
Please provide a minimal version to reproduce your problem.

[2022-03-31 00:53] #452 closed

[2022-03-31 00:59] silkimen commented on #450
Oh and thank you for sponsoring me :)

[2022-03-31 01:04] silkimen commented on #448
This plugin does not support auto-prompting on authentication request, but you will need to implement your own UI passing the required credentials (e.g. bearer token, basic auth, etc.) in the headers.

[2022-03-31 01:09] silkimen commented on #445
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2022-03-31 01:16] silkimen commented on #397
Hi @ath0mas, updated cordova platforms and also some of the dependencies today. Using node 16 on GitHub Actions and node 14 on Travis CI. See https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/e2e-app-template/package.json#L13-L17

[2022-03-31 01:19] silkimen commented on #401
Do I understand correctly that you are using this plugin with capacitor? This plugin is primarily meant to be used with cordova and it is not tested for capacitor.

[2022-03-31 01:21] silkimen commented on #400
Thank you @russaa for this excellent answer 😊

[2022-03-31 06:40] Homand-Cindy commented on #460
Hello,

Thank you for the answer.
I put responseType: "blob" in the SendRequest function call but res.data returns text and not a blob. That's my problem and that's why I tried to convert it manually to blob.
I don't understand why res.data is not a blob instance when I ask it a responseType: "blob". Did I forget something?

Thanks in advance.

[2022-04-01 13:53] silkimen commented on #463
Is the URL publicly available? Would you please share the URL?

[2022-04-01 16:47] Seeroy commented on #463
I cant send URL, because without access_token parameter URL is not accessible. I can send the response of the URL.

[2022-04-02 09:01] Seeroy commented on #463
[response.zip](https://github.com/silkimen/cordova-plugin-advanced-http/files/8402189/response.zip)
Here is a sample response from an VK API. Sensetive data removed

[2022-04-04 20:25] ath0mas commented on #397
Perfect! Thank you 👍

[2022-04-04 20:25] #397 closed

[2022-04-05 08:10] gklasen commented on #266
Are there news about this?

[2022-04-20 10:06] rekony opened #467 "[Ionic] Hybrid SSL Pinning"
**Description**

Is is possible to use the http client where the ionic cordova app is calling a domain with SSL pinning and another one without ala default mode ?

**System info**
 - affected HTTP plugin version: 3.2.1
 - cordova version: 10.0.0
 - cordova platform version(s): [android 9.1.0, ios 6.2.0]

**Are you using ionic-native-wrapper?**
 - @ionic-native/http: 5.36.0

**Minimum viable code t

[2022-04-21 00:38] silkimen commented on #463
Thanks for providing this data, but I'll need to debug the code which is not possible with the JSON repsonse only. Did you try to debug it on your side and find out in which line exactly it is crashing?

[2022-04-21 00:41] silkimen commented on #463
Oh and you should also try to replace the content of the success callback:

[code]

Is it still throwing?

[2022-04-21 01:25] silkimen commented on #450
Are you experiencing the problems mentioned in #197 after reapplying #115 and removing #399?

[2022-04-21 05:36] Seeroy commented on #463
Its throwing only, if im trying to decode JSON using JSON.parse()
This code throwing error too
[code]

[2022-04-26 01:29] ScottDodsonDev commented on #450
I haven't experienced any issues; however, I don't use `downloadFile()`.

[2022-04-26 03:25] silkimen commented on #450
Thanks for your feedback! 👍

I'll test this combination on my side on a device. If I don't encounter any issues I think this should be a viable fix approach!

[2022-04-26 08:53] kalandher opened #468 "[Bug] [Android] Dependency issue with latest File plugin, App build is failing."
**Describe the bug**

App build failing after re-installing of latest 'cordova-plugin-file' plugin. I observe there is dependency for File plugin in 'CordovaHttpDownload.java', which says doesn't exist during app build.

**System info**
 - affected HTTP plugin version: [e.g. 3.1.0]
 - affected platform(s) and version(s): [e.g. iOS Android 11]
 - affected device(s): [e.g. Oneplus8]
 - cordova versi

[2022-04-29 13:24] yksolanki9 commented on #468
@kalandher I'm facing the same issue. Did you find any solution for this?

[2022-05-03 08:08] yksolanki9 commented on #468
Update: I fixed this issue by installing `cordova-plugin-file` in my project

[2022-05-03 09:55] kalandher commented on #468
@yksolanki9 Which version of cordova-plugin-file have you installed ? I tried with latest version that's when I encountered this issue

[2022-05-03 10:01] yksolanki9 commented on #468
If you're on cordova-file-plugin v7 and getting this error `Cannot find symbol CordovaPluginPathHandler`, downgrade the plugin to v6

[2022-05-03 10:25] kalandher commented on #468
There are issues in V6 with respect to Android x support. That's the we have to upgrade to v7.
https://github.com/apache/cordova-plugin-file/issues/511

[2022-05-03 11:11] yksolanki9 commented on #468
My bad, I did not test it on an Android 11. As a workaround, you can try [this](https://stackoverflow.com/a/71983551/10144339) stackoverflow solution

[2022-05-11 14:53] rickblommetjes opened #470 "[Bug] Android Http setHeaders ignored in code"
We are suffering issues connecting with the http client to an External API (from Microsoft) where after an upgrade at their side we don't receive any response from the api, it has something to do with the headers send to the API since it works with Postman, curl and IOS. When sending from Android the setHEader which are require seems to be ignored by the plugin, or did we missed something else? Th

[2022-05-12 02:47] kalandher commented on #468
Error I'm getting is different. This solution doesn't work. My issue is with the file plugin dependency which is upgraded to v7 and it needs Cordova android 10 to be installed.

[2022-05-22 10:30] junaid5546 commented on #49
**### Ionic file transfer plugin cause errors.**

Ionic:

   Ionic CLI                     : 6.19.1 (/usr/local/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 6.1.5
   @angular-devkit/build-angular : 13.0.4
   @angular-devkit/schematics    : 13.0.4
   @angular/cli                  : 13.0.4
   @ionic/angular-toolkit        : 5.0.3
Hi i am using ionic capacitor .
Here

[2022-06-08 02:42] chrisjdev commented on #391
I've been revisiting this issue a little bit. I'm guessing @NXTminxu is seeing a connection reset because something between writing the POST and the server interpreting the data doesn't like the chunked mode. More troubleshooting with that host would be needed to figure it out. I still think the key to resolving this issue is having a call to setFixedLengthStreamingMode() just as FileTransfer Plug

[2022-06-16 22:59] chrisjdev commented on #197
I finally reproduced this issue by changing my code to use downloadFile(). I'm not sure what it's for, but there's a `manager.responseSerializer = [SM_AFHTTPResponseSerializer serializer];` line in downloadFile(). I have no other calls to set the response serializer, and for whatever reason, that serializer returns an NSData* instead of a NSString*. When an uploadFile() call runs after a call to d

[2022-06-19 14:46] ZweiEuro opened #471 "[Bug] [Android] Timeout argument ignored, global argument taken"
**Describe the bug**
My app makes 2 kinds of http calls:
To a local device which needs 1s timeout in order to quickly detect if it is down.
To a server which needs 10s timeout to work reliably since that can take longer than 1s.

I wanted to avoid setting the timeout globally with
`this.http.setRequestTimeout(...);`
But when I set it only via the argumetns of:
` .sendRequest(...,{... timeout:1});`

[2022-06-19 14:48] ZweiEuro commented on #471
For me this is what is printed afterwards.
![2022-06-19-26](https://user-images.githubusercontent.com/18036573/174486908-8b2084b6-5bc7-4ae5-b275-290f6d1352d2.png)

[2022-06-19 14:54] ZweiEuro commented on #470
This is just a dumb guess but have you tried setting the headers like this:
`headers: { "Content-Type": "application/json" ,  [...] }`
for the request? My headers aren't ignored and I am doing it like that.

[2022-06-22 19:46] chrisjdev commented on #391
I made the changes here: https://github.com/chrisjdev/cordova-plugin-advanced-http/commit/c58d86d2ecc45c7cd8123c7a61b15f1a3e03c092 If you want, I can create a pull request for it.  I still haven't been able to get the automated tests working. I also changed my application to remove cordova-plugin-file-transfer (it was formerly deprecated, now it appears it's poorly maintained). That meant I needed

[2022-07-07 07:08] vladansaracpv commented on #266
+1 I'm seeing similar error on the latest version of plugin, during the jenkins build (intel machine). Any updates @silkimen?

[2022-07-12 10:27] shaneAPT opened #472 "[Feature] Single-use cookie option for setCookie()"
**Is your feature request related to a problem? Please describe.**
Make it more visible that setCookie() will persist the cookie you set across local storage (?) and it will not be removed until you explicitly call clearCookies() or removeCookies().

After getting stung with this. In a http-interceptor there is a check to see if a cookie is being passed as a header, if so setCookie() that cookie.

[2022-07-17 14:30] HamzaGa opened #473 "[Bug] [IOS] Download interrupted when app in background"
**Describe the bug**
Download is interrupted when user switches to another app (makes my app in background). It reports connection closed Exception on the file server.

**System info**
Latest plugin and ionic versions at this moment.

**Minimum viable code to reproduce**
this.http.downloadFile(environment.API_URL + "/PhotoRequest/downloadPhoto/" + downloadedPhoto.name, {}, {}, this.file.dataDirect

[2022-07-21 03:10] allidoisace opened #474 "Post() Randomly Stopped Working for a Local IP Request"
I am receiving an error from iOS that the internet connection appears to be offline. However, I have been using this for over a year to send a file to a local IP on a network I connect to on the iOS device. The device I connect to exposes an `/update` endpoint that accepts a `POST` method for a file. All of a sudden, I start getting this error on my production application. However, in the developm

[2022-07-26 13:14] trplx commented on #311
@silkimen Any updates on this bug?

[2022-07-26 13:18] alxpsr commented on #311
Need bugfix guys :(

[2022-07-27 09:33] naresh33 commented on #453
Hi, Having the same issue. Certificate are already at www/certificates and android/app/src/main/assets/public/certificates.

"error":"TLS connection could not be established: javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

Ionic CLI : 6.18.1
Ionic Framework : ionic-angular 3.8.0
@ionic/app-scripts : 3.2.4
@ionic-na

[2022-08-02 08:55] demoprojects123 opened #475 "Giving error : SSLHandshakeException for https SSL Self-signed certificate ."
**You've got questions?**

We primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks! 😁

* README.md: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md
* StackOverflow: https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http using the tag `cordova-plugin-advanced-http`
* Wiki: https://gi

[2022-08-02 09:00] demoprojects123 commented on #431
Can you paste the pinning code here for reference. as It is not working for self-signed certificate [Internal company] for https url. It is throwing SSLHANDSHAKEEXCEPTION ERROR.

[2022-08-05 03:09] silkimen commented on #463
Okay then, I guess your problem is not related to this plugin in this case. You are receiving invalid JSON data from your endpoint which can't be parsed.

[2022-08-08 09:45] adelin-mcbsoft commented on #439
I have the same issue on Android only (testing with v9).
I've upgraded from 3.2.0 to 3.3.1 and the requests fails on Android with "JSON Error", while the call never reaches the server.
e.g. trying this one:
[code]
Works flawlessly on iOS.
On android you just get "error" function called, with "JSON Error". Nothing else.

However, since no-one else is complaining about this issue in the latest build

[2022-08-08 11:18] adelin-mcbsoft commented on #439
In the end I had no choice but downgrading back again to 3.2.0 and works.
Couldn't do anything to fix it.
I'd be happy to offer more details to anyone asking, to help debug this.
Thanks.

[2022-08-08 18:25] jonatarussi commented on #320
Did you solved this?

[2022-08-12 01:51] dadprogrammer opened #476 "Does this plug-in only work with Angular? Import projects must have Angular /core installed"
**You've got questions?**

We primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks! 😁

* README.md: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md
* StackOverflow: https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http using the tag `cordova-plugin-advanced-http`
* Wiki: https://gi

[2022-08-12 01:51] dadprogrammer commented on #476
Does this plug-in only work with Angular? Import projects must have Angular /core installed

[2022-09-08 08:50] mazkaaa opened #477 "undefined sendRequest"
**Hello!**
i've been using http sendRequest to the rest api backend endpoint but got undefined result.
<img width="366" alt="image" src="https://user-images.githubusercontent.com/5271698/189075597-67b47ab2-9341-4cd9-8598-486750820473.png">

<img width="956" alt="image" src="https://user-images.githubusercontent.com/5271698/189078965-635847a2-3315-47e5-9622-6f704bf297a5.png">

I already tried to se

[2022-09-16 03:00] silkimen commented on #477
You implemented the success handler but didn't provide the fail handler function and your request is most likely failing. Just an idea: try to use the `Bearer` authentication scheme for your JWT token instead of `JWT` which is not a registered IANA scheme.

But your problem is not related at all to this plugin, therefore:

Please read the [documentation](https://github.com/silkimen/cordova-plugin-

[2022-09-16 03:00] #477 closed

[2022-09-16 03:02] silkimen commented on #476
No, this plugin works with all Cordova based applications.

Please read the [documentation](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md) carefully. We primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks!

* README.md: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.m

[2022-09-16 03:02] #476 closed

[2022-09-16 03:02] #475 closed

[2022-09-16 03:03] silkimen commented on #475
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2022-09-16 03:09] silkimen commented on #474
Hi @allidoisace, this is caused by a security feature which was introduced in iOS14, but enabling `Local Network` for the App actually should allow you to send requests to your device. Did you find a solution for this problem in the meantime?

[2022-09-16 03:32] silkimen commented on #472
Hi @shaneAPT, thank you for your feedback!

Yes, you are right about the behaviour you were experiencing. The `setCookie()` function is meant to **ADD** cookies into the cookie storage. I guess naming it `addCookie` would've been better, but that'd be a breaking change now. 😣

You need to remove those cookies manually by either using `clearCookies()` (which you already found out) or using `removeC

[2022-09-16 03:39] silkimen commented on #471
Hi @ZweiEuro, I think we forgot to update the documentation when #404 was implemented. Would you please try to set the values for `connectTimeout` and `readTimeout` in your options object instead of `timeout`? I guess this should fix your problem. I'd appreciate your feedback, so we can fix the documentation.

[2022-09-16 03:42] silkimen commented on #470
@rickblommetjes I've updated your text to make the code sample easier to read.

[2022-09-16 06:46] ZweiEuro commented on #471
Hi @silkimen,
Currently i am doing this:

[code]

 You mean i should be doing this ?
[code]

[2022-09-17 11:15] rickblommetjes commented on #470
ok I have a look at it thnx, in the mean time a hotfix has been applied by Microsoft to solve the issue, but clean coding is always better:-)

[2022-09-19 10:31] letseatcayman opened #478 "Could not connect to the server when post request"
I'm using "cordova-plugin-advanced-http": "^3.2.1", plugin for post request call.

let postCall = this.http.post('url', {
  'name': 'xyz',
  'password': '****',
  'mode': 'authprev'
}, { 'Content-Type': 'application/x-www-form-urlencoded' });
return from(postCall);

Mostly getting issue on some of the iPhone devices, also it's working on android devices. When we call that post request getting "Cou

[2022-09-19 15:06] Nayank9 commented on #474
@silkimen I'm facing the same issue, can you please tell me what's the security feature introduced in iOS14 & what update we need to do into the post call.

[2022-09-22 05:00] iPMisterX opened #479 "[Bug] [Android] Uncaught SyntaxError: Use of const in strict mode."
**Describe the bug**
This plugin work perfectly on 3.3.0 version.
But in 3.3.1 version app stuck on the splashscreen

I test in `Android 5.1`, ` Android 5.1.1`, ` Android 6.0` version but it’s all failed
`Android 7.0 and above work perfect`

**Android 5.1, Android 5.1.1**
[code]

**Android 6.0**
[code]

**System info**
 - affected HTTP plugin version: [3.3.1]
 - affected platform(s) and version(s)

[2022-09-22 21:06] shaneAPT commented on #472
Thanks for getting back to me @silkimen. I created a PR there to tweak the README.

After giving it more thought, perhaps the ability to add cookies only temporarily is better suited for an update to the ToughCookie plugin? As I see putCookie is called and that gives no option to add per session or temporarily.

[2022-09-25 08:47] kctang commented on #137
In my case, iOS app stopped with the log message:

[code]

In this context, this usually means certificate file cannot be loaded (not found or wrong format).

My issue was, I had a multiple certificate files. Only one of them was not a valid format (or somehow something is wrong with the cert):

[code]

So, in case you have multiple .cer files, please make sure EVERY .cer file is valid (even if th

[2022-09-26 07:41] kernel-debugger opened #481 "[ Failed to construct 'Blob':] [Android] "advanced-http: an error occured during post processing response:...""
**Describe the bug**
I'm making parallel range requests (10+) using this plugin with responseType option set to blob, some requests complete successfully while some fail with the following message
"advanced-http: an error occured during post processing response: Failed to construct 'Blob': The provided value is not of type 'BlobPropertyBag'."

Tried setting responseType to "arraybuffer", but it ma

[2022-09-26 08:49] kernel-debugger commented on #481
The problem was in my success callback.

[2022-10-04 11:31] gasperinn opened #482 "[Bug] [Android] Accept-Charset header"
### Overview of the Issue

I am having problems with sending requests to Authenticate Server from an Ionic 3 app as the request is being denied (403)  because "Accept-Charset" header is being set as "UTF-8". As described [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Charset), this header should not be used anymore.

### Operating System

Android only

### Suggest a Fix

I

[2022-10-11 07:32] luisgon1 commented on #401
Yes we use it with Capacitor, but this has been fixed it was an issue on my
end.

On Wed, Mar 30, 2022, 8:19 PM Sefa Ilkimen ***@***.***> wrote:

[2022-10-20 13:57] vivekananda8909 opened #483 "TLSConfiguration.java"
@silkimen

We are using Veracode to find security vulnerabilities in our app. We got one issue "Selection of Less-Secure Algorithm During Negotiation ('Algorithm Downgrade')".

I followed the steps which you suggested in #423

<preference name="AndroidBlacklistSecureSocketProtocols" value="SSLv3,TLSv1" />,  but no luck

Can you suggest  any other alternate to fix Veracode scan issue.

Please find

[2022-10-20 15:16] silkimen commented on #483
Not sure, but this looks like a false positive to me. Because line 47 is only applying the cached socket factory. It doesn't change any security related stuff.

The socket factory is created in line 55. That's also where the blacklist is applied. You can check the 'TLSSocketFactory.Java' class. The given blacklisted names will be filtered from enabled protocols.

[2022-10-24 09:58] jamalkarami opened #484 "how to use abort method of Advanced Http"
Hi everyone, I hope you are fine.

I have tried to use abort method for aborting a request as written in Readme file.

[code]

But when I try the same code, It doesn't work,  the requestId is underlined in red with this error :
L'argument de type 'Promise<HTTPResponse>' n'est pas attribuable au paramètre de type 'string'.

The request methods post|get|put|delete|patch|downloadFile|uploadFile| retu

[2022-10-26 20:35] vivekananda8909 commented on #483
@silkimen

Thanks for the quick response. Anything you can also help us or confirm about these low priority flaws.

<img width="1321" alt="Screen Shot 2022-10-26 at 4 32 47 PM" src="https://user-images.githubusercontent.com/36451679/198132126-8b8b1927-4b19-4c51-ac24-18f18c4d5b10.png">

<img width="1321" alt="Screen Shot 2022-10-26 at 4 32 47 PM" src="https://user-images.githubusercontent.com/36451

[2022-11-03 09:09] msathya03 commented on #458
Hi even we are facing the same issue. Our pen tester is able to get the credentials from memory dump using Frida tool.  Do you have action plan to fix this memory leak issue in cordova-plugin-advanced-http plugin?
Awaiting for your response. Thanks in advance.

[2022-11-04 13:41] vv619-perf commented on #458
Hi @msathya03m, for our case we prevented the application to be installed in an rooted device - We stopped users from login when the application detects its installed in an rooted device.
Security team was happy with the prevention and have considered the issue resolved.

[2022-11-04 13:41] #458 closed

[2022-11-14 08:02] colorthoro commented on #468
@kalandher Did you find any solution for this?

[2022-11-15 09:05] msathya03 commented on #458
Hi @vv619-perf , Thank you for the update. It will be  great if you share the formation about the root detection plugin which you are using . Currently We are using cordova-plugin-iroot but still pen test team able to collect the data using Frida tool.

[2022-11-15 09:10] msathya03 opened #485 "Any action plan on Memory leak issue"
Hi @team,  Our pen tester is able to get the credentials from memory dump using Frida tool. Do you have any action plan to fix this memory leak issue in cordova-plugin-advanced-http plugin?
Awaiting for your response. Thanks in advance.

[2022-11-22 16:29] ErwanLGZ29 opened #486 "[Bug] [Android] "Error -6 No network connection available" when connected to a wifi without internet"
I am using an Redmi 10c android 12 smartphone that does not have a 4g connection. It is connected to a private wifi that doesn't have internet either and I try to make an http request on a route from a local server, the request does not work and returns an error -6, "No network connection available". The smartphone is connected to the server's wifi and the route is available.

I created a fork of

[2022-11-24 08:12] asroboy opened #487 "send file with multipart and formData stucks"
request stucks when send file with serialize is 'multipart' and form data, not give any responds even after very long-long time
here my example of use

[code]

[2022-11-25 06:28] vv619-perf commented on #458
hi @msathya03
we did the following mitigations:

- Prevented the application from running on a rooted device, using the plugin ("cordova-plugin-iroot": "^3.1.0")
- Cleared window cache
- Local storage was always cleared when the user logged out
- All the values saved in local storage were encrypted
- Unused variables in memory were cleared whenever its use was complete

[2022-11-25 15:04] davidanquetin commented on #486
Thanks, same problem here, i will test your fork !

[2022-11-25 16:07] msathya03 commented on #458
Thanks so much !

[2022-11-29 00:58] digaus commented on #486
Same issue here when trying to communicate with smart home devices which have not internet...

[2022-11-29 14:07] windcloudit commented on #453
I also have same error I already create www/certificates and put the key file cer in there but I got this error after run.
currently I use "cordova": "^10.0.0" and "cordova-plugin-advanced-http": "3.0.0".
My project is cordova monaca.
Anyone have solution for this? Thank you so much.

[2022-11-30 04:41] windcloudit commented on #453
I already solved this problem because I mistaken convert file to .der instead .cer files. Thank you so much.