[2017-08-12 13:54] mburger81 opened #2 "Cookie handler does not support 'expires' on split cookie function"
I found an error on the cookie handler!
in cookie-handler.js on the splitCookieString function you should check also wor 'Expires=' with upper "E", some service use this.

so something like that
if (cookieParts[i].substr(-11, 8) === 'expires=' || 'Expires=') {

Sorry for that, but I'm not good in making a pull request and it takes a lot of time for me, do you think you can do this?

[2017-08-12 14:00] mburger81 commented on #2
Hi @silkimen we test the plugin only on android emulator for now using a Nexus 5 KitKat device. We didn't test it on ios or devices.
But I'm pretty sure it has the the same error.

The cookie handler on splitfunction supports only lowercase. But the 3rd part server returns Expires part for the cookie with upper E. So I don't think the device type is changing the behavior
I think you should check w

[2017-08-13 00:46] silkimen commented on #2
Yes, basically you are right. But I think we should normalize all header keys e.g. having them all in lower-case. So even if the server responds with "Expires", "EXPIRES" or "expires", we should access it with key "expires". I thought we are already doing that, but seems to be broken somehow. That's the reason I'm asking for the device on which this problem occurs.

But I'll implement a workaround

[2017-08-13 01:17] #2 closed

[2017-08-13 15:40] mburger81 commented on #2
Hi thx, for the fast release this is working great!!!

You are right it is better testing for lower case, the reason I didn't do this in my PR is:
On testing for Expires= || expires= || EXPIRES= you have less probabilty to have some problems with for example a token which could be 'eXpireS='
But I think this should be not often a problem ;)

[2017-08-13 15:50] mburger81 opened #4 "Accept All Certs seems to not work with self signed certificates"
We use on a local installed machine a webserver where we install our osgi bundl with our REST apis.
So we can not work with certificates, and also we can not install a signed certifcate, but we have installed a self signed one.

If we use `accaptAllCerts` with false obvisouly we get this error
`{error: "SSL handshake failed", status: 500} `
but if we set it to true we get another error
`{error: "T

[2017-08-14 16:15] mburger81 commented on #4
I also tried to copy my certificate to the folder requested and enable the ssl pinning.
But I get always the same error:
`{error: "There was an error with the request", status: 500}`

[2017-08-14 16:19] silkimen commented on #4
Did you check log files of the server? And are you sure there is no problem with the REST services?
You could try disabling SSL on the server (just for testing purposes) and check if the problem still exists.

[2017-08-14 16:59] mburger81 commented on #4
Honestly we are not the maintainer of the webserver so we have a little bit problems to check this on server side. But on client side and on server side we do the same thing the only one thing changing is we call https instead of http.
On our tests, we found out if we set enableSSLPinning to true also the normal http calls which works great without this parameter, doesn't work anymore.
So I think

[2017-08-16 01:52] silkimen commented on #4
I've created a little demo project here: https://github.com/silkimen/cdv-http-demo
You need to disable domain name checking when you are enabling accepting all certs. Maybe this is the reason why it's not working for you?

[2017-08-16 10:06] mburger81 opened #5 "New Version 1.5.8 is not installable"
On trying to install latest version with this command

cordova plugin add cordova-plugin-advanced-http@1.5.8 --save

we get this error
[code]

With version before which is 1.3.7 anything is working without error

[2017-08-18 09:48] mburger81 commented on #4
Okay I tested all this scenarios, so in both case `acceptAllCerts` or `sslPinning` we have always to set validateDomainName to `false`.

In this case both scenarios works,
[code]
is working for all ssl certificates and
[code]
is working for my self signed certificate file copied to `/www/certificates` folder.

So one question, why do you don't on  `acceptAllCerts` or `enableSSLPinning` automatical

[2017-08-18 09:55] mburger81 opened #6 "Forward cookies get from HTTP call to Websocket calls"
The plugin works good with session cookies, they are forwarded on every http or https call as expected.

But In our project we use also WebSockets, and we need to forward the cookies get from http/s call with your plugin to the WebSocket call.

If we use native http calls and native websockets calls this is working out of the box, I'm not sure if this should also work in your case, but I don't thi

[2017-08-19 00:16] silkimen commented on #5
Which OS are you using on your developer machine? Do you have a case-sensistive filesystem?
Is the file "CordovaHttp.java" really missing or maybe is the path wrong?

e.g. "/src/android/com/synconset/**CordovaHttp**/CordovaHttp.java" instead of "/src/android/com/synconset/**cordovahttp**/CordovaHttp.java"

[2017-08-19 00:29] silkimen commented on #6
Ok, as for WebSockets: this plugin is not meant to support WebSockets, so you'll need to stick to the native WebSockets or find a plugin supporting WebSockets.

As for cookie handling: we are using the UMD version of module "tough-cookie" (see https://github.com/silkimen/umd-tough-cookie) for cookie handling, so basically we could build an interface for accessing the raw cookies. But this was not

[2017-08-19 01:05] silkimen commented on #4
You are right with the first one. We could automatically disable `validateDomainName` when you enable `acceptAllCerts`. Maybe I'll implement this in our next version.

Enabling SSL-pinning means that the SSL certificate provided in the app must exactly match the one provided by the server. So basically, you tell the plugin to trust only this one certificate. You don't really need to check for the

[2017-08-19 18:27] mburger81 commented on #4
Ok,
I think we should be able to combine http and https calls.
Also I think there should be this scenario
a) Always accept http calls indipend on what you have have enabled on ssl, and perhapse disableHttp property to block them?
b) acceptAllCertificates do no check cerificate
c) sslPinning check self signed certificate
d) if b and c are disabled then dellegate check to Android device. Not sure wh

[2017-08-19 18:34] mburger81 commented on #6
Yes I know this project is not intend to use for Websocket, but I have to do.
We are already using a native websocket cordova plugin for Android. Perhapse I can merge the two projects and we can create a new one more complete plugin. What do you think.

Not sure about about the cookies I'm not the expert on it. But I think we have to read the cookies for a url and also remove and add now cookies c

[2017-08-19 18:36] mburger81 commented on #5
Yes I have a case sensitive filesystem. I'm using an ubuntu system.
I can not check for the url, I can do it only on Monday morning. I'll let you know on Monday

[2017-08-20 13:35] silkimen commented on #5
Ok, I found the issue. Will fix it!

[2017-08-20 22:41] silkimen commented on #5
fixed in **v1.5.9**

[2017-08-20 22:41] #5 closed

[2017-08-20 22:56] silkimen commented on #4
I'm sorry, I didn't understand d). What do you mean with "delegate check to Android"?

Checking the domain name is default behaviour on HTTPS connections. And even if you install a self-signed cert you need to provide a common name, which is actually the domain name.

If you don't have a static domain name, I strongly recommend using pinned SSL otherwise you won't have any security. But in this ca

[2017-08-20 23:15] silkimen commented on #6
If you want to create a new plugin containing WebSocket and HTTP functionality, you can fork this plugin and then use "setCookieFromString" and "getCookieString" [see here](https://github.com/silkimen/cordova-plugin-advanced-http/blob/8ac8b952466fc121d91ff4a51b9874d684a45373/www/cookie-handler.js#L38-L50). But you really should check the API documentation of [tough-cookie](https://github.com/sales

[2017-08-21 07:11] mburger81 commented on #6
I had a look to other implementations for cordova, perhaps it could be better to use
`android.webkit.CookieManager` for the cookie management. I know you have to do there two different implementations one for ios and one for android, but this should have less bugs and less code and much simpler to maintain.
And so all other plugins which are using default native cookie manager could use cookies, s

[2017-08-23 23:03] silkimen commented on #4
Closing as all mentioned scenarios are working.

[2017-08-23 23:03] #4 closed

[2017-08-28 15:32] kevinhuron opened #7 "ERROR no such file or directory www/umd-tough-cookie.js"
Hi !

I got a **no such file or directory www/umd-tough-cookie.js** when I try to install this plugin in my Ionic app...

Thank's

Cordially

[2017-08-28 16:24] silkimen commented on #7
Can you provide me some more info? Which version are you trying to install? Which command did you use to install? And complete error output, please.

[2017-08-28 16:36] kevinhuron commented on #7
Yes ! really sorry...

I'm using the latest version of ionic and ionic native and I was waiting for an update to their plugin http, which, thanks to you is finally better.

I'm trying to install your lastest version of your plugin.

**IONIC INFO** :

    cli packages: (/usr/local/lib/node_modules)
           @ionic/cli-utils  : 1.9.2
           ionic (Ionic CLI) : 3.9.2
    global packages:

[2017-08-28 16:44] silkimen commented on #7
Ah ok, I see the problem. You can not directly install the plugin from the github url. We are running a build task before pushing it to npm. This is the reason the file is missing for you.

Just run `cordova plugin add cordova-plugin-advanced-http` and it should work. If you want to install it from github, you need to pull the latest version and then run `npm run build`.

[2017-08-28 16:47] kevinhuron commented on #7
Oh Okey !

Thank's you very much

unfortunately I got this :

     cordova plugin add cordova-plugin-advanced-http --save
    ✖ Running command - failed!
    [ERROR] An error occurred while running cordova plugin add cordova-plugin-advanced-http --
    save (exit code 1):

        Error: Failed to fetch plugin git+https://github.com/silkimen/cordova-plugin-advanced-http.git via registry.
        P

[2017-08-28 22:54] silkimen commented on #7
Hmm ok, I've set up a little demo project with ionic and it's working for me without problems.

Ionic info:
[code]

I think your issue is related to connection or registry. Do you use a custom npm registry (e.g. Sonatype Nexus, Artifactory, etc.)? Are you running behind a proxy server?

And it's also strange that it's still trying to download it by Github url. It should fetch the plugin package fr

[2017-08-30 15:12] jeandesma opened #8 "plugin_not_installed error with ionic"
Hello,

I am trying to use this plugin on a ionic project. I installed it the way the ionic native doc told me to which is:

    $ ionic cordova plugin add cordova-plugin-advanced-http
    $ npm install --save @ionic-native/http

Then I used it as follow in my provider:

     constructor( @Inject(EnvVariables) public envVariables, public correspondanceProvider: CorrespondanceProvider, public http1

[2017-08-30 15:46] silkimen commented on #8
Hi jeandesma,

actually I didn't even know that our plugin is used in ionic native. I think the problem is situated in how the project is integrated in ionic native. I'll set up a little demo project to find the problem.

[2017-08-31 00:54] silkimen commented on #8
Ok, found the issue. It's already fixed on master branch, but I don't know when it will be released. See this link for more info https://github.com/ionic-team/ionic-native/pull/1921

Please consult the ionic team for further assistance, because this is not a problem of this project.

[2017-08-31 13:53] jeandesma commented on #8
You are right, changed the wrapper and everything is working fine now. Thanks a lot!

[2017-08-31 13:54] #8 closed

[2017-09-04 12:54] shadoWalker89 commented on #8
@jeandesma How did you solve this ?
I'm still getting the same error as you did when installing the plugin at this very moment

[2017-09-04 13:51] jeandesma commented on #8
https://github.com/ionic-team/ionic-native/pull/1934/commits/49ee0d85a304770a9a3bd3e04eb9609e6d565b67

As a quick fix you might just fix the reference error yourself. Just do what is done in this commit and it will work fine.

[2017-09-04 14:10] shadoWalker89 commented on #8
Thanks jeandesma, everything is working fine now.

[2017-09-04 18:44] silkimen commented on #7
@kevinhuron I'm closing this issue now, because I can not reproduce your issue. Please feel free to open another one, if you can provide me some more details.

[2017-09-04 18:44] #7 closed

[2017-09-06 11:49] jeandesma opened #9 "Self Signed certificate pinning is not possible on iOS with ionic"
Hello,

I have an issue concerning SSLPinning on iOS with ionic. My code is working well on android but I cannot make it work on iOS. Here is my code:

    @Injectable()

    @Component({
      providers: [CorrespondanceProvider]
    })

    export class ProductProvider {
    ...
      constructor(@Inject(EnvVariables) public envVariables, public http1: HTTP, private platform:Platform) {
        t

[2017-09-13 13:21] tomNjerry commented on #9
How did you managed to add it on android?
Cas Im getting a direct error as Plugin not installed.
My stack is :
ionic 2
Angular 2
cordova

[2017-09-13 17:17] jeandesma commented on #9
Hello tomNjerry,
Please see this issue: https://github.com/silkimen/cordova-plugin-advanced-http/issues/8. My last comment should fix your issue.

[2017-09-15 20:22] pc-wurm commented on #6
@mburger81 May I ask how do you make the requests so that the cookies are sent? I cannot get it simply work.

I make a post request to the backend server with the credentials and I can see in the backend logs that the session successfully opened. But the subsequent requests returns that the user is not logged in.

The same code works using angular http, but we need SSL-Pinning, so we must use nati

[2017-09-25 02:10] bozdoz opened #11 "Implement support for "browser" platform"
Kind of a bummer to have to have an if statement to check if it's being viewed via browser platform.

[2017-09-25 02:14] bozdoz opened #12 "Issues with Android & iOS on Phonegap"
Not sure what could be going wrong here, but I cannot get this plugin to work on Android.  The error I'm receiving is that `cordova.plugin` is undefined.  I've tested this within a handler on the `deviceready` event, I also set an interval to continually check if it becomes defined, but it does not.

Here is part of my config.xml:

[code]

[2017-09-25 02:37] bozdoz commented on #12
Also of note: `cordova.plugin.http` IS defined in browser platform; it just can't seem to execute any functions.

[2017-09-25 02:40] bozdoz commented on #12
Also of note: I just tested on ios, and I have the exact same issue: `cordova.plugin` is undefined.

[2017-09-25 18:48] RangerRick opened #13 "setDataSerializer fails"
It appears that at some point a refactoring changed everything to `setDataSerializer` from `setParamSerializer` but this was missed in the angular integration:

[code]

[2017-09-26 08:15] #13 closed

[2017-09-26 09:01] silkimen commented on #12
Hi bozdoz,

I am not able to reproduce your problem (on Android and iOS), but you are right concerning browser platform. Can you provide some more information? How did you install the plugin via npm registry or github url?

It's also strange that the object is defined for you on browser, but not on devices 🤔

[2017-09-26 09:05] silkimen commented on #9
Sorry for the late response. I can confirm I'm having the same issue here, but I couldn't figure out why this is happening, yet.

[2017-09-26 09:09] silkimen commented on #11
Yes, you're right. It would be nice to have same functionality for browser platform. But it won't be possible to support all functions. I'll need to figure out which ones can be implemented for browser and which ones not.
But how do we handle functions which won't be supported? Throwing an error? You'll still need to have an if statement then. Do you have an idea?

[2017-09-26 10:30] tomNjerry commented on #9
waiting for positive reply for SSL pinning

[2017-09-26 16:55] kevinhuron opened #16 "An error occurred while running cordova plugin add cordova-plugin-advanced-http"
Hi,

I Got this error when I try to install the plugin in my ionic app

✖ Running command - failed!
[ERROR] An error occurred while running cordova plugin add cordova-plugin-advanced-http --save (exit code 1):

        Error: Failed to fetch plugin cordova-plugin-advanced-http via registry.
        Probably this is either a connection problem, or plugin spec is incorrect.
        Check your connec

[2017-09-26 17:28] bozdoz commented on #11
I think an object with similar methods and similar responses, and with unimplemented methods throwing errors.  You could do something simple, like:

[code]

[2017-09-26 17:30] bozdoz commented on #11
Guess I didn't actually implement `setHeader` properly, but you get the idea :D

[2017-09-26 17:34] bozdoz commented on #12
The issue seems to be specific to the Phonegap Developer app, which is recommended by Phonegap to test apps.  If I do `phonegap run android` and plug in my phone to test, it works fine (obviously because it's built).  Otherwise, on the Phonegap Developer app, it fails: `cordova.plugin` remains undefined.  I've tested everything I need now, with USB debugging, but every other plugin has worked with

[2017-09-28 01:48] svarughese91 opened #17 "HTTP load failed"
HTTP is failing to load and I cant use it.  I am getting this error everytime http is called.

[code]

Here is my ionic info:

[code]

Not sure whats going on

[2017-09-28 08:31] paolostefan opened #18 "No PATCH request support"
First of all, thanks for developing this handy plugin.

Would it be possible to add the support for the HTTP PATCH request method? It would be great and it would allow interacting with RESTful APIs more easily.

Thanks again.

[2017-09-28 09:30] silkimen commented on #12
Ah ok, thanks for the info. I've never used phonegap (only cordova and sometimes ionic), so I don't even know about this Phonegap Developer App.
Do you know how this works? I mean the iOS and Android source code needs to be compiled to be working. Or do they just use the browser version of the plugin? This might be the reason why it's not working with this app, as we don't support browser target.

[2017-09-28 09:41] silkimen commented on #16
OK, the problem seems to be that cordova is trying to run the build script defined in `package.json`. But I don't know why it's doing that. You are using latest version ionic and cordova, right? Maybe there was a change in cordova? I'll need to check this.

[2017-09-28 09:48] silkimen commented on #12
Found it: http://docs.phonegap.com/references/developer-app/troubleshoot-faq/

Phonegap developer app only supports some included plugins. But advanced-http plugin is not included in the app and that's the reason why it's not working.
If you want this plugin to be included in the phonegap app, you need to bother the phonegap dev team 😋

[2017-09-28 13:21] matodrobec commented on #6
@pc-wurm  I have same problem with session cookies. If I am using angular XHRBackend then it is working well.  Do you find way how to  handle session cookie? Cookie from server look like `'set-cookie': [ 'JSESSIONID=xxxxxxxxxxxx; Path=/api; Secure' ],``

[2017-09-28 13:27] matodrobec commented on #8
@shadoWalker89  I fix  this like https://github.com/ionic-team/ionic-native/pull/1934#issuecomment-331861871 . It is working well to me

[2017-09-28 14:21] matodrobec opened #19 "Session cookies"
Hello. I would like to ask how handle session cookies. Cookies are not send to server.
Cookie header of reaponse is `'set-cookie': [ 'JSESSIONID=dhs-srcyD+z-w6mjCNKS8lRH; Path=/api; Secure' ],`

Log of request:
first request
[code]
  next request without JSESSIONID cookie
[code]

Cordova plugins
[code]

Can you help we what I am doing wrong. Thanks you

[2017-09-28 19:14] bozdoz commented on #12
Thanks!  Probably won't, as I'm done my project, but maybe in future projects.

![bitmoji](https://render.bitstrips.com/v2/cpanel/10211505-173281661_52-s1-v1.png?transparent=1&palette=1&width=246)

[2017-09-28 19:14] #12 closed

[2017-09-29 11:08] akhatri commented on #18
I have created a PR for this enhancement ticket (android version). Hope it's okay to integrate once reviewed.

[2017-09-29 12:42] kesozjura commented on #16
I have the same problem.
@kevinhuron I workarounded it by temporary fork of this plugin. In my fork I added umd-tough-cookie.js to www folder and in cordova project replace repository to my temporary one.
@silkimen I am using latest ionic and cordova.

[2017-09-30 10:51] shadoWalker89 commented on #8
@matodrobec Thanks for sharing, but i found out that using the angular http and now the angular HttpClient is far more better for my needs.
The Interceptors are a life savior in angular.
Also it is important to me that i see the requests and responses in my network tab of the browser, but with the native solution you cannot to that because the requests and responses are made on the device directly

[2017-10-01 06:34] akhatri commented on #18
I've added patch methods in the http-request java file and it works on my local project now. PR #22

[2017-10-02 10:31] silkimen commented on #18
will be integrated in v1.6.0

[2017-10-02 10:31] #18 closed

[2017-10-02 10:45] silkimen commented on #19
Hi matodrobec,
unfortunately I can't reproduce your problem. Could you please connect to the device with Chrome device inspector (chrome://inspect/#devices) and look for error or warning messages maybe?

[2017-10-02 10:55] silkimen commented on #16
@kevinhuron, @kesozjura: can you please check, if it's working for you with v1.6.0?

[2017-10-02 11:10] kesozjura commented on #16
v1.6.0 works for me

[2017-10-02 11:13] kevinhuron commented on #16
Hi !

I solved my problem ! my problem was occured by a deprecated components
I deleted it and I was been able to to download the plugin

**BUT**

I had an another error
When I launch my app my, in the console it say "**plugin not installed**" but when I try to reinstall it, it say it already install...

[2017-10-02 12:25] DonalRafferty commented on #18
This is broken in Android using version 1.6.0, here's the error message:

com/synconset/cordovahttp/CordovaHttpPlugin.java:68: error: constructor CordovaHttpPatch in class CordovaHttpPatch cannot be applied to given types;

            CordovaHttpPatch patch = new CordovaHttpPatch(urlString, params, serializerName, headers, callbackContext);
                                     ^
  required: Strin

[2017-10-02 14:13] silkimen opened #23 "PATCH method broken on android"
Broken in Android using version 1.6.0, here's the error message:

com/synconset/cordovahttp/CordovaHttpPlugin.java:68: error: constructor CordovaHttpPatch in class CordovaHttpPatch cannot be applied to given types;

            CordovaHttpPatch patch = new CordovaHttpPatch(urlString, params, serializerName,
     headers, callbackContext);
                                     ^
       required: Str

[2017-10-02 14:14] silkimen commented on #18
@DonalRafferty: yes sorry, my fault. I'll fix it, opened a new issue #23 for better tracking.

[2017-10-02 14:22] silkimen commented on #16
OK, thanks. I'm closing this.

@kevinhuron, I think your problem is related to a known issue in ionic native. Check #8 and feel free to open a new issue, if it's another problem.

[2017-10-02 14:22] #16 closed

[2017-10-03 11:18] silkimen commented on #17
Error Code -1004 means "cannot connect to host" (see https://stackoverflow.com/a/9415479 for more info). Are you sure you've provided correct URL and device is connected to network? Also check for firewall or proxy in your network setup.

[2017-10-03 22:17] JakariaAmin commented on #23
well, my build is failing showing this error, unable to get apk. unable to go back to previous ionic and unable to use the previous cordova-http plugin.
is it possible to get an workaround for this bug?

[2017-10-04 11:17] silkimen commented on #23
@JakariaAmin please check version 1.6.1

[2017-10-04 12:27] jkfb opened #24 "Extend behaviour of "setHeader" method"
Hi guys!

It would be a nice feature to extend the behaviour of the _setHeader_ method to support different headers for all further requests based on the host part of an URL. The URL parameter should be optional to preserve the current behaviour.

Something like:
[code]

What is your opinion on this?

[2017-10-04 14:43] enayetn opened #25 "Transactions slow compared to direct requests from webview"
I am observing slower total transaction times (request start to resolve) now that I have switched from using iOS WebView to WKWebview + Cordova-HTTP transactions provided by this plugin.

Is it expected that transaction times will increase when switching to this plugin?

Thanks!

[2017-10-06 11:45] matodrobec opened #26 "JSON request with array data is not working on Android (JSON error)"
Hello, I am getting JSON error when I would like to send array data in post request
[code]
I try somethink like below but still same error `JSON error`
[code]

Plagin
```cordova-plugin-advanced-http 1.5.10 "Advanced HTTP plugin"```

How can I send json request  with array data?

Thanks!

[2017-10-06 11:46] matodrobec commented on #19
Hi @silkimen
Sorry, my mistake. It is working. I am sending json request and I am forgotten set setDataSerializer("json"). Now it is working and the ssl pining is working well also. I am one more question but I will do new issue https://github.com/silkimen/cordova-plugin-advanced-http/issues/26 .
Thx

[2017-10-06 12:15] #19 closed

[2017-10-06 12:19] S1lentControl commented on #26
https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer

[2017-10-06 12:22] matodrobec commented on #26
@S1lentControl  what I am doing wrong? Can you send me an example?
Thx

[2017-10-06 12:36] S1lentControl commented on #26
OOps, I didn't see the method call.
Need more info. What is the error in the first example. Everything looks correct.

[2017-10-06 13:09] matodrobec commented on #26
@S1lentControl  I am getting `JSON error` when I am using `[{ test: 1 }, { test: 2 }],`  as array data.

[2017-10-06 21:32] mifkys opened #27 ""uploadFile" method doesn't return data object on iOS"
After execution of UploadFile method it returns only 'headers' and 'status' keys. File has been uploaded but app don't receive 'data' key with data from server.

code example:
[code]

response log:
[code]

Same server but uploading with cordova-plugin-file-transfer. Response data exists in response object:
[code]

[2017-10-09 11:42] silkimen commented on #25
Hi enayetn,

I've never checked total transaction times. But yes, I'd expect it to be slower. Every cordova plugin utilizes an abstraction layer making it slower than highly optimized browser API  code. So here is the difference between using native web API vs. using this plugin:
[code]

[2017-10-10 13:04] enayetn commented on #25
Makes total sense, just was not anticipating it. Thanks for the confirmation!

[2017-10-11 13:02] SirTori opened #29 "acceptAllCerts on iOS not working"
When setting acceptAllCerts to true every request via https returns an error with  `{"status": -1, "error": "cancelled"}`

my code

[code]
During development I used to set the option acceptAllCerts  to true.
I migrated to ionic 3.7 and from https://github.com/Telerik-Verified-Plugins/SecureHTTP to this plugin (version 1.6.1) as this is now the official ionic-native http plugin and has all the feat

[2017-10-12 11:49] ThomasKientz opened #30 "Send requests when internet is back (by the OS in background)"
Is it possible to register background requests ?

So if the app doesn't have internet at the moment, the request is stored and execute later by the OS.

On iOS, I think it can be performed with the property [discretionary](https://developer.apple.com/documentation/foundation/nsurlsessionconfiguration/1411552-discretionary?language=objc)  set on an `Background sessions` of a [URLSession](https://de

[2017-10-12 16:22] bdoooh commented on #26
@matodrobec setting `this.http.setDataSerializer( "json" );` prior to posting just fixed this for me.

[2017-10-13 09:40] silkimen opened #31 "Request fails on erroneous cookies"
Request fails and throws an exception when server tries to set an erroneous cookie.
e.g. http://google.com tries to set a cookie for "domain=google.de".

![bildschirmfoto 2017-10-13 um 11 29 07](https://user-images.githubusercontent.com/4717881/31540176-2f39ab06-b00b-11e7-8823-546a9e7ececd.png)

[2017-10-13 10:17] silkimen commented on #31
will be fixed in v1.6.2

[2017-10-13 10:17] #31 closed

[2017-10-15 08:40] cnotoham opened #32 "support for typescript"
Hi,

It's not really an issue but rather a request if you plan to support typescript?

Thank you and Regards,
Cornelius

[2017-10-16 08:33] silkimen commented on #29
Hi SirTori, I'm sorry for the inconvenience. But I'm curious, did you also run `validateDomainName(false)`?

e.g.
[code]

[2017-10-16 10:28] SirTori commented on #29
Hi silkimen,
no I did not - wasn't neccessary before

[2017-10-16 10:39] silkimen commented on #29
Could you please try running my example code against your server? I'd like to know if this fixes your problem.

[2017-10-16 10:42] silkimen commented on #29
Could you please try running my example code against your server? I'd like to know if this fixes your problem.

[2017-10-16 10:57] SirTori commented on #29
Thanks for looking into it.

I just tried it and together with `this.http.validateDomainName(false)` it seems to work just fine.

[2017-10-16 12:19] silkimen commented on #29
OK, thank you!

I think we'll change the interface and remove `validateDomainName` because you are not the first one having problems with this one. We'll disable domain name validation automatically when running `acceptAllCerts(true)` instead.

[2017-10-16 12:20] silkimen commented on #25
You are welcome :)

[2017-10-16 12:20] #25 closed

[2017-10-16 15:57] ryandegruyter commented on #32
Ionic native offers typescript support for this plugin:

https://ionicframework.com/docs/native/http/

[2017-10-18 10:33] longzheng opened #33 "Get response URL"
I have a specific scenario where the API I'm calling redirects me to a different success/failure URL (both with status 200 😭).

It doesn't look like the HTTPResponse object contains the URL.

I'm wondering if it's possible to get this added to the library?

[2017-10-18 10:45] longzheng commented on #33
There's also another scenario where I need to get the response URL to extract a token from the URL's parameters.

[2017-10-19 10:55] cnotoham commented on #32
I am not using ionic just the Angular4 components.  I need the *.d.ts files so that it compiles

[2017-10-19 13:20] silkimen commented on #32
Hi cnotoham,

I'm considering migrating our js code to ts, so I could just generate the declaration files you need. But atm I'm struggling with some other feature requests and bugs, so I won't do this for the next version.

[2017-10-19 20:33] silkimen commented on #29
@SirTori your problem should be fixed in v1.6.2

[2017-10-19 20:33] #29 closed

[2017-10-19 21:45] juangalalz opened #34 "Support sending UTF-8 encoded strings in body (for use with SOAP API)"
Hello I need to consume an api that is made in soap, so the body is an xml like this:
[code]
I send this body as a string:

[code]

this.envelopeBuilder(method, this.createXmlBody(method, param)) give me a string and works fine with http from @ angular / http

but with the http of @ ionic-native / http does not work for me, apparently the body is treated and does not arrive as it is to the server.

[2017-10-20 07:47] leongzw commented on #34
+ 1 for this, due to the new introduced ' cordova-plugin-ionic-webview ', it enforces CORS which the previous plugin doesn't, and we couldn't able to configure at api side, we couldn't use http from angular to call soap api anymore

[2017-10-20 12:41] cnotoham commented on #32
Hi @silkimen,

That will be great. I am pretty sure this will benefit the wider community.

[2017-10-20 12:59] silkimen commented on #24
Do we really need to provide URL here? Isn't it better to provide host part instead?

e.g.
using this `setHeader('google.de', 'myKey', 'myValue')`
instead of `setHeader('https://www.google.de/?gws_rd=ssl', 'myKey', 'myValue')`

[2017-10-20 16:45] silkimen commented on #24
will be included in v1.7.0

[2017-10-20 16:45] #24 closed

[2017-10-20 17:59] enayetn opened #35 "Android Headers are not normalized (not returned in lowercase)"
Hello,

I have observed that iOS headers are returned in lowercase whereas Android preserves the case sent by the resource. Is this expected?

Thanks,

[2017-10-23 08:21] silkimen commented on #33
Hi longzheng,
can you provide me some more info? What exactly is the server responding? Is it a location header like `Location: http://www.example.com/`?

[2017-10-23 08:25] silkimen commented on #30
Hi Thomas,
sorry, we won't support this in the near future. But feel free to fork this repo and implement it according to your needs.

[2017-10-23 08:45] longzheng commented on #33
Yep, if the response redirects, then the redirected URL is returned.

The ``response`` object in many request APIs have a ``url`` property that is this URL.

e.g. https://developer.mozilla.org/en-US/docs/Web/API/Response/url

[2017-10-24 08:48] silkimen commented on #33
OK, but if we are talking about the `Location` header, you can also get it from the headers property, don't you?  Do you really need to have another property? I understand it would be easier to handle for you, but I think it's a convenience function. Or do I misunderstand your problem?

[2017-10-24 08:51] silkimen commented on #35
Hi Nabil,
nope, we had decided to normalize the header keys by returning them in lowercase. We must have forgotten to implement it for Android. Thanks for the notice!

[2017-10-24 09:37] longzheng commented on #33
I think the missing link is the fact that the redirect occurs in a series of HTTP response(s), and the resulting page does not have the ```Location``` header.

For example, in this sequence of HTTP events

Request ```GET https://www.test.com/request```

Response
[code]

Request ```GET https://www.test.com/newaddress```

Response
[code]

Your response object will return ```Hello world```, but there

[2017-10-24 12:10] inabhi9 commented on #26
Any update? Setting `this.http.setDataSerializer( "json" );` doesn't work

[2017-10-24 12:30] matodrobec commented on #26
@bdoooh I did it as you can see in this issue above https://github.com/silkimen/cordova-plugin-advanced-http/issues/26#issue-263419270 . The problem is that secound param of http.post can be object. I would like do json request with data like Array or Json string. I do not know how to do

[code]
OR
[code]

[2017-10-24 12:31] silkimen commented on #33
Ah ok, now I see the problem! I'll check how to implement this one.

[2017-10-24 12:33] longzheng commented on #33
I believe AFNetworking will actually return the URL in the response object, should be able to pass that back as well? https://stackoverflow.com/questions/43556469/how-to-get-full-response-string-in-afnetworking-from-server

I'm sure the Android equivalent has something similar?

[2017-10-24 12:54] inabhi9 commented on #26
This only affects Android version and by looking at the code, it seems most all Cordova http method needs overridden function for `JSONArray params`. I'll try to submit PR if it works

[2017-10-24 13:04] silkimen commented on #26
Hi guys,

sending JSON arrays is not supported, atm. @inabhi9 are you sure it's only affecting Android?

I see the problem for Android in e.g. [CordovaHttpPlugin.java L56](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/android/com/synconset/cordovahttp/CordovaHttpPlugin.java#L56), because it's a JSONObject and not JSONArray.

But I think it could also be a problem with iO

[2017-10-24 13:07] inabhi9 commented on #26
@silkimen Yes I just tested in iOS 10.3

with this code

[code]

and resulted in successful request

![image](https://user-images.githubusercontent.com/1921170/31944628-57e417de-b8ea-11e7-8c80-777e956aaff0.png)

[2017-10-24 13:16] #30 closed

[2017-10-24 14:00] bdoooh commented on #26
@matodrobec it should look something like this..

[code]

[2017-10-24 14:58] nabil-nuvolo commented on #35
Just curious - why cast to lowercase?

[2017-10-24 15:22] silkimen commented on #35
HTTP header keys are meant to be case-insensitive, see [RFC7230 - Section 4.2](https://tools.ietf.org/html/rfc7230#section-3.2). Accessing them with a normalized identifier is easier.

e.g. you don't want to check for both `Content-Encoding` and `content-encoding` just because one server decided to send it lowercase and another uppercase. So basically it's just a convenience function.

[2017-10-24 15:30] enayetn commented on #35
I would request that a switch be enabled that allows the developer to control whether it is cast to lower case or not. Either that, or offer a getHeader function that takes whatever header I want to retrieve and casts it in the background.

Thanks for your work on this!

[2017-10-25 04:31] matodrobec commented on #26
@silkimen  @bdoooh @inabhi9  I am using Android platform

[2017-10-25 19:14] enayetn commented on #26
Hi, I am seeing exactly the same Issue.

Using POST with an array as the input data, Android fails to complete the request and returns an error of "JSON Error"

The same call on iOS works perfectly fine.

[2017-10-25 19:48] enayetn commented on #26
I have solved this for now by sending by data as an object instead of an array

`['item1','item2']` becomes

[code]

Luckily I control the server in this case.

[2017-10-26 09:05] silkimen commented on #35
OK, I could implement a getter, but what do you need the case-preserving key for? You shouldn't rely on that, because basically every intermediate device can also change it.

And another problem is that iOS always returns  e.g. `Content-Encoding` even if the server responds with `CONTENT-ENCODING` or `content-encoding`. So basically iOS itself already canonicalizes it, but unfortunately only for t

[2017-10-26 09:13] silkimen commented on #26
@inabhi9 are you currently working on that problem?

[2017-10-26 09:16] inabhi9 commented on #26
@silkimen Yes I'm trying and hopping to complete it by sunday. If you could do before that feel free to proceed

[2017-10-26 09:38] silkimen opened #36 "Setting basic authentication not working correctly"
Setting up basic authentication via `useBasicAuth` is not working when used before setting another header via `setHeader`.

[2017-10-26 10:12] #36 closed

[2017-10-26 10:13] silkimen commented on #36
fixed in v1.7.1

[2017-10-26 12:01] enayetn commented on #35
Hi @silkimen thanks for your response. My understanding of the spec is that resource end points accepting headers should never consider case when creating header keys, thus they should **accept** case insensitive headers as a resource owner.

However my understanding is that this library serves to bring requests back to a client. Having dealt with primary front end/clients for most of my career th

[2017-10-26 14:32] jkfb opened #37 "Receiving headers for a URL not working correctly"
The `getMatchingHostHeaders` method determines the headers for a URL based on the domain and port, but the `setHeader` method sets the header based on the domain without the port.

[2017-10-26 15:23] silkimen commented on #35
Hi Nabil,
you are right, we will need to document this behavior to prevent confusion, just like the node.js docu does. Otherwise, other people will also be confused.

I'll fix the Android issue in upcoming v1.7.1

Thanks for your suggestion on this topic!

[2017-10-26 15:35] #35 closed

[2017-10-27 09:58] silkimen commented on #37
I've checked that, but I don't see a problem here. `setHeader` method sets the header just the way you pass it in:

[code]

I mean we'll need to document this, but I think it's behaving correctly. Did I miss something?

[2017-10-27 11:21] silkimen commented on #26
@inabhi9 I'll fix it. I think it'll be ready today.

[2017-10-27 11:31] inabhi9 commented on #26
@silkimen Awesome! Waiting for your patch...

[2017-10-27 12:21] jkfb commented on #37
No you didn't. I assumed that it was your intention to set a header by specifying just the hostname without the port.

[2017-10-27 12:47] silkimen commented on #37
OK, I've added a notice in the docu.

[2017-10-27 12:47] #37 closed

[2017-10-27 14:21] #26 closed

[2017-10-27 16:38] enayetn commented on #26
@silkimen doing `cordova plugin add` still returns me 1.7.0 not 1.7.1, any ideas?

[2017-10-27 16:53] silkimen commented on #26
@enayetn I've released it just now. Can you try again?

[2017-10-27 17:08] enayetn commented on #26
@silkimen WORKS! 🎊  thanks so much for this update!

[2017-10-30 01:12] yaozuwang commented on #8
I am still getting this error, the reference is fine

[2017-10-30 15:59] MatthieuNarcisi commented on #34
+1 for this too. We need to be able to send raw XML to our server (old API) and do need the requests to NOT be serialized. Sent as raw.

[2017-10-31 06:45] Faisalali23 commented on #27
On success completion response object is not passed that`s why it only returns status and header
- find the file "CordovaHttpPlugin.m" in plugins folder
- find the method "(void)uploadFile:(CDVInvokedUrlCommand*)command" in above mentioned file
- Change the line in above mentioned method
[self handleSuccess:dictionary withResponse:(NSHTTPURLResponse*)task.response andData:nil];
to this:
[self hand

[2017-10-31 08:39] icenevins commented on #8
I got the same problem too. I think it's solved

[2017-11-01 13:49] AlekseiFalshtynskii opened #38 "NSException SSL pinning"
Hello.
I have problems with ios.
I have the latest version of the plugin - 1.7.1.
When checking the certificate for ios error: "libc++abi.dylib: terminating with uncaught exception of type NSException"
But the Android works well.
Could you help me, please?

[2017-11-02 13:49] AlekseiFalshtynskii commented on #38
I'm sorry. I figured it out. The certificate was in an incorrect encoding. Close issue.

[2017-11-02 13:49] #38 closed

[2017-11-02 14:41] silkimen commented on #33
will be added in v1.8.0

[2017-11-02 14:41] #33 closed

[2017-11-03 14:44] silkimen commented on #27
I can confirm that this problem is a bug in iOS implementation. It will be fixed in v1.8.1.

[2017-11-03 14:51] #27 closed

[2017-11-03 15:00] silkimen opened #40 "Generic error codes are different on Android and iOS"
On iOS generic errors are returned with error code -1 whereas on Android it's 500. I think it should be -1 for both platforms, because 500 is confusing as it is a valid HTTP error code.

[2017-11-03 15:02] Faisalali23 commented on #27
Yes it is bug while implementing for ios

[2017-11-05 16:19] dalezak opened #41 "Post Request Never Executes, No Response Returned"
I posted this issue on [Ionic Forum](https://forum.ionicframework.com/t/native-http-post-request-never-executes-no-response-returned/110473), but since it's likely a plugin issue thought I'd post it here as well.

I'm using [Ionic Native HTTP](http://ionicframework.com/docs/native/http/) plugin `4.3.2` with Ionic Angular ` 3.7.1` on iOS 11 to POST data to a server. However the request never seems

[2017-11-07 12:04] silkimen commented on #41
Hi dalezak, I'm not able to reproduce your problem. Are you sure it's a plugin problem? Would you please try updating Ionic Native HTTP plugin to version 4.3.3?

[2017-11-07 12:31] #40 closed

[2017-11-07 23:32] AlexGoo commented on #41
Hi, I have exactly the same problem. GET is working and POST no. Using http angular the same post works.

[2017-11-08 00:56] dalezak commented on #41
@silkimen I've upgraded to `"@ionic-native/http": "4.3.3"` and `"cordova-plugin-advanced-http": "1.7.1"` but still no luck, POST never gets back a response.

[2017-11-08 01:51] laiyinjie opened #42 "version 1.8.1"
When can i pull the version 1.8.1 ?

[2017-11-08 09:36] silkimen commented on #41
That's interesting. Can you please provide some more info?

- Which OS is affected? iOS, Android, both?
- Which OS version are you running on?
- Is your application running behind a proxy, firewall, etc.?

[2017-11-08 10:21] silkimen commented on #42
It's released now.

[2017-11-08 10:21] #42 closed

[2017-11-08 10:58] AlexGoo commented on #41
Hi,
In my case the problem appears only on ios. I have the last ios version 11.1.
Also I have updated to 4.3.3 and 1.7.1.

[2017-11-08 23:47] silkimen commented on #41
Ok, I've created a ionic demo application with following components:

- cordova-plugin-advanced-http 1.8.1
- ionic-native/http 4.3.3

And this is my ionic setup:
[code]

I'm using following URL for testing purposes "http://httpbin.org/anything". I've tried setting data serializer to "json" and "urlencoded".

I've tested it on iPhone X emulator with iOS 11.1 and on a real device iPhone 6s with iOS

[2017-11-10 02:01] cnotoham opened #44 "getCookieString should be exposed"
Hi,

Is there any reason why getCookies in https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/www/cookie-handler.js#L48 is not exposed in ionic?

According to the ionic documentation at https://ionicframework.com/docs/native/http/, the only methods exposed are ClearCookies and RemoveCookies

Thanks,
Cornelius

[2017-11-10 09:51] AlexGoo commented on #41
Hi,

So I have solved the issue by updating to 1.8.1 and before request setting the encoding to json or urlencode, depending on what I need. Also one thing that I saw and I did not find anywhere to be specified is that when using POST or PUT the param sent as payload must be passed as an object not as JSON stringfied or an already encoded url because the plugin will attempt to stringfied what you

[2017-11-10 15:04] dalezak commented on #41
Thank you @AlexGoo, I'll test it out!

Looks like `1.8.1` has the function `setDataSerializer`:

[code]

[2017-11-10 17:16] dalezak commented on #41
Hmm @AlexGoo, I upgraded to `1.8.1` but still no luck :cry:

[code]

[2017-11-10 18:37] AlexGoo commented on #41
I think you also need to add the content type as header. Also did you intercepted the post to be sure that the body is ok formatted ?

[2017-11-10 19:41] dalezak commented on #41
@AlexGoo looks like that did the trick! Setting `Content-Type` helped, although also needed to change `Accept` from `application/json;charset=UTF-8` to just application/json`.

Perhaps the `application/json;charset=UTF-8` was causing the issue?

[code]

[2017-11-13 14:32] dalezak commented on #41
I believe this is now resolved, closing issue 👍

[2017-11-13 14:32] #41 closed

[2017-11-13 14:52] silkimen commented on #44
Hi Cornelius,

it's not exposed in ionic because it's not even exposed in this plugin. What do you need that function for? It's meant to be used internally to create the cookie header. Can you explain your use-case?

[2017-11-13 15:02] januslo commented on #11
Hi,any lucky >?

[2017-11-14 10:51] cnotoham commented on #44
Hi Sefa,

I have a requirement whereby I need to set Cookies into an iframe in an ionic application.

[2017-11-14 14:39] silkimen commented on #44
Hmm ok, I still don't understand your use-case. This function is meant to create the cookie header string which is sent to the server. So if I'd expose this function you'd be able to get the stored cookies for a specific server. I'm still not sure if this is a good idea (security concerns). But how do you want to use this in an iframe?

e.g. running a GET request to http://www.google.de/
[code]

I

[2017-11-14 21:56] cnotoham commented on #44
Sorry, I should have explained it to you much better. This is my project requirements ...
I have to develop a single sign on (SSO) app.  Authentication is achieved by using this advanced-http plugin and got the Cookies from the server.  I then need to load an app within an iframe.  This app is loaded via the same authenticator and this authenticator needs the cookies otherwise it will redirect to

[2017-11-16 22:24] silkimen commented on #44
Ok, thank you for your detailed description. The function "getCookieString" will be exposed in v1.9.0.

[2017-11-16 22:24] #44 closed

[2017-11-17 14:57] AlekseiFalshtynskii opened #45 "Doesn't encode arrays correctly as HTTP GET parameter on Android"
Hello!
How can I send a GET request with an array parameter?
For example,
http://localhost:8081/rest/v1/payments?clientId=101216&accountIdList=101510&accountIdList=101511

accountIdList sent only so:
http://localhost:8081/rest/v1/payments?clientId=101216&accountIdList=[101510,101511]

Thank you.

[2017-11-20 10:11] ruben82 opened #46 "API should support adding custom cookies"
Hi
I'm try to send to server a request to a SMSession cookie. All works good on Android, but if I use iOS 11cannot achieve that.
Any ideas about it? Thanks

My ionic info are

[code]

[2017-11-21 07:08] cnotoham commented on #44
Thank you

[2017-11-23 11:35] softshape opened #47 "Failed with Adobe PhoneGap Build"
When compiling project with Adobe PhoneGap Build service - https://build.phonegap.com/ - it fails.

There's a mention of cordova-plugin-file in the log also:

[2017-11-23 12:13] kaceman opened #48 "Receiving different structure of data between iOS and Android when using "urlencoded" serializer"
Hello,

I'm having a problem with the post method of the plugin, There is a difference in the data structure sent from the iOS and Android client.
This is the function that sends the post request:
[code]
In the server side this is what I receive:

![image](https://user-images.githubusercontent.com/17954986/33172283-6a4ae1f4-d047-11e7-90a4-af4bd534b27f.png)

[2017-11-23 16:02] 123dma commented on #47
same problem here.

[2017-11-23 16:12] 123dma commented on #47
hello, I found the problem
1 - update your phonegap app version to last version

[2017-11-23 16:14] softshape commented on #47
123dma, where exactly it should be updated?

[2017-11-23 16:47] 123dma commented on #47
Hello, try to add in your config.xml this options

 <plugin name="cordova-plugin-device" source="npm" spec="~1.1.6" />
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.3.3" />
  <plugin name="cordova-plugin-file" source="npm" spec="~4.3.3" />
  <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.7.1" />
  <plugin name="cordova-plugin-network-information" source="npm" spec

[2017-11-23 20:28] silkimen commented on #46
Hi Ruben,
sorry for my late response. I've been busy the last days.

I didn't understand your problem. Can you describe it more detailed? Do you have some log messages?

[2017-11-23 21:49] ruben82 commented on #46
Hi @silkimen thanks' for replying me.
In my app I need to send a header as Cookie called SMSession. So I added it to my code

`this.http.setHeader('cookie', 'SMSESSION=MY_SESSION_TOKEN');`

All works well on Android, in fact my HttpServletRequest on the Java server has got the cookie that plugin sent.
No cookie is sent if I do it on iOS (iOS 11), so my app does not work 'cos do not appear as authe

[2017-11-24 09:13] ruben82 commented on #46
Hi @silkimen I think there's a change to do for iOS 11
I do it in plugin code.. I'm trying to understand all steps to make a proper pull request

[2017-11-24 10:09] silkimen commented on #46
Ah ok, now I understand your problem!

Actually, it's not meant to be used like that. The header "cookie" is a special one and is handled internally. It's not meant to be set with `this.http.setHeader()`, because it will be overwritten automatically [here](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/www/advanced-http.js#L130).

Atm, it's also not possible for you to call `

[2017-11-24 11:39] iligzar commented on #34
I'm solved for android (maybe is not right)
**_With this.http.setDataSerializer('json');_**
[code]
**_With this.http.setDataSerializer('text');_**

**Files:**

 /node_modules/cordova-plugin-advanced-http/src/android/com/github/kevinsawicki/http/HttpRequest.java

/plugins/cordova-plugin-advanced-http/src/android/com/github/kevinsawicki/http/HttpRequest.java

**Add :**

_~119 row_
[code]
_~2757 row_

[2017-11-24 13:25] silkimen commented on #48
Hi kaceman,

can you please show me the complete content of `data` before sending it to the server? I need the steps to reproduce this problem.

e.g.
[code]

btw, why do you create a new Promise? You could also do:

[code]

[2017-11-24 16:19] ruben82 commented on #46
@silkimen I got the problem.. I try to explain even if it's very tough.
I spend all day long to got the solution.

There're two problems:
1) This plugin put cookie by through a merge header. This works fine on android but not on iOS: I have to set cookie explicitly. So I added at the file **advanced-http.js** row 169 this code

[code]

2) **[Ionic http native](http://ionicframework.com/docs/native

[2017-11-24 16:31] silkimen commented on #45
Hi Aleksei,

I've checked how to send arrays in a HTTP GET request. Unfortunately, there is no specification about that. You can have a look into [this StackOverflow discussion](https://stackoverflow.com/a/3061292).

So basically, I can think about at least 4 ways to encode arrays:
1. ?myArray[]=valA&myArray[]=valB
2. ?myArray=[valA,valB]
3. ?myArray=valA&myArray=valB
4. ?myArray=valA,valB

The fi

[2017-11-24 18:00] silkimen commented on #46
@ruben82 there is no problem in this plugin, it's by design that you can't set a cookie header by using the function `setHeader()`.

Cookies do have properties which define e.g.:
* how long they are valid
* which domain they belong to

That's the reason I've decided not to allow setting cookies by just adding a header value. Otherwise it wouldn't be RFC compatible.

But I've added a new function `

[2017-11-24 18:00] #46 closed

[2017-11-24 19:14] silkimen commented on #47
This problem is caused by the fact that this plugin depends on "cordova-plugin-file" >= v2.0.0, which causes cordova to load the latest version of this plugin during `cordova prepare` when there is no pinned version.

Basically, this is no problem, but when you are running a cordova version < 6.3.0, current version of the file plugin is not compatible and it's not installed during cordova prepare.

[2017-11-26 02:42] #45 closed

[2017-11-26 17:35] MrShakes opened #49 "Error: package org.apache.cordova.file does not exist"
Build is working fine for IOS however failing for Android, I get this error:

[code]
Plugin version 1.8.1

My guess is that it just needs to point to the file plugin correctly

System:

[code]

[2017-11-27 08:35] ruben82 commented on #46
thanks @silkimen  but if ionic/native HTTP does not expose this method, who uses ionic can't call this, can he?

[2017-11-27 11:25] matijse commented on #9
I've noticed that on iOS the order of the calls is important.

First call `enableSSLPinning(true)` and then `acceptAllCerts(true)`.

Details:

When you call `enableSSLPinning` [source](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/ios/CordovaHttpPlugin.m#L111), a `AFSecurityPolicy`object is created.

When you call `acceptAllCerts` [source](https://github.com/silkimen/cor

[2017-11-27 14:00] corran2go commented on #34
Don't know why, but `this.http.setDataSerializer('json');` allows sending XML but uses `'content-type': 'application/json; charset=UTF-8',` and it can't be overridden by a custom header `'Content-Type': 'application/xml; charset=utf-8'`

[2017-11-28 03:15] CNzhangs opened #50 "can this plugin support cancel operation ?"
hi,can this plugin support  cancel  http request for Android?Or how can i implement this function base the plugin ?

[2017-11-28 10:43] MrShakes commented on #49
Upgrading Android to version 6.3.0 solves the problem, some incompatibility issues there.

[2017-11-28 10:43] #49 closed

[2017-11-29 19:30] AlekseiFalshtynskii commented on #45
Hi Sefa!
Thank you!

[2017-11-30 13:40] iligzar commented on #34
_this.http.setDataSerializer('json');_ with XML work for Android but don't for iOS.

[2017-12-01 05:46] iligzar commented on #34
**This method is wrong, but work**
I use  **this.http.setDataSerializer('json');**
[code]
**For iOS**
I am overwrite **AFURLRequestSerialization.m** file
_/plugins/cordova-plugin-advanced-http/src/ios/AFNetworking_
_/node_modules/cordova-plugin-advanced-http/src/ios/AFNetworking_

[code]

[2017-12-03 14:53] havenht opened #51 "Not working for ios 11"
I use cordova.plugin.http.post and it keep go to error response. ios 10 and below work fine.

[2017-12-09 05:18] cnotoham commented on #32
Hi @silkimen,
 I am now using ionic.  So don't worry about this request.

Thank you.

[2017-12-12 17:24] #47 closed

[2017-12-12 22:31] ganey commented on #51
Also having this issue :(

[2017-12-14 13:59] silkimen commented on #51
Hi guys,

can you please provide more info?

- cordova version
- cordova iOS platform version
- plugin version
- which data serializer are you using?

[2017-12-14 14:20] ganey commented on #51
Apologies,

I was on Cordova 7.0.1, cordova-ios 4.5.3, I can't remember the others though.

I wasn't specifying a serializer, does that make it default to urlencoded?

I have since re-setup my project and reinstalled the plugins and node modules and everything is working correctly.

I've been using it with Ionic, and it's possible that it was just an issue with how I was using the plugin, rather t

[2017-12-14 17:24] havenht commented on #51
cli-7.0.1 , ios: 4.4.0 , cordova-plugin-advanced-http   version: 1.9.0, adobe phonegap build site,

[2017-12-15 16:57] fanfavorite opened #52 "Enabling TLS in iframe"
This plugin works great to enable TLS for post and get functions for Android 4.1+. My issue now is that I need to enable TLS for iframes as well. Can I use this plugin to somehow do that?

[2017-12-18 18:35] silkimen commented on #51
@ganey thanks for your feedback!

@havenht can you show us some example code and result (error message)? You can try to post some data to http://httpbin.org/post for example.

[2017-12-18 18:51] silkimen commented on #50
Hi CNzhangs,

this plugin does not support canceling ongoing http requests. And honestly I don't know how to implement it, because http-request (Android library, which we are using) doesn't seem to support it. But feel free to fork this plugin and start experimenting! Maybe you can modify the library accordingly.

[2017-12-18 19:07] havenht commented on #51
i use your basic examples for post and get. Both doesn't work for ios 11, but work for ios 10 and below. You should test it out on ios 11 on your end.

cordova.plugin.http.get('https://google.com/', {
  id: 12,
  message: 'test'
}, { Authorization: 'OAuth2: token' }, function(response) {
  console.log(response.status);
}, function(response) {
  console.error(response.error);
});

[2017-12-19 16:26] silkimen commented on #51
Actually, I did already test on iOS 11 (Simulator and Device) and I don't face any problems.

Atm, my specs are configured to run against iOS 11 locally on my dev machine (see [here)](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/app-mocha-specs/helpers/caps.js#L12-L18) and to run against iOS 10.3 on saucelabs (see [here](https://github.com/silkimen/cordova-plugin-advan

[2017-12-20 23:06] TheCelavi opened #53 "Error triggered on server response with status code 200"
I am fetching data from: http://www.spreaker.com/show/2756602/episodes/feed

Simple get method. Promise resolves to error, Response status code is 200, and content of error property is XML content of above given URL.

Am I doing something wrong? Or it is a bug?

[2017-12-26 09:18] emreeay opened #54 "Requests are not responding on iOS with non-string values in header object"
Firstly, thank you so much for this plugin. It's the only usable plugin for these kind of requirements.

I noticed a little, but a frustrating issue on iOS. If there is non string value in header object, plugin returns nothing.  I didn't stumble upon the same issue on Android however. It works well on there.
For example:

[code]
 works well. However, if we change "someVar"s value into integer 2, u

[2017-12-27 13:23] Deepanshwad opened #55 "SSL Pining is working after removing certificate."
Hi,

First of all SSL Pining is working as expected but for the first time like we add certificate and run the application, it works  but if we remove certificate and re-run the app than it again works and get the success response. Ideally it shouldn't work as i have removed the certificate file from assets folder.

[2018-01-02 21:48] nikmartin commented on #53
I am also getting a 200 response in the catch error object.

[2018-01-02 21:50] nikmartin commented on #51
I am getting the http 200 response in the error handler as well. I'm using the ionic native wrapper if that matters

[2018-01-03 01:16] silkimen commented on #54
Hi emreeay,

thank you, you're right! It should at least throw an error instead of doing nothing.

[2018-01-03 01:23] silkimen commented on #53
Hi TheCelavi,

which version of this plugin are you using? Which platforms are affected? Do you use the ionic-native wrapper?

[2018-01-03 01:25] silkimen commented on #55
HI Deepanshwad,

that's interesting. Honestly, I've never tested this use-case.

- Which version of this plugin are you using?
- Which platforms are affected?
- Do you use the ionic-native wrapper?

[2018-01-03 01:34] silkimen commented on #51
Hi nikmartin,

is your backend a public webservice I can reach and test against? Did you already try to post some data to http://httpbin.org/post? I'd like to find out if it's caused by a specific value in the response, because I don't face any of the mentioned problems on my side.

[2018-01-03 01:35] #50 closed

[2018-01-03 02:52] nikmartin commented on #51
Yes, it's a shared iCal file located here: https://outlook.office365.com/owa/calendar/f601ad847ba74f0b87dc64989512bd4d@mcpss.com/46c96d0559e749a796af4aca6623c02d15003821461964994350/calendar.ics

I fetch it using ( this is angular/typescript using the http native ionic plugin wrapper):

[code]

And the catch receives a 200 status and the message is the actual output

[2018-01-03 12:24] Deepanshwad commented on #55
Hi,
Thanks, please find my response:
Which version of this plugin are you using?- **cordova-plugin-advanced-http 1.9.0**
Which platforms are affected? **I am using on Android**
Do you use the ionic-native wrapper? **YES**

[2018-01-03 15:17] silkimen commented on #52
Hi fanfavorite,
you'll need to implement a "bridge" between your main window and the iframe. You can achieve this by using [cross-document messaging](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage).

[2018-01-03 15:43] alan-grixti opened #57 "Session cookies not present in file download requests"
Hi,

I am using the plugin for downloading files from a secured endpoint via HTTP only session cookies. Any requests following the login work and do forward any session cookies set. However, this does not seem to be the case when it comes to file download requests.

[2018-01-03 18:54] nikmartin commented on #51
I will try this now and let you know. BTW the plugin works fine with that URL on Android, this is only on iOS, but occurs on every version I've tried, from 9.3 to current.

[2018-01-03 20:48] nikmartin commented on #51
POST-ing from the app to httpbin/org/post using the plugin on iOS works. Here's the response when I run the function above, with the iCal url:

[code]

[2018-01-03 20:58] nikmartin commented on #51
This may be of interest:

` "content-type":"text/calendar; charset=utf-8" `

[2018-01-03 21:28] nikmartin commented on #51
I temporarily am working around the issue by just checking the errror status code and if it's 200 assume that 'error' is actually 'data'.

If you would like me to debug anything further, I'll be glad to. If it was Android I would have already done a pull request with a patch, but I'm not an iOS dev by any stretch of the imagination.

[2018-01-03 23:40] #54 closed

[2018-01-04 00:43] silkimen commented on #51
Ah ok, now I got it! 💡

This issue is caused by the content type header "text/calendar". There is a white-list of allowed content types ([see here](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/ios/TextResponseSerializer.m#L26)) and "text/calendar" is not listed there.

I think the white-list was meant to prevent problems with not supported data types, but it's only caus

[2018-01-04 00:51] silkimen opened #58 "iOS: white-list of allowed content-types should be removed"
On iOS responses are checked against a list of allowed content types whereas on Android every content type is allowed.
This is only causing problems, because people are confused receiving an error while having a HTTP status code 200 (e.g. #51). We should remove the white-list and just allow every kind of content type.

[2018-01-04 01:05] #58 closed

[2018-01-04 01:15] silkimen commented on #53
This issue should be fixed with upcoming version 1.9.1. See issue #58 for further information.

@TheCelavi I'm closing this issue now. Please feel free to re-open it, if version 1.9.1 is not fixing your problem.

[2018-01-04 01:15] #53 closed

[2018-01-04 03:17] silkimen commented on #57
Hi alan,

I wrote two specs to reproduce your problem ([see here](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/app-test-definitions.js#L317-L366)). But I don't face the problem you have mentioned.

Is it possible to get access to your endpoint? I'd like to test against your backend.

[2018-01-04 07:19] Immortalt opened #59 "clearCookies doesn't take effect"
I run the code
`cordova.plugin.http.clearCookies();`
However the cookie still exists.
The server still get the cookie so I failed to achieve my function.
also,the setCookie function went with errors.
How can I fully control my cookies？

[2018-01-04 08:05] alan-grixti commented on #57
Hi Sefa,

Thanks for your response, Unfortunately the backend is not accessible. However I can give you more information as you wish. I have one quick question to ask though.  I see in your specs that you are setting the cookies manually. Is this the default behavior, or are any cookies set prior to the specific request expected to be forwarded automatically? As this is the behavior I am seeing wh

[2018-01-04 08:26] TheCelavi commented on #53
@silkimen Sorry for not replying - your response/solution is very acceptable for me, thank you!

[2018-01-04 08:39] ChanChanGR opened #60 "XCSRF token handling"
cordova-plugin-advanced-http doesn't have a header to send csrf token in post request to sap gateway..is there any solution?

[2018-01-04 09:36] ChanChanGR commented on #60
How to fetch csrf token in cordova get request??

[2018-01-04 09:37] ChanChanGR opened #61 "How to fetch CSRF Token in cordova-plugin-advanced-http get method"

[2018-01-04 12:04] silkimen commented on #57
I'm setting the cookies manually, just because it's easier for implementing the specs. But of course default behavior is to handle "Set-Cookie" headers received from server and to automatically forward them on following requests.

You can start your app via XCode or Android Studio depending on the platform you are developing for and set breakpoints in the native code.

To see if the cookie header

[2018-01-04 12:23] silkimen commented on #59
Hi Immortalt,

Can you please provide following information?

- plugin version
- cordova version
- cordova platform versions
- which platforms are affected
- example snippet of code

Thank you!

[2018-01-04 13:20] Immortalt commented on #59
plugin version: 1.9.0
cordova version: 6.5.0
cordova platform versions: android 6.2.3
which platforms are affected:android
example snippet of code:
`cordova.plugin.http.clearCookies();
cordova.plugin.http.setDataSerializer('urlencoded');
cordova.plugin.http.post(url, data, head, function (response) {
      try {
        resp(response);
      } catch (e) {
        err(e);
        console.error(e);

[2018-01-04 13:33] alan-grixti commented on #57
Fantastic support, will look into it asap and get back to you. So far I've only tested on Android. Will keep you posted about iOS.

Thanks once again!

[2018-01-04 14:22] silkimen commented on #60
Hi ChanChanGR,

I'm sorry, but I didn't understand your problem. Do you want to set a header during post request?

This is possible by providing a header object, e.g.:
[code]

Please check the [README](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md) file for API documentation. You can also find many examples in the [spec file](https://github.com/silkimen/cordova-plu

[2018-01-04 14:53] silkimen commented on #61
Duplicate of #60

[2018-01-04 14:53] #61 closed

[2018-01-04 14:55] Immortalt commented on #46
I also need to fully control my cookies so as to achieve some special functions.

[2018-01-04 15:01] Immortalt opened #62 "cordova.plugin.http.setCookie went wrong"
plugin version: 1.9.0
cordova version: 6.5.0
cordova platform versions: android 6.2.3
which platforms are affected:android
example snippet of code:

[code]

these code went wrong with error:
str.trim is not a function

[2018-01-04 15:27] silkimen commented on #46
@ruben82 you are right, but you'll need to open an issue in the [ionic-native repository](https://github.com/ionic-team/ionic-native) for this issue, because it's not a problem of this plugin, but a lack of implementation of the wrapper functionality.

@Immortalt this plugin does give you full control of cookies. You can programmatically add, remove and clear all cookies. Please read the API docum

[2018-01-04 15:28] Immortalt commented on #59
I'm waiting for you online, it's urgent.

[2018-01-04 15:55] silkimen commented on #62
You need to provide a RFC-compliant cookie string, NOT an object as second parameter. e.g.:

[code]

But why do you want to set an empty cookie? You can also delete the cookies you don't need.

By the way, this is explained in the documentation:

[2018-01-04 16:12] silkimen commented on #59
I can't reproduce your problem. You can also check [my specs here](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/app-test-definitions.js#L335-L352) as reference.

But I don't understand exactly what you're doing in your example snippet of code. What are `resp()` and `err()` doing? Why do you encapsulate `resp()` into a try-catch block?

[code]

Can you please show me th

[2018-01-04 16:17] silkimen commented on #51
I'm closing this issue now. Please feel free to re-open it, if #58 is not fixing your problem.

[2018-01-04 16:17] #51 closed

[2018-01-04 16:47] Immortalt commented on #59
`getCookie(cookie, name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = cookie.match(reg))
            return arr[2];
        else
            return "";
    }`

[2018-01-04 17:41] Immortalt commented on #46
Would you please give me some example code of the function
setCookie(url, cookie, options)?
I tryed to control my cookie for a whole day, very tired, and failed.

[2018-01-04 17:44] Immortalt commented on #62
Thank you! I'm trying your code.

[2018-01-04 17:49] Immortalt commented on #62
I also failed to control my cookie.
It's the "Two Cookie Header" problem.

**As the request has two cookie header, although the plugin controlled the first cookie header,
the second cookie header which came form the set-cookie header cause server can't recognize the cookie.**

[2018-01-04 19:18] Immortalt commented on #62
Finally I solved the problem.
Anyway, Thank you very much!

[2018-01-04 19:18] Immortalt commented on #62
Finally I solved the problem.
Anyway, Thank you very much!

[2018-01-04 19:18] #62 closed

[2018-01-04 19:18] Immortalt commented on #59
Finally I solved the problem.
Anyway, Thank you very much!

[2018-01-04 19:18] #59 closed

[2018-01-05 10:05] naveddeshmukh opened #63 "Ability to upload multiple files"
### Feature Request
Currently, the plugin only supports one file per upload request. However, there may be a scenario where multiple files have to be sent.

[2018-01-05 11:36] Deepanshwad opened #64 "How to send FormData in post request?"
Hi,

Can you please help me out that how to send FormData in post request. I have tried at my end but its not going.

Thanks

[2018-01-05 23:17] Bessonov commented on #44
Hello @silkimen,

I don't use this plugin yet, but is there any way to access HttpOnly cookie?

[2018-01-08 16:10] fanfavorite commented on #52
Thanks silkimen. I have used postMessage before, but not sure how you would use that to enable TLS 1.2? Any help would be appreciated.

[2018-01-09 14:07] maximilianloy commented on #64
Same issue here:

`        var formData = new FormData();
        formData.append('upload_preset', this.upload_preset);
        formData.append('file', new Blob([new Uint8Array(imageData)], { type: 'image/jpg' }));
        return this.http.post(this.config.imageUploadUrl, formData)
          .then((res) => {
`

[2018-01-09 14:11] Deepanshwad commented on #64
Hi @silkimen ,

Can you please help on this? At-least we should know weather this plugin support or not? Then i'll move into some different direction.

Thanks

[2018-01-09 14:39] Kanishk94 commented on #64
Hi
Same issue here:
I’m trying to post a FormData type object, but it doesn’t seem to work for me. Below are some lines from my code, just see if you can suggest something in this approach:

let clientConfirmData = new FormData();
var blob = new Blob([this.signature], { type: ‘image/png’ });

clientConfirmData.append(“patientConfirmation”, blob);

this.http.post(url, clientConfirmData, headers)
.t

[2018-01-09 14:46] maximilianloy opened #65 "JSON with multiple layers is not properly posted"
I am trying to post to my server a JSON object but only the "first layer" is parsed properly. Seems like it does not do "deep parsing":

[code]

This is what I receive at the server side:
[code]

[2018-01-09 18:26] silkimen commented on #64
Hey guys,
unfortunately, this is not supported by this plugin. @Kanishk94 you can use `uploadFile` for transfering a file, but you won't be able to add custom fields.

[2018-01-10 02:39] silkimen commented on #52
You can use this plugin only in your main window (the cordova-enabled one), but you need to interact with it out of your iframe. So the idea is to create some kind of "bridge" between these two.

e.g. in your iframe you would do something like:
[code]

which will call the plugin on the main window like:
[code]

So `myBridge` needs to implement functionality, which is accepting parameters for the c

[2018-01-10 02:50] silkimen commented on #44
Hi @Bessonov,
yes, you can access HttpOnly cookies just like the other cookies by calling `getCookieString(url)`.

[2018-01-10 15:11] fanfavorite commented on #52
Thanks. Appreciate the code examples and explanation. I understand this way to call different functions, however when the iframe URL is blocked due to TLS 1.2, that won't trigger the myBridge code as its already denied trying to access the page. Am I missing something for that? I realize I wasn't as clear as I should have been above, so I apologize for that. I was thinking I could populate the ifr

[2018-01-10 21:24] Bessonov commented on #44
Thank you for your response, @silkimen! But I don't think this is a good idea, because this isn't intended behavior of HttpOnly and leads to [XSS](https://www.owasp.org/index.php/HttpOnly). Therefore I can't use this plug in :(

[2018-01-11 05:00] ChanChanGR opened #67 "ssl pinning not working"
I am using cordova-plugin-advanced-http plugin to enable ssl pinning in my cordova project,I downloaded DER encoded binary format with .cer extension certificate from url in chrome and placed certificate inside www/certificates,

cordova.plugin.http.enableSSLPinning(true, function() {
  console.log('success!');
}, function() {
  console.log('error :(');
}
In above piece of code it always goes to s

[2018-01-11 09:42] #67 closed

[2018-01-12 01:13] silkimen commented on #52
Ah ok, now I understand your problem!

Unfortunately, you won't be able to use this plugin to achieve a solution for this scenario. You'd need to change the default request configuration of the cordova webview. I don't know if this is possible and how to do. Sorry!

[2018-01-12 16:06] ruben82 commented on #46
Hi @Immortalt  If you want to know how I solved my issue I write you the steps to do that:

- Go to **node_modules/ionic-native/http/index.d.ts** and add this method **_setHeader(host:string, header: string, value: string): void;_**
- Install [this plugins version ](https://drive.google.com/open?id=1nNqaqUtSaUNW4xEFX9QwlUE8ACM9fqNu)that I updated
- Add cookie in this way  this.http.setHeader(HOST,

[2018-01-15 11:33] jondediego commented on #34
Same issue here. Which version of the plugin are you using @iligzar? Your solution doesn't work for me on Andoird, I get an error message: "JSON Error" trying to make a call like you do.
`   http.setDataSerializer('json');
            //bodyRequest is a string that contains xml

            http.post(url ,bodyRequest, {"SOAPAction": soapaction, "Pragma": "no-cache","Content-Type":  "text/xml; char

[2018-01-22 07:07] Steve720zhang commented on #34
@jondediego
u shouldnt set 'http.setDataSerializer('json')' and '"Content-Type": "text/xml; charset=utf-8"' at the same time . its doesnt make sense.

[2018-01-22 12:26] jondediego commented on #34
Ok @Steve720zhang, so is there currently a way to send raw XML to a server with a NOT serialized body request?

[2018-01-23 12:47] dembal1990 commented on #65
Hy
I use this  befor request and solve my same problem:
` this.http.setDataSerializer("json");`
I hope this will help you

[2018-01-24 02:31] Jeason123 opened #68 "Does this plugin support setting up interceptor with ionic3 ?"
I have no idea how  the interceptor  is set  to ionic3 by the cordova-plugin-advanced-http, any professional can help me? thanks

[2018-01-24 03:26] QAQMiao opened #69 "The cookie can't be sent in the http header"
Hi,  I want to send the cookie in the http header, and the code is
`this.http.get(url,params,{
      Cookie:'token=' + token
  })`

But the cookie in the request is empty, and there is no error in console…is there any solution?

[2018-01-24 08:45] anooprehman commented on #68
I followed this [tutorial](https://blog.paulhalliday.io/2017/09/20/using-angular-httpinterceptor-with-the-new-httpclient/) to implement Angular HttpInterceptor with ionic 3. Hope this helps.

[2018-01-30 16:23] TheCelavi opened #70 "Issue when compiled with --prod flag"
If I compile app (android, ios) without --prod flag, everything works fine.

If I do that using above mentioned flag, HTTP request errors out.

I am trying to get this feed: https://www.spreaker.com/show/2756602/episodes/feed

Any idea?

[2018-01-31 18:22] TillaTheHun0 opened #71 "Query String parameters not correctly encoded on Android"
Thank you for this great plugin!

On Android, query string parameters seem to not be encoded. For example, a query string parameter with spaces "my query string" is expected to be encoded as "my%20query%20string" on the url. Instead, the spaces are left unencoded and results in an invalid url.

The current workaround is manually encoding query string parameters on Android _before_ passing it to th

[2018-02-05 14:42] jkfb opened #72 "Crash if response encoding is not UTF-8"
The plugin does not consider the charset of the _Content-Type_ header in case of an error. If the data is encoded with a different encoding than _utf-8_ e.g. in _iso-8859-1_ the plugin will crash.

[2018-02-05 22:07] timofeysie opened #74 "There was an error setting up the ssl pinning"
Hi,

I am using this plugin ionic-native/http: 3.12.1, with an Ionic app.  The app was rejected by Google Play for a vulnerability in the SSL Error Handler (WebView SSL Error Handler alerts).  I believe this is due to the plugin no enabling SSL pinning.

I have this in my base provider class:
[code]

The message I get then is *httpPlugin.enableSSLPinning catch: There was an error setting up ssl pi

[2018-02-06 13:12] silkimen commented on #69
Hi QAQMiao,

you need to set Cookies by using `cordova.plugin.http.setCookie(url, cookie, options)`. It's not meant to be set via headers. Your header param will be overwritten by internal cookie handling.

[2018-02-06 13:18] silkimen commented on #68
Hi Jeason123,

this plugin doesn't support a interceptor, but you could write your own wrapper for this plugin and implement an interception pattern.

[2018-02-06 13:20] silkimen commented on #60
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-02-06 13:20] #60 closed

[2018-02-06 13:23] silkimen commented on #57
Closing this, feel free to open a new issue (referencing this one), if this won't solve your problem!

[2018-02-06 13:23] #57 closed

[2018-02-09 09:36] silkimen commented on #34
Hi guys,

upcoming version 1.10.0 will support a new serializer `utf8`, which should solve your problem.

e.g. without ionic-native wrapper:
[code]

e.g. with ionic-native wrapper:
[code]

Basically this "serializer" is just a feature which is passing your string as plain text to the server. So I could have called it `plain`, `text` or `none`, but I've decided to call it `utf8`, because it only su

[2018-02-09 09:59] silkimen commented on #69
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-02-09 09:59] #69 closed

[2018-02-09 10:04] silkimen commented on #52
Closing this, hope you'll find another solution for your problem!

[2018-02-09 10:04] #52 closed

[2018-02-11 15:37] #71 closed

[2018-02-11 21:32] silkimen commented on #74
Hi timofeysie,

if it's failing while configuring SSL pinning it's definetly not related to the cert on the server. It's a problem within the app. The certificate file needs to be either in `platforms/android/assets/` or alternatively in `www/certificates/`. Did you try both?

If you want more detailed information, you can put a breakpoint in [CordovaHttpPlugin.java#L95](https://github.com/silkime

[2018-02-11 21:57] silkimen commented on #70
Is `--prod` an ionic flag? I've never used this and I don't know it; at least not for cordova.

Which kind of error messages do you get? Can you please post an example?

Would you please create an MVP app, so I can check what's going wrong?

[2018-02-11 21:58] silkimen commented on #68
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-02-11 21:58] #68 closed

[2018-02-11 21:59] silkimen commented on #64
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-02-11 21:59] #64 closed

[2018-02-11 22:00] TheCelavi commented on #70
Yes, it is. I turns out that issue is not in regards to your plugin, it is related to Ionic in general.

Namely, it tells to Ionic to compile javascript in production mode, which includes, but not limits, to removal of various console.log outputs etc... in order to speed up execution.

I do not think that this is right address for this issue. I am closing this, thank you for your time.

[2018-02-11 22:00] #70 closed

[2018-02-11 22:06] silkimen commented on #70
Ah OK, thanks for this interesting information!

[2018-02-11 22:07] TheCelavi commented on #70
Thank you for your hard work!

[2018-02-12 06:01] timofeysie commented on #74
I have tried both those locations for the .cer file now (previously I used the ```platforms/android/assets/``` method .  Is there any naming convention required?  The error message is the same in either case.

I am not sure how to go about setting a breakpoint on a Java source file.  Could you explain the method for that or link to an explanation of how to debug Android plugins in Ionic?

[2018-02-13 02:57] timofeysie commented on #74
Hi again.

I was able to get the debugging working in Android Studio after some problems with a Gradle updage.  Anyhow, the output from the console is:
[code]

So it's saying *OPENSSL_internal:BAD_END_LINE*, is this a problem with the certificate itself?

[2018-02-15 15:47] #72 closed

[2018-02-15 16:14] xtrembaker opened #75 "Add additionnal pinning certificates"
Hello !

First of all, thank you very much for your effort, I've been using this plugin and it works very well !

However, I wonder if It would be possible to implement natively the "addPinningCerts" functionnality which have been done in a fork (https://github.com/yyfearth/cordova-plugin-http#addpinningcerts)

I noticed that fork has not been up to date as yours, and I'll prefer to stick to your

[2018-02-16 00:25] silkimen commented on #74
Yes, seems like a problem with the certificate. Can you send me an example URL I can test against?

[2018-02-16 00:32] timofeysie commented on #74
Since finding the the error mentioned above, I have tried the advice from crb on [this forum post](https://forum.ionicframework.com/t/app-stop-normal-work-after-cordova-build-release-android/25467/3).  However, the apk was still rejected by the Play Store.

I have checked the server with https://www.ssllabs.com/ssltest/
You can try with our public facing domain: sjghcdrapp.emerging.com.au

It retu

[2018-02-16 01:23] silkimen commented on #74
Ah now I see the problem! If your cert contains `-----BEGIN CERTIFICATE-----` and `-----END CERTIFICATE-----` then it's a PEM encoded certificate, but you need a DER encoded one.

Check [this stackoverflow link](http://stackoverflow.com/a/16583429/3182729) to see how to convert it.

I didn't really understand your question. Do you want to know if you need to do this multiple times? You only need t

[2018-02-16 01:53] silkimen commented on #65
Hi maximilianloy,
I can't reproduce your problem on my side. I've also written a test case for this [(see app-test-definitions.js#L441-L448)](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/app-test-definitions.js#L441-L448). Did you configure serializer correctly, just like dembal1990 suggested?

[2018-02-16 11:05] #34 closed

[2018-02-16 19:31] maximilianloy commented on #65
I did not call setDataSerializer("json") so that is most likely the issue. But as I also have to send form data I can not use the plugin in this module.

[2018-02-16 19:31] #65 closed

[2018-02-16 21:53] darkyen opened #77 "Allow setting request specific serializer"
Hi I am currently authoring a library using this plugin. I do not want to `setSerializer` and default break all other functionality. While for most apps `json` is acceptable, I don't think forcing a global serializer is a good option in long run. It'd be awesome if you could add support for a serializer in the plugin, at the moment i am using the serializer `utf8`

[2018-02-17 00:27] jaygauten opened #78 "Android: "Content-Type" header can't be overridden"
Found in Android

Here's my code:

[code]

but when i checked the headers the `Content-Type` has a value of `application/json; charset=UTF-8` instead of the `application/json` only. Even if i add the headers as a POST parameter, headers are still ignored.

[2018-02-19 06:04] timofeysie commented on #74
HI again,
Thanks for the feedback there.   I used the following command to convert PEM to DER:
[code]

However, the app is still rejected by the play store, and the plugin is still showing the error (from the title of this issue).  The plugin does work to enable ssl pinning on iOS builds.

Any more details on what could be causing the OPENSSL_internal:BAD_END_LINE error?

On my other questions abo

[2018-02-20 05:37] timofeysie commented on #74
The plugin appears to be working now for both iOS and Android.
I had left the PEN encoded certificate in the ```www/certificates/``` directory, so maybe that was causing the problem.

However, Google Play Store still rejects the apk for the same SSL Error Handler reason.

At least I know it's not a problem with the plugin.  Thanks for your help on this.

[2018-02-20 05:37] #74 closed

[2018-02-20 10:03] chax opened #79 "Android API <=19 doesn't support HTTP PATCH request"
Android KitKat 4.4 (API 19) and older, doesn't support HTTP PATCH method.

https://stackoverflow.com/questions/25163131/httpurlconnection-invalid-http-method-patch/

[2018-02-20 22:11] timofeysie commented on #74
Just in case others have this error and come loooking here, Google Play Developer Support feedback said that the app was rejected due to the following class, which contains a vulnerable version of SslErrorHandler:
org.apache.cordova.inappbrowser.InAppBrowser$InAppBrowserClient;

InAppBrowserClient is the Cordova plugin we use for OAuth.
src/android/InAppBrowser.java

This is an [Apache project](ht

[2018-02-21 15:25] chax commented on #79
Maybe rewrite Android part of this plugin to use OkHttp library.
Current solution relies on Android libraries to support PATCH (which they don't for android versions <=4.4.x). Android uses OkHttp as their underlying library, but Android 4.4.x and older has too old version of OkHttp, therefore PATCH method doesn't work.

[2018-02-21 21:24] silkimen commented on #78
Hi jaygauten,

did you also try to set another header? I don't see a problem here, if only the `content-type` is affected. In the end it is actually UTF-8 encoded JSON. That's what the plugin is doing when you set `json` serializer. Why are you trying to override this header?

[2018-02-21 21:35] jaygauten commented on #78
I need the content-type to be `application/json` without the charset, beacause the server im using only accepts the ˙Content-Type` header without the charset.

[2018-02-21 21:38] silkimen commented on #79
Ok, thanks for this info! But rewriting the Android part seems to be a lot of work, especially a lot of testing effort. I can't do this atm. Maybe someone wants to do that and send me a PR?

[2018-02-21 22:22] silkimen commented on #78
Okay I see, I'll fix it.

[2018-02-21 22:44] #78 closed

[2018-02-22 08:14] geffroydom commented on #38
Hello,
I have exactly the same error on IOS only. How did you solved it ? What do you mean by "an incorrect encoding" ? My certificate is a cer file and seems correct, and it works on Android.
Thanks for your help.

[2018-02-22 11:48] AlekseiFalshtynskii commented on #38
Hello.
The problem was that my certificate in the .cer format with base64 encoding, but needed with DER encoding.
Sorry for my English.

[2018-02-22 14:09] chax commented on #79
I may have quicker solution which doesn't involve complete rewrite of Android part of plugin.
We can use OkUrlFactory (part of OkHttp lib) and replace current CONNECTION_FACTORY.
I'm exploring this solution right now so maybe you can expect some PR from me soon, but i can't promise anything.

[2018-02-22 16:55] geffroydom commented on #38
Thank you so much, you saved my day !
If someone else have the same problem, here is a page with explanations about certificate encoding formats : https://mssec.wordpress.com/2014/03/06/what-is-the-difference-between-the-formats-der-encoded-and-base64-encoded-when-exporting-a-certificate/

[2018-02-23 22:44] silkimen commented on #38
A lot of people are experiencing problems, because they are trying to use a PEM encoded cert. But actually it's written in the docu which kind of cert you need and how to convert it.

Maybe I'll need to implement a cert checking returning a more precise error message.

[2018-02-24 16:53] mgmanoj commented on #34
`this.http.setHeader('text/xml; charset=utf-8');`
Typescript highlight the above code as error 'Expected 2 arguments, but got one'

[2018-02-25 15:42] pliablepixels opened #81 "Ability to use this library for "img src" tags"
Hi there, thanks for this library. I am currently facing an issue where I am working with a backend (3rd party) server for home surveillance. It sends camera frames as JPEG images over a TCP connection. So in my client, if I do `<img src="server/cameraX/feed">` it keeps streaming live feed as a continuous flow. My app is based on cordova and chrome.

The problem, of course, is Chrome only allows a

[2018-02-27 09:25] chax commented on #79
I implemented my solution in Pull Request #82
Like i said in my previous comment, i just replaced Connection Factory with okhttp-urlconnection lib implementation of Connection Factory, and i tested both in older Android versions as well as newer Android versions. Tested both with http and https (including invalid certs using acceptAllCerts option).
Now it works for all request methods (including P

[2018-02-27 09:26] silkimen commented on #81
Hi pliablepixels, unfortunately I think it's not possible to do. You'd need to change the source code of chrome and I don't know if this is possible in Cordova. Even if it is possible, you won't need this plugin.

Another possibility, maybe, is to write some kind of native "proxy" which is handling the requests and returning every single frame as a picture. Just an idea... don't know how to handle

[2018-02-27 11:53] #79 closed

[2018-02-27 14:04] silkimen commented on #77
Hi darkyen, can you please explain your use case more in detail? Do you want a possibility to add custom serializers? Or do you want a possibility to override the global serializer for a single request?

[2018-02-27 14:35] pliablepixels commented on #81
@silkimen thank you very much for your response. Ah, this was my last hope ;)
I believe the [server basically sends JPEG images over multi part mime](https://github.com/ZoneMinder/zoneminder/blob/ac5d1738eaec2ff5ac0e74bf371aab5f8e799eb6/src/zm_monitor.cpp#L3557-L3560) - that is probably MPJEG...

[2018-02-27 14:55] chax commented on #77
I think he means to override global serializer. But this isn't the problem only with serializer, the problem is for all settings that are set up globally. For example setRequestTimeout is also global setting, and it would also be nice to be able to specify it per request.

[2018-02-27 16:50] silkimen commented on #77
Well, I could expose serializer and timeout for every single request, so you can override it. But this would be a major (breaking) change. Could be implemented like this maybe:

[code]

@darkyen, @chax: What do you think?

[2018-02-27 17:00] darkyen commented on #77
My use case is that as a library author I don't want to pollute the global settings as the end application may or may not be using the same serialization as I am. Your suggestions is exactly what I was looking for, being able to pass the serializer dynamically will allow this to be shared with the application without having another copy :).

[2018-02-27 17:16] chax commented on #77
Yes, but this would break Backwards Compatibility, especially since your plugin is used in ionic and there is ionic wrapper written for it. But with this "options" parameter, you could later add whatever to it, without breaking Backwards Compatibility.

[2018-02-27 17:17] darkyen commented on #77
You could just keep global and allow request overrides, that won't break any compability.

[2018-02-27 17:26] chax commented on #77
@darkyen, you didn't understand my point, it WOULD break Backwards Compatibility for those who use ionic wrapper.

[2018-02-27 17:27] chax commented on #77
See this: https://ionicframework.com/docs/native/http/

[2018-02-27 17:30] darkyen commented on #77
From https://github.com/ionic-team/ionic-native/blob/master/src/%40ionic-native/plugins/http/index.ts it looks like the "wrapper" is more of a typedef.

[2018-02-27 18:06] chax commented on #77
You are right on that. But then we need to update wrapper also.

[2018-02-27 18:06] silkimen commented on #77
@darkyen Basically you're right. They should rely on a specific version, but as far as I know they don't. I don't know, if there is a possibility to check for the major version of this plugin and expose another Interface. So this could be a problem.

[2018-02-27 18:09] darkyen commented on #77
Ouch, so the only option that remains is to have code like

[code]

This will ease the upgrade path.

[2018-02-27 18:12] silkimen commented on #77
Yes, I have already written some backwards compatibility code like your example (see [advanced-http.js#L56-L64](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/www/advanced-http.js#L56-L64)). But it's really a pain in the ass to maintain such code :/

[2018-02-27 18:26] darkyen commented on #77
@silkimen It definitely is, I understand your problem here, but technically Ionic or any modern project _shouldn't_ be doing non-versioned deployments. The bigger problem here is that in the current state the plugin cannot talk into more than 1 serialization, timeout setting. Which may or may not be applicable globally.

Say for example my plugin talks in JSON, another one maybe talking in and som

[2018-02-27 18:26] silkimen commented on #77
I'd like to discuss this topic more in detail. Would you mind joining my slack workspace?
 https://join.slack.com/t/ilkimen/shared_invite/enQtMzIxODY2NzM0ODUzLTlhOTc1ZDZmMjE0OThhODgwNGNhYjBlYTdmNjY2NjcwNTJjMGQ0MzE0MTM5MTJhYWZhM2MwOTAwNDBlMjU3M2E

[2018-02-27 21:28] #81 closed

[2018-02-28 03:13] silkimen commented on #77
Found a way to implement this feature without breaking backwards compatibility. I have implemented one function for all types of HTTP requests and the existing API is using this function.

@darkyen So you can use the new function "sendRequest", whereas ionic native will stick to the "old" API using the shorthand functions. I hope this meets your requirements!

Will be included in upcoming version

[2018-02-28 03:20] silkimen commented on #32
Closing this, as it's supported by using ionic-native.

[2018-02-28 03:20] #32 closed

[2018-02-28 03:26] silkimen commented on #9
Can someone please check if this issue is still available with current version 1.10.2? It's important to use a DER encoded certificate NOT a PEM encoded one.

[2018-02-28 11:38] chax commented on #79
@silkimen Thanks for merging my PR and making new release 1.10.2, this is very much appreciated.

[2018-02-28 11:41] silkimen commented on #79
@chax you're welcome! 😃

[2018-02-28 12:34] chax commented on #75
@silkimen Maybe you can cherry-pick this feature from that fork into your repo.

[2018-02-28 12:42] chax commented on #77
This is awesome. Good solution @silkimen

[2018-02-28 13:00] chax commented on #79
You can now update your okhttp-urlconnection dependency to 3.10 which was just released few days ago and put it in your next release 1.11.0.

https://mvnrepository.com/artifact/com.squareup.okhttp3/okhttp-urlconnection

https://github.com/silkimen/cordova-plugin-advanced-http/blob/4a437f94354b1f6224f5dc6d4c2a4dc0dc4befc3/plugin.xml#L71

[2018-03-01 12:51] silkimen commented on #75
Hi xtrembaker,

I've looked into the code, but there is one thing I don't really understand. I think your use-case is to replace old certs in the bundle, when they are not valid anymore, right? But when I look into the code of this feature, it's just adding new certs to the ones already baked-in into the bundle, not replacing the old ones. Am I right?

And another fact I don't like about this feat

[2018-03-01 23:08] silkimen commented on #11
I've implemented a minimum set of functions which can be implemented in the browser. Hope this will meet your requirements!

Will be included in upcoming version 1.11.0.

[2018-03-02 00:12] silkimen commented on #77
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-03-02 00:12] #77 closed

[2018-03-02 00:12] silkimen commented on #11
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-03-02 00:12] #11 closed

[2018-03-02 00:46] silkimen commented on #48
Ok, found the issue.

But it's happening with deep structures when using "urlencoded" serializer, which is actually not officially supported by this plugin see [notice in docs #setdataserializer](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer).

![bildschirmfoto 2018-03-02 um 01 31 10](https://user-images.githubusercontent.com/4717881/36877530-f3e03a02-1dba-11e8-908a-38

[2018-03-02 01:25] silkimen opened #84 "iOS: wrong cert format makes app crash during request"
Enabling SSL pinning does not fail when certificates in wrong format (e.g. PEM encoded one) are used on iOS. But later on the app crashes when you try to send a request.

[2018-03-02 15:11] YnievesDotNet opened #85 "Type error on post call"
Hello friends

I'm using this plugins in Ionic 3, and I receive error, my code is here:

[code]
and my error is:
`"Type error: undefined is not an object (evaluating 'Object.keys(globalHeaders)')" `
But, when I launch the function test(), work fine, and when I launch login fail, whit the message error.

Thanks.

Yoinier

[2018-03-02 18:20] tomhartz opened #86 "ionic plugin missing setCookie()"
Hello @silkimen.  I am using this in an ionic app, and I have a situation where I need to call setCookie() in my app code.

Can you make another pull request to the ionic team to get the new setCookie method exposed to ionic?  It should be similar to this recent one I found from you:
https://github.com/ionic-team/ionic-native/pull/2054

Thanks so much!!!

[2018-03-03 07:18] silkimen commented on #86
There is already an open issue in ionic-native repo [ionic-native#2249](https://github.com/ionic-team/ionic-native/issues/2249). I'll look into the matter.

[2018-03-06 08:51] BorntraegerMarc opened #87 "Reading HTTP Only cookies?"
I wanted to ask if the method `getCookieString` also returns HTTP only cookies from a response on iOS & Android? (obviously it's not possible on the browser).

[2018-03-06 15:28] mbhd90 opened #88 "Progress while downloading or uploading"
Is it possible to have the progression while uploading or downloading file? if yes some know how to do?

[2018-03-08 09:58] Hanzofm opened #89 "http.delete not works, it doesn't send the parameters"
Hi, I'm trying to do a delete request to my api but it returns that the parameters are missing:

[code]

It seems that delete function not sends the body data. **The same body with postman works fine.**
With post, and put there are not problems, What would be the problem?

Info:
[code]

[2018-03-08 15:10] chax commented on #89
This plugin doesn't allow sending request body for DELETE request.
Your second parameter (data) is not what is going to be sent as request body, but as query parameters (like GET request).
Technically server which processes DELETE request can accept request body but it's not part of HTTP standard.
See https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html

[2018-03-08 15:40] Hanzofm commented on #89
Some workaround to send it? The backend server accepts body on delete request and are necessary to my project

[2018-03-08 15:53] chax commented on #89
If you don't depend on allowAllCerts or enableSSLPinning for your self-signed-certificates, then rather use Angular HTTP Service, it is much more flexible but depends on Browser security policy to decide which certificates are trusted and which are not. If your Cordova App is not Angular based, you have jQuery or some other javascript framework to help you.

[2018-03-09 13:04] Hanzofm commented on #89
My problem is that I use ionic and need to use this client to patch cors restriction on WBKView Engine.

[2018-03-11 23:55] silkimen commented on #85
Hi YnievesDotNet, I don't think your problem is related to this plugin. Can you please create a minimum viable example, so I can try to reproduce your problem on my side?

[2018-03-11 23:58] silkimen commented on #86
I've created a PR for [ionic-native#2249](https://github.com/ionic-team/ionic-native/issues/2249). Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-03-11 23:58] #86 closed

[2018-03-12 00:03] silkimen commented on #87
Hi Marc, yes, it does atm. But actually it's not a good idea to expose them into JS context. Maybe I'll remove them in a future version. Are you asking, because you're concerned about security?

[2018-03-12 00:15] silkimen commented on #89
Hi Hanzofm,

it's not a good practice to send payload within a DELETE request, because there is no defined behavior to be expected on the backend. It can cause the server to reject the request. There are also web application firewalls and proxies which don't pass such kind of requests.

See [RFC7231#section-4.3.5](https://tools.ietf.org/html/rfc7231#section-4.3.5):

   sending a payload body on a

[2018-03-12 00:15] #89 closed

[2018-03-12 00:34] silkimen commented on #9
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-03-12 00:34] #9 closed

[2018-03-12 07:19] BorntraegerMarc commented on #87
Thanks for your answer @silkimen
Actually I think this is the expected behavior. We have implemented a session based authenication and on the server a HTTPOnly cookie is set. For web browsers this works great as the cookie is persisted and after closing & re-opening the browser the user is still authenticated.

I was asking, to check if we can get the same behavior on mobile devices. I'm not 100%

[2018-03-12 07:19] #87 closed

[2018-03-13 01:53] xjy0925 opened #91 "the params type can't be number"
http.post(url,  {id: 123}, headers)
It shows error: "advanced-http: invalid params object, needs to be an object with strings"

[2018-03-13 08:35] xtrembaker commented on #75
Hello @silkimen,

Sorry for my late answer.... but thanks for getting in touch !

Here is our use case:

We've build an app (iPhone/Android) using cordova. The app is using external services through REST API. Main of services comes through our own API, but other endpoints comes directly from partner's API (for security sake, we do not - and will not - wrap partner's API inside our API).
We've embe

[2018-03-13 19:59] tomhartz opened #92 "response.headers not deserialized for platform browser"
Hi @silkimen, appreciate the support for platform browser.  I am attempting to use it and I noticed this different behavior in browser vs. mobile platforms.  In this example, I am using `http.setDataSerializer('urlencoded');` and doing a post.

on iOS/Android:
[code]
I then have some code to parse the Thing-I-Care-About from the "location" header value:
[code]

Difference in browser:
[code]

The p

[2018-03-14 01:43] silkimen commented on #92
Hi tomhartz, I must have missed this detail. Will fix this. Thanks for reporting!

[2018-03-14 01:48] silkimen commented on #91
That's actually true. Parameters need to be strings NOT numbers.

[code]

[2018-03-15 08:25] barrynorman commented on #32
Hi @silkimen,

thank you for the plugin. Actually right now I'm facing the same "issue" AND I'm using Ionic ;)
I'm using the `sendRequest` but I getting errors, that `sendRequest` does not exist on type HTTP.

This plugin in typescript would be awesome!

[2018-03-15 08:45] chax commented on #32
sendRequest() is still not implemented in Ionic wrapper.

[2018-03-15 08:48] chax commented on #32
@silkimen, can you add it in this PR:
ionic-team/ionic-native#2370

[2018-03-15 09:11] barrynorman commented on #32
@chax Thank you for your reply.
@silkimen Could you please add also support for `sendRequest` to the PR (https://github.com/ionic-team/ionic-native/pull/2370)?

[2018-03-16 02:04] #92 closed

[2018-03-16 16:06] silkimen commented on #91
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-03-16 16:07] #91 closed

[2018-03-22 19:25] javi124 opened #93 "Error: advanced-http: header values must be strings"
Hi, I updated from 1.10.2, and and now I get this error. My platform is ios and works with ionic. I think  DataSerializer is  the problem.
Thanks, great job.

[2018-03-22 20:35] JhonnyJason opened #94 "recommendation, usage instead of cordova-http?"
Hallo,
Until now I was using the cordova-http plugin and just noticed that this currently maintained/worked on plugin exists :-)

So my question is if it is recommended at the current state to use the cordova-plugin-advanced-http for production?

Thanx!

[2018-03-23 14:04] silkimen commented on #94
Hi Lenard,

well this plugin has a lot more features and also bugfixes than the old cordova-plugin-http ([see commit list](https://github.com/silkimen/cordova-plugin-advanced-http/commits/master) and [changelog](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/CHANGELOG.md)). Many people are using it ([see download stats](https://www.npmjs.com/package/cordova-plugin-advanced-ht

[2018-03-23 14:07] silkimen commented on #85
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-03-23 14:07] #85 closed

[2018-03-23 15:19] javi124 commented on #93
Hi dilkimen, here it is:savePush (event_id:number, town_id:number, date: Date = new Date()) {

        const headers = new Headers();

        const device: PushNotificationInterface = {

            model: this.settings.settings.model,
            uuid: this.settings.settings.uuid,
            token: this.settings.settings.token,
            platform: this.settings.settings.platform,

[2018-03-23 17:11] silkimen commented on #93
Please do `console.log(JSON.stringify(headers, null, 2));` before sending the request and post the message. I'd like to see if the header contains non-string values.

[2018-03-23 22:33] JhonnyJason commented on #94
That's super awesome :-) thank you for your work therein!
I will use it then and raise issues when I encounter some ;-)

Cheers!

[2018-03-23 22:33] #94 closed

[2018-03-24 07:37] javi124 commented on #93
V1.10.2
(data)
{
  "Accept": "application/json",
  "Content-Type": "application/json"
}
v1.11.1
(error)
{}

[2018-03-25 01:37] silkimen commented on #93
So your headers object is empty? Are you sure? Why is it different for different versions of this plugin?
Where did you put the console log? I need to see the content of the headers object before  sending the request not afterwards. Actually I need to know what the result of `new Headers()` is, so you could also do `console.log(JSON.stringify(new Headers()))`. Atm, I'm not able to reproduce your p

[2018-03-25 07:14] javi124 commented on #93
Yes, headers is empty. I are  only sendind url and device.
In v1.10.2 accept, but in 1.11.1, send the error.

[2018-03-27 22:34] silkimen commented on #93
Hmm ok, that's interesting. I still think that the value of `new Headers()` can't be an empty object though.

Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-03-27 22:34] #93 closed

[2018-03-27 22:50] silkimen commented on #75
Hi @xtrembaker, ok I understand your problem. I'm considering to change the API for pinning SSL certs, splitting it up into two functions:
1. `addSSLCert(pathToCert)`
2. `enableSSLPinning(bool)`

First function will allow you to add arbitrary certs, whereas second one will just enable or disable pinning (without automatically loading certs from pre-defined folders). But this will be a breaking cha

[2018-03-28 19:08] xtrembaker commented on #75
Hello @silkimen,

Thanks for your answer,
That would be really a good start ! We wonder if the downloadFile API could take an array of certs ?Since our backend API will return an array of multiple certs, that would be more convenient.

No problem to get rid of base64, plain text should be ok as well.

Last question: where would be the certs stored ? Is this a persistent storage ? Could the applica

[2018-03-29 15:06] Parvezkhan-Official opened #95 "Android request and response are seen in burp suite"
Hi Silkimen,
I am using this plugin for certificate pinning. i have build the app by implementeing the steps as mentioned in the Ionic page https://ionicframework.com/docs/native/http/

But my android request and response are seen in burp suite. I need to fix this as soon as possible.
I have used it like below for each request.
this.http.setHeader('Access-Control-Allow-Origin', '*');
this.http.ena

[2018-03-31 05:38] Parvezkhan-Official commented on #95
Hi silkimen,
Thanks for the reply
Doing certificate pinning to avoid man in the middle attacks.

For information to you and others, it was problem with the certifcate , when the setup proper certificate at the server able to achived now in Android.
I have successfully now done the Certificate pinning in Android but facing issue in IOS. Giving error error : "Cancelled" & status: -1 in IOS.
Checked

[2018-03-31 20:19] madsongr commented on #41
Why am I not able to get the values from response?

[code]

console.log(res.data);
`[{"ID":"15","USERNAME":"user01","EMAIL":"user01@mail.com"}]`

but console.log(res.data[0].USERNAME);
`undefined`

[2018-04-01 02:31] dalezak commented on #41
I believe the resp.data is a string, so needs to be converted to JSON at
access the response values.

let json = JSON.parse(resp.data);

console.log(json[0].USERNAME);

[2018-04-01 20:36] silkimen commented on #95
You should be just fine using an binary (DER formatted) cert and enabling cert pinning `this.http.enableSSLPinning(true)`. Actually, you should NOT enable accepting all certs `this.http.acceptAllCerts(true)`.

If it's working for Android but not for iOS it's most likely because you're using a Base64 (PEM formatted) cert (in your App, not the server side).

[2018-04-01 23:48] danielsogl opened #96 "BUG: Double encoding"
I need to encode my URL to match some api calls. But as it turns out, the Cordova plugin also encodes the url again.

Original url: https://registry.npmjs.org/@ionic-native/device
After my encoding: https://registry.npmjs.org/@ionic-native%2Fdevice
After the double encode: https://registry.npmjs.org/@ionic-native%252Fdevice

Im not sure if its an bug or a feature? Is is possible to avoid this prob

[2018-04-02 09:14] #96 closed

[2018-04-02 17:19] madsongr commented on #41
Thanks man! I was using `res.data.toJSON()[0].USERNAME` but it was returning an errror.

[2018-04-02 17:31] dalezak commented on #41
No worries @madsongr, I ran into the same problem. If you wanted to access the `error` in the `catch`, you'll also need to convert it to JSON:

[code]

[2018-04-05 01:01] tuakapro commented on #29
I have same issue in ios, always return code -999 and request cancelled when i use http.post or any request, only fail in ios but working fine in android

[2018-04-07 12:01] praveenraji2i opened #97 "Get request with params not working 1.11.1"
If send paramenters in get request not Working on 1.11.1 version, but its working in 1.10.1.

[2018-04-08 04:33] Story5 opened #98 "param can't be other type except string on 1.11.1"
It is work on 1.9.1 when I pass the number type param.
[code]
After update plugin to 1.11.1, it's invalid. Then I need to change my code to
[code]

The param like `type : 1` is a normal json type.
Can author fix this bug for better use?

[2018-04-08 04:35] Story5 commented on #98
It's support to pass the number param to json follow to the [READ.md - get](https://github.com/silkimen/cordova-plugin-advanced-http#get)

[2018-04-08 04:52] Story5 commented on #97
It's not work now on 1.11.1 when you pass the param whose type is not a string.

Like these
[code]
need to be change to
[code]

It's feel like a bug and I am asking the author for fix it too.

[2018-04-08 21:51] silkimen commented on #98
Hi guys, I see the confusion here, as I have changed the behavior without correctly updating the docs.

Before v1.11.0 some people were not understanding how to use the API properly. They tried to pass strings or nested objects as params object (second param in your example), leading to unexpected behavior.

e.g. having nested objects: `http://demo.com/?myVal=[object Object]`

I thought, it'd be a

[2018-04-08 21:52] silkimen commented on #97
Please, follow up on #98.

[2018-04-08 21:52] #97 closed

[2018-04-09 02:34] Story5 commented on #98
@silkimen Thanks for your detailed elaboration.
I change my param data type before pass it to the plugin function. It's solved and hope to help others.
[code]
Close the issue here.

[2018-04-09 02:34] #98 closed

[2018-04-09 11:59] Polgabarro commented on #55
Same here +1

[2018-04-10 20:38] silkimen commented on #88
Hi mbhd90, no this is not supported, atm.

[2018-04-12 01:44] Story5 opened #99 "App Store ipv6 rejected"
Hey guys!
Recently our app is rejected twice due to  can't connect on ipv6.
From apple's review screen shot, app  stop on ionic splash screen.
It's confirm that our web server support ipv6.
Using the plugin, is there extra code I need to set for ipv6?
I really appreciate your help  to publish our app.

[2018-04-12 11:16] Parvezkhan-Official commented on #95
Thanks for the comments & support.
OK. It was the issue of Self signed certificate.
Will also check on IOS. Once everything is fixed and app is live then will update for others help and i will close this issue

[2018-04-12 18:27] brownkevg opened #100 "http.setHeader expected 3 arguments, but got 2"
documentation says that I can setHeader with only 2 params but but when i updated to npm @ionic-native/http@4.7.0 gives me the error expected 3 arguments, but got 2. It then references this line as the problem  `this.http.setHeader("Content-Type", "application/json");` I fixed this error by going back to @ionic-native/http@4.6.0, which is the package I had originally when writing this code. Also f

[2018-04-18 15:06] lovesasha opened #101 "Support "multipart/form-data" requests"
Hi,
Thank you for providing such a nice plugin.

Now I met a problem that I can't send multipart/form-data type request. The data serializer doesn't support this content-type. And if I specify the content-type header to 'multipart/form-data', and push string type data in the data field, it can't send the request anymore. And if I push js object( such as {a: 1} ), it can post the data, but the requ

[2018-04-18 19:38] josterfeld opened #102 "Install makes Ionic Android builds Fail"
After installing the plugin Android builds fail. Thank you for your plugin!

## Ionic Environment Info:
[code]

## Ionic build command output:
[code]
[code]

[2018-04-18 20:46] silkimen commented on #100
You meant ionic-native@4.7.0 not npm, right?

I can't make the first parameter optional in typescript, but in the JS code it's the first param you can omit. That's the reason I didn't make it optional in TS.

You'll need to write following code to achieve the same result:
[code]

[2018-04-18 20:54] silkimen commented on #102
I think it's the same problem mentioned in #49

[2018-04-18 21:14] silkimen commented on #101
Hi Sasha,

this plugin doesn't support this content type, atm. When you are overriding the content type header it's not changing the behavior of the serializer. That's the reason your backend server can't read the data anymore.

You won't be able to achieve this without having a new serializer implemented. So this is a feature request and I can't promise it will be implemented anytime soon.

[2018-04-18 22:03] silkimen opened #103 "HTTP SSL cert handling should be improved by defining modes"
SSL cert handling is confusing people, it should be easier to use.

[code]

`mode` being one of:
- 'default': default SSL cert handling using system's CA certs
- 'nocheck': disable SSL cert check, trusting all certs (meant to be used only for testing purposes)
- 'pinned': trust only provided certs

Enabling cert pinning shouldn't implicitly add certs into cert store. We need a new function for add

[2018-04-18 23:01] brownkevg commented on #100
Yes, specifically to @ionic-native/http@4.7.0. Just wanted to make sure this wasn't an oversight as the documentation specified either would work and that @ionic-native/http@4.6.0 was handling the 3 variables. Didn't realize that TS would cause that type of issue.
Thanks for the explanation!

[2018-04-19 08:50] kevto opened #104 "Transform application/octet-stream response to Blob"
Hi!

First of all, I'm very pleased with this library because of the SSL pinning support.

Specs:
"cordova-android": "^6.4.0",
"ionic-native/core": "^4.2.0",
"ionic-native/http": "^4.7.0",

However, migrating from angular/http to ionic-native/http was quite a frustrating job. There's one final thing left to migrate which is transforming an application/octet-stream as response to a Blob object with

[2018-04-20 08:44] lovesasha commented on #101
Thank you for replying me!

Hope you can implement this function in the future~

Thanks again!

[2018-04-23 21:43] silkimen commented on #102
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-04-23 21:43] #102 closed

[2018-04-26 12:46] kevto commented on #104
Btw, I tackled the issue by giving an application/json response with the data encoded to base64, decoded within the app and voila.

[2018-04-26 12:46] #104 closed

[2018-04-28 11:46] michmzr opened #105 "Duplicate symbols in iOS linker"
Hi,

I get linker error on `cordova build ios` about duplicate symbols. There is probably conflict with plugin `cordova-plugin-http` which is required in my project

*Fix proposal*: change file name `CordovaHttpPlugin.h`

[code]

packages.json
[code]

[2018-04-28 23:54] leemerlas opened #106 ""data" argument supports only following data types: Object"
I'm currently getting the following error in my console:

![screenshot_1](https://user-images.githubusercontent.com/31193012/39401841-3f203554-4b82-11e8-8dd8-47391d021e32.png)

I followed what was stated in the documentation for sendRequest. Here's my code:

    var prisoner = localStorage.getItem('prisoner');
    var tokens = localStorage.getItem('token');

    const options = {
        method: '

[2018-04-29 00:38] chax commented on #106
Don't use JSON.stringify, plugin does serialization automatically.

[2018-04-29 00:43] leemerlas commented on #106
@chax so should it be

    data: { nameP: prisoner, vDate: this.visitDate, numV: this.visitCount, timeV: this.visitTime, relation: this.visitRelation }

instead?

[2018-04-29 00:50] chax commented on #106
Try it.

[2018-04-29 00:54] leemerlas commented on #106
Well I know its getting sent now, but in my server, one argument is getting logged as a none-type, which is `pid`, and I get it through `var pubid = localStorage.getItem('public_id');`

    data: { nameP: prisoner, vDate: this.visitDate, numV: this.visitCount, timeV: this.visitTime, relation: this.visitRelation, pid: pubid }

In my web app, it works fine and this variable is sent to my server. But

[2018-04-29 02:09] leemerlas opened #107 "value is passed as none-type during POST request"
from #106

Well I know its getting sent now, but in my server, one argument is getting logged as a none-type, which is `pid`, and I get it through `var pubid = localStorage.getItem('public_id');`

    data: { nameP: prisoner, vDate: this.visitDate, numV: this.visitCount, timeV: this.visitTime, relation: this.visitRelation, pid: pubid }

In my web app, it works fine and this variable is sent to my

[2018-04-29 02:52] #106 closed

[2018-04-29 02:52] #107 closed

[2018-04-30 10:37] kevto commented on #84
We're experiencing the same issue. The app throws an "uncaught exception": *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSArrayM insertObject:atIndex:]: object cannot be nil'

[2018-04-30 10:57] kevto commented on #84
For anyone who runs into this issue, according to the plugin's documentation it is indeed required to have the .cer files encoded with DER.

To make validate if the .cer file is encoded with DER:
`openssl x509 -in <your_file.cer> -inform der -text -noout`
If it throws an error like:

Then you know your .cer file is not encoded with DER. To transform the PEM encoded file to DER, use:
`openssl x509

[2018-05-03 08:36] nipunkr commented on #103
I have a quick query. If I use your plugin with enableSSLPinning set to false and acceptAllCerts set to false then would it work as:

1) 'default': SSL cert handling using system's CA certs.

[2018-05-03 17:15] dalezak commented on #99
I also had an app rejected related to _Supporting IPv6-only Networks_ https://developer.apple.com/support/ipv6/, any suggestions on a fix for this?

[2018-05-03 22:40] silkimen commented on #103
@nipunkr Yes, that's the default behavior.

[2018-05-03 22:41] silkimen commented on #105
Hi Mike, this plugin is meant to be a replacement for `cordova-plugin-http`. Why do you need that plugin while using this one?

[2018-05-03 22:42] silkimen commented on #100
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-05-03 22:42] #100 closed

[2018-05-03 22:46] silkimen commented on #99
Hi guys, honestly I've never tested IPv6 with this plugin. I'll need to investigate this problem. But I've a tight schedule, atm. Is this problem occurring on iOS only or is Android also affected?

[2018-05-04 00:37] dalezak commented on #99
In my case, looks like the issue might have been related to our server not supporting **IPv6**.

We've updated our server to support **IPv6** and I've replied to Apple to review the app again.

I'll let you know as soon as hear back from Apple whether the server change fixed the issue :+1:

[2018-05-04 02:41] Story5 commented on #99
In fact, our server do not support `IPv6`, caused app rejected. The plugin works well👍, and our app is ready for sale now after our server configure `IPv6` environment.
I close the issue here.

[2018-05-04 02:41] #99 closed

[2018-05-04 13:51] michmzr commented on #105
Sefa, I would like to use your plugin, but one of the plugins requires `cordova-plugin-http` and cordova automatically download 2 http plugins to `platform/ios`

[2018-05-04 19:49] dalezak commented on #99
Updating our server to support `IPv6`, also helped get our app approved without any code changes :+1:

[2018-05-04 21:42] silkimen commented on #99
Ok, thanks for your feedback guys!

[2018-05-05 13:16] Parvezkhan-Official commented on #95
Hi Silkimen,
I have implemented certificate pinning with the help of this plugin. many thanks.
Please help me regarding error coming most of the time i login. Login is inconsistent. Sometimes able to login but many times giving below errors
1)There was an error with the request: java.net.ConnectException: Failed to connect to "url"
2)The request is timeout

Kindly help me i am stuck in this and pr

[2018-05-06 14:02] silkimen commented on #95
Hi Parvezkhan, this is most likely a network or backend problem. Possible explanations include:
* the service has crashed or hasn't been started,
* your client is trying to connect using the wrong IP address or port, or
* server access is being blocked by a firewall that is "refusing" on the server/service's behalf

Please check the server logs for possible problems.

[2018-05-06 14:12] silkimen commented on #105
Hmm, ok I see. Which plugin does require `cordova-plugin-http`? I mean I could rename my files, but I still don't think it's a good idea to use both plugins mixed in one project. Maybe you can ask the maintainer to use this plugin, instead?

[2018-05-06 14:28] #95 closed

[2018-05-07 13:19] BorntraegerMarc opened #108 "Browser should support native browser fetch"
In this section it's specified that browsers are supported: https://github.com/silkimen/cordova-plugin-advanced-http#browser-support

However browser support is only enabled when `cordova` is used. Which is not always the case. For example not when I'm locally developing my app without running a production build to include `cordova`.

So by default this library should check if `cordova` is not und

[2018-05-07 13:30] silkimen commented on #108
Hi Marc, that's an interesting idea, but how do you want to load the web interface? Actually, Cordova is responsible for loading the plugins (native code AND web interface). Without loading Cordova, you won't even have the namespace `cordova.plugin.http` loaded.

[2018-05-07 13:50] BorntraegerMarc commented on #108
Good day @silkimen
thanks for the quick answer. Unfortunately I don't fully understand, what you mean with "how do you want to load the web interface". I thought about having some kind of `index.js` and do a check there:
[code]

FYI: I'm more of an web engineer than an cross-platform engineer. So maybe I'm making a conceptional mistake :)

[2018-05-07 16:02] BorntraegerMarc commented on #108
For ionic I imagine something like this https://ionicframework.com/docs/native/browser.html could be used

[2018-05-10 08:15] BorntraegerMarc opened #109 "HTTPOnly cookies not automatically stored"
I'm developing a BE & FE app that uses express-session for authentication. So HTTPOnly cookies are set to verify the logged in user.

I have the following code on the FE:
[code]

And I receive back a `200`. Also I log the headers from the success message and I can see: `"set-cookie":"connect.sid=s%3AG1twOCZXbSwsD-bOpqCe6c8vv1u3NlLZ.I7JUyye6FSIuk0ImJdWOQb2QQDq1o1F1KkEGZeKRk4I;"`. So the BE sets the

[2018-05-10 12:21] ayserious opened #110 "How Post Content-Type : application/json"
How Post Content-Type : application/json

i try but cannot post.. T___T

have respont 200 but no have something message from server

var data_sent = JSON.stringify(PostParam_data);

    window.cordovaHTTP.post("https://175.25.20.188/.....", {data_sent}, {},function(msg) {
                            var data = JSON.parse(msg.data);

                            alert(JSON.stringify(msg));

[2018-05-10 13:54] michmzr commented on #105
@silkimen  I think ticket can be closed. I force removed dependency from `cordova-plugin-http` for ios.

[2018-05-10 13:54] #105 closed

[2018-05-12 00:59] silkimen commented on #108
Even if you're using ionic or plain cordova (and you want to build for browser), you still need to load `cordova.js` and build for browser target, e.g. running `cordova build browser`. Otherwise none of your plugins will be loaded and therefore there will be no namespace `cordova.plugin.http` available.

[2018-05-12 12:01] BorntraegerMarc commented on #108
ok, I understand @silkimen but wouldn't it be great if we would not have to load cordova by default?
For example one solution could be:
- Add a `index.js` file in the root of this directory
- Add specification that this `index.js` file should be imported in the root of the web project like `require('cordova-plugin-advanced-http')`
- All we do in the `index.js` file is:
[code]
Basically we manually

[2018-05-12 12:03] silkimen commented on #108
Hi Marc, please join my slack channel, so we can discuss this in detail: https://join.slack.com/t/ilkimen/shared_invite/enQtMzYyMDQwMjEwNjU2LTljNTM3ZTc5ZWI0YmYzZGVhOWUzYTkzNmJmMGNkMTlmZjgxZjc5Y2Y3OGFlZGI4ZjhhMjFmMTRjNzU4NGEzZTE

[2018-05-13 22:43] cnotoham opened #111 "How to follow redirect"
Hi Sefa,

I have been using this plugin for a while now. It's been great!
We now have a new requirement whereby I need to follow a redirect (302) when I do a get.
I am using version 1.7.1 of the plugin but it seems that the plugin does not support follow redirect.

The scenario is like this:
- get to url1
- get response 302 move temporarily to url2
- url2 do 302 to url3
- url3 do 302 to url1
- get

[2018-05-15 09:48] TeodorKolev opened #112 "Set parameter"
Is it even possible to set parameter in .put request?

[2018-05-15 15:50] varunkumarm commented on #109
@BorntraegerMarc Really sorry but I think I misunderstood the problem. The use case you've mentioned - 1. Made a POST call that returns HTTPOnly cookie.
2. Made the GET call and didn't get 401 error.

The issue I'm facing is different. I launched Cordova InAppBrowser to handle SAML authentication flow of an IDP and now the HTTPOnly cookie is set in the InAppBrowser. Now, closed the InAppBrowser an

[2018-05-15 15:53] BorntraegerMarc commented on #109
ah ok @varunkumarm
I believe your use case has nothing to do with this plugin. You should consider setting up some kind of BE service that sends the SAML token to your app via push apn for example.

I think you need to register a success Endpoint for SAML

[2018-05-15 15:57] silkimen commented on #109
Hi varunkumarm, @BorntraegerMarc is right. You can't use this plugin to extract the cookies you've received in InAppBrowser, because it's using an own web context which has nothing to do with this plugin.

[2018-05-15 16:02] silkimen commented on #112
Hi TeodorKolev,

the parameters used in a `.get` request are just meant as a convenience function. You can always create the URL yourself containing the query parameters you need e.g. `http://bla.com/blubb?myParam=myValue`.

[2018-05-16 06:37] TeodorKolev commented on #112
This isn't working also. I gave up on this.

[2018-05-17 05:01] ChanChanGR opened #113 "setRequestTimeout"
Hi,
As i observed if request is taking too much time to respond then it automatically sends multiple requests until 1st request is completed,After I set setRequestTimeout  to 120 seconds its working fine.Is there any way to wait forever??

[2018-05-17 21:51] silkimen commented on #111
Hi Cornelius,

unfortunately, I didn't understand your problem. When the plugin is returning 200 it has already followed the redirects, right? Otherwise it would return 302 or did I misunderstand?

Regards,
Sefa

[2018-05-17 22:54] cnotoham commented on #111
Hi Sefa,

Let me rephrase my question.  Do you know if the version 1.7.1 of the plugin set the disableRedirect defaulted to true?

t seems to me the server that I am hitting returns me a 200 to some other page when it detects a 302 is disabled.

Thanks,
Cornelius

[2018-05-18 11:18] labeeck opened #114 "Error: {status: -1} on ios"
I get this error {status: -1} in ios, but works fine in Android.

This is the code I am using

`this.nativeHttp.get(API_URL + url + data, {}, {}).then(res => {
    observer.next(res.data ? JSON.parse(res.data) : '');
    observer.complete();
}, err => {
    let errMsg: any
    try {
        errMsg = JSON.parse(err.error);
        if (errMsg.status == STATUS_ERROR) {
            err.error = errMsg;

[2018-05-19 16:57] lakadev commented on #110
Hi.

Don't use JSON.stringify

see https://github.com/silkimen/cordova-plugin-advanced-http/issues/106

[2018-05-22 14:40] silkimen commented on #111
No, "disableRedirect" never defaulted to true.

Your server can't "detect" that transparent redirecting is turned off in your client. Your server just responds with code 302 and the client needs to decide whether it follows the redirect or not. There is no way your server can detect this in advance.

[2018-05-22 22:43] cnotoham commented on #111
Yes, I can see the redirect url in the response.url and my issue is solved by manually redirecting.
Thanks for your help.

[2018-05-22 22:43] #111 closed

[2018-05-23 11:22] MorpheusDe97 opened #115 "[iOS11]: HTTPS Connection: Keep-Alive does not work properly"
With iOS 11, we got a problem using the cordova-plugin-advanced-http.

We want the App to produce a persistant connection to a server with just one certificate handshake. Thats why we set the keep-alive-header for each request.

      let headers = {
        Connection: "keep-alive",
      };

But what we get is, if the App sends several requests with different nodes, like
https://{SERVER_IP}/Node

[2018-05-23 12:51] airimiea opened #116 "enableSSLPinning working on Android but not on IOS"
I am working on an Ionic 2+ project and switching from the Angular http client to this plugin in order to be able to use ssl pinning. I have installed the plugin as instructed [in the Ionic docs](https://ionicframework.com/docs/native/http/). The ssl pinning is working fine on Android but not on IOS. For IOS I have placed my DER certificate in ./platforms/ios/. I have obtained this certificate in

[2018-05-24 05:01] iamjoyce commented on #114
1. It will be nice of you to format your codes properly.

2. Did you enable SSL Pinning? If yes, #116 has the same problem.

[2018-05-24 05:06] iamjoyce commented on #101
In that case, does it mean that we only have two options to send file to the server?

1. Send by base64 string with `post`

2. Send file with `uploadFile` and other variables with `post`

[2018-05-24 05:10] iamjoyce commented on #63
In that case, does it mean that we only have these options to send multiple files to the server?

1. Send by base64 string with `post`

2. Send files with `uploadFile` and other variables with `post`

[2018-05-25 17:57] AlexOtero32 opened #117 "Post JSON sends empty data"
Hi!
I'm tryin to send a POST request to an API, but when it inserts the data into the database, the parameters I send are empty :(
[code]

If I copy the `body` object from the console and paste it in Postman and send it, it seems to work, so I don't think there is an error within the API itself. What am I doing wrong?

The first entry was sent using the module, and the second one copy-pasting the

[2018-05-27 16:44] silkimen commented on #112
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-05-27 16:44] #112 closed

[2018-05-27 18:30] silkimen commented on #117
Hi Alex,
you need to set the `json` serializer before sending your data. You also don't need to override the content type header. It will default to the value in your snippet when JSON serializer is used. Please read [the docu](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer).

[2018-05-28 07:03] l1nknyto commented on #114
i got similiar problem, my error result is { error: "canceled", status: -1 }

In my case, i am not using SSL pinning.
Request using GET method, working fine. but request using POST method, generating the above error.
And i am right now using self certificate for testing.

Using version 1.11.1.

Thanks for your help ...

[2018-05-28 12:42] silkimen commented on #116
Did you try putting the cert file in "www/certificates/" folder? This should be working for both Android and iOS.

[2018-05-28 13:02] silkimen commented on #110
Hi ayserious, please format your example code snippet properly and try lakadev's advice.

[2018-05-28 14:13] AlexOtero32 commented on #117
Ok, it worked. Thank you!

[2018-05-28 14:14] #117 closed

[2018-05-28 23:18] MorpheusDe97 commented on #115
@silkimen Do you understand my problem? Can you reproduce it using iOS?

If there is anything unclear for you, please feel free to ask me!

[2018-05-29 12:37] karisdft4567 commented on #115
thats the problem with cross platform

[2018-05-29 13:51] airimiea commented on #116
@silkimen the first suggestion (putting the cert file in www/certificates/) solved my problem. Thank you!

[2018-05-29 15:40] silkimen commented on #116
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-05-29 15:40] #116 closed

[2018-05-29 15:42] silkimen commented on #115
I understand your problem, but I'm very busy, atm. I didn't reproduce it, yet. Maybe someone can fix this and send me a PR for this one?

[2018-05-29 15:44] silkimen commented on #114
@labeeck please format your example code snippet properly and check #116

[2018-06-04 08:05] amb-jarek commented on #63
@silkimen this missing feature block us completely. Are you planning to add this feature in near future?

[2018-06-07 12:36] #113 closed

[2018-06-11 09:38] fmarcos83 opened #119 "204 empty response not working"
seems that for 204 response codes empty body this plugin is not working. Can someone provide feedback about it.

[2018-06-12 00:39] silkimen commented on #114
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-06-12 00:39] #114 closed

[2018-06-12 08:42] nilswitschel commented on #63
Started working on that issue at https://github.com/SDA-SE/cordova-plugin-advanced-http
I'll add a multiple file upload via `multipart`.

[2018-06-18 03:09] iamjoyce opened #120 "SSL Pinning can be bypassed with a proxy (man-in-the-middle attack)"
Certificate pinning can be bypassed with [third-party application](https://github.com/ac-pm/SSLUnpinning_Xposed)

Is there any way to check whether the network is directed to a proxy?

### Steps to replicate

1. Install your application with certificate pinning feature enabled
1. Install [SSLunpinning module with Xposed Framework](https://github.com/ac-pm/SSLUnpinning_Xposed) APK
1. Set-up [Burp S

[2018-06-21 20:19] dalezak commented on #91
Hmm, seems like a pretty serious limitation of the plugin if can't support numbers as parameters?

I'm facing this same issue now, gonna take a lot of effort to cast all parameters like `limit`, `offset`, etc in all my requests 😞

[2018-06-24 20:36] Ralpharoo opened #121 "SyntaxError: Unexpected EOF"
I've been having great success with this plugin but have come unstuck on a certain URL.

This throws an unhandled exception 'SyntaxError: Unexpected EOF' error. I've stripped everything back to a basic example which fails every time (regardless of SSL and redirection settings):

[code]

Any idea what is happening here? I'm using PGB so do not have the source to debug locally.

Cheers,

[2018-06-25 02:05] iamjoyce commented on #119
What is your code exactly? I am using an API with `204` response and it worked fine.

[2018-06-25 10:31] Ralpharoo commented on #121
Looks like it's a known Cordova bug which they will not fix; https://issues.apache.org/jira/browse/CB-9435

[2018-07-02 12:31] ZieClaw opened #124 "body object sequence is scrambled on iOS"
Hello,

I'm running into the following problem, I have a Object with data in it.
It's mean for a PSP api and has to stay the way it is due to the use of a hash of the textual representation.
But the plugin throws the properties around on iOS, something which it does not do on Android.

This is the data I am trying to send:
let content = {Currency:"EUR",AmountDebit: order['grand_total'],Invoice:"Or

[2018-07-03 01:20] kherP opened #125 "Cookie Lost in in-app-browser"
Hi,

I use this plugin to solve CORS issue in iOS but there's one issue i'm facing and I'm really out of idea on how to solve this.

On my backend server, once user logged in, there will be one cookie session used to store user info. User is expected to see his/her logged in account in the in-app-browser once the user is logged into the mobile application. However, when I logged into the mobile ap

[2018-07-03 11:11] IntelliJAbhishek opened #126 "Not able to send data with complex structure"
I'm using this plugin in ionic and I can send simple json with json serializer but I'm not able to send this type of json.

[code]

All other fields are are sent to server but that guest array becomes string and server cannot parse that.. sending same data with angular/common/http is working fine.

[2018-07-04 07:46] kherP commented on #125
I don't know how this is related but using this [solution ](http://uncaughterror.com/programming/ionic3/preflight-response-issue-with-ionic3-app-on-ios-build-only-resolved/)solved my issue.

[2018-07-04 07:46] #125 closed

[2018-07-04 08:42] silkimen commented on #119
Hi fmarcos83, I've tested with a local server which is responding 204 and it's just working fine. What's your problem exactly?

[2018-07-04 08:51] silkimen commented on #120
Hi iamjoyce,
thanks for the info, but I think there is nothing I can do against. The SSLUnpinning Module seems to register hooks in the system libs of Android. So basically, this is a "problem" of Android, which is not limited to this plugin.
But still for running this kind of scenario you need to have physically access to a rooted device or you need to have a root kit installed, so you can setup

[2018-07-04 08:52] silkimen commented on #110
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-07-04 08:52] #110 closed

[2018-07-04 09:00] silkimen commented on #121
Hi Ralpharoo, thanks for the info. Unfortunately, I can't fix this. I could implement a workaround, which could scan every response for blacklisted chars, but it would slow down everything a lot. So this one won't be fixed, I'm sorry!
If you're controlling the server, you can strip those chars on the server side. If you don't, you can implement a simple reverse proxy which is stripping those chars

[2018-07-04 09:34] silkimen commented on #124
Hi ZieClaw, I see your problem. This is happening because the data is serialized and deserialized while it's running through the cordova plugin interface. You can try using the "utf8" serializer instead. But you'll need to serialize your object on your own:

[code]

[2018-07-04 09:42] silkimen commented on #126
Hi IntelliJAbhishek, are you sure, you've setup the "json" serializer? The default one is "urlencoded" and it does not support deep structured data. See [setDataSerializer](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer).

[2018-07-04 13:34] IntelliJAbhishek commented on #126
@silkimen yes i have set serializer to json. Even i can send simple json requests like this

{
    "uname":"string",
    "password":"string",
}

Its working fine but the json in my question i can send.. In one more api i have to send similar type of json it also failed.

[2018-07-05 13:37] nilswitschel commented on #63
See PR: https://github.com/silkimen/cordova-plugin-advanced-http/pull/127

[2018-07-05 18:43] wilsolutions opened #128 "ionic 4: Blank screen"
I've opened an issue on ionic as well, basically I get a blank screen when I add the cordova-plugin-advanced-http.

https://github.com/ionic-team/ionic/issues/14520

[2018-07-07 05:48] Ralpharoo commented on #121
No worries, understand your position. I've seen numerous other plugins implementing such workarounds as this will affect any Cordova user where these characters sneak in. Especially with this plugin where people pull content from external API endpoints/websites they do not have direct control of (which I presume is fairly common).

I'll work around this from our end for now. Thanks for taking a lo

[2018-07-07 05:48] #121 closed

[2018-07-16 14:47] BorntraegerMarc opened #129 "Feature Request: Additional form data with file upload"
I know from this issue https://github.com/silkimen/cordova-plugin-advanced-http/issues/64 that the plugin does not currently support additional form data with the file upload.

This issue is a feature request to add that functionality

[2018-07-17 18:32] ihsanberahim opened #130 "java.lang.NoSuchMethodError: No virtual method getHttpUrlChecked"
## Current behavior:
Platform Android:
It crash when i do GET request. `HTTP.get`

Platform iOS:
(everything works fine)

## Error Log:
[code]

## My Environment

[code]

### Installed plugins
[code]

[2018-07-17 19:02] ihsanberahim commented on #130
modify `project.properties` to use this `cordova.system.library.2=com.squareup.okhttp3:okhttp-urlconnection:3.+`, then it works

[2018-07-17 19:02] #130 closed

[2018-07-18 07:35] iamjoyce commented on #130
@ihsanberahim Actually, you can modify the `uk.co.workingedge.phonegap.plugin.launchnavigator` plugin variables instead of changing `project.properties`.

Step 1: Modify `config.xml` and `package.json`

In `config.xml`,

![1](https://user-images.githubusercontent.com/13122245/42866650-bc4b25e6-8a9f-11e8-9561-89e8a25661ff.PNG)

In `package.json`

![2](https://user-images.githubusercontent.com/13122

[2018-07-18 08:06] ihsanberahim commented on #130
![image](https://user-images.githubusercontent.com/1956846/42868022-d41515f2-8aa3-11e8-81a2-fde792d20e78.png)

Not really. It should auto base on my config.xml but it not refelect the `project.properties`. That is why i need to change it manually.

[2018-07-18 09:49] iamjoyce commented on #130
@ihsanberahim I think you will need to

`ionic cordova plugin add uk.co.workingedge.phonegap.plugin.launchnavigator --variable LOCATION_USAGE_DESCRIPTION="Give some description for your app." --variable OKHTTP_VERSION="3.10.0"`

`cordova plugin add uk.co.workingedge.phonegap.plugin.launchnavigator --variable LOCATION_USAGE_DESCRIPTION="Give some description for your app." --variable OKHTTP_VERSION

[2018-07-25 06:35] iamjoyce commented on #129
#101

[2018-07-25 06:42] BorntraegerMarc commented on #129
yeah seems like this is a duplicate. closing this issue...

[2018-07-25 06:42] #129 closed

[2018-07-25 16:46] BorntraegerMarc commented on #26
I'm experiencing this issue again in version `1.11.1`

[2018-08-03 14:36] gurnard123 opened #133 "Request timeout does not function"
I am using this plugin through Ionic 3.
This is tested with an Android device, on the device (not emulated).
When I set a global timeout on the HTTP plugin it is completely ignored.

I set it like this:

[code]

I make a request to the server like this:

[code]
In the instance where the server cannot be contacted, there is WiFi but the server is down, I takes about 3 minutes until the catch is exe

[2018-08-06 14:50] gurnard123 commented on #133
Got it working in the end I had this bit of code to cater for a bug in an older version of the ionic plugin.  All works fine now.
HTTP.getPluginRef = () => "cordova.plugin.http";

[2018-08-06 14:50] #133 closed

[2018-08-06 22:02] mattgaffin commented on #119
I too am getting an issue with 204's appearing to throw an error. The response that I see from my backend server which is on Amazon, is a seemingly normal 204. However, in my code when I set a breakpoint in the response handler, it shows the following for the rawResponse parameter:

error: "There was an error with the request: java.io.EOFException"
statis: "-1"

I am about to trace further into th

[2018-08-07 09:49] Hanzofm opened #134 "Problem with uploadFile method"
Hi,

I am trying to upload a image file from my Ionic project to my backend. I obtain the image file_uri from the camera/photogallery with the cordova camera plugin. This are the content of the parameters supplied to the request:

[code]
This is the request

[code]

When I do the request the response jumps to catch and this is log

`"Error: advanced-http: invalid params object, needs to be an obje

[2018-08-13 13:02] glen442 commented on #34
The documentation says:

`setHeader(host, header, value)`

Set a header for all future requests. Takes a hostname, a header and a value.

Param | Type | Details
-- | -- | --
host | string | The hostname to be used for scoping this header
header | string | The name of the header
value | string | The value of the header

[2018-08-13 15:57] glen442 opened #136 "Browser: Content-Type header non overwritable"
Background:
I am trying to implement a CORS work around. The angular-http stuff works fine, but not on IOS since the Webview update. I have removed non-relevant (working) headers for the sake of readability.

[code]

Console:
[code]

It seems that the header is correct until the POST is run, where it appends the correct value to an undocumented default. Any suggestions?

I am testing this on:
`ion

[2018-08-14 10:59] glen442 commented on #136
After a deeper dive in the lib code:

[Here](https://github.com/silkimen/cordova-plugin-advanced-http/commit/6877fbdb6546e483802d1f44226acc3013987a38#diff-6364ee7b2c02b5d25c6574467b7a5a6e) is where the "undocumented default" seems to be introduced (on android, at least).
Thats line 156 in file src/android/com/synconset/cordovahttp/CordovaHttp.java

That seems a reasonable default. I am currently i

[2018-08-15 08:45] ht-itsoft commented on #106
You can use HttpClient in @angular/common/http to call API.

`import { Component } from '@angular/core';
import { NavController, Platform } from 'ionic-angular';
import { HttpClient} from '@angular/common/http';

@Component({
  selector: 'page-home',
  templateUrl: 'home.html',
})
export class HomePage {

  constructor(
    public http: HttpClient
  ) {

    platform.ready().then(() => {
      thi

[2018-08-22 06:08] ravi-pandit14 opened #137 "iOS: not working with pinned cert mode"
We are facing an issue with getting this plugin to work on iOS. This plugin is working fine on Android.

We are getting following error on iOS:
**Error:**
`{"status":-1,"error":"cancelled"}`

Some additional details about setup:
We are using ionic and have also tested this plugin on starter Ionic app to make sure this is not something related to compatibility with other plugins.

We have checked r

[2018-08-23 15:20] gasziv131 opened #138 "Client Certificate"
Hi,
I would like to know if is possible to make an api call with a client certificate.
Thanks

[2018-08-24 14:54] gasziv131 opened #139 "An SSL error has occurred and a secure connection to the server cannot be made."
Hi,
I trying to make a post request with a ssl certificate and im getting this error:
_An SSL error has occurred and a secure connection to the server cannot be made._
Any ideas?

[2018-08-27 12:43] MiguelSyll commented on #137
I have the same Problem. It works with Android, but not with iOS 11.

Ich have the same  json dependencies as the main post.

[2018-08-28 08:51] corypheus opened #140 "iOS: Exception / App stops on sending any request"
Hi,

I'm getting the following error message upon sending any request on iOS 11.4.1. Building and launching to iPad works fine but firing a request leads to error.
I'm using Ionic and I enabled SSL Pinning (+ allowAllCerts) and DER certificate within folder www/certificates.

`[__NSArrayM length]: unrecognized selector sent to instance`

It pops up within AFURLRequestSerialization.m

    [self.HTT

[2018-08-28 15:19] glen442 commented on #136
Workaround for use with:
`'ionic cordova run browser'`

in file:
<app folder>\platforms\browser\platform_www\plugins\cordova-plugin-advanced-http\src\browser\cordova-http-plugin.js

on line 114, comment out the setRequestHeader() like so:
[code]
This will stop the default 'text/plain' header from being added.
It seems the appending of headers (rather than overwriting) is happening in the underlyin

[2018-08-30 08:53] leongzw commented on #75
Hello @silkimen
Are there any updates on addSSLCert(pathToCert) implementation?
This method is real important to not forcing user updating the application everytime the cert expired.

Thanks.

[2018-09-01 12:43] JoelAH opened #141 "plugin_not_installed"
Hi, I installed the plugin as stated in the ionic docs, and also included it in the ap module, but I get this error on catch "plugin_not_installed". I dont know what to do now.

[2018-09-02 09:43] mrvipinkashyap commented on #137
Is there any fix for this issue?

[2018-09-02 10:34] litianyangz commented on #141
Mine is the same

[2018-09-03 13:05] #120 closed

[2018-09-03 13:28] silkimen commented on #124
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-09-03 13:28] #124 closed

[2018-09-03 13:31] silkimen commented on #119
Hey guys, please check issue #121 as I think your problem is related to a known cordova bug.

[2018-09-03 13:55] silkimen commented on #126
Please show us some example code you are running.

[2018-09-03 14:28] silkimen commented on #134
Hi Hanzofm, the error message means that your parameters object (second parameter "data" in your code snippet) contains values which are not strings. Please check this object.

[2018-09-03 14:31] silkimen commented on #138
Hi gasziv131, this feature is not supported, atm. But maybe we'll be implementing this in a future version.

[2018-09-03 14:49] silkimen commented on #136
Hi glen442, thank you for your detailed investigation on this issue. The problem is indeed caused by the fact that the browser merges the values. See [MDN XMLHttpRequest.setRequestHeader()](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/setRequestHeader):

But this problem only affects the browser platform. You can override the content type on Android and iOS even though there is

[2018-09-03 18:26] glen442 commented on #136
Just to add, in an earlier post I mentioned:

This was from an error in my code, and not related to this issue.

[2018-09-03 23:56] #136 closed

[2018-09-04 00:04] silkimen commented on #141
Hey guys, actually this sounds like an ionic-native problem not related to the plugin itself. Please open an issue [over there](https://github.com/ionic-team/ionic-native). Please feel free to open a new issue, if it comes out that it's indeed a plugin error!

[2018-09-04 00:04] #141 closed

[2018-09-04 14:29] silkimen opened #142 "Plugin affected by REDoS Issue of tough-cookie"
This plugin is affected by a REDoS issue: https://www.npmjs.com/advisories/525

[2018-09-04 18:27] #142 closed

[2018-09-04 23:02] silkimen commented on #128
Hi wilsolutions, I think there is nothing I can do to solve this problem on my side. Needs to be fixed in ionic-native, right?

[2018-09-05 00:13] silkimen commented on #109
Hi Marc, I've tried to reproduce your problem manually on my machine, but I couldn't.

I've tested with paypal.com which is sending `set-cookie: LANG=de_DE%3BDE; Domain=.paypal.com; Path=/; HttpOnly; Secure` and it's just working fine.

I'll write a test to prove this, but httpbin (which I'm using as backend for my automated testing) doesn't support HttpOnly cookies, atm. I've opened an issue over

[2018-09-05 12:33] BorntraegerMarc commented on #109
I solved it by setting the cookie manually:
[code]

I will check if the issue still persists and come back to this issue once I finished my test.

[2018-09-06 13:55] mrvipinkashyap commented on #137
Some additional information on this issue.
We have checked and verified that certificate we are using is DER encoded based on this [comment](https://github.com/silkimen/cordova-plugin-advanced-http/issues/84#issuecomment-385366672) and [article](https://info.ssl.com/article.aspx?id=12149) referred to in link.

So encoding format of certificate is correct. But issue still persists and the error cod

[2018-09-07 01:39] silkimen commented on #137
Hi Vipin, is your endpoint publicly available, so I can test it on my device?

[2018-09-07 03:58] mrvipinkashyap commented on #137
@silkimen Thanks for responding.
It isn't available publically. That is why I haven't been able to upload a demo version of this project so far which only contains only this plugin on ionic starter project. Also I am directly using cordova instead of ionic native to rule out any issues related to that.

I am not sure how to make it easier for you to debug this issue. Please let me know what you su

[2018-09-11 08:14] Story5 commented on #63
desire the feature, is there any further news?

[2018-09-13 07:31] mrvipinkashyap commented on #137
Hi @silkimen
Have you been able to replicate this issue with the private repo I shared? Was that helpful in recreating this issue on your end?
Please let me know if you think the issue can be fixed.
Also is there any Gitter chatroom specifically for this plugin?
Thanks

[2018-09-13 17:55] keithdmoore commented on #137
@ravi-pandit14 @mrvipinkashyap  Have you guys tried version 2.0.0 or above for this plugin?  Looks like the `setSSLCertMode` feature was added in 2.0.0 so you might try that.  I had to force the install with `ionic cordova plugin add cordova-plugin-advanced-http@2.0.1` to get the newer version.

[2018-09-14 04:57] mrvipinkashyap commented on #137
@keithdmoore Thanks for checking.
Yes, I am using v2.0.1 of plugin and all tests results I have added above is with latest version of plugin.

[2018-09-14 16:39] darrelmen opened #143 "http post not being executed on android/ios simulator"
there is no issue using http get however when using http post, the code does not  execute it. I try to follow through android studio debugger and it is ignoring the action for "post".
Ionic 3.9.2
cordova-plugin-advanced-http (2.0.0, 2.0.1)
tried reinstalling all plugins and rebuilding the platform from scratch still no luck.

[2018-09-16 22:12] osrl commented on #143
I think http get is not working either.

[2018-09-19 13:05] alan-grixti commented on #109
@varunkumarm is the issue you're facing by any chance that of cookies not being persisted in the plugin? This used to work for me when using it with UIWebView, but after upgrading to WKWebView the plugin is not finding any cookies, neither setting nor retrieving.

[2018-09-20 08:20] Canuckaholic opened #144 "How do you make a request with nested objects?"
I'm trying to make a GET request using the following parameters, but I'm getting an error that it needs to be an object with strings:

[code]

I don't have control over the API, so it's expecting status to be an object.

Here's more code (coffeescript):

[code]

Help!

[2018-09-20 12:43] monkeychops opened #145 "307 redirect not handled"
Hi there,

Firstly, great work with the plugin, it's really saved my ass so far getting around the forced CORS implementation with WKWebview.

I'm just in the process of upgrading my Ionic application to cordova-plugin-ionic-webview 2.0 and the plugin works great for both iOS and Android. BUT. I'm now integrating with a 3rd party API that responds with a 307 redirect which I can see is not handled

[2018-09-27 23:34] pliablepixels opened #146 "Implementing the equivalent of "transformResponse""
Hello, thank you for the plugin. I am using this in an AngularJS project. AngularJS allows us to do specify a `transformResponse: undefined` with an `$http` request that disables the automatic JSON parsing function of the response.

I'd like to implement something similar in this plugin - that is, in the request, specify an option that gets passed to the response so I know whether to do a JSON.par

[2018-09-27 23:44] pliablepixels commented on #146
Sorry, forgot I have access to the request headers in the response as it has context. Solved.

[2018-09-27 23:44] #146 closed

[2018-09-28 20:09] pliablepixels opened #147 "Is it possible to exchange cookies between this plugin and browser $http ?"
Hi, a while ago I [asked](https://github.com/silkimen/cordova-plugin-advanced-http/issues/81) a harder question but now I have a hopefully easier one:

**Question**:
Is it possible to somehow "share" a cookie between this plugin and `$http` calls that the browser makes?

**Context**:
1. I use this plugin to "log in" to a website (say `http://server/login.json". This in turn sets a `ZM_SESSID` cook

[2018-09-28 21:01] darrelmen commented on #134
Hi,

Im also having issue with uploading file using https on both android and ios Im not getting any error and Im getting a response  back from the server but it is not uploading the file.

[2018-09-30 11:06] longzheng commented on #109
I think I’m also experiencing this issue where a ‘Set cookie’ on a response is not being persisted for future requests. However I’m not sure if this bug is because it’s a POST response or a 301 redirect response.

I’ll try to make a reproducible test case.

[2018-10-01 11:38] longzheng opened #148 "Cookies not being set/sent with redirected response/requests"
I'm using an external API that is setting a cookie on a 302 redirect which this plugin does not seem to handle correctly.

I was able to always reproduce this issue in the following test case (I mocked these HTTP responses). I used a network capture tool like Charles to inspect the request/responses.

1. Redirects are handled (`disableRedirect` is not enabled)
1. `GET http://www.mocky.io/v2/5bb200

[2018-10-01 11:42] longzheng commented on #109
I did more testing and I think my bug is slightly different. I was able to verify `HTTPOnly` cookies are stored/sent, but all cookies set on a redirected response doesn't get stored.

https://github.com/silkimen/cordova-plugin-advanced-http/issues/148

[2018-10-01 12:20] longzheng commented on #148
I was also able to confirm if I enable `disableRedirect`, then the response cookie is correctly stored and sent in subsequent requests, however obviously I'd need to manually handle the redirects which isn't desirable.

[2018-10-02 16:24] mmarius92 opened #149 "Assertion failure"
We have a Problem sending a POST-Request in a ios device when using your plugin. We get this Error:

*** Assertion failure in -[TextRequestSerializer requestWithMethod:URLString:parameters:error:], phad/AFURLRequestSerialization.m:347

Do you know what our Problem is?

[2018-10-04 13:26] shah-pooja opened #150 "SSL handshake failed- Android issue"
I am trying to login using the post method. The content type in the header is **"x-www-form-urlencoded"** . While doing login in the android devices it gives me error as following
**api response error** : {status: -1, error: "SSL handshake failed"}
**android studio error** : D/NativeCrypto: ssl=0x7933868700 NativeCrypto_SSL_do_handshake exception => 0
I/System.out: close [socket]
D/WebView: evalua

[2018-10-04 16:04] #147 closed

[2018-10-04 16:16] pliablepixels opened #151 "Self signed certs - ATS failed system trust (iOS 12)"
plugin version: `cordova-plugin-advanced-http 2.0.1`
OS: iOS 12
device: iPhone X

(Validated this is an iOS only problem. Same code works well on Android)

Hi, I have enabled accept all certs using:

[code]

I can confirm this operation succeeds.

However, invoking any subsequent HTTP calls to the server (using self-signed certs) results an error as below.

I read in https://github.com/silkimen/co

[2018-10-09 06:19] dhaneshgosai opened #152 "XML API calling not working with latest version"
I am using cordova-plugin-advanced-http plugin for API calling and all JSON enabled api working fine but I have one XML embedded API which is working fire in Postman but while I call it from ionic its param not getting at server end.

Below is my code for XML api:

**Type 1:**
[code]

**Type 2:**

[code]

All time its throwing error from server and with same request I can able to get data in postm

[2018-10-10 13:34] pliablepixels commented on #148
+1 on this. I have a situation similar to the OP. My login is based on cookies and the portal returns a 302 found. This plugin does follow the directly, but ignores the cookies.

This problem is evident on both iOS and Android

[2018-10-10 14:00] pliablepixels commented on #151
I am closing this assuming one has to enable ATS and just doing `cordova.plugin.http.setSSLCertMode('nocheck', function()` is not sufficient in iOS. I will lodge an ATS exception with apple since I have no option but to enable that flag as the servers are not under my control.

[2018-10-10 14:00] #151 closed

[2018-10-11 03:22] RikdeBoer opened #153 "Strange behaviour in Cookie handling on iOS"
Thanks so much for this plugin, it works great for me on both Android and iOS, in particular in background, which is superb as using straight `fetch()` calls in Javascript will grind to a halt after 5 minutes thanks to Google's stupid policy in Chrome.

My question is what **headers**/parameters do I need to pass to `cordova.plugin.http.sendRequest`, so that I obtain equivalent functionality of th

[2018-10-11 05:13] #149 closed

[2018-10-11 06:25] warbadev opened #154 "android version 7.1.1 force close"
hi i upgraded my android build to cordova android 7.1.1 (latest version) and when ever i use the plugin my app gets force close and cant get any error message to know whats the issue but after debugging and disabling calling this plugin my app works fine so please can u update it to support the latest version

[2018-10-11 11:06] longzheng commented on #148
In my project I've worked-around this by
- enabling `disableRedirect`
- handle HTTP redirect status codes in http rejection
- extract URL from `Location` header
- call the redirected URL recursively

Which is roughly
[code]

It's a bit dirty but works.

[2018-10-11 12:20] silkimen commented on #148
Hi longzheng, that's a good warkaround! I can confirm this is a problem, I'll need to fix.

[2018-10-11 12:33] silkimen commented on #144
Hi Canuckaholic,

the problem is in this line `cordova.plugin.http[options.type](options.url, options.data, ...`.

If `options.type` equals `get`, `delete` or `head`  the second param needs to be be a query parameters object NOT a data object. The parameter object only accepts simple key value pairs (value being a string), because it's just creating HTTP query params.

e.g.:
[code]

[2018-10-11 13:03] pliablepixels commented on #148
Thanks @longzheng I've done something similar but glad to see @silkimen plans to address this in the core code!

[2018-10-12 08:49] RikdeBoer commented on #153
Dug a little deeper.

First of all, I believe that the cookies aren't being set correctly. The attribute name 'Cookie' is being used. I believe it should be 'Set-Cookie'.
So I fixed `getCookieHeader` as follows:

[code]

With this change my app started working on iOS, that is no more 403 errors, as the login credentials are now properly passed to the server.

However, I still experience 403's with

[2018-10-12 12:11] silkimen commented on #153
Hi RikdeBoer,

it needs to be **Cookie** not **Set-Cookie** in _cordova-plugin-advanced-http/www/helpers.js_, because this function is returning the data which is sent to the server, not the data received from the server. See [RFC6265](https://tools.ietf.org/html/rfc6265) specs, especially [section 4.1](https://tools.ietf.org/html/rfc6265#section-4.1) and [section 4.2](https://tools.ietf.org/html/

[2018-10-12 12:12] silkimen commented on #128
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-10-12 12:12] #128 closed

[2018-10-14 02:02] RikdeBoer commented on #153
@silkimen

Thanks for the references. Yes I believe you are right and I had it mixed up.

But here's the weird part.
It is not, as I first suspected, the _presence_ of 'Set-Cookie' in the header, it is about the _absence_ of 'Cookie', at least with iOS.

When I change function `getMergedHeaders()` to NOT merge in the 'Cookie' header, i.e. comment-out this line:

`  //mergedHeaders = mergeHeaders(m

[2018-10-14 03:33] RikdeBoer commented on #153
XCode forced me to upgrade to iOS 12.0 and update dependencies.
After re-compiling everything, iOS still behaves very much the same, except that the call to `getCookieHeader()` no longer returns a double copy of the cookie. Just a single one, as it does on Android.
However, the fact remains that for iOS at least you have to suppress the merging-in of the result of `getCookieHeader()` in  `getMerge

[2018-10-14 22:51] abdellaui commented on #154
got the same problem... do u got a solution?

[2018-10-17 02:51] Bengejd opened #156 "Response data being converted into a string, instead of an object."
When receiving a post response, the response data is being generated as a string, instead of being displayed as a data object. It's in Object format, but it's just a string, instead of an object? I think it has something to do with the serializer response.

[2018-10-19 08:04] finetuning-mg commented on #148
+1 I can confirm this bug exists on both iOS and Android versions of the cordova plugin (using latest Ionic 3 framework).

[2018-10-19 10:05] vosecek opened #158 "Remove header method"
How to remove header set by setHeader() method? Setting empty value does not work.

[2018-11-01 03:43] yibsonalexis commented on #8
Hello.
This solves your problem.

Before your petition.

this.http.setSSLCertMode(‘nocheck’).then((resp: any) => {
console.log(resp);
}, (error) => {
console.log(error);
});

[2018-11-01 20:16] mm44m6 commented on #137
I'm having the same issue with the v2.0.1. It works if the

 option is used but it doesn't work when the pinning is active or in

mode.

Pls fix this.

[2018-11-05 01:46] CS-Tao commented on #158
+1，I want to remove user-agent. Does anyone konw the method?

[2018-11-06 20:13] smartameer commented on #150
Experiencing Same issue.

[2018-11-09 00:37] pablocabra opened #159 "Body as Xml String"
Hi guys, I'm trying to make a post request where the body is not an Object is an String but it sends the following error:

advanced-http: "data" argument supports only following data types: Object

My request look like:

let body = "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\" xmlns:

[2018-11-09 15:39] dpinter commented on #93
Hello,
calling this.http.post(url, body, {}),  cordova crash without error.
calling this.http.post(url, body, {Content-Type: "application/json", Accept: "application/json"}),  cordova crash without error.
calling this.http.post(url, body, new Headers()) I get this error: "Error: advanced-http: header values must be strings". (console.log(new Headers()) prints {} )
calling this.http.post(url, body,

[2018-11-09 18:01] dpinter commented on #93
There was a conflict between cordova-plugin-advanced-http and uk.co.workingedge.phonegap.plugin.launchnavigator about the OKHTTP version.
In particular, I resolved it installing:

cordova plugin add uk.co.workingedge.phonegap.plugin.launchnavigator --variable OKHTTP_VERSION=3.10.0

cordova plugin add cordova-plugin-advanced-http --variable OKHTTP_VERSION=3.10.0

[2018-11-12 16:03] finetuning-mg opened #160 "Incorrectly encoded chars breaking response.data"
Hello,
I am having troubles with the response data of some POST calls (using the native client inside an Ionic 3 project).
I am setting up the POST call with:
headers = { 'Content-Type': 'application/json; charset=UTF-8' };
http.setDataSerializer('utf8');
The response I get back is a JSON object, which sometimes include some weird characters like the following: {"field1": "aaaa", "field2": "bbbb",

[2018-11-13 04:50] aiguy110 commented on #154
Could you elaborate a little on exactly how you updated gradle? The global gradle installed on my system is 4.10.2, but I'm still having this issue. Do you have to update your android platform configuration somehow? Have played around a little with build.gradle with no luck.

[2018-11-13 13:31] DeepiManjoo opened #161 "Unable to intercept http request"

[2018-11-14 15:47] dinomycle opened #162 "ramdump showing username and password"
Hello all,
 we are using this plugin for our Android and iOS app, for one of our info security testing using frida tool for taking ramdump. we can see the username and password in the RAM DUMP taken after the login button is pressed, for the data which is send to the URL passed to the http plugin.

How can i remove this data ? this seems to be a security issue right

[2018-11-15 10:18] SaltyPotato commented on #150
Experiencing same issue.

[2018-11-15 16:19] finetuning-mg commented on #160
Update: the project works just fine when deployed to iOS (iPhone 8 with iOS 12.1). It seems to be an issue with the android part of the native plugin. Maybe the default encoding is something else than UTF-8?

[2018-11-16 12:15] dinomycle commented on #162
can some one guide on the above issue ?

[2018-11-19 20:01] matheusencarnacao opened #163 "Cannot send a text/json in POST method"
Hi, i'm getting this error, i see that when i use dataserializer = 'json', i can't use string but in my .NET API, I expect a string from body. There's a way to do it?

Error: advanced-http: "data" argument supports only following data types: Array, Object
    at Object.getProcessedData (:8080/plugins/cordova-plugin-advanced-http/www/helpers.js:223)
    at Object.sendRequest (:8080/plugins/cordova-

[2018-11-20 09:15] finetuning-mg commented on #163
Hi,
try with dataserializer='utf8', it should allow you to use any string for the body (I am using it currently in POST and GET requests).
Mat

[2018-11-22 14:18] mm44m6 commented on #137
Ok, so I was having this issued and I realised I was putting the certificates folder in the wrong place and it was not actually finding it therefore it was not pinning and throwing this error.

After I placed the certs inside the correct folder, it worked fine. _The certificates folder should be inside the www folder. Make sure it's in the right place or else it will keep falling._

Now, in Ionic

[2018-11-22 14:52] monkeychops commented on #145
Anyone got any thoughts on this?

[2018-11-22 15:00] finetuning-mg commented on #145
Hi there,

did you already try to force the redirection by using something like:
`this.http.disableRedirect(false);`
?
I had to disable redirects in my Ionic project because of an open issue with cookies, you can find my workaround in #148. Maybe you can re-use my code to handle the 307 redirects as well.

Hope it helps!
Mat

[2018-11-22 15:09] monkeychops commented on #145
Thanks for your response. I did actually end up with a very similar solution, but it's a little messy in the client. Just thought I'd check to see if there are any plans to handle it in the plugin :)

[2018-11-23 09:16] divyangsolanki commented on #137
Hello @mm44m6 ,
I have attached one screenshot which shows my project folder structure.

<img width="621" alt="screenshot 2018-11-23 at 2 40 52 pm" src="https://user-images.githubusercontent.com/24452113/48935484-e2a79380-ef2d-11e8-85a6-f4731749898d.png">

I have tried to put .cer file in certificates folder and add
`<resource-file src="hooks/certificates/certi.cer"/>` in config.xml file for iOS b

[2018-11-23 15:15] mm44m6 commented on #137
@divyangsolanki
Are you using Ionic 3 or 4? If you're using Ionic 3, you should place the `certificates` folder **inside the `www` folder**.
`www` is located in the root of your project. This folder is created after you build your app for the first time.

<img width="358" alt="captura de tela 2018-11-23 as 13 10 56" src="https://user-images.githubusercontent.com/18660956/48950165-673fe500-ef21-11e

[2018-11-25 02:06] silkimen commented on #161
Closing this, because no description was provided.

[2018-11-25 02:06] #161 closed

[2018-11-25 02:11] silkimen commented on #159
See [docu: setDataSerializer](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer). You need to configure "utf8" before sending your request.

[2018-11-25 02:11] #159 closed

[2018-11-25 02:12] silkimen commented on #163
See #159. Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-11-25 02:12] #163 closed

[2018-11-25 02:18] silkimen commented on #156
Yes, that's right. Please read [docu:success](https://github.com/silkimen/cordova-plugin-advanced-http#success). Data returned from server is always a string. You need to parse it yourself e.g. parsing a string by running `JSON.parse(response.data)`.

The serializer setting is only for configuring how to interpret the data you will be sending (and to configure default headers). It's not meant for

[2018-11-25 02:18] #156 closed

[2018-11-25 02:33] silkimen commented on #153
Hi RikdeBoer, I'm sorry for my late response, been very busy the last two months. Your issue is very interesting. But something, somewhere needs to be different in the received data. Maybe something in the body? Otherwise, I have no clue why this is happening.

[2018-11-25 02:43] silkimen commented on #152
Type2 won't work for sending your XML data as a string. The serializer will try to interpret your string as an JS object. So stick to Type1. What exactly is your problem? What's the error message?

[2018-11-25 02:55] silkimen commented on #150
Hi guys, this is happening when something goes wrong during SSL handshake. Maybe the server is using a cipher suite or a SSL version which is not supported on the device? It's hard to tell without having more information. Maybe you can check the server logs to get more detailed infos?

[2018-11-25 02:56] silkimen commented on #144
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-11-25 02:56] #144 closed

[2018-11-25 02:58] silkimen commented on #134
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-11-25 02:58] #134 closed

[2018-11-25 03:00] silkimen commented on #126
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-11-25 03:00] #126 closed

[2018-11-25 03:09] silkimen commented on #162
Hi dinomycle, I've never used frida tool. What exactly is your problem? Can you please explain your use-case more in detail? Where do you enter your username and password? Where is this data stored?

[2018-11-25 03:16] silkimen commented on #160
Hi finetuning-mg, when you are logging your `respose.data` you are receiving ` chiuso"}` instead of `{"field1": "aaaa", "field2": "bbbb", "field3":"Guasto già chiuso"}`? Did I understand your issue correctly?

[2018-11-25 11:46] dhaneshgosai commented on #152
Hey,

Thanks for your comment and what I am facing is my XML body not reaching to server end same thing I m able to send it through native iOS code.

Can you please check above code and let me know what’s wrong with above code.

Thanks once again for looking into my issue.

[2018-11-25 21:33] silkimen commented on #152
Type1 should be working. So, you don't have an error message? What's the body content you are receiving on server side? Is it empty? What's the response on the client side? Do you have log files from server side?

[2018-11-25 23:19] finetuning-mg commented on #160
Yes, please have a look at the debug from Google Chrome attached here. Still haven't been able to figure out if the string is incorrectly encoded by the server.
<img width="826" alt="screen shot 2018-11-23 at 13 04 21" src="https://user-images.githubusercontent.com/6928109/48986124-d92a5100-f110-11e8-8922-bd15b4bfdd4b.png">

[2018-11-26 04:57] dinomycle commented on #162
1) I am using http with https://ionicframework.com/docs/native/http/ .
2) Create a test app with login form, login username and password text field and login button
3) When login button is pressed. call a http url for authentication
import { HTTP } from '@ionic-native/http';
   let http = new HTTP
   http.setDataSerializer("json");
    let login_params = { "username":do_login_username , "password"

[2018-11-26 05:01] jsasmitha commented on #41
Hi, I ran into the same problem. POST is not sending data to the server. GET is working fine. Below is my code:-
post(user){
this.http.setDataSerializer("json");
  let bodynow = {
        "email_id": "aa@gmsd.sdf",
        "mobile":"9978897989",
        "first_name": "dfdf",
        "last_name": "ghgfh",
        "user_title":"MS",
        "country_code": "91"
      }
let headers=this.http.setHeade

[2018-11-26 05:15] divyangsolanki commented on #137
No, actually I am not using ionic, I have developed my app using Cordova and vue js.

And in my www folder certificates folder is not created after building the application.

[2018-11-27 09:10] silkimen commented on #162
Ok thanks, so the problem is in these lines [advanced-http.js#L88-L96](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/www/advanced-http.js#L88-L96)? I don't see how to prevent that. Do you have an idea? As long as the code calling this function is not out of scope, the garbage collector will not clean up the closure. So it'll stay in memory.

But actually I don't see a high r

[2018-11-27 10:50] divyangsolanki commented on #137
<img width="609" alt="screenshot 2018-11-27 at 3 52 57 pm" src="https://user-images.githubusercontent.com/24452113/49075914-d38e5180-f25d-11e8-870c-1353a954bfa5.png">

@mm44m6
I have attached my project folder structure where I put my certificates files.
It is working fine in Android but not in iOS.

I have tried one solution to give certificate file path in config.xml file
For Platform Android:
<

[2018-11-27 14:11] fer1994 opened #165 "Problem with response json"
Hi,

  I have one problem when i send the data and the response have a utf8, my problema is i need yes or yes send a "application/x-www-form-urlencoded" content type but is a Oauth, but the response have a utf characters.

   Any have a idea how can i solve this problem?

[2018-11-27 14:13] dinomycle commented on #162
The password is retained after the logout,
 if there is any other method to clear all message data/variables (used by exec)

[2018-11-28 07:55] vosecek opened #166 "setSSLMode for browser - any options (paid development)"
Is there any option for implement missing browser features (Pinning SSL certificate, Disabling SSL certificate check)?

If is it possible, please say price for implementing these two features.

[2018-11-28 14:30] fer1994 commented on #158
I want too, i cant back the json response in UTF8 :/

[2018-11-28 14:39] CS-Tao commented on #158
Have you tried this api: [setdataserializer](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer) ?

[2018-11-29 23:08] silkimen commented on #166
Hi vosecek, unfortunately I can't implement this features for the browser platform, because I'm using basic Web API functions. Browsers don't support messing up how the SSL / TLS connections are handled due to security risks. But maybe you can ask the guys at https://digitalbazaar.com/. They have implemented [forge](https://github.com/digitalbazaar/forge) which is an impressive TLS library written

[2018-11-29 23:18] silkimen commented on #137
@divyangsolanki: you have to put your certs in `www/certificates/` NOT in `hooks/certificates/`. This folder is not auto-generated, you need to create it manually. You don't need to include the cert files in your config.xml file.

[2018-11-29 23:34] silkimen commented on #162
"exec" is a function provided by Apache Cordova, it's not part of this plugin. So if the problem is caused by "exec", there's nothing I can do.

But even if it's a problem in the plugin code, the JS engine is using a garbage collector and therefore it's not possible to just clear the memory. There are no "malloc" and "free" functions to achieve this.

[2018-11-30 08:07] vosecek commented on #166
Thanks for reply.

[2018-11-30 08:07] #166 closed

[2018-11-30 10:22] shah-pooja commented on #150
Upgrade the plugin to the latest version and before calling post method for api add the following code:
cordova.plugin.http.setSSLCertMode('nocheck', function() {
		console.log('success!');
       }, function() {
		console.log('error :(');
	});
The details about this method is already available in the plugin document. This helped me.

[2018-11-30 11:29] divyangsolanki commented on #137
I have tried to implement as per your suggestion but it is not working. I am always getting "Success" although I have put an invalid certificate in android.

[2018-12-03 12:30] zeidlos commented on #137
We have the same problem and Can't figure out what's wrong. We're only getting back a "canceled".

[2018-12-03 14:44] finetuning-mg commented on #160
Update on the topic. We have been able to solve the problem by adding the charset info in the response content-type header. Now it is something like:
`Content-Type: application/json;charset=utf-8`
and the native client is able to deal with data content just fine.
I suppose the native Java client is treating the response as a ISO-8859-1 string, and any UTF-8 encoded character is triggering some sor

[2018-12-03 20:09] mm44m6 commented on #137
@zeidlos are you putting the certificates in the right folder? And also, are you using the right certificates for you endpoint? From what I've seen here, while trying to debug the native code, this error could be related to ssl issues.
The error treatment in this plugin could be better... This message gives no clue whatsoever to why the pinning is failing.

[2018-12-04 09:16] divyangsolanki commented on #137
@mm44m6  I have put my certificates in the right folder and I am using an invalid certificate to check whether error case is generated or not. But it is not working in iOS.

[2018-12-04 21:06] silkimen commented on #160
Ok thanks for this info, now I do remember why this problem is occurring!

Actually this plugin supports both UTF-8 and LATIN1 (which is ISO-8859-1). But if the charset is not given in the response, we're trying to guess it (see [CordovaHttp.java#L215-L217](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/android/com/synconset/cordovahttp/CordovaHttp.java#L215-L217)) by run

[2018-12-04 21:44] Genarito opened #167 "How could I debug in the network tab"
I've started using this plugin as Angular HTTP doesn't work on iOS. But I notice that nothing appears on network tab in the [Developer Tools in Google Chrome](https://developers.google.com/web/tools/chrome-devtools/remote-debugging/) (chrome://inspect/#devices). Is there a way to debug the HTTP request made by the plugin from the Developer Tools?

![image](https://user-images.githubusercontent.com

[2018-12-05 08:39] HoverBaum opened #168 "Capacitor support for SSL pinning"
The plugin currently doesn't play nicely together with [capacitor](https://capacitor.ionicframework.com) which is the successor for Cordova. The following was experienced while developing for iOS.

While the plugin generally work as expected, it breaks on certificate pinning. The problem lies in a changed project structure within xCode and therefor the resulting iOS App. Due to the changes the plu

[2018-12-05 16:50] elin-y commented on #137
@mm44m6 Hello Maria, can you share the hook you created? I'm using Ionic 3 but the www-Folder is not in our version control, so I need a way to put the certificates into the www folder automatically after the build process.

[2018-12-06 00:44] mm44m6 commented on #137
[code]

@elin-y the hook I was talking about, I hope it helps you.
It gets the certificates folder from the root of the project and paste its content inside the www that is generated for each specific platform.

[2018-12-06 07:48] smallg commented on #167
if plugin working, can not catch xhr by develop tools.

[2018-12-06 17:33] Genarito opened #169 "App crashes on Android when plugin Launch Navigator is installed"
Hi!
As [this issue](https://github.com/ionic-team/ionic/issues/15583) says, app crashes when trying to use this plugin in a project with Launch Navigator installed too. I don't know if there is something that can be fixed in this project so I report here too.

Sorry about inconvenients and great job!

[2018-12-10 14:01] silkimen opened #170 "Test Suite: Can't build iOS Test App with Xcode 10.1"
Building test app fails after upgrading Xcode to version 10.1 due to [cordova-ios#407](https://github.com/apache/cordova-ios/issues/407). Needs to be fixed by updating cordova-ios and passing in build flag.

[2018-12-10 14:17] #170 closed

[2018-12-11 12:03] Hanzofm commented on #150
Same problem with Android 6.0.1 what would be the problem with it?

[2018-12-13 10:02] silkimen commented on #167
Closing this, feel free to open a new issue, if this won't solve your problem!

[2018-12-13 10:02] #167 closed

[2018-12-13 10:11] silkimen commented on #140
Hi corypheus, please try updating to new version (2.0.2) of this plugin. "allowAllCerts" was removed in version 2.0.0, because it lead to many problems.

[2018-12-13 10:46] silkimen commented on #158
Hey guys, it's not supported to remove headers, but actually you can overwrite an header by setting an empty value.

e.g.
[code]

will result in an empty User-Agent value:
<img width="899" alt="bildschirmfoto 2018-12-13 um 11 42 00" src="https://user-images.githubusercontent.com/4717881/49933662-8b616700-fecc-11e8-8636-83fa38254925.png">

[2018-12-13 12:54] abhijithaccion commented on #101
Hello silkimen

i am facing the same issue is there a resolution to this.

[2018-12-14 15:26] abhijithaccion opened #171 "Support for ResponseType: Blob"
Hello silkimen

i am using the plugin to request for a file which will be sent to me in blob data but the data get encoded to some other format which is not readable is there way i can get the data without the encoding and get the blob object

[2018-12-16 03:37] silkimen opened #172 "Android: plugin does not respect user installed CA certs"
Android and iOS allow users to install custom CA certs. This plugin respects those custom certs on iOS (after configuring "Enable Full Trust For Root Certificates" [read more here](https://www.thesslstore.com/blog/trust-manually-installed-root-certificates-in-ios/)). But on Android this plugins doesn't support user added CA certs, it's only using system's CA certs ([read more here](https://nelenko

[2018-12-16 21:20] mirfanazam commented on #150
I am facing the same issue in Ionic app. I am calling this.https.setSSLCertMode('pinned'); before post request.

Can I have sample code and location (for android) to copy the certificates.

I have two certificate one .cer and other .p12. In browser i can make successful requests to the server but through device i get "SSL Handshake failed."

[2018-12-18 08:59] homeportcz commented on #158
This does set empty value, but the header does exist. This is problem especially for Authorization header, some servers expect value if Authorization header is defined and fail to authorize request, because it expects Bearer.

[2018-12-18 23:11] audio747 opened #173 "iOS, crash with SSL pinned active"
Hi,

On iOS 12 ((iPhone X) when set SSL pinned:

`cordova.plugin.http.setSSLCertMode('pinned', function() {
  console.log('success!');
}, function() {
  console.log('error :(');
});`

App crash:

`2018-12-19 00:06:32.662435+0100 BP Test[5126:1552521] success!
2018-12-19 00:06:35.398857+0100 BP Test[5126:1552910] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*

[2018-12-19 15:47] Genarito commented on #169
Ok, It's a problem with the fixed version of OKHTTP in this plugin. The solution for the problem is to set the library version in the Launch Navigator Plugin's variable as they say [in this issue](https://github.com/dpa99c/phonegap-launch-navigator/issues/207). It would be great that we could specify the OKHTTP Library version in this plugin to When I have some free time I'll try to make a PR.

Th

[2018-12-19 15:47] #169 closed

[2018-12-20 08:40] abhijithaccion opened #174 "Build fails when building android build with proguard"
Hello silkimen

I am trying to make a release signed app so will use proguard for the process but run the build fails.

Warning: okhttp3.Address: can't find referenced class javax.annotation.Nullable
Warning: okhttp3.Address: can't find referenced class javax.annotation.Nullable
Warning: okhttp3.Address: can't find referenced class javax.annotation.Nullable
Warning: okhttp3.Address: can't find ref

[2018-12-20 10:23] abhijithaccion commented on #174
Ok i solved this by adding the following to proguard.pro rules

-dontwarn javax.annotation.**

# A resource is loaded with a relative path so the package of this class must be preserved.
-keepnames class okhttp3.internal.publicsuffix.PublicSuffixDatabase

# Animal Sniffer compileOnly dependency to ensure APIs are compatible with older versions of Java.
-dontwarn org.codehaus.mojo.animal_sniffer.*

[2018-12-20 10:23] #174 closed

[2018-12-20 13:07] danishin commented on #150
I think it's related to https://stackoverflow.com/a/36892715/3891342.
It happens for android < 5.0
Gonna fork and try to fix this issue!

[2018-12-21 13:58] Genarito commented on #167
Hi! Thanks for the answer. I'm trying to debug with `debbuger;` but nothing useful as I can see :S.
Is there a way I could see the request info with breakpoints or It's the same that logging everything in console?

Thanks in advance and sorry about the inconvenients!

[2018-12-21 14:19] rolinger opened #176 "Can plugin be used for google http referrer restrictions?"
I load google maps into my app via the `<script src='https://maps.googleapis.com/maps....>` api key method.  However the only way to restrict a google maps web services api key is using HTTP referrer (and in some cases server IP).  Can I use this plugin to create a valid HTTP referrer to match the google api restriction referrer?  And if so, how could I do it considering the its being loaded via t

[2018-12-23 18:00] #172 closed

[2018-12-29 01:52] Yermo commented on #88
Are there any plans to add a callback for this?

[2019-01-01 09:21] saridakis opened #177 "How to POST a null Object?"
I am trying to post a NULL object by using cordova.plugin.http.setDataSerializer('json') serilizer, but I always get an object on the server (.Net Core, Web API 2). While all other posts work properly and the responses are  ok, when the object I am posting is NULL, the plugin sends an empty Object (not a null one. An empty object for c# means an object initialized with default values for no nullab

[2019-01-02 17:45] chrisjdev commented on #177
The JSON spec doesn't specify what is allowed for top level items, but Apple's NSJSONSerialization method specifies that "The top level object is an NSArray or NSDictionary.", so I think that's why this plugin works the way it does. To workaround the plugin limitations, something like this may work if the object === null:                `cordova.plugin.http.setDataSerializer('utf8');
cordova.plugi

[2019-01-02 18:34] saridakis commented on #177
@chrisjdev thank you!!!! .... it works!!!! I would say that, this is little unorthodox way to post a json object but it works!!!! ... the trick actually is to send the string 'null'. I had tried the serializer with 'utf8', but I was sending an empty string ('') instead of a string with 'null'...

Besides that, I think that this should be handled by the plugin, as well as the serialization of the j

[2019-01-02 20:12] gbvacco commented on #137
I'm having the same issue, anyone had success when pinning on iOS?

[2019-01-03 04:55] jsasmitha commented on #101
Hello silkimen

Even I'm facing the same,  Is there any solution for this??

[2019-01-03 05:02] jsasmitha opened #178 "How to send FormData in post request?"
I want to send the form data in post request, but i'm not able to do.
Below are my code:
let params = new FormData();
        params.append("country_code",country_code);
        params.append("mobile_no",mobile_no);
        params.append("country",country);
this.http.post(url, params,{}).then(data => {})

How to achieve the this?

[2019-01-17 14:26] silkimen opened #179 "Serializer UTF8: Can't send empty string"
It's not possible to send empty strings when "utf8" serializer is configured. It leads to following error:

<img width="669" alt="bildschirmfoto 2019-01-17 um 11 47 12" src="https://user-images.githubusercontent.com/4717881/51321016-f40aa900-1a61-11e9-87dc-a8b91846864e.png">

[2019-01-17 16:03] #179 closed

[2019-01-18 06:56] ivarvh commented on #171
I have the same problem, in the native code, you can see that the body is being encoded as a string before it's passed through... So the binary data is lost. This plugin only seems to support text responses...

[2019-01-24 13:19] Edmu opened #180 "feature request for setSSLCertMode new mode"
Hello,

Some complex apps use both external and internal API's and partial pinning would be a great feature in this case. Use case: I want to pin certs of internal API's certs but do not want to pin for external as I can't ensure they will give any notice before changing certs.

possible example of implementation:

setSSLCertMode('pinned-conditional', function() {
  console.log('success!');
}, fun

[2019-01-28 11:35] Edmu opened #181 "downloadFile does not follow redirect"
If the response of downloadFile URL returns redirect (302) - redirect is not followed and FileEntry instance is returned with size 0.

[2019-01-31 17:30] rezendeneto commented on #101
Hi @silkimen, I'm facing the same issue. Is there already a solution for this?

[2019-02-01 16:26] Edmu opened #182 "unusable response body for blob type requests"
Request body for blob type response seems unusable:

Example code:

cordova.plugin.http.sendRequest(
    'https://via.placeholder.com/5x5/660000/?text=+',
    { method: 'get' },
    (resp) => {
        console.log('resp: ', resp);
    },
    (error) => {
        console.log('err: ', error);
    }
);

Example response:

data: "PNG
↵↵
IHDR·¡´¦PLTEf¼#'	pHYsÄÄ+IDATc`↵gíéIEND®B`

[2019-02-07 00:07] kish726 commented on #158
I have the same problem. I am doing a post request to get my access token and post that i am doing a GET request to get the user information. for the GET request i am passing authorization token as header .Once this header is set then if i call any post after that authorization token is going in the headers and all my calls are failing. i am not able to remove the authorization token from the head