[2019-02-09 16:33] ibakhsh opened #183 "ionic 4 NullInjectorError: No provider for HTTP!"
The issue:

**> NullInjectorError: No provider for HTTP!**

steps to reproduce:
1-create a test project for ionic4:
[code]
2-add the advanced http to the project:
from [link](https://ionicframework.com/docs/native/http/)

[code]

3-add the android or ios platform to test the plugin:
[code]

4- replace the <ion-content> in home.page.html with this:
[code]

5- replace home.page.ts to  be like this:

[2019-02-12 12:04] rushabhmakwana commented on #88
@silkimen I am using this plugin to download the file from remote url in my ionic1 app. It is working fine for the Android platform but it gives me an error in the response with status -1 on the iOS platform. Below is my code.
        var url = "any remote url having mp3 file";
        var targetPath = cordova.file.documentsDirectory + 'test.mp3';

        cordova.plugin.http.downloadFile(url, {},

[2019-02-12 12:25] pablo-fior-korbantech commented on #183
Add  "import { HTTP } from '@ionic-native/http/ngx';" on your app.module.ts
then add "HTTP" on the providers array

[2019-02-13 02:29] jratiwanich commented on #137
Anyone has the solution for Ionic4 using this plugin?
I manually copied the .cer file to
 `platforms/ios/www/certificates/mycert.cer`

but it's not working so far.
I keep getting
[code]

[2019-02-19 15:30] monkeychops commented on #148
Just a note to say that this is still an issue, but I worked around it by catching the cookie from the header in the first response (before redirect) and calling the setCookie method directly

`window.cordova.plugin.http.setCookie('/', cookieHeader, {})`

[2019-02-22 06:09] sridharan31 opened #184 "POST the call send adding \ in data"
While sending the encryption data. the our data is contain /. While receiving in server the every froward / the add the extra back slash(\) due to this we are getting the problem in decryption.
ex

`{"Metadata":"gIVZ3zqYCjTUMGgkUfr/pJc5N+X6X5VRJr/cXrgSeEBGjEgPmTU+3iNe+dqp/xRi2NyiYG4lxr7UXazKjmxElJypwnZGxYVB8bX0PzDccS4=","MetaInfo":"YPwpLWjttEqv3eA4itiBFZfqKsVVoQP7bFRfTxdH2QtQaqdHLPjpEa/I7SuLSGPsGm

[2019-02-22 09:53] UlisesCeca commented on #130
where is that properties file?

[2019-02-22 17:55] silkimen opened #185 "Need more detailed SSL error message"
This plugin returns generic error values when something goes wrong with SSL certificates:
 * `{ status: -1, error: "cancelled" }` on iOS
* `{ status: -1, error: "SSL handshake failed" }` on Android

It should return a more detailed error message instead.

[2019-02-22 18:21] #185 closed

[2019-02-25 13:25] BorntraegerMarc commented on #109
Seems like I did some kind of mistake. The automatic setting of `HTTPOnly` cookies seem to work.

[2019-02-27 03:08] Tim-multimatrix opened #186 "Ho to intercept requests or responses?"
Hi,
I am using the plugin to call couples of API but I don't want to handle error for each of them. I would like to ask how could I intercept requests or responses before they are handled by then or catch?
Just like axios https://github.com/axios/axios#interceptors
Thank you very much

[2019-02-28 14:28] Edmu opened #187 "calling setSSLCertMode with 'default' throws error (bug / Android)"
Plugin version: 2.0.5
Tested on 2 devices: Android 8.0.0 / Android 8.1.0

calling:

cordova.plugin.http.setSSLCertMode('default', function() {
  console.log('success!');
}, function(err) {
  console.log('error', err);
});

executes error callback with error: _There was an error loading system's CA certificates_

logcat stacktrace:

02-28 16:14:24.602 24042 24170 W System.err: com.github.kevinsawic

[2019-03-01 00:51] silkimen commented on #187
Yep, true story. I can confirm this and will fix it.

[2019-03-01 06:00] Aruna1122 opened #188 "setSSLCertMode always returns OK"

[2019-03-01 17:12] #187 closed

[2019-03-01 18:04] flexaddicted opened #189 "[iOS] getStatusCode does not map all SSL error codes"
Hi,

I would like to know what is the rationale behind `getStatusCode` mapping.

[code]

`CFNetworkErrors` provides the following mapping:

[code]

`getStatusCode` maps only `-1202`. Is there any reason for this?

I ask this question since I'm trying to implement Certificate Pinning in a Cordova application. I'm trying to simulate a man-in-the-middle-attack with Charles proxy but the error code th

[2019-03-02 00:11] click44 commented on #171
I think I'm having the same issue. `Error: Response is not a Blob.` Where do you see "that the body is being encoded as a string before it's passed through" in the native code?

[2019-03-02 02:32] silkimen commented on #184
I've written a test case to check this ([see app-test-definitions.js#L502-L509](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/app-test-definitions.js#L502-L509)), but I can't reproduce your problem.

[2019-03-02 02:37] silkimen commented on #183
Hi Ibrahim, this is not an issue related to this project. Please file an issue at [ionic-native](https://github.com/ionic-team/ionic-native) if Pablo's suggestion doesn't fix your problem.

[2019-03-02 02:39] silkimen commented on #165
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-02 02:39] #165 closed

[2019-03-02 02:39] silkimen commented on #162
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-02 02:39] #162 closed

[2019-03-02 02:40] silkimen commented on #152
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-02 02:40] #152 closed

[2019-03-02 02:44] silkimen commented on #143
Hi guys, please update to latest version and check if the problem still occurs. Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-02 02:44] #143 closed

[2019-03-02 02:45] silkimen commented on #139
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-02 02:45] #139 closed

[2019-03-02 02:51] silkimen commented on #55
Hi guys, please check with latest version. Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-02 02:51] #55 closed

[2019-03-02 21:09] metinsevindik opened #190 "Unexpected protocol error when reading to local xml"
I am taking "Unexpected protocol" error when getting to local xml file
`    this.http.get("/assets/resources/settings.xml", {}, {}).then(data => {
      debugger;
    });`

but running http when get online http file. "https://raw.githubusercontent.com/......../settings.xml"

I am tried this url cases;
- "assets/resources/settings.xml"
- "file://assets/resources/settings.xml"
- "file:///assets/reso

[2019-03-03 16:45] guylando opened #191 "Accessing local content on ios from remotely loaded https page using this plugin"
1. Does this plugin work with UIWebView and WKWebView?
2. UIWebView does not apply CORS, does it mean that ajax with this plugin doesn't have CORS restrictions?
3. Can this plugin be then used to load local files (cdvfile://localhost/bundle/www/file.js, file:///...)?

[2019-03-06 11:49] ivarvh commented on #171
If you check the CordovaHttp.java, there is a method decodeBody which uses a CharsetDecoder to decode the body. This CharsetDecoder decodes the response bytes to unicode characters, so basically a string.

[2019-03-07 05:56] Zertu commented on #101
i use the cordova-plugin-file-transfer to solve the problem

[2019-03-11 10:30] silkimen commented on #183
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-11 10:30] #183 closed

[2019-03-15 03:47] graystormtrooper opened #192 "downloadFile fails with error: stream is reset HTTP_1_1_REQUIRED"
When trying to download a file using downloadFile with SSL cert mode set to 'nocheck'. I'm getting this error in the title.

My guess is it's trying to use HTTP/2 to download and the server didn't support it, but the library isn't retrying using HTTP 1.1.

[2019-03-17 11:18] pliablepixels opened #193 "Doesn't work with Marshmallow (Android 6)"
Error reported:

[code]

(Android 6.0 still has the [largest deployment base](https://developer.android.com/about/dashboards?authuser=1), so it may be worthwhile to support it)

Actually, it seems to be a problem with `plugin.js` - it uses `let` -> is this part of cordova-android? I could not find it in your plugin. (I am on cordova-android 7.1.4)

The problem seems to be:
[code]
but I can't find

[2019-03-17 11:49] pliablepixels commented on #193
sorry, wrong repo. The problem is in `advanced-websocket` not `advanced-http` :-p

[2019-03-17 11:49] #193 closed

[2019-03-20 12:29] BorntraegerMarc opened #194 "Feature request: Store session cookies in secure storage and not in localstorage"
[The local storage is very unsecure](https://dev.to/rdegges/please-stop-using-local-storage-1i04). Thus we shouldn't store cookies (or at least session cookies) in it because it's open for potential attackers.

I understand that risk of an attack is reduced since we are talking about a WebView inside a native app. But still when some developer navigates within the WebView to a different website th

[2019-03-22 17:27] silkimen commented on #194
Hi Marc, I understand your concerns about security. I also think that the risk is reduced in our special case, because it's running in a sand-boxed app which can't be inspected with developer tools when running in production mode (at least on a device which is not rooted / jail-broken). But it still feels wrong, so I'll put this on the road map. 👍

[2019-03-22 17:28] silkimen commented on #188
Hi Aruna, so what's your problem if it's returning OK?

[2019-03-22 17:32] silkimen commented on #171
Hi guys, @ivarvh is absolutely right. This plugin currently doesn't support Blobs. You can use `downloadFile()`, but it's not possible to receive Blobs via other methods. I'll mark this as a feature request.

[2019-03-22 17:33] silkimen commented on #182
Closing this, as it's related to #171.

[2019-03-22 17:33] #182 closed

[2019-03-22 17:36] silkimen commented on #115
Please try version 2.0.6+. Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-03-22 17:36] #115 closed

[2019-03-22 17:39] silkimen commented on #154
Closing this, because it's not a problem related to this plugin. Please check-out gradle and cordova documentation on how to update gradle version.

[2019-03-22 17:39] #154 closed

[2019-03-25 03:58] Aruna1122 commented on #188
Hi @silkimen,

The actual issue is it always returns true, whatever the .cer file that i use. i tried placing the certificate of some other website and it returned true. I then removed the certificate file, even then it returned true.

Im placing the .cer file in www/certificates folder. please guide me if in wrong.

[2019-03-27 16:47] Hanzofm opened #195 "Double enconding on Android"
Hi,

I am trying to download a file with a path like:

https://mydomain.com/file has spaces.pdf

I am obtaining this error:

`{"status":-1,"error":"There was an error with the given filePath"}`

If I do a previous 'encodeURI' the problem is that on Android the plugin do a double enconding for example:

`https://mydomain.com/file%20has%20spaces.pdf `

is transformed into

`https://mydomain.com/file

[2019-03-27 16:48] testanddeploy commented on #195
+1

[2019-03-28 02:52] zzmmbb opened #196 "Upload is not available in base64 post"

[2019-03-28 08:33] Hanzofm commented on #96
Same problem here, In my case only on Android devices https://github.com/silkimen/cordova-plugin-advanced-http/issues/195

Did you solved?

[2019-03-30 12:05] olivermuc opened #197 "[v2.0.6] iOS: crashes on https downloadFile() call"
I realise that I may not be providing sufficient context and data, however I can positively state that up to v2.0.5 my app works flawless using several https:// `downloadFile()` calls.

After updating, the app immediately crashes on the first `downloadFile()` call.

Going back to v2.0.5 fixes this and it works as expected.

Here is as far as I can document the issue, an xcode debug screenshot afte

[2019-04-03 15:34] silkimen commented on #184
Closing this, feel free to open a new issue, if you can provide more info!

[2019-04-03 15:34] #184 closed

[2019-04-03 15:54] firetrap commented on #173
Same here

[2019-04-04 05:55] AshvinMani commented on #8
I have the same issue still not working plugin ref also changed as done in the commit

[2019-04-04 08:25] saddamakhtar88 opened #198 "Cookie header is always passed even if there is no cookie"
Assuming the issue is in the below mentioned code:

file:// helper.js
function getCookieHeader(url) {
    return { Cookie: cookieHandler.getCookieString(url) };
}

Not sure if this is a right behavior. One of the app server our app is interacting-with is throwing 500 response code due to this.

[2019-04-04 10:48] silkimen commented on #195
Please try v2.0.7, it should be fixed now. You'll need to encode the base URL yourself whereas query parameters (second argument) will be encoded automatically.

[code]

[2019-04-04 21:57] Takkuz opened #199 "Provide a params to force decoding when not provided from server"
I'm having the same exact issue: #72

It's closed but unsolved because when I'm trying to rerieve data from this site http://feeds.hwupgrade.it/rss_hwup.xml the plugin gives me only the data after the first accented letter.

Using this [PasteBis](https://pastebin.com/JGHaFmhL) as example I'm only getting ` sulla guida autonoma di Tesla.[...]`.

I'm not owning the server, so send encoding infos ins

[2019-04-04 22:31] tverilytt opened #200 "Android build with version 2.0.7 fails on Java 6"
Hi!
First of all, thanks for great plugin, it works great in background fetch, where Angular $http requests just hanged...

When updating to newest version, 2.0.7, the cordova build for Android fails. Cordova build uses Java 6, seems version 2.0.7 requires Java 7...

Anyone else run into this?
I use quite a few other plugins, and not sure to bump to Java 7...

Cheers
-jo

:compileDebugJavaWithJava

[2019-04-05 03:35] silkimen commented on #197
Hi Oliver,
I've tried to reproduce your problem by writing a test case (see [app-test-definitions.js#L571-L594](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/app-test-definitions.js#L571-L594), but everything is working just fine. Did you test on a device or simulator? Which version of iOS do you use?

[2019-04-05 03:41] silkimen commented on #200
Hi Jo,

I'm using Java 7 on my dev machine, so I didn't realize this could be a problem. Thanks for reporting! I'll change all `switch` into `if ... else if ... else`. 😑

Cheers
Sefa

[2019-04-05 06:54] tverilytt commented on #200
Hi! Cool, thanks! I actually have Java 8 on my dev machine. It seems Cordova sets they version some way. I tried to look for it, but main suggestions I found, was to modify build.gradle directly, and I want ot avoid that if not absolutely necessary...I am on Cordova 7.1 btw, time to upgrade I guess ;-)

[2019-04-05 12:28] olivermuc commented on #197
@silkimen phone is running on iOS 12.2; tested with both though, device & simulator.

Will try your example above and will report back.
There is also a chance that it may be related to my code assembling the http header info.

However, the phenomenon that all previous versions leading up to 2.0.6 work and just 2.0.6 causes the above errors.

Going back and forth between the versions reproduces the

[2019-04-05 13:50] silkimen commented on #200
Ok, that's interesting. So, it seems to be depending on the cordova version. I'm using 8.1.2, btw. But I don't want to break compatibility with older versions, I'll fix this. Please, just stick to v2.0.6 meanwhile. Do you also experience other problems with Java target version 6 and v2.0.7?

[2019-04-05 14:48] #200 closed

[2019-04-05 16:38] tverilytt commented on #200
Thanks a lot for that. I have not seen any other problems.

[2019-04-07 00:16] abgrano opened #201 "Exception calling native with command :: CordovaHttpPlugin :: post ::exception=TypeError: helpers.getTypeOf is not a function"
When i use previous `<plugin name="cordova-plugin-advanced-http" spec="2.0.2" />` it work perfectly.

Now install new `<plugin name="cordova-plugin-advanced-http" spec="2.0.7" />` the console appear "Exception calling native with command :: CordovaHttpPlugin :: post ::exception=TypeError: helpers.getTypeOf is not a function"

[2019-04-07 13:16] abgrano commented on #201
version 2.0.6 ok for me. version 2.0.7 still this issue "Exception calling native with command :: CordovaHttpPlugin :: post ::exception=TypeError: helpers.getTypeOf is not a function"

[2019-04-07 22:21] silkimen commented on #201
Hi Rano, can you please add some example code? Which OS and which OS version is affected?

[2019-04-07 22:40] silkimen commented on #195
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-04-07 22:40] #195 closed

[2019-04-07 22:46] silkimen commented on #190
Hi Metin, this plugin is not meant to be used for local resources. Please use XMLHttpRequest or cordova file plugin instead.

Almanya'dan Ankara'ya selamlar 😉

[2019-04-07 23:09] silkimen commented on #192
Do you have access on the backend? Please try to get some log files. Otherwise it'll be hard to find out the reason of your problem.

[2019-04-07 23:36] silkimen commented on #189
Hi Lorenzo,

`getStatusCode` was meant to harmonize return codes of iOS and Android. Btw, they've changed in one of the last versions. Positive values are HTTP codes whereas negative values are exceptions (see [CordovaHttpPlugin.m#L95-L115](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/ios/CordovaHttpPlugin.m#L95-L115) and [CordovaHttpBase.java#L76-L92](https://github.co

[2019-04-07 23:46] abgrano commented on #201
Hi @silkimen . i'm using win10, Browser Chrome, Ionic project.

` async login(email: any, pass: any) {
    const loading = await this.loadingController.create({
      message: 'Loading ...'
    });
    await loading.present();
    try {
      const sendData = {
        'email': email,
        'password': pass,
        'remember_me': 0
      };
      this.http.setHeader('*', 'Content-Type', 'applic

[2019-04-07 23:46] silkimen commented on #191
1. Yes.
2. Yes, this plugin doesn't respect CORS restrictions.
3. No, this plugin is not meant to load local files.

[2019-04-07 23:57] abgrano commented on #201
![Issue](http://dbkuapps.ml/cordova.png)

[2019-04-08 00:08] silkimen commented on #201
Ok thanks Rano, I can confirm it's a bug.

[2019-04-08 00:16] abgrano commented on #201
Alright. Thanks.

[2019-04-08 00:18] silkimen commented on #188
HI Aruna, actually this is not an issue. When you activate SSL pinning it's just doing some configuration  for future requests. The pinned certificate is used later on while validating the certificate chain when you send your request. So, the plugin can not know which domain you'll be using for your future requests.
But yeah, it would be nice to inform the user when no certificate can be found. I

[2019-04-08 00:24] silkimen commented on #178
Please use following example code:

[code]

[2019-04-08 00:29] silkimen commented on #173
Hi guys, which version of this plugin is affected? Did you already try latest version?

[2019-04-08 00:43] silkimen commented on #140
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-04-08 00:43] #140 closed

[2019-04-08 09:41] olivermuc commented on #197
**A few more observations/feedback:**

- **v2.0.7** has the same issues (for me) as v2.0.6 does, the app crashes
- My code makes several `downloadFile()` requests rapidly one after the other
   - Before each, I apply several `setHeader()` commands
- I experimented with setting various breakpoints and delays and interestingly enough, setting a breakpoint before the first `downloadFile()` call it co

[2019-04-08 10:47] olivermuc commented on #197
Follow up; I cloned your repo and reverted this commit:
https://github.com/silkimen/cordova-plugin-advanced-http/commit/a8e3637f2728809377286aa00d85321f291d2f19

With the above everything works as before!

Can you please revert that PR?

Based on the owners own comment:

...it looks like this introduced more issues than it "fixed".

[2019-04-08 14:19] silkimen commented on #197
Ok, I see. Seems to be a race condition issue. I'll try to write a test case for this special case to find a working fix. But you're right, for the first instance, I'll need to revert this commit.

[2019-04-08 17:14] #189 closed

[2019-04-08 17:14] #197 closed

[2019-04-08 18:16] #201 closed

[2019-04-08 19:03] beckmx opened #202 "Observables response support"
Hello, I was wondering if the plugin support observables or all responses are based on promises?

[2019-04-08 21:10] guylando commented on #191
@silkimen If this plugin does not apply CORS restrictions then why it can't be used to load local files? Isn't there some system handler which knows to return a local file for local urls? Or basically this functionality is just not implemented here?

[2019-04-08 21:13] metinsevindik commented on #190
Hi @silkimen thank you for your answer. I understand my problem.
My problem resolved when add  `import { Http } from "@angular/http"` to my ionic project.

- Aleykümselam 😉 Başkent'ten Almanya'ya sevgiler.

[2019-04-08 21:14] #190 closed

[2019-04-09 08:21] silkimen commented on #198
Hi Saddam, you're right, this is a bug. Thanks for reporting!

[2019-04-09 09:33] Hanzofm commented on #195
Solved on Android, now it fails on iOS :(

[2019-04-09 09:40] Hanzofm opened #203 "Encoded url fails on new version [iOS version]"
Come from https://github.com/silkimen/cordova-plugin-advanced-http/issues/195

On Android OS works fine now but on iOS returns and error when I try to download this url:

 `https://padelfederacion.es/Paginas/Docs/Bases Licitacion 2019 05.pdf `

The returned error to this call:

`this.http.downloadFile(encodedURI(url), {}, {}, cordova.file.dataDirectory + name)`

Is this:

`{"status":406,"headers":

[2019-04-09 10:08] Hanzofm commented on #203
It seems to be a problem with the 'Accept' `Header`. If I pass as a parameter this:

`this.http.downloadFile(encodedURI(url), {}, {Accept: '*/*'}, cordova.file.dataDirectory + name)`

or

`this.http.downloadFile(encodedURI(url), {}, {Accept: ''}, cordova.file.dataDirectory + name)`

It works fine on iOS and Android OS

[2019-04-09 13:29] welcomedk opened #204 "Getting Error Symbol not found while trying to create a build."
The following errors have occurred:
• In Android on 2019-04-09 at 18:48:39 - Error compiling Cordova plugin: com/silkimen/cordovahttp/CordovaHttpPlugin.java:153: error: cannot find symbol.

[2019-04-09 16:07] silkimen commented on #203
Hi Hanzofm, I don't think this a problem related to the this plugin. I have tested it on my device with v2.0.7 and your URL for the pdf file. It's working without problems. I don't need to set the 'Accept' header manually. Maybe there was a problem with the server?

[2019-04-10 02:15] saddamakhtar88 commented on #198
Thanks for resolving this in a short time.

[2019-04-10 09:57] silkimen commented on #202
Hi beckmx, this plugins doesn't support Promises and Observables. It's a plain old callback API. But you can use ionic-native wrapper if you want to have Promises. And it's up to you if you want to wrap them into observables.

[2019-04-10 13:38] Hanzofm commented on #203
Hi @silkimen ,

With this call:

`this.http.downloadFile(encodedURI('https://padelfederacion.es/Paginas/Docs/Bases Licitacion 2019 05.pdf'), {}, {}, cordova.file.dataDirectory + name)`

The returned url of encodeURI call

`encodeURI('https://padelfederacion.es/Paginas/Docs/Bases Licitacion 2019 05.pdf')`

is:

`https://padelfederacion.es/Paginas/Docs/Bases%20Licitacion%202019%2005.pdf`

-This code

[2019-04-11 08:57] ath0mas commented on #204
this issue is not really well named, but
=> build fails with version 2.0.8:
[code]

[2019-04-11 18:46] Mawster commented on #204
Hi guyz,

we have the same problem. Looked into the code and found the problem - instead of
`  private boolean setClientAuthMode(final JSONArray args, final CallbackContext callbackContext) throws JSONException {
    CordovaClientAuth runnable = new CordovaClientAuth(args.getString(0), args.getString(1), this.cordova.getActivity(),
        this.cordova.getContext(), this.tlsConfiguration, callback

[2019-04-12 15:16] ath0mas commented on #204
@Mawster I would prefer `this.cordova.getActivity().getApplicationContext()` instead of `this.webView.getContext()`
given the TODO in [CordovaWebView.java#L138](https://github.com/apache/cordova-android/blob/b177f848254f5d479d6a9b744b15211632ab1dcf/framework/src/org/apache/cordova/CordovaWebView.java#L138)
[code]

[2019-04-13 10:39] tverilytt commented on #204
I got the same error to for 2.0.8, 2.0.6 works well, sticking to that for the moment :-)

[2019-04-13 11:38] Mawster commented on #204
@ath0mas you are right - is the better !

[2019-04-15 00:17] silkimen commented on #204
Hi guys, thanks for analysing this problem. I'm using cordova-android 7+. That's the reason I didn't realize this problem on my machine (see [CordovaInterface.java#L66](https://github.com/apache/cordova-android/blob/rel/7.0.0/framework/src/org/apache/cordova/CordovaInterface.java#L66)). I'll change it to `this.cordova.getActivity().getApplicationContext()`.

[2019-04-15 00:48] #204 closed

[2019-04-15 08:04] ath0mas commented on #204
Thanks @silkimen for the fix
indeed getContext() in CordovaInterface.java exists starting from cordova-android@6.4

[2019-04-15 16:18] willmero opened #206 "async/await/promise alternative"
Hello!

I seem to be running into a bit of an architectural issue here, where I am attempting to build an API adapter layer into my cordova based application. One of the requirements of this is to be able to perform something like the following:

`let newItem = await hitServer('POST', '/api/newItem', itemData)`

Where `hitServer` will return back the response object from the server on a successful

[2019-04-15 16:31] silkimen commented on #206
Hi Will, you can't await a function which isn't returning a Promise. Check #202 on how to get a Promise.

[2019-04-15 16:31] #206 closed

[2019-04-15 19:41] tverilytt commented on #204
thanks @ath0mas - I am using cordova-android@6.3, so that explains it. Probably time to upgrade ;-)

[2019-04-16 02:08] ymphyow opened #207 "Error: Uncaught (in promise): Error: advanced-http: header values must be strings"
When I use http native, I am facing "Error: advanced-http: header values must be strings". I have tried to convert the object to string. But, it didn't work it yet.  Could you please help me to check my code what's wrong with it? Many Thanks

`login(username: String, password: String) {
    if(username === undefined || username === '' || password === undefined || password === null){
      presentA

[2019-04-17 13:42] sheetalpatnage opened #208 "Error in uploadfile"
We are using this plugin for image upload. On android device it workes fine. But on ios device if  we try to select image from gallery and click on upload. We are getting error as 'could not add file to post body'. Http 500 error. What could be reason?

[2019-04-26 14:58] falquinho opened #209 "Problem with Digest authentication: missing WWW-Authenticate response header"
Hello all.
As the title says i'm trying to implement digest authentication in an app, but upon error 401 theres's no WWW-Authenticate header in the response. Actually there's no headers at all.
I do not have control over the server (it's an IP camera), but it does expose the header,
since accessing the link in both browser and postman shows it.
I have to use the Native Http since Angular's HttpCli

[2019-04-29 09:57] KamayaniT opened #210 "ssl pinning with ionic v 4.1.0 returns "there was an error setting up ssl pinning""
Hi,
I am using Ionic Framework v4.1.0
Advanced Native Http Plugin Version : 2.0.9
I am trying to enable ssl pinning for my project.

I tried to follow all the steps that were mentioned through the documentation.
I have tried placing my certificate (.der encoded) in  platforms/android folder and also in "src/assets/certificates" .
I still keep getting error "there was an error setting up ssl pinnin

[2019-05-08 17:12] januarsy opened #211 "URI is not absolute"
cordova.plugin.http.downloadFile("https://smedia2.intoday.in/btmt/images/stories/whatsapp_660_031419103558.jpg", { id: '12', message: 'test'}, { Authorization: 'OAuth2: token' }, '/data/data/myApps/whatsapp_660_031419103558.jpg', function(entry) { alert("SCS : "+entry.name);
}, function(response) { alert("ERR : "+response.error); });

Error Message : URI is not absolute

[2019-05-12 00:17] #211 closed

[2019-05-14 07:10] Boby commented on #106
I have a problem where I tried :
this.httpClient.post('http://test.com/api', {
      "name": { "value": "test03" },
      "mail": { "value": "test03@gmail.com" },
      "pass": { "value": "123"}
    },
    {'Content-Type': 'application/json'}).catch(res=>{
      console.log(res);
    });

on my symfony serializer its throwing syntax error but when I am using postman, POST method its working fine

[2019-05-14 07:16] Boby opened #212 "POST json receiving NotEncodableValueException"
Hi,

I am using :

this.httpClient.post('http://test.com/api', {
"name": { "value": "test03" },
"mail": { "value": "test03@gmail.com" },
"pass": { "value": "123"}
},
{'Content-Type': 'application/json'}).catch(res=>{
console.log(res);
});

on my symfony serializer its throwing syntax error but when I am using postman, POST method its working fine

it throws out error :

Symfony\\Component\\Seriali

[2019-05-14 10:29] pangshangggg opened #213 "Installation Failed"
npm: Command failed with exit code 1 Error output:
npm ERR! code ECONNRESET
npm ERR! network tunneling socket could not be established, statusCode=400
npm ERR! network This is a problem related to network connectivity.
npm ERR! network In most cases you are behind a proxy or have bad network settings.
npm ERR! network
npm ERR! network If you are behind a proxy, please make sure that the
npm ERR! n

[2019-05-14 20:00] pliablepixels opened #214 "Weird issue with using functions with promises inside the error handler"
Hi, I am facing an odd issue trying to implement a 401 interceptor. In essence, I am doing the following in the error callback of your `sendRequest` function:

[code]

`nvr.recreateTokens` is a function that returns promises. It works fine when I run my app on the desktop (where the browser HTTP stack is used) but in mobile devices, where this stack is used, I always get an error when trying to ha

[2019-05-14 22:03] pliablepixels commented on #214
sorry, silly error on my side

[2019-05-14 22:03] #214 closed

[2019-05-16 11:43] josepabelloserras opened #215 "How can I implement this post request?"
I am trying to make this request with TypeScript and I am not getting the correct response. When I make the request with Postman I recieve a 302 status code with the data I expected to recieve (same with Java and .NET).

I suspect the problem comes from the serializer and the way I send the body into the request. I tried to do it several times changing the way everything was written but none of th

[2019-05-20 04:39] sahyun1 opened #216 "help: how to set responseType?"
In angular http, I can specify responsetype like
[code]

how can I do something similar to this? I tried to convert the response data to arraybuffer but the result is not the same
[code]

many thanks!

[2019-05-20 07:08] jazzymb7 commented on #74
Did you find any solution?

[2019-05-20 22:23] timofeysie commented on #74
Cordova does not support true certificate pinning. The main barrier to this is a lack of native APIs in Android for intercepting SSL connections to perform the check of the server’s certificate.

That being said, I believe this problem was because of an incomplete certificate on the server side.  You can check your domain for this kind of problem on a service like this:
https://www.sslshopper.com/

[2019-05-20 23:04] jazzymb7 commented on #74
Should I put the same .crt which I used for my server in ionic app? And where should I place it? Is there any naming convention? Any hooks which should tell the ionic to use this certificate?

[2019-05-21 00:44] timofeysie commented on #74
You can read about file locations in the docs if I recall.  Check [the readme](https://github.com/silkimen/cordova-plugin-advanced-http) for some info.  It says:
*To use SSL pinning you must include at least one .cer SSL certificate in your app project. You can pin to your server certificate or to one of the issuing CA certificates. Include your certificate in the www/certificates folder. All .cer

[2019-05-22 10:10] passwhl opened #217 "ios status -1"
![QQ截图20190522180805](https://user-images.githubusercontent.com/12857123/58166584-b8f0de80-7cbc-11e9-9c9a-98f775a0478a.png)
version: 2.0.9

[2019-05-22 20:17] adamcmoore opened #218 "Headers are used as Params on browser platform"
Making a `get` request with headers results in the headers being added as query string parameters. I'm using version 2.0.9, through `@ionic-native/http@5.6`. `post` and `put` work as expected. My code which is resulting in this behaviour:

[code]

From what I can see, the method `sendRequest` in `www/public-interface.js` calls the `get` method in the `cordova-http-plugin.js` with the following:

[

[2019-05-23 07:51] vosecek commented on #218
Same for me (now testing in browser with ionic cordova run browser --live-reload)

[2019-05-24 06:43] vosecek commented on #207
You have to really convert all values to string. Even undefined values is not possible.

Paste readable code, no this one. And example values of request.

[2019-05-24 06:49] vosecek commented on #213
Post command you run.

[2019-05-24 07:45] vosecek commented on #218
Last version without serious issue is 2.0.6, 2.0.7 has this issue: https://github.com/silkimen/cordova-plugin-advanced-http/issues/201.

Version 2.0.8 has same header issue as 2.0.9.

[2019-05-28 08:41] passwhl commented on #217
@silkimen not working on iOS (but perfectly working on Android)

[2019-06-03 09:59] #218 closed

[2019-06-03 10:03] silkimen commented on #213
This problem is not related to this plugin. It's caused by a network issue or npm misconfiguration.

[2019-06-03 10:03] #213 closed

[2019-06-03 10:05] silkimen commented on #202
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-03 10:05] #202 closed

[2019-06-03 11:55] silkimen commented on #212
Hi Boby, you need to configure the serializer to use `json` instead of default value`urlencoded`. This info was missing in the readme, I've added it now.

your code should be:
[code]

[2019-06-03 11:58] silkimen commented on #196
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-03 11:58] #196 closed

[2019-06-03 12:29] Boby commented on #212
thank you for the reply! let me give it a try this week and let you know @silkimen :)

[2019-06-04 15:55] swanand6300 opened #219 "Unable to send Images using FormData"
Hi Guys,

I am trying to send images using form data but every time it gives me below error.

`Error: advanced-http: "data" argument supports only following data types: Array, Object
    at Object.getProcessedData (helpers.js:281)
    at Object.sendRequest (public-interface.js:154)
    at Object.post (public-interface.js:167)
    at callCordovaPlugin (vendor.js:89658)
    at vendor.js:89473
    at

[2019-06-05 17:36] pedelon opened #220 "SyntaxError: Unexpected token d in JSON at position 1"
I'm using the plugin from Ionic 4, but for some reason all the calls by Post method without problems but then the calls by method GET gives this error. I have tried everything, at some point creating a new project I answered correctly and after compiling the error returned. I do not know what is due. you can help me
On Android
`
let headers =  {'rest-auth': 'asdasdadasndajs' };
let url = 'https://

[2019-06-06 11:28] jpike88 commented on #220
set a breakpoint in the code, that should be easy to diagnose further. your issue doesn't provide enough information to be useful

[2019-06-07 06:35] dyabol commented on #74
In my case works this solution:

Android
[code]

iOS
[code]

[2019-06-11 13:25] silkimen commented on #216
This relates to #171, it's not supported, atm.

[2019-06-11 13:25] #216 closed

[2019-06-12 23:50] Enrico204 opened #221 "Android: headers not set on HTTP errors"
When the remote endpoint returns an HTTP error, `headers` field is not set (at least on Android). The relevant code is at: https://github.com/Enrico204/cordova-plugin-advanced-http/blob/298c0314339d8c32fd80f92815d4923e0779c015/src/android/com/silkimen/cordovahttp/CordovaHttpResponse.java#L59

I think that headers should be returned in case of an error, as they might contain some useful information

[2019-06-12 23:53] Enrico204 opened #222 "Body not present in case of an HTTP error"
If an HTTP error is returned, the body data is discarded. Instead, I think that body data should always be returned to the caller, as the HTTP standard specification says that (almost) any HTTP status code can have a body in the response, not only 2xx. This is particularly needed in RESTful APIs.

[2019-06-13 10:58] silkimen commented on #221
Hi Enrico, you're right, this is a bug. It was implemented before, but seems I've messed up during refactoring. I'll fix this, thanks!

[2019-06-13 11:08] silkimen commented on #222
Actually, the body is not discarded. The `error` property contains the decoded body if it's available (see screenshots). I know this is a little bit confusing, but changing this would break compatibility with older versions.

`error` containing body:
<img width="904" alt="Bildschirmfoto 2019-06-13 um 12 50 47" src="https://user-images.githubusercontent.com/4717881/59427769-baa15400-8ddb-11e9-9509-

[2019-06-13 11:58] silkimen commented on #153
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-13 11:58] #153 closed

[2019-06-13 14:00] #221 closed

[2019-06-13 14:46] silkimen commented on #177
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-13 14:46] #177 closed

[2019-06-13 14:50] silkimen commented on #191
This plugin is meant for handling requests with "http" scheme. Local files are not using "http" scheme, but "file" or "cdvfile", etc. So this is out of scope of this plugin.

Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-13 14:50] #191 closed

[2019-06-13 14:58] silkimen commented on #209
Hi Lucas, which OS is affected? Is it Android? If yes, it's probably related to #221. Please try fixed version 2.0.11.

[2019-06-13 14:59] silkimen commented on #207
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-13 14:59] #207 closed

[2019-06-13 20:43] falquinho commented on #209
Hey, thanks for answering.
It was android indeed, sorry i failed to provide this info.
It does looks like it will fix my problem. Thanks a lot for this, it will give a huge boost to the project
i'm working on. But unfortunatelly i can't test soon, i'll have to come back later do write a follow up.
Thanks for it. Later.

[2019-06-13 22:45] Enrico204 commented on #221
Thanks! I just tried the version `2.0.11` and it works as expected :-)

[2019-06-13 22:46] Enrico204 commented on #222
Ah sorry, I didn't notice that. Thank you :-)

[2019-06-13 22:46] #222 closed

[2019-06-14 00:58] silkimen commented on #178
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-14 00:58] #178 closed

[2019-06-14 00:59] silkimen commented on #188
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-14 00:59] #188 closed

[2019-06-14 01:03] silkimen commented on #208
HTTP status code 500 stands for "internal server error". You'll need to get some log files from the backend and check what's going on. Otherwise it'll be impossible to solve the problem.

Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-14 01:03] #208 closed

[2019-06-14 10:34] joseconstela commented on #210
@KamayaniT did you manage to solve this? I'm having the same issue.

[2019-06-14 14:36] Joseph-Ryu opened #223 "cordova.plugin.http.downloadFile removes body when sending request"
Consider below code:

url = 'someUrl.com'
body = { a: 1, b: 2};
cordova.plugin.http.downloadFile(encodeURI(url), body, {}, systemPath)

execution of downloadFile then will convert url to 'someUrl.com?a=1&b=2' and remove body from the request.

Is there a way to avoid that? I want the request to still have the body. Changed URL is not an issue

[2019-06-14 14:39] silkimen opened #224 "Browser: responseType "arraybuffer" and "blob" not working"
Setting `responseType` to `arraybuffer` or `blob` leads to an error on browser platform during response processing (see screenshots).

<img width="806" alt="Bildschirmfoto 2019-06-14 um 16 32 53" src="https://user-images.githubusercontent.com/4717881/59516707-3970bc80-8ec2-11e9-8b64-7eeffe5bb0ae.png">

<img width="708" alt="Bildschirmfoto 2019-06-14 um 16 32 28" src="https://user-images.githubuser

[2019-06-14 14:43] #224 closed

[2019-06-15 19:04] alemit commented on #150
It is exactly this issue, but it is not resolved. Does someone resolved it somehow? Android 7.0 has ~10% market share and cannot be just skipped

[2019-06-17 02:13] kenberkeley commented on #91
GraphQL

[code]

Request payload:

[code]

Response:

[code]

[2019-06-17 16:11] carlosen14 commented on #93
solved using

[code]

[2019-06-18 09:11] Adza93 opened #225 "TLS connection could not be established"
Hello there,
I am experiencing issue on Android devices running ionic 3 and  with advanced-http plugin which returns more than often following error, and several other errors similar to this:

2019-06-12 13:34:16.873 619-826/ W/Cordova-Plugin-HTTP: TLS connection could not be established
    com.silkimen.http.HttpRequest$HttpRequestException: javax.net.ssl.SSLException: Read error: ssl=0x732159518

[2019-06-19 07:51] KamayaniT commented on #210
@joseconstela  Yes. It got solved after i removed and installed android platform again.
Also, I have kept my .cer file in src/assets folder directly.

[2019-06-19 07:51] #210 closed

[2019-06-19 16:54] russcarver opened #226 "Exception when using POST"
I'm using Ionic (4) and because of this, I have to use their native HTTP wrapper to access your plugin (since they overwrite the `cordova` global variable). So I'm not sure if it's an issue with the plugin or their wrapper. I have opened an issue with them that you can see here (https://github.com/ionic-team/ionic-native/issues/3060). Basically, I'm getting the following exception when sending a P

[2019-06-19 17:30] sambowenhughes opened #227 "Http POST with x-www-form-urlencoded content type FAILS every time"
Hey Guys,

Im currently using the **cordova-plugin-advanced-http** to make a **x-www-form-urlencoded** POST to Microsoft B2C Auth.

Here is my code:
[code]
Whenever I make a request passing the **FormData()** object through I get the following ERROR:

**[INFO:CONSOLE(222)] "ERROR:{}", source: http://localhost/pages-home-home-module.js (222)**

Please could you help with this. Or even explain the b

[2019-06-19 17:35] cabelotaina opened #228 "Any response cache control?"
Hi all,

I need use response cache in our project. The plugin cache the response or have some settings to configure this?

Looking on source code I can't see anything similar with:

https://github.com/kevinsawicki/http-request/blob/master/README.md#using-entity-tags-for-caching
https://developer.android.com/reference/android/net/http/HttpResponseCache

tks

[2019-06-19 22:59] russcarver commented on #226
It turns out this issue was a conflict with another plugin (geofence) using `com.squareup.okhttp3:okhttp-urlconnection:3.11.0`.  I added the following variable to my `config.xml` to solve the issue.

[code]

[2019-06-19 22:59] #226 closed

[2019-06-24 09:39] jintzz commented on #116
I am getting an issue "plugin not installed", after implementing http.setSSLCertMode('pinning') in my current project. I followed the same steps which are mentioned in https://www.npmjs.com/package/cordova-plugin-advanced-http. Has anyone faced the same issue? Is there any workaround?

[2019-06-24 09:51] jintzz opened #229 ""plugin not installed" error in SSL pinning using ionic-native http"
Hi,

I am using the plugin [ionic-native http](https://ionicframework.com/docs/native/http) in my current project for enabling SSL pinning. I followed the steps mentioned in the [link](https://www.npmjs.com/package/cordova-plugin-advanced-http) but after taking the build, getting an error 'Plugin not installed'. But the plugin is installed and is listed in config.xml file. and package.json.

The c

[2019-06-24 12:40] SaileshMS commented on #229
@jintzz ,
facing the same issue with the latest Ionic 4. Which version did you use ?

[2019-06-24 16:08] jintzz commented on #229
@SaileshMS
The same version, Ionic4. I tried to implement the solutions mentioned [here](https://github.com/silkimen/cordova-plugin-advanced-http/issues/8), for me it didn't work. But it may be helpful for you

[2019-06-24 16:47] silkimen commented on #229
Hey guys, this is a problem with ionic-native and not with this plugin. Please file an issue [there](https://github.com/ionic-team/ionic-native/issues) next time.

I think your problem is related on how you did import the wrapper:
[code]

[2019-06-24 16:49] silkimen commented on #220
Closing this, feel free to open a new issue, if this won't solve your problem!

[2019-06-24 16:49] #220 closed

[2019-06-24 16:59] silkimen commented on #217
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2019-06-24 16:59] #217 closed

[2019-06-24 16:59] silkimen commented on #192
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2019-06-24 16:59] #192 closed

[2019-06-24 17:00] silkimen commented on #173
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2019-06-24 17:00] #173 closed

[2019-06-24 17:01] silkimen commented on #171
Implemented in v2.1.1. Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-06-24 17:01] #171 closed

[2019-06-24 17:06] silkimen commented on #137
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-06-24 17:06] #137 closed

[2019-06-24 17:07] silkimen commented on #108
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-06-24 17:07] #108 closed

[2019-06-24 17:29] jintzz commented on #229
@silkimen
I had gone through these documentations : [ionic-native/http](https://ionicframework.com/docs/native/http) and [Cordova Advanced HTTP](https://www.npmjs.com/package/cordova-plugin-advanced-http) and followed the same instructions mentioned there. My import statement was also the same like you mentioned. But still that issue exists.

I tried removing the plugin and adding it again as ment

[2019-06-25 00:33] silkimen commented on #229
If it's not related to the imports (was just an idea), you'll need to open an issue in the ionic-native repository at https://github.com/ionic-team/ionic-native/issues. You can reference this issue here, so it's easier to find a solution for others having the same problem. But unfortunately, I can't help you.

[2019-06-25 00:53] silkimen commented on #225
Hi Aleksandar,
status code -2 is returned when an javax.net.ssl.SSLException exception occurs which indicates "some kind of error detected by an SSL subsystem." (see [Android reference for SSLException](https://developer.android.com/reference/javax/net/ssl/SSLException)).
In your case this seems to be related to an issue in OKHTTP: https://github.com/square/okhttp/issues?utf8=%E2%9C%93&q=javax.net

[2019-06-25 01:03] silkimen commented on #228
Hi Maurilio, you're right this plugin doesn't support any kind of caching control mechanism. It's up to you to build your own custom wrapper for handling ETags and resolving from custom cache.

[2019-06-25 01:12] silkimen commented on #215
Hi josepabelloserras,
you need to pass your `data` as a dictionary style object.

e.g.:
[code]

[2019-06-25 01:31] silkimen commented on #223
Hi Joseph,
no this is not supported, because downloading a file is implemented via GET request, which does not support sending a message body. The second param is meant to be used for adding query params to the url. So it's behaving as expected.

The RFC spec states that "A server SHOULD read and forward a message-body on any request; if the request method does not include defined semantics for an

[2019-06-25 01:36] silkimen commented on #203
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-06-25 01:36] #203 closed

[2019-06-25 01:38] silkimen commented on #48
Won't fix this, because it's a not supported feature ([see notice in docs #setDataSerializer](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer)).

[2019-06-25 01:38] #48 closed

[2019-06-25 01:47] silkimen commented on #219
Relates to #101 and therefore it's not supported.

[2019-06-25 01:47] #219 closed

[2019-06-25 07:06] Adza93 commented on #225
Hi there @silkimen,

Thanks for your quick reply! It seems like you are very much right about OKhttp. However, as I can see this thread https://github.com/square/okhttp/issues/4418
the issue is very old and not fixed. It looks like maintainers wont fix it because they cannot reproduce it.

Can we do anything regarding this issue to fix it on the side of cordova-plugin-advanced-http codebase?

[2019-06-25 17:30] cabelotaina commented on #228
Oh okay, we are using our own cache system. And now it is working very well on iOS. The next is try with android.

Thank you for your response.

[2019-06-25 17:30] #228 closed

[2019-06-27 10:10] jintzz commented on #74
@timofeysie
Hi, did you find any solution for this? I am using ionic-native/http for ssl pinning .
The following error is getting displayed while http.get() request, (sample website)
error hitting http://ionic.io
"The certificate for this server is invalid. You might be connecting to a server that is pretending to be “ionicframework.com” which could put your confidential information at risk."

Hav

[2019-06-28 07:10] ashenwgt commented on #168
I am about to implement SSL Pinning with Capacitor and would like to know whether this issue is still there with the plugin. Any suggestions @silkimen?

@HoverBaum : What is the alternative path did you take after trying this plugin with Capacitor? Any advice for getting SSL Pinning fixed in an Angular/Ionic app?

[2019-06-28 08:09] HoverBaum commented on #168
Hi @ashenwgt for our Capacitor project we ended up forking this plugin and hardcoding our certificates into it. That was a feasible solution because we worked on a prototype that was only supposed to be live for a month.

The underlying problem is that between Cordova, which this plugin was written for and Capacitor, the file structure of the native code changed and the plugin can thus no longer f

[2019-06-30 09:36] Xstoudi commented on #130
I have the same problem but I can't find where the conflict is :
[code]

[2019-06-30 09:45] Xstoudi commented on #226
How did you find the plugin that was a conflict with cordova-plugin-avanced-http ? My bigger problem now is that I have the same error as you had, but I only have those plugin installed :
[code]

[2019-06-30 20:55] russcarver commented on #226
Through searches I found that OkHttp conflicts may be the source of that error. I searched through the other plugins I used to find references to OkHttp. You can also look at on of the gradle build files in the android platform to see what version is used. There is also another command to list your dependencies: `gradlew :YourApp:dependencies` as can be seen at https://support.zendesk.com/hc/en-us

[2019-07-02 09:34] ashenwgt commented on #168
Hi @HoverBaum, thanks for the awesome explanation. I also could update my `angular.json` to get `www/certificates/` location, but could not implement the second workaround mentioned by you:  hardcoding certificates to the native build since the advanced-http plugin doesn't have access to this `certificates` folder. Current progress: https://github.com/ashenwgt/ionic-capacitor-ssl-pinning

Could yo

[2019-07-02 10:05] ashenwgt commented on #210
Hi @KamayaniT, did you use Capacitor too?

I have been using Capacitor and still could not integrate SSL Pinning in my Ionic project (https://github.com/ashenwgt/ionic-capacitor-ssl-pinning). What are the steps you followed? Is your code publicly-available?

[2019-07-02 10:19] ashenwgt commented on #225
Hi @Adza93, is the issue still present? I'm also getting the error logs with the same error code -2:
[code]

My code is available at https://github.com/ashenwgt/ionic-capacitor-ssl-pinning

Any suggestions to get this plugin working?

[2019-07-02 13:01] cmeuser opened #230 "Object(...) is not a function"
**Describe the bug**
Object(...) is not a function when attempting to run app.

**Complete Error Message**
Error message when running in emulator, simulator, or device.

vendor.js:75624 Uncaught TypeError: Object(...) is not a function
    at vendor.js:75624
    at Module../node_modules/@ionic-native/http/index.js (vendor.js:75802)
    at __webpack_require__ (runtime.js:84)
    at Module../src/app

[2019-07-02 13:10] cmeuser commented on #230
I think this has to do with native plugin but am not sure.  I'll submit an issue with the ionic team.

[2019-07-02 13:30] priyanka-Sadh commented on #93
console.log(JSON.stringify(new Headers())) Is printing {}

And error is same. What should I do now ? Any solution ?

[2019-07-02 14:24] carlosen14 commented on #93
@priyanka-Sadh  This is absolutely correct, because headers has no value yet!!

You can pass

[code]

[2019-07-02 14:27] Adza93 commented on #225
@ashenwgt my problem is not due to invalid certificate. Your problem is because you are probably enabling ssl pinning but not providing ssl certificate to pin to. it must be exactly the same certificate as on your server that you are attempting to connect.

[2019-07-02 16:22] HoverBaum commented on #168
We hardcoded them directly within the plugin as a string 🙈

Sadly we did not have a team member available that could help us to figure out a way to read it from the file system in Capacitor.

[2019-07-03 03:48] rtpHarry opened #231 "Readme.md links out to a 404 for ssl pinning blog article"
The readme.md links out to a 404 url for the SSL Pinning explanation:

http://blog.lumberlabs.com/2012/04/why-app-developers-should-care-about.html

[2019-07-04 06:37] deadshot2491 opened #232 "in iOS, deprecated methods of AFNetworking library is still used."
Methods that are deprecated:

POST:parameters:success:failure:

GET:parameters:success:failure:

[2019-07-07 17:15] #229 closed

[2019-07-07 17:17] silkimen commented on #215
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-07-07 17:17] #215 closed

[2019-07-08 09:24] Liam-Ryan commented on #223
Can I ask why download was implemented as get rather than post request? I'm running into an issue where we are providing a base64 image to a download url which is providing a formatted pdf but we're hitting the get limits ( I know get itself as a protocol does not have a limit but in reality it's around 2kb )

I can ask in a different thread if you prefer, I don't know Joseph-Ryu this just seemed

[2019-07-08 09:26] Joseph-Ryu commented on #223
Is there a way for me to use POST instead for downloading?

[2019-07-09 06:08] ankithanrsc opened #233 "wymsee/cordova-http and cordova-advanced-http"
I need to send form data through my ionic 3 application and have no control of the server end. Native http is wrapped on cordova-advanced-http that does not support formdata. I have tried alternatives such as angular HttpClient, xmlHttpRequest, axios, fetch etc but all of them returned cors related issues.
I then found wymsee/cordova-http and it worked well for me. But the problem is that, I still

[2019-07-09 07:19] josepabelloserras commented on #215
Thank you very much for your time on this!

[2019-07-09 10:20] afife opened #234 "[Feature] key pinning"
**Context / Challenge**

CAs are required to replace misissued TLS certificates (e.g. organization name exceeding 64 characters, short serial number, etc) in **less than 5 days**. Replacing a certificate usually means the CA to reissue the certificate with the same subject public key and corrected fields and revoke the previous certificate.

In this period, sysadmins have to replace the old certif

[2019-07-11 01:42] sabardotnet opened #235 "i got error illegal character"
i got error when my file name any space. i use uploadfile methode.

"Illegal character in path at index 44: file:///storage/emulated/0/Download/testfile satu dua.pdf"

i use ionic version 3

thanks for answering..

[2019-07-11 18:51] falquinho commented on #209
It IS working now. Thank you so much (and sorry for the late response.)

[2019-07-11 18:51] #209 closed

[2019-07-15 06:36] felek000 opened #236 "Error while connecting api on localhost"
Hello,
I develop my sample api using Nestjs. It is working via Postman.
I install and use it like so:

[code]

But when i run debug i get following error in console:
[code]
Inside of my controller i copy paste basic google example and it worked. So i have no idea what is that connection problem. Any suggestions ?

[2019-07-15 09:38] rosnaib11 commented on #186
Same here, looking  for this feature

[2019-07-17 09:42] boboxiaodd commented on #88
i have a plan with ios platform:
https://github.com/boboxiaodd/cordova-plugin-advanced-http/commit/05261b3114b76d843501b8d981307ca5b6fd9ec5

sucess callback return two struct:
[code]
or  normal callback
[code]

[2019-07-17 14:44] Proxtx opened #237 "Cleartext HTTP traffic to ipadress not permitted"
My config includes
<allow-intent href="*" />
<allow-navigation href="http://*" />
    <access origin="*" />

[2019-07-19 08:22] minh1996bk commented on #237
today my app can't get data from my server. i debug and get error like this: There was an error with the request: java.net.UnknownServiceException: CLEARTEXT communication to myserver not permitted by network security policy. I use ionic 3 and cordova-plugin-advanced-http version ^1.11.1

[2019-07-20 00:50] chuchuva opened #238 "[Bug] [Android] WRITE_EXTERNAL_STORAGE permission gets added to AndroidManifest.xml"
Repro:

1. add cordova-plugin-advanced-http to any Cordova project
2. Build Android apk
3. Inspect platforms/android/app/src/main/AndroidManifest.xml

Observe: a line with WRITE_EXTERNAL_STORAGE permission is present

Expected: no WRITE_EXTERNAL_STORAGE

**System info**
 - affected HTTP plugin version: 2.1.1
 - affected platform(s) and version(s): Android
 - cordova version: 8.0
 - cordova platfor

[2019-07-20 01:37] chuchuva commented on #238
I think this is because dependant cordova-plugin-file requires that permission: https://github.com/apache/cordova-plugin-file/blob/master/plugin.xml#L137

[2019-07-20 19:47] cvettelina commented on #150
It seems the proposed solution above
cordova.plugin.http.setSSLCertMode('nocheck', function() {
console.log('success!');
}, function() {
console.log('error :(');
});

works only once (for the first call) after that it again check the certs and the call fails for android 7.0
Can anyone please advice when and how this function should be used in order to stop checking certificates

[2019-07-22 05:50] shah-pooja commented on #150
please write in your service file where post method is defined. Hence every time you call post method this method will be executed along.

[2019-07-23 19:33] silkimen commented on #237
Hey guys, this problem is occurring when you set your android target SDK level to 28+. It's because of Google changing some security behaviour see https://developer.android.com/about/versions/pie/android-9.0-changes-28#tls-enabled for more info. You'll need to use a HTTPS backend with TLS or you need to whitelist the HTTP domains. This problem is not related to this plugin.

[2019-07-23 19:33] #237 closed

[2019-07-23 20:04] silkimen commented on #235
Whitespaces are not valid in URLs, you need to encode them. Please use StackOverflow for this kind of questions. e.g. https://stackoverflow.com/questions/5442658/spaces-in-urls

[2019-07-23 20:04] #235 closed

[2019-07-23 20:52] silkimen commented on #227
Hi sambowenhughes, this plugin doesn't support `FormData` objects. But you can use a plain JS object for sending form data after having configured the data serializer correctly (see also [cordova-plugin-advanced-http#post](https://github.com/silkimen/cordova-plugin-advanced-http#post)).

e.g.
[code]

Please use StackOverflow for this kind of questions next time: https://stackoverflow.com/questions

[2019-07-23 20:56] silkimen commented on #233
Hi ankithanrsc, this plugin is not meant to be used combined with wymsee/cordova-http. Therefore I've never tested it and I can't tell you if it's possible. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2019-07-23 21:02] #231 closed

[2019-07-23 21:03] silkimen commented on #231
Thanks for reporting! 👍

[2019-07-23 21:04] silkimen commented on #212
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-07-23 21:04] #212 closed

[2019-07-23 21:16] silkimen commented on #238
Hi chuchuva, you're right this behaviour comes from the dependant file plugin. This plugin does not reference this kind of permissions (see https://github.com/apache/cordova-plugin-file/blob/master/plugin.xml#L137). But I don't think this is a bug, because actually we need to have this permission when dealing with files e.g. downloading or uploading files from storage.

[2019-07-23 21:22] silkimen commented on #236
Hi felek000, please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions. If you are running your app on a device or an emulator, it has it's own IP and therefore localhost or 127.0.0.1 is not the machine the server is running on. Use the local IP address of your dev machine, instead.

[2019-07-23 21:22] #236 closed

[2019-07-23 21:23] #233 closed

[2019-07-23 21:24] silkimen commented on #223
You can fork this plugin and change it yourself. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2019-07-23 21:24] #223 closed

[2019-07-23 21:26] silkimen commented on #176
Hi rolinger, this is not possible with this plugin. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2019-07-23 21:26] #176 closed

[2019-07-25 07:38] rtpHarry commented on #231
No worries. You lured me back in with this notification and I spotted that its also on the NPM page. Not sure if that's a separate file or will update itself in a bit automatically... just thought I'd mention it.

[2019-07-25 08:48] flobiwankenobi opened #239 "[Feature] add enumeration style object for error codes"
It would be nice if you can provide an enum or something else for the error codes, because they're not documented.

Like this e.g.
[code]

[2019-07-26 09:31] shagulameed298 opened #240 "Google Play Blocker: Unsafe SSL TrustManager Defined"
The affected classes define an empty checkServerTrusted() method, thereby disabling SSL validation and hence accepting any SSL certificate as valid, if the class is used when connecting to a server over SSL/TLS.

Regardless of whether the affected classes are actually used at runtime or not, Google Play is blocking any App that defines such an insecure X509TrustManager, as detailed on Google's sup

[2019-07-26 09:33] shagulameed298 opened #241 "Google Play Blocker: Unsafe HostnameVerifier Defined"
The vulnerable classes define a custom HostnameVerifier that does not perform any validation of the server's hostname:

// Sample code to initialize an insecure HostnameVerifier

new HostnameVerifier() {

    public boolean verify(String hostname, SSLSession session) {

        return true;

        }

    });

[2019-07-26 09:39] joaolnpr opened #242 "Allow Parameters from other Types (arrays, int etc)"
Hello,

We are using uploadFile method to upload file but also to update other information.

catch Error: advanced-http: invalid params object, needs to be an object with strings
    at checkKeyValuePairObject (plugins/cordova-plugin-advanced-http/www/helpers.js:84)
    at checkParamsObject (plugins/cordova-plugin-advanced-http/www/helpers.js:203)
    at Object.handleMissingOptions (plugins/cordov

[2019-07-30 12:31] aligassan opened #244 "Auto refresh data json url every 60 second"
l try to get weather data json api . and my code working fine . but l want to update data json url every 60 second . l used setInterval but he doesn't stay longer time , after several  minuet then my app is crash . My question is . does cordova-plugin-advanced-http provde any method for auto  updating data ? . If not , any one know best way to updating data without crash please ?

My code

[code]

[2019-07-30 13:01] grandhisubrahmanyam35 commented on #74
I tried both [@dyabol ](https://github.com/silkimen/cordova-plugin-advanced-http/issues/74#issuecomment-499774409) and [@timofeysie ](https://github.com/silkimen/cordova-plugin-advanced-http/issues/74#issuecomment-366872088) solution but no luck.

this is how defined cordova plugin looks like below in my config.xml

       <plugin name="cordova-plugin-advanced-http" spec="^2.1.1">
           <vari

[2019-07-30 21:41] silkimen commented on #227
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-07-30 21:41] #227 closed

[2019-08-01 07:46] Asterodeia commented on #225
Hi,
The issue is still present, since I'm experiencing the same problem (the original one) working on a very bad WiFi connexion.
Everything works fine when I use the plugin without setSSLCertMode("pinned");

[2019-08-02 14:22] Galiza opened #245 "Certificate path - Trust anchor certification path not found"
I'm trying to implement our own certificate into the project, but I can't seem to get the path right.

Here's all my info:
**Ionic 4.12.0
Cordova 8.1.2
Android 8.0.0**

My package.json:
[code]
And
[code]

My config.xml:
[code]

My TypeScript:
```this.http.setSSLCertMode('pinned').then(() => logger.debug("Disabled all CERTS valid"));```

Error:

Can someone please help me with this?

[2019-08-04 06:45] shaikMohammedGhouse commented on #245
Hi, I'm also getting the same error, have you found the solution??

[2019-08-05 11:42] Galiza commented on #245
I have not, still the same error, it doesn't matter where I place the certificates.

[2019-08-05 14:00] Galiza commented on #245
@shaikMohammedGhouse If you find the solution, please, do let me know.

[2019-08-06 06:58] Asterodeia commented on #245
Hi. I had the exact same error when certificates were not the good ones, or were not in the right place.

Your certificates should be in www/certificates and not in app/src/main/assets/, and you don't need these entries in config.xml

[2019-08-06 12:47] Galiza commented on #245
@Asterodeia But isn't www/ dir generated? How am I supposed to leave the certificate inside it?

[2019-08-06 19:24] Galiza commented on #245
@shaikMohammedGhouse I think I might have found the fix, at least, it works now.

I changed:
[code]
to
[code]

[2019-08-06 19:24] #245 closed

[2019-08-06 19:30] pcsantana commented on #114
For me, the problem was related to encode correctly the url params, like mentioned in [this issue](https://github.com/silkimen/cordova-plugin-advanced-http/issues/149#issuecomment-441344675) .

[2019-08-07 05:15] shaikMohammedGhouse commented on #245
@Galiza, Great! But, I'm not still able to resolve it even after changing as above. Does the certificate in the root certificates folder have to be same as the server one? Or Self signed also works fine? In my case, my server certificate is also a self-signed one. Please let me know where I'm missing things!

[2019-08-07 14:34] SaltyPotato opened #246 "Http interceptor"
Hi,

I was wondering if this plugin supports an angular http interceptor. If not, is there any other library I can use to do this?

Thanks in advance!

[2019-08-08 08:30] PsyAl opened #247 "Reusing Sockets (Android)"
Hi,

we are using this plugin to talk to an embedded device with limited ressources in terms of http-connections (~20 connections). We have the feeling that each request (at least for POST, not sure about other http verbs) is send over a new socket (we see timeouts from sockets with differing port numbers). This is in our case a bit problematic since these sockets are "blocked" for 30 seconds (tim

[2019-08-12 20:04] silkimen commented on #247
Hi Samir, please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) next time for this kind of questions.
You can check #115 for how to keep a socket alive. It's not working for iOS, but it should work for Android. But the server must also support this feature and must not close the socket on the server side.

[2019-08-16 21:41] chuchuva commented on #238
See also https://github.com/apache/cordova-plugin-file/issues/243

[2019-08-16 21:59] chuchuva commented on #239
Relevant code is in CordovaHttpBase.java, for reference:

https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/android/com/silkimen/cordovahttp/CordovaHttpBase.java#L81

[2019-08-18 12:36] gabrielepmattia opened #248 "[Bug] [iOS] clearCookies does not work"
**Describe the bug**
When a request response has the header `set-cookie` the cookie is correctly set and then retrieved with `getCookieString()`. When `clearCookies()` is called the cookie is no more available with `getCookieString()` but persists in next http calls. Behavior is correct on Android.

**System info**
 - affected HTTP plugin version: 2.1.1
 - affected platform(s) and version(s): iOS

[2019-08-22 18:44] samisamsam opened #249 "My app crash with ionic wrapper"
Hi can you help me please. I'm using this plugin throug Ionic-native wrapper but my app is crashing because of it

[2019-08-24 02:46] nationdata-it commented on #245
any update on this?

[2019-08-26 07:06] Manu0086 commented on #150
Same problem only on Android 7.0

**javax.net.ssl.sslhandshakeexception: handshake failed**

and _setSSLCertMode('nocheck');_ doesn't work !

[2019-08-26 12:52] FredCote commented on #248
Same problem here.... tried everything no result so far....

[2019-08-27 11:09] edento commented on #238
@silkimen This is a bug / unexpected behaviour. I need to integrate native http requests into my code, not uploading/downloading any files. It doesn't make sense to request this permissions from the users as @chuchuva mentioned before.

[2019-08-27 11:44] edento commented on #230
Try updating your `@ionic-native/http` to version `5.x.x`, and then import it:
[code]

That should work.

[2019-08-27 16:38] nileshbandekar commented on #67
Same issue even if we don't add certificate and set as 'pinned' won't giving any error..
Kindly help

[2019-08-29 10:03] maybankidh opened #250 "[Bug] [Android] Enable SSL pinning not working"
Set ServertrustMode  as "pinned" is not working. But "nocheck"working fine"

App able to establish connection with the server and I can see the"__advancedHttpCookieStore__" object create in localStorage as well .but after any service call getting response data always empty.

Plz help me to resolve this issue. Let me if  any setup required.
The .der file placed in Certificate folder.

 Refer the re

[2019-09-01 18:01] #247 closed

[2019-09-03 07:00] SibirianIce opened #251 "Problems using on cordova"
Hello everyone :)

I am new to mobile development and I try to get into cordova. I want to create a simple app, which scans the SSIDs and then can connect to one of them. After that I want to send HTTP Post requests to the Device and waiting for an xml data response.

The device is working good so far (tested with Postman) and I get the data I want.

Unfortunately with cordova its not working (and

[2019-09-03 13:50] SibirianIce commented on #251
I have solved this issue using the **cordova-plugin-advanced-http-2** Cordova-Plugin.
Heres how I use it now (I also use the cordova-plugin-spinner & wifiwizard2):

[code]

[2019-09-03 13:50] #251 closed

[2019-09-10 07:07] bestoak commented on #245
same issue here. and update on this?

[2019-09-13 09:48] HighSoftWare96 opened #252 "[Bug] [Android] SSLPeerUnverifiedException even with nocheck"
**Describe the bug**
I'm getting this error inside my workflow when attemping to make a network request to a self-signed certificate server.

[code]

I've put my backend certificate inside the platforms/android/app/src/assets/www/certificates with this configuration:
`<resource-file src="src/assets/certificates/my-cert.cer" target="app/src/main/assets/www/certificates/my-cert.cer" />
`

But I keep

[2019-09-13 13:35] HighSoftWare96 commented on #252
Sorry my bad: the problem was from the certificate. In fact the problem was related to this: https://stackoverflow.com/questions/30745342/javax-net-ssl-sslpeerunverifiedexception-hostname-not-verified/30745605. Adding the IP in the subjectAltName resolved the problem.

[2019-09-13 13:35] #252 closed

[2019-09-17 13:31] HighSoftWare96 commented on #246
I was wondering that too but I think this is not actually possible right now. Maybe this can be useful: #186

[2019-09-26 01:15] silkimen opened #253 "[Feature] add support for response type "json""
**Is your feature request related to a problem? Please describe.**
This plugin is mostly used with APIs returning JSON data. Atm you need to parse every single response yourself, because this plugin doesn't support the response type "json".

**Describe the solution you'd like**
I'd like to have built-in response type "json" which makes the plugin return parsed data in success handler.

e.g.
[code]

[2019-09-26 03:11] #239 closed

[2019-09-26 03:11] #253 closed

[2019-09-26 03:19] silkimen commented on #250
Hi maybankidh, yes your backend service sends you an empty response (content-length is 0 and data field is an empty string). It doesn't look like a problem with the plugin. Try to get some log files from the backend and analyze what's going on. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2019-09-26 03:19] #250 closed

[2019-09-26 07:24] flobiwankenobi commented on #239
Yay 🙌🏼

[2019-09-27 11:05] Hanzofm opened #254 "Problems with mobile data/wifi connections"
Hi,

I have X-Files problem using this library and I hope that someone can help me with it.

I have to use a ASP webservice wich exports GET/POST functions. When I use it when mobile data the WS returns a 500 error. With WIFI connection works fine.

**This occurs with different Android versions (7.1.2, 6.....)**

This is my Project.properties:

[code]
My Versions:
[code]
My Headers
` private urlEn

[2019-09-29 22:59] silkimen commented on #246
Hey guys, this is out of scope of this plugin, because it's meant to be a generic cordova plugin not specialized on angular. But you can try sneas adapter (never tried it myself though), maybe it'll solve your problem: https://github.com/sneas/ionic-native-http-connection-backend

If it's working for you; i'd be glad to receive some feedback 👍😉

[2019-10-01 08:28] VovanSuper opened #256 "How to update to OkHttp 4.2.0 (from currently used 3.10.0, which uses HttpUrlFactory)"
Hello!

After build (web part) Ionic4 project I build android project in Android Studio, which in project structure offeres to upgrade to OkHttp 4.2.0 (latest) library from 3.10.0. Problem with HttpUrlFActory class which is (as far as I understand removed from v.4) - and the class being used in code. So should the project (cordova-plugin-advanced-http) be updated to latest dependencies (as `code c

[2019-10-01 13:05] Asterodeia commented on #238
It seems that downgrading cordova-plugin-file to version 3.0.0 gets rid of the problematic permission. Would it be possible to have a mean to specify the version of cordova-plugin-file that we need like you did with OKHTTP one ? Thanks.

[2019-10-04 08:44] HansKrywaa commented on #249
See this: #https://github.com/dpa99c/phonegap-launch-navigator/issues/207

[2019-10-04 09:15] arjel commented on #248
Same here ... @gabrielepmattia, @FredCote have you found a solution?

[2019-10-07 20:58] sta55en commented on #208
Are you using Capacitor? I'm seeing this on Capacitor.

[2019-10-07 23:04] sta55en opened #257 "[Bug] [iOS] Uploading a file sends [object Promise] to the server."

[2019-10-07 23:05] #257 closed

[2019-10-07 23:05] sta55en commented on #257
I was being stupid.

[2019-10-08 05:44] darrensapalo commented on #211
I am also encountering this problem. What did you do to diagnose or fix it?

[2019-10-12 22:00] lucassouza16 commented on #254
I have a same problem

[2019-10-13 01:13] andrej-vasilj commented on #249
The launch-navigator thing is not the only issue. I'm getting this crash on an up-to-date, clean, newly created ionic app. The steps to reproduce couldn't be simpler:

1. create a new ionic app (blank app)
2. add the http plugin according to ionic documentation
3. import http, add it as a provider and inject it into a constructor and make a get request. You can just copy paste the default code fro

[2019-10-17 03:18] marutifh commented on #150
Did you find any solution? I am facing the same issue, and this is not with any Android version specific, I am facing this issue with all Android versions.

[2019-10-17 03:47] cyof opened #258 "Error submitting through uploadFile in iOS"
I get the following error when submitting file to the server through uploadFile in iOS.

Has anyone encountered this before?

[2019-10-22 08:43] tomedalya opened #259 "Invalid certificate only on ionic 4 ios"
We use this plugin with ionic 3 everything worked fine.
since we migrated to ionic 4, it works on android but pinned do not work on ios we keep getting
status: -2
error: the certificate for this server is invalid ...

it works fine on android, this error occur only on ios (all devices all versions)

[2019-10-22 12:55] ommyjay commented on #150
Try using `acceptAllCerts(true)` method before the request

[2019-10-23 08:08] silkimen commented on #242
Hi joaolnpr, the params object gets serialized during request and the content is used to create the query string of the url. Deep structures are not supported.That's the reason why we don't support other data types. It's up to you to transform your data to string.

[2019-10-23 08:12] silkimen commented on #232
Yes, that's true. Will be addressed in a future release. Won't be handled with high priority.

[2019-10-23 08:12] #232 closed

[2019-10-23 08:17] silkimen commented on #240
Hi guys, removing unsafe SSL TrustManager and HostnameVerifier would break server trust mode "nocheck"  (see [README](https://github.com/silkimen/cordova-plugin-advanced-http#setservertrustmode)). This feature is used by many people for testing purposes, it's not meant for production usage. But I've never seen Apps being blocked for this reason, when this feature is not used in your code.

[2019-10-23 08:18] silkimen commented on #241
see #240 .

[2019-10-23 08:18] #241 closed

[2019-10-23 11:51] PiotrSmietana89 opened #260 "request error: Illegal break statement for 200 response with no body"
I'm working on a cordova app that POSTs information to a server, which by design returns response with empty body. This seems to cause some problems for cordova-plugin-advanced-http, even if response status is 200. Failure callback is called instead of success, with error message:

advanced-http: an error occured during post processing response: Illegal break statement

code looks like this:

[cod

[2019-10-26 08:29] BorntraegerMarc opened #261 "HTTP2 support for android & iOS"
**Is your feature request related to a problem? Please describe.**
It would be nice if performance benefits of HTTP2 could be used on iOS & Android. On the web the browser will do an automatic connection upgrade if http2 is available.

**Describe the solution you'd like**
Ideally the plugin would handle http2 upgrades without any plugin API changes. Not sure if it's possible.

[2019-10-29 14:53] sta55en commented on #211
Seeing this too, with a valid URI.

[2019-10-30 10:37] wijourdil opened #262 "[Bug] [ios/android] JSON data sent to API have different format depending on OS"
**Describe the bug**
I use the `ionic-native/http` plugin for both android and ios platforms.
I use it to get/post data from an API (written in PHP), and it works for all endpoints except one.

The data I want to post :
[code]
Data received on API from android / ionic serve :
[code]

Data received on API from ios :
[code]

It's really annoying because depending on the mobile device's OS, the API d

[2019-10-30 14:24] lucascrandle opened #263 "[Bug] [android] Content Type not being passed with json after recent andoid update"
**Describe the bug**
As of Monday October 28 we started seeing web calls error with HTTP Code 415. I am using ionic 5 and setting the setDataSerializer('json') call.
I noticed that the android system webview released a new version on Monday and wondering if they're related.

I tried upgrading from 1.0.9 to 2.2.0 and that didn't fix it, when manually including content type header it will pass it al

[2019-10-30 15:27] lucascrandle commented on #263
Update: Using sendrequest appears to fix the issue:
    var post = this.http.sendRequest(url, {data: body, method: "post", serializer: "json"})

[2019-11-02 10:02] Alencan opened #264 "Native: tried caling HTTP.get ,but the HTTP plugin is not installed"
when I tried to use ionic4 ,cordova to creat a app, I  do this

 ionic cordova plugin add cordova-plugin-advanced-http
and npm install @ionic-native/http

but  I find a problem Native:  tried caling HTTP.get ,but the HTTP plugin is not installed
on my app,what shou I do?

I have been installed  cordova-plugin-advanced-http  and config.xml also has  CordovaHttpPlugin

[2019-11-04 21:34] kapik opened #265 "[Bug] [Android] incorrect format for headers.set-cookie"
**Describe the bug**

I retrieve the cookies from the response via `response.headers.set-cookie`.

I receive an array containing a single element, a string.
Here is an example:
[code]

So there are 2 cookies in the string.
I expected to receive an array containing two strings:
[code]

Are you aware of this bug?
I don't know how to deal with this issue 😕

Thanks for your help !

**System info**
 -

[2019-11-05 05:36] supermavericks opened #266 "Xcode build failed"
xcode build failed:
Undefined symbols for architecture arm64:
  "_AFNetworkingOperationFailingURLResponseBodyErrorKey", referenced from:
      -[BinaryResponseSerializer validateResponse:data:error:] in BinaryResponseSerializer-785ff2c3a05822e0a0a938dcc0f2fb17b5c05a473fbfa984b41d0507f72515bf.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use

[2019-11-05 06:22] supermavericks commented on #266
codova-ios@4.5.4
corova@8.0.0
ionic@3

[2019-11-05 10:07] supermavericks commented on #264
same. do you resolve it? @Alencan

[2019-11-05 11:20] Alencan commented on #264
I resolve it , you should check config.xml when you build app, and that may didn't write in config.xml

[2019-11-05 11:38] kapik commented on #265
Not an issue:

  that are within a single set-cookie field-value, such as in the Expires portion.
  This is uncommon, but explicitly allowed - see https://tools.ietf.org/html/rfc2616#section-4.2

From: https://github.com/nfriedly/set-cookie-parser/blob/master/lib/set-cookie.js

[2019-11-05 11:38] #265 closed

[2019-11-06 19:30] jeremyspatrick opened #267 "Unable to fetch status text reason code"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. e.g. I'm always frustrated when [...]

This is a fine line between a bug and a feature request. It appears the current implementation uses NSURLRequest which does not capture the HTTP status text/reason code from the HTTP response object.

Our api has several different types o

[2019-11-07 23:29] ceaheart opened #268 "OKHTTP_VERSION incompatibility with other plugins"
I am running into an incompatibility issue with the OKHTTP_VERSION.  There is another plugin that references OKHTTP_VERSION 3.12.+

My question is: does your plugin support this version, and if so, what is the proper way to change it?

**System info**
 - Plugin version - 2.2
 - Running on Android v9
 - Phone: OnePlus 5
-  Other
Ionic:

   Ionic CLI                     : 5.4.4 (C:\Users\Chris\AppDa

[2019-11-10 04:36] silkimen commented on #63
This feature was implemented in v2.2.0.

[2019-11-10 04:36] #63 closed

[2019-11-10 05:13] silkimen commented on #150
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-11-10 05:13] #150 closed

[2019-11-10 05:26] silkimen commented on #246
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-11-10 05:26] #246 closed

[2019-11-10 05:33] silkimen commented on #260
Hi Piotr, did you also configure a responseType? Can you please set a breakpoint in line 288 and then log out response object (before it's changed to an error object).

[2019-11-10 05:37] silkimen commented on #262
Hi Wilfried, please add your JS code which is used to create the request. Looks like you're using the plugin wrong at some point.

[2019-11-10 10:00] ansarikhurshid786 opened #269 "Crash in offline app"
It is really great and working perfectly with ios and android.

I tried once when i was offline it is directly crashing the application. ......

[2019-11-13 12:09] gaurav-chandra opened #270 "[Feature] Make the HTTP Method for uploadFile configurable"
**Is your feature request related to a problem? Please describe.**
In case of uploadFile, the default method is POST. Many times we use aws s3 presigned url to upload the files and aws accepts PUT requests for uploading using presigned url.

**Describe the solution you'd like**
In CordovaHttpUpload.java file line 33, POST is hard coded. Make it configurable so that we can decide on the method to u

[2019-11-14 14:48] REPTILEHAUS opened #271 "Android - remove cordova file as a dependency"
I have removed all cordova plugins from my app bar this one (migrated to capacitor) as its pretty good however today the dependency on cordova file plugin has meant I cannot build my app.

I just use this plugin for simple HTTP requests, I have no need for filesystem access. Can this be an optional parameter so that I can have less cordova plugins

https://github.com/apache/cordova-plugin-file/iss

[2019-11-18 03:19] silkimen commented on #230
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-11-18 03:19] #230 closed

[2019-11-19 10:55] TheCelavi opened #272 "Add support for aborting requests"
Seams that it is not possible to abort request. Is that planned to implement in the future? (like https://developer.mozilla.org/en-US/docs/Web/API/AbortController)

[2019-11-19 13:44] WSorban opened #273 "New feature multipart - how to use?"
I was using Angular's HttpClient to post some multipart data, as follows:

[code]

The problem is that with this, I encounter CORS issues. In the browser, things are so far so good (either using a CORS proxy, or a browser plugin). I have no means of modifying the server.

The app I'm making is supposed to be used from my Android device.

Therefore, I stumbled upon your Cordova Plugin, and to my su

[2019-11-19 14:29] slothstronaut commented on #264
This seems to be a bug with this plugin. When I first add the plugin it does a build properly the first time, then second time build works fine but when you open the app the plugin is missing. I've added it manually to config.xml which seems to have fixed the issue.

[2019-11-22 20:26] silkimen commented on #273
Hi Wihelm, this feature is not released yet, because it lacks some documentation (you've realized that already) and it needs to be tested on some real devices (was tested on emulators and one real device only). Do you see some warnings or error messages in your developer console when running your code on the device?
Your Webview needs to implement `FormData.prototype.entries` and it needs to suppo

[2019-11-22 20:32] silkimen commented on #269
Please add some detailed info. We don't realize any kind of problems when being offline with the device except that requests will fail, which is obvious.

[2019-11-22 20:41] WSorban commented on #273
Thanks!
Perhaps this is the infor I was missing!
Unfortunately, tomorrow I will need to travel for a week, therefore I will not be able to do further tests.

For now, there are no warnings or error messages in the console, regarding the Webview.

Regarding the server, I am getting a response saying that the request could not be processed, meaning that most likely some headers, or some other stuff

[2019-11-22 23:06] silkimen commented on #267
Hi Jeremy, I understand your problem, because I had to deal with this problem several times. But you shouldn't depend on the status text. You should consider changing the backend API. Here is a good explanation why it's a bad idea: https://stackoverflow.com/a/6373323/3585524

[2019-11-22 23:09] jeremyspatrick commented on #267
That's what I ended up doing. Used a header to pass the info. Thanks for
taking the time to respond.

On Fri, Nov 22, 2019 at 6:06 PM Sefa Ilkimen <notifications@github.com>
wrote:

[2019-11-22 23:14] silkimen commented on #267
Ok, cool! Glad to hear you could solve your problem 👍

[2019-11-22 23:14] #267 closed

[2019-11-22 23:18] silkimen commented on #264
I don't think that this problem is related to the plugin itself. I can't reproduce it and I'm using this plugin in several projects. Maybe you forgot the `--save` flag while adding this cordova plugin?

[2019-11-22 23:24] silkimen commented on #263
Hi Lucas, seems odd to me especially, because `post()` is just a shorthand function for `sendRequest()` (see [public-interface.js#L172](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/www/public-interface.js#L172)). Are you sure that it's making a difference?

[2019-11-22 23:30] silkimen commented on #242
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-11-22 23:30] #242 closed

[2019-11-22 23:34] silkimen commented on #225
Hi Aleksandar, unfortunately there is nothing I can do to fix your problem. It needs to be fixed in OKHttp, I'm sorry! Therefore I'm closing this to prevent more comments not related to your issue.

[2019-11-22 23:34] #225 closed

[2019-11-22 23:45] silkimen commented on #194
Hi Marc, I've done some research for this feature request. The problem with secure storage on devices is that they all use the device pin, passphrase or lock code to encrypt data. You can't use the secure storage without having a lock code defined. Therefore I don't see a better option to save the data other than in local storage.
If the developer decides to navigate to another website within the

[2019-11-22 23:50] silkimen commented on #271
Duplicates #238

[2019-11-22 23:50] #271 closed

[2019-11-22 23:54] silkimen commented on #238
Hi guys, this might be an unexpected behavior to you, but I can't just remove the dependency, because there is some code integrated in this plugin depending on the cordova file plugin. Removing this code means removing features. Therefore I've marked this as a (breaking) feature request. Maybe we can extract this features into another plugin in a future major release.

[2019-11-23 02:17] Alencan commented on #264
@silkimen ,thanks,I had resolved this problem

[2019-11-23 02:58] silkimen commented on #264
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-11-23 02:58] #264 closed

[2019-11-23 10:34] BorntraegerMarc commented on #194
Thanks for getting back with this research.

Indeed. We work-around this limitation in our app by only using secure storage when it's available. On other devices the "normal" storage is used. We follow the practice that if the user doesn't have a pin setup he probably doesn't care so much about security.

I guess malicious JS can still be injected in a WebView, even though it's sandboxed? Especial

[2019-11-26 13:25] PiotrSmietana89 commented on #260
Hi, sorry for late answer

Actually, I've managed to solve this issue, but since this happened kinda automagically when I've been applying changes to other parts of code (also HTTP related), I wasn't really able tell what exactly fixed this particular problem, then moved on with the project and forget about it.

The realization came today when I was reviewing some WIP commits in my git repo. I've

[2019-11-26 13:25] #260 closed

[2019-11-26 14:33] silkimen commented on #260
Ok, thank you for your feedback! 👍Btw, I can warmly recommend using TypeScript for your projects. You can prevent a lot of headache. 😅

[2019-11-27 23:29] silkimen commented on #270
Hi Gaurav, I'll put this one on my roadmap, but I won't implement this for version 2.x. I am planning to do major refactorings and changes on the API for version 3. Maybe I can incorporate it there.

[2019-11-27 23:39] silkimen commented on #268
To be honest, I've not tested it with a newer version. You'll need to try it. You can provide a param during plugin installation e.g. `cordova plugin add cordova-plugin-advanced-http --variable OKHTTP_VERSION="3.12.0"`. Can you please provide feedback after having updated and tested it?

[2019-11-30 10:25] mauricio-codecraft opened #274 "[Bug] [Android] HTTP call is crashing application"
**Describe the bug**
HTTP call is crashing the application while running (http call) on devapp. Not sure but it seems to be related to OKHTTP_VERSION.

**System info**

Ionic:

   Ionic CLI                     : 5.4.7 (/home/mauricio/.nvm/versions/node/v12.13.0/lib/node_modules/ionic)
   Ionic Framework               : @ionic/angular 4.11.5
   @angular-devkit/build-angular : 0.801.3
   @angular-de

[2019-12-01 17:25] slothstronaut commented on #272
The `sendRequest` method seems to return null, so probably not. Would be great if this were supported!

[2019-12-01 21:45] lucascrandle commented on #263
@silkimen thanks for responding.
I am sure it made a difference, but I think it was more related to the setDataSerializer call not working correctly. I am leaning this way because the api error code was 415, Unsupported media type, and I could re-create the 415 code in postman by removing the content-type header from the http call.

I was calling post with a custom header object that only containe

[2019-12-01 21:45] #263 closed

[2019-12-06 09:31] DioNNiS opened #276 "[Bug] [iOS] advanced-http: an error occured during post processing response: Attempted to assign to readonly property"
subj

full error message:
[code]

I have following stack:
[code]

[2019-12-09 15:34] lucascrandle opened #277 "[Feature] Support for boolean and number parameter values"
**Is your feature request related to a problem? Please describe.**
Passing in numbers or boolean values in the params object throws an error:
`logger.service.ts:30 Error: advanced-http: "params" option needs to be an dictionary style object, <params: {[key: string]: string | string[]}>`

**Describe the solution you'd like**
Allow for numbers and boolean values to be passed. So an example url would

[2019-12-12 02:57] leonwong72 opened #278 "ERR_NAME_NOT_RESOLVED"
I would like to ask why am I getting ERR_NAME_NOT_RESOLVED when logging in. I run my apps in browser and post to server through API. Below is screenshot of my code.
![2019-12-12 (1)](https://user-images.githubusercontent.com/42371049/70678826-29e5fb00-1cce-11ea-87f1-8f35d37632e4.png)

[2019-12-13 10:03] HansKrywaa commented on #101
@silkimen I see you moved it to done, when will it be released?

[2019-12-13 14:07] silkimen commented on #101
@HansKrywaa  it is already released in v2.3.0

[2019-12-13 14:07] #101 closed

[2019-12-14 03:15] silkimen commented on #278
Looks like your backend is not reachable. Could be a network problem. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2019-12-14 03:22] silkimen commented on #276
Please provide an excerpt of your coding.

[2019-12-14 09:16] yogesh5689 opened #280 "Ssl pinning is not working for capacitor"
I tried to use ssl pinning for ionic capacitor application ,but there is no www folder , so  i modified  folder options in  AfSecuritypolicy as inDirectory:@"public/certificates", Where i created certificates in public folder. But still getting ssl certificate not valid.

[2019-12-14 15:12] ath0mas opened #281 "[Bug] [github] ci action in fork fails at 'e2e tests'"
**Describe the bug**
After release of v2.3.1 I synced [my fork](https://github.com/ath0mas/cordova-plugin-advanced-http) and pushed it back to GitHub.
But now the ci action **fails**: see [runs/348593431](https://github.com/ath0mas/cordova-plugin-advanced-http/runs/348593431)

**System info**
 - [my fork](https://github.com/ath0mas/cordova-plugin-advanced-http) up to date with Latest commit a4f121

[2019-12-14 15:32] silkimen commented on #281
Yep, that‘s right! I will need to fix that.

[2019-12-15 03:45] #281 closed

[2019-12-15 04:38] silkimen commented on #281
@ath0mas Can you please check if this one  fixed your problem?

[2019-12-15 10:46] ath0mas commented on #281
Perfect!
see [runs/349300294](https://github.com/ath0mas/cordova-plugin-advanced-http/runs/349300294) on: push (32187a1) 3x ✔️

[2019-12-15 10:53] ath0mas commented on #281
but checks on the main repo seem to be skipped too: [runs/349132412](https://github.com/silkimen/cordova-plugin-advanced-http/runs/349132412) on: push (32187a1)

[2019-12-16 03:57] leonwong72 commented on #278
I've found out the problem for this error. But now I have another problem. When my project tries to post or get datas from API, it returns the following error.

I googled about this error when I'm using AXIOS before and it says using this plugin can solve this problem, but it doesn't.
Below are the CSP and config.xml file and the usage of this plugin.
![Capture](https://user-images.githubuserconte

[2019-12-16 06:48] chenheng0910 opened #282 "No setDataSerializer ("multipart") in ionic3"
**There is no setDataSerializer ("multipart") property in my ionic3 project**

I created an ionic3 project and then added plugins **cordova-plugin-advanced-http**

* ionic cordova plugin add cordova-plugin-advanced-http
* npm install --save @ionic-native/http@4

There is no **multipart** attribute in my @ ionic-native / http file :
`/**`
`* Set the data serializer which will be used for all future

[2019-12-16 13:00] silkimen opened #283 "[Feature][Browser] improve error message on timeout"
Timeout error message should be improved on browser platform (see [src/browser/cordova-http-plugin.js#L169](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/browser/cordova-http-plugin.js#L169)).

[2019-12-17 10:25] JamieMcDonnell opened #284 "Send string as payload in POST request"
**Is your feature request related to a problem? Please describe.**
I am trying to POST a Base64 image to a REST API which will save the image to the database.
Wrapping the base64 string in an array causes the following java error on the back end:
"java.lang.IllegalArgumentException: Illegal base64 character 5b\n\t at java.util.Base64$Decoder.decode0(Base64.java:714"

**Describe the solution you'd

[2019-12-18 02:24] briny-hitesh opened #285 "Remove cordova-plugin-file dependency."
In my project we are not given any functionality to upload or download file. So, I dont need Cordova plugin file in My project. But cordova plugin advanced HTTP has dependency on that.

If I'll remove cordova plugin file its throws the error while make build of android or ios.

Can anyone suggest me how resolve this error.

[2019-12-18 03:40] madmandrew commented on #88
I would really like this feature also.  I've seen it elsewhere that you have a progress callback. While leaving the success/failure callback or promise the same

[2019-12-18 18:47] pcsantana commented on #264
@Alencan how did you solve id?

Thank you!

[2019-12-18 20:02] pcsantana commented on #264
Ok, I solved!
For me the problem was that the http call was made before the platform was ready!
Thanks!

[2019-12-19 01:27] silkimen commented on #285
Duplicates #238

[2019-12-19 01:27] #285 closed

[2019-12-19 01:36] silkimen commented on #284
Try this and also check out [the documentation](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer):

[code]

[2019-12-19 01:42] silkimen commented on #280
Duplicates #168.

[2019-12-19 01:42] #280 closed

[2019-12-19 01:45] silkimen commented on #278
This is a new question. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions next time. This plugin will solve your CORS issue on iOS and Android, but not in the browser.  Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-12-19 01:45] #278 closed

[2019-12-19 05:02] leonwong72 opened #286 "An error occured during post proces…esponse: Unexpected token o in JSON at position 1"
Hi, sorry to bother you again. I got this error when i add response type json to the options.

status: -7
error: "advanced-http: an error occured during post processing response: Unexpected token o in JSON at position 1"
url: "http://wecafe.uat.wepost.com.my/api/auth/login/otp"
headers: {cache-control: "no-cache, private", content-type: "application/json"}
__proto__: Object

This is my response re

[2019-12-19 08:57] JamieMcDonnell commented on #284
Hi Sefa,
thanks so much - I missed this simple step in the docs ;( Must be about
time for a holiday! All is working now as expected - thanks for your help.
Regards
Jamie

On Thu, Dec 19, 2019 at 2:36 AM Sefa Ilkimen <notifications@github.com>
wrote:

[2019-12-19 11:39] silkimen commented on #286
I'm sorry, but I won't debug your application for you. All issues you've created in the last days were about user errors. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2019-12-19 11:39] #286 closed

[2019-12-19 11:58] #284 closed

[2019-12-20 00:23] silkimen commented on #269
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2019-12-20 00:23] #269 closed

[2019-12-20 00:25] silkimen commented on #262
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2019-12-20 00:25] #262 closed

[2019-12-20 00:25] silkimen commented on #259
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2019-12-20 00:25] #259 closed

[2019-12-20 00:28] silkimen commented on #256
See #268. Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-12-20 00:28] #256 closed

[2019-12-20 00:34] silkimen commented on #244
You should wait for the platform to be ready before bootstrapping your application. Don't wait for the platform ready event in every interval step. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions next time.

[2019-12-20 00:34] #244 closed

[2019-12-20 00:35] silkimen commented on #240
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2019-12-20 00:35] #240 closed

[2019-12-30 14:37] sankaryg opened #287 "[Bug][iOS] CredStore - performQuery - Error copying matching creds. Error=-25300, But angular/common/http not giving this error"
**Describe the bug**
ionic native 4 version always thrown unauthorized error when i am calling my rest api using post request(x-www-form-urlencoded)

**System info**
 - affected HTTP plugin version: 2.3.1
 - affected platform(s) and version(s): ios 13.2
 - affected device(s): iPhone 8
 - cordova version: [e.g. 6.5.0]
 - cordova platform version(s): [e.g. android 7.0.0, browser 5.0.3]

**Are you us

[2020-01-03 06:59] adeiji commented on #109
How are you able to access an HttpOnly cookie client-side?  Isn't that not possible?

[2020-01-03 17:30] akoshkarov commented on #75
Hi @silkimen
Any news on this feature, any possibility that it will be implemented in the future?

[2020-01-04 13:50] gatelli opened #288 "Promise"
Using http **.get** returns data from website using AngularJS with global variable like {{_variable_}} in the answer, without waiting for the replacement of variables with their values.
How can I do to deal with that, as .get request can return the values ?

Thx !

[2020-01-05 01:45] ewwwgiddings commented on #211
Also seeing this. Does anyone have a solution? @sta55en @darrensapalo @januarsy

[2020-01-05 02:15] ewwwgiddings commented on #211
For anyone reading this, my issue was I thought the error was occurring as a result of the location of the file to download (https://...) but it was an error with the path of the location I was downloading to (file:///...) Hope this helps someone.

[2020-01-07 17:48] CodeWithOz commented on #234
Hi @silkimen , any hope of this feature coming any time soon?

[2020-01-13 10:06] oddcb commented on #254
This is old, but have you tried increasing the timeout value? 20 ms on a mobile connections is way to low.

[2020-01-13 12:43] jachstet-sea commented on #254
I'd agree that 20ms is too low. However, the docs state that those are seconds, not ms: https://github.com/silkimen/cordova-plugin-advanced-http#setrequesttimeout

[2020-01-13 15:32] BorntraegerMarc commented on #194
another side effect of not storing cookies in native storage (secure or "normal") is that when I updated [ionic web view](https://github.com/ionic-team/cordova-plugin-ionic-webview) the URL scheme changed from `http://localhost:8080` to `http://ionic` on iOS. This led to the local storage values not existing anymore after updating.

[2020-01-16 20:30] skyleguy opened #290 "add responseType to ionic-native/http/ngx get request"
Hello community,

I am having a tremendous amount of trouble getting a response type header to be added to my ionic native http's outgoing request. I am pulling a pdf from my api as application/pdf but i would like the responseType to be blob so that i can use a file reader to display the pdf using another package, ng2-pdf-viewer. Right now without the responseType header being utilized my pdf is

[2020-01-19 15:55] MrBitBucket opened #292 "[Feature] dns over https"
I would like to use dnsoh dns over https.

I used the code below to extract the IPV4 address and that works fine I can see the correct ip address is being fetched and assigned to app.hostIp.

However, when I try to sendRequest to

'https://' + app.hostIp + '/path/'

I am getting a response that indicates that a dns lookup is being performed as a reverse lookup is performed and fails some how in ss

[2020-01-20 17:14] Kepro opened #293 "How to upload BLOB"
Hi guys, trying to upload a file, but we have only blob, we don't have that file locally...
I tried with blob, then with URL.createObjectURL but it's not working

any idea how to use it correctly? or it's not supported?

[2020-01-21 00:43] silkimen commented on #290
Hi Kyle, you'll need to use the `sendRequest` method instead of the shorthand `get` function. This will allow you to pass the `responseType` parameter. Also check out the [README file #sendRequest](https://github.com/silkimen/cordova-plugin-advanced-http#sendrequest).

e.g.
[code]

Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of

[2020-01-21 01:23] silkimen commented on #293
Hi Kepro, you can use the `multipart` serializer to achieve that. You'll need to create a FormData object, append your blob and then send it via POST or PUT request. See also [#setdataserializer](https://github.com/silkimen/cordova-plugin-advanced-http#setdataserializer) and [Web-APIs-required-for-Multipart-requests](https://github.com/silkimen/cordova-plugin-advanced-http/wiki/Web-APIs-required-f

[2020-01-21 01:27] silkimen commented on #287
Please format your source code properly and explain your use-case. Where does this error occur? Looks like something goes wrong on the server side? Do you have some logs from server side?

[2020-01-21 01:28] silkimen commented on #276
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-01-21 01:28] #276 closed

[2020-01-21 08:30] Kepro commented on #293
today I test it on iPad so it's not working with POST in the browser too, not only uploadFile method right?

[2020-01-21 18:37] sbannigan commented on #248
I'm pretty sure this change is what is causing this to happen: https://github.com/silkimen/cordova-plugin-advanced-http/commit/d444363a8eb4aa08caf4dca92ea857d1343f2208#diff-b9a703dfe2f46d8863e3c89f83b6e96aL161-R185. It seems like if the `Cookie` header is not explicitly overwritten, the last value is still set somewhere else.

[2020-01-22 14:32] #293 closed

[2020-01-22 23:47] silkimen commented on #288
Hi gatelli, this seems to be a question related to AngularJS and not specifically related to this plugin. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-01-23 10:37] Kepro opened #294 "[Bug] [iOS] no connection, cut connection, very long timeout (random minutes)"
**Describe the bug**
- Try to do *any* request without connection, it will fail in a few minutes not ASAP
or
- Try to do *any* request and cut connection (e.g. turn off wifi), it will fail in a few minutes not ASAP
works fine in a browser as there is XHR

no setting setTimeout will not solve it.. it will help but not solve it
e.g sometimes loading data takes more than 10 seconds and it will cut th

[2020-01-23 10:50] Kepro commented on #294
hmm, it looks like an iPad issue, today I got -6 An unknown error occurred and in Xcode "The Internet connection appears to be offline." will try it on more devices!

[2020-01-23 10:50] #294 closed

[2020-01-23 14:25] indraraj26 opened #295 "[Bug] [iOS] formData with blob is not sending http request"
**Describe the bug**
It is not sending any request when i am sending blob but it is working fine i am just sending text
like this form.append("name", "indraraj")

**System info**
 - affected HTTP plugin version: [e.g. 2.3.1] HTTP : 2.3.1
 - affected platform(s) and version(s): [e.g. iOS 12.2] iOS: 12.1
 - affected device(s): [e.g. iPhone 8] iPAD 5th generation
 - cordova version: [e.g. 6.5.0] cord

[2020-01-24 00:24] silkimen commented on #295
Hi indraraj,
please add a „.catch()“ handler in your code and check which error message you receive. And I see that you‘re overriding the multipart mimetype. You are basically telling your server that you gonna transmit a JSON object, but you do transmit a multipart request. This will definitely fail on the server side. Did you also check server logs?
Please use [StackOverflow](https://stackoverfl

[2020-01-24 05:31] indraraj26 commented on #295
Hi silkimen,

When you add blob to request it is not making any request we are temporary logging all the request and saving in temp column, But with blob it is not making any request to backend. I already have catch block i just don't get any error.

Okay btw let me remove the header part `   { "content-type": "application/json" }` and test

[2020-01-24 16:38] jojagoma1981 commented on #290
Hi Silkimen, I have the same problem in an Ionic App while downloading a PDF.  I am sending the responseType= "blob" but the response value is text. So "response is not blob" error is logged.
   But if I change the responseType = "text" the response value is a corrupt PDF. Even with a dummy PDF  from https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf.

Thanks for your help!!!

[2020-01-24 19:15] silkimen commented on #290
Please check my e2e specs for an usage example: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/e2e-specs.js#L765-L779

This code is successfully tested on Android (v5.1 & v9) and iOS (v10.3 & v13.2 ). You need to pass the `responseType` parameter as options NOT as header value.

[2020-01-27 00:05] silkimen opened #296 "[Bug] [browser] multipart requests are not serialized correctly"
**Describe the bug**
Request data is not transmitted when using `multipart` serializer on browser platform.

**System info**
 - affected HTTP plugin version: 2.3.1
 - affected platform(s) and version(s): browser

**Are you using ionic-native-wrapper?**
 - no

**Minimum viable code to reproduce**
See https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/e2e-specs.js#L803-L847

[2020-01-27 00:25] silkimen commented on #295
Okay, I see. I've tried to reproduce your problem on my device (iPhone XR running iOS 13.2) and also on a simulator (iPad 5th generation running iOS 12.4). I'm using the e2e specs suite which you can find here: [test/e2e-specs.js](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/e2e-specs.js#L802-L847) lines 802-847 being the relevant ones.
The tests are running without an

[2020-01-27 02:48] silkimen commented on #288
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-01-27 02:48] #288 closed

[2020-01-27 02:50] silkimen commented on #273
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-01-27 02:50] #273 closed

[2020-01-27 02:59] silkimen commented on #277
Hi Lucas, URL query params are always meant to be string values. There will be no quotes in the serialized params.

It is indeed possible to do an implicit `.toString()` call on the values (this was done on very old versions), but I prefer to have it explicitly. People used to end up with something like `www.example.com?params=[object Object]` because they didn't understand that the params object

[2020-01-27 03:16] silkimen opened #297 "[Deprecation][Android] drop support for Android < 5"
This plugin utilizes an OKHTTP Connection factory to support PATCH requests on Android versions 4.4 and older. This was introduced in #79. But this causes a lot of problems (see [related issues](https://github.com/silkimen/cordova-plugin-advanced-http/issues?utf8=%E2%9C%93&q=OKHTTP)).
Android <= 4.4 have a market share < 9% therefore it seems to be good choice to drop support for these versions in

[2020-01-27 03:44] silkimen commented on #283
Will be released in v2.4.0.

[2020-01-27 03:44] #283 closed

[2020-01-27 05:31] indraraj26 commented on #295
I see you have this in code ` value.name = filename || '';  `  as per this it is not compulsory to pass file name. Anyway let me pass filename as well and test. I have tested in ipad  5th generation simulator it is failed to make a request with backend. For the moment i have used upload file interface combine with json post to deliver the project. I may close this issue after testing with filename

[2020-01-27 13:24] lucascrandle commented on #277
@silkimen Ok that makes sense. Thank you for the response!

[2020-01-27 13:24] #277 closed

[2020-01-27 22:07] silkimen commented on #295
Okay, that‘s interesting. Did you try to run exactly the code from my e2e specs? I‘d like to know what‘s going wrong here.

[2020-01-27 22:47] #296 closed

[2020-01-27 23:20] silkimen commented on #282
Hi chenheng0910, you are likely using an old version of ionic-native. This problem is not related to this plugin directly. Please check if there is a newer version of ionic-native available and open an issue on their issue tracker.

[2020-01-27 23:20] #282 closed

[2020-01-27 23:25] silkimen commented on #258
Please provide some MVP code for reproducing this problem. Which version are you using? Which parameters did you provide? etc.

[2020-01-28 13:46] beruic opened #298 "[Feature] Document browser support"
**Is your feature request related to a problem? Please describe.**
I am currently helping out with implementing certificate pinning in our app at work using your plugin.
So far everything seems nice and functional, however changing the apps network communication also breaks testing it locally in the browser.

**Describe the solution you'd like**
I am a bit uncertain, but as I understand it, you do

[2020-01-29 14:32] akoshkarov opened #299 "[Bug] [platform] SSL pinning to a root certificate is not working on iOS"
**Describe the bug**
When SSL pinning is enabled and no certificate is provided in an app, the app still able to perform requests without any errors.
Seems that for iOS all certificates placed in the device Trust Store are automatically used in the Cordova plugin ignoring absence of included in an app certificates. List of Trusted certificates on iOS devices  (among them are Amazon Root CA1 certif

[2020-01-29 15:24] indraraj26 opened #300 "[Bug] [iOS | Android] FormData object containing null or undefined value is not serialized correctly"
**Describe the bug**
it is giving this error with that form data post is not working. i am using capacitor to wrap all of my ionic native. It will cause same error for ionic native with cordova too

error
[code]
**System info**
 - affected HTTP plugin version: [e.g. 2.1.1]  2.3.1
 - affected platform(s) and version(s): [e.g. iOS 12.2] Android/iOS has same issue
 - affected device(s): [e.g. iPhone

[2020-01-29 15:24] indraraj26 commented on #300
https://github.com/ionic-team/capacitor/issues/2369

[2020-01-31 08:50] dawiinci opened #302 "Digest Authentification"
Is there any documentation about this? Or is this even possible?

Thanks

[2020-01-31 14:25] sarathi0333 commented on #295
I am facing similar issue,

I followed the same procedure which is in test/e2e-specs.js.  I am trying to upload images to aws s3, using blob.

Xcode debugger crashes throwing error `NSInvalidArgumentException`

[2020-02-02 11:40] dawiinci opened #303 "How to properly install and call in cordova"
[code]

How can I access the returned result?

[2020-02-02 16:33] silkimen commented on #295
@sarathi0333 Can you please attach a Xcode screenshot? I'd like to know where exactly this problem occurs.

[2020-02-02 16:39] silkimen commented on #300
Ok, I see, but what's the expected result? What should be send if a value is null? Do we need to skip this entry? I'll need to check if behavior is defined in RFC specs.

[2020-02-02 16:50] silkimen commented on #302
Hi dawiinci, this is not a built-in feature, but you can implement it yourself based on this plugin. You'll need to get the nonce value from the server response found in the `www-authenticate` header and then create a `authorization` header.  See https://en.wikipedia.org/wiki/Digest_access_authentication for details.

[2020-02-02 16:52] silkimen commented on #303
Please read the docu, especially:
* https://github.com/silkimen/cordova-plugin-advanced-http#usebasicauth
* https://github.com/silkimen/cordova-plugin-advanced-http#success

[2020-02-02 17:01] silkimen commented on #298
Hi beruic,

Yes this plugin does support the cordova `browser` target. But it's only meant for debugging purposes, not for production grade usage. You can find a list of features which are not supported for browser target here: https://github.com/silkimen/cordova-plugin-advanced-http#browser-support

I don't get the question. The API is exactly the same for browser target. But it's not supporting

[2020-02-03 00:53] indraraj26 commented on #300
it should send null and undefined entry. As we are getting in native FormData() behaviour

[2020-02-03 01:24] silkimen commented on #300
I've checked the behavior in chrome. Following code:

[code]

... results in following raw data:
<img width="877" alt="Bildschirmfoto 2020-02-03 um 02 15 25" src="https://user-images.githubusercontent.com/4717881/73619108-0daa6e80-462c-11ea-86aa-d1cba06a2644.png">

So the entries need to be converted to the string representation. I'll fix this one.

[2020-02-03 01:46] #300 closed

[2020-02-03 05:39] sarathi0333 commented on #295
Please find below the screenshots.

![error](https://user-images.githubusercontent.com/25176128/73628221-87038a80-4647-11ea-8ceb-74b4f55b8e1e.png)

[2020-02-03 13:31] pantos27 opened #304 "Ionic/React support"
Tried using the plugin on an Ionic+React project and got the following error

[code]

Is there a plan to support also react projects or at least vanilla JS?

[2020-02-03 16:08] silkimen commented on #304
This plugin does support vanilla cordova projects, please read the docu. https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md#usage

[2020-02-03 22:48] beruic commented on #298
I have realized now that with browser support, the `browser` platform of Cordova was meant.

I am currently maintaining an app where testing is done by running `index.html` in the browser instead. Therefore I had to implement your interface myself, which I did from putting useful pieces together from the contents of the `/www` directory.

Initially I thought I could use `src/browser/cordova-http-p

[2020-02-03 23:02] beruic opened #305 "[Bug] [GitHUb] Missing tags for newest releases"
The newest releases does not have tags in git.
The newest tag at the time of writing this is v2.2.0.

[2020-02-04 20:16] silkimen commented on #305
Yep, was related to a broken release process, fixed this. Thank you!

[2020-02-04 20:16] #305 closed

[2020-02-06 14:11] bsikatti16 opened #306 "[Feature] In Header Content-Encoding:deflate"
in header Content-Encoding: deflate it is not working

[2020-02-06 17:30] silkimen commented on #306
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, using one of the given templates! 👍

[2020-02-06 17:30] #306 closed

[2020-02-08 22:17] akoshkarov opened #307 "What version of AFNetworking the plugin is using"
Hi, thank you for the great plugin, we are using it in our mobile application for several years.

I'm wondering what version of AFNetworking library we are using in order to understand what features of the library can be used in the plugin?

And the second question: are we constantly upgrading the library version in the plugin to get the latest patches and fixes and how custom modifications of the

[2020-02-11 00:12] silkimen commented on #303
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-02-11 00:12] #303 closed

[2020-02-11 00:13] silkimen commented on #302
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-02-11 00:13] #302 closed

[2020-02-11 00:24] silkimen commented on #298
`src/browser/cordova-http-plugin.js` is the cordova browser target implementation. It's called via `cordova/exec` from within the www interface `src/www/public-interface.js`. Check these lines to see the files registered as the www interface: [plugin.xml#L11-L26](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/plugin.xml#L11-L26). Check these lines to see which files are regis

[2020-02-11 00:30] silkimen commented on #254
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-02-11 00:30] #254 closed

[2020-02-11 13:13] razvang10 opened #308 "[Bug] [android] plugin crashes app"
**Describe the bug**
when i try to make a http request i get a fatal exception and the app crashes.
**System info**
 - affected HTTP plugin version: 2.3.1
 - cordova version:
 - cordova platform version(s): 8.0.0

[code]

[2020-02-11 13:14] razvang10 commented on #308
also a thing to take in consideration it happened after i added uk.co.workingedge.phonegap.plugin.launchnavigator....

[2020-02-11 16:28] razvang10 commented on #308
Solved the problem happened because the two plugins were in conflict over OKHTTP just added the prefference
 ` <preference name="OKHTTP_VERSION" value="3.10.0" />`

[2020-02-11 16:28] #308 closed

[2020-02-13 16:03] SSuarezBrooktec opened #309 "[Bug] [ionic] http plugin conflict with ionic icons on Android 5.0 or 5.1"
**Describe the bug**
http plugin on Ionic 4 conflict with ionicons on **Android 5.0 or 5.1**
If i **remove  cordova-plugin-file and after run ionic cap run android** (works properly)

But the problem is when in android i execute this command: ### ionic cap update android
cli say this: **[info] installing missing dependency plugin cordova-plugin-file**
and the app is broken again

**System info**
-

[2020-02-13 16:24] SSuarezBrooktec commented on #300
I solve it with object empty on params ->  {}

[2020-02-15 18:39] myin142 opened #310 "Ionic download CORS blocked file"
I am trying to download a file in ionic that is blocked by CORS. This project does say that it by passes the CORS restriction but I do not know if it really works. When I try to download the japanese [edict2 file](https://www.edrdg.org/wiki/index.php/JMdict-EDICT_Dictionary_Project#CURRENT_VERSION_.26_DOWNLOAD) that is CORS blocked, I get a status -1 with the following error object:

[code]

When

[2020-02-17 18:53] pcsantana commented on #310
Hi @myin142 , did you solve the problem? I am facing a similar problem.
Thank you.

[2020-02-17 19:27] pcsantana commented on #310
Ok, was my mistake.
My problem was the encoded url.

[2020-02-18 00:14] silkimen commented on #310
When you open `http://ftp.monash.edu/pub/nihongo/edicthdr.txt` in your browser, you'll see that the file contains invalid utf8 characters at the beginning. But the header states that plain utf8 encoded text will be loaded. The plugin tries to interpret the data and therefore fails. Try to set the `responseType` option to `arraybuffer` and see if the request still fails. If it's working, you'll nee

[2020-02-18 12:00] SSuarezBrooktec commented on #309
How about?

[2020-02-18 19:26] myin142 commented on #310
The errors seems to be gone, but I have problems reading the data. I do not know if this library returns wrong data or the other library that decodes the data. I have no problems decoding data from a file that is not CORS blocked

[2020-02-19 17:06] myin142 commented on #310
I found the problem. For some reason it still return a string even though I set the `responseType` to `arraybuffer`. This is probably a bug right?

[2020-02-19 22:29] beruic commented on #298
Well. I needed to run without Cordova, so there were no way around it. Thanks for the clarification though.

[2020-02-19 22:29] #298 closed

[2020-02-20 01:18] silkimen commented on #309
Your problem is caused by cordova-plugin-file, which is indeed an dependency of this plugin. But it‘s nothing I can fix here. Removing that dependency is an option, but see #238 for details.

[2020-02-20 01:22] silkimen commented on #310
Please add some MVP code to demonstrate your problem.

[2020-02-20 01:25] silkimen commented on #304
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-02-20 01:25] #304 closed

[2020-02-20 01:26] silkimen commented on #287
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-02-20 01:26] #287 closed

[2020-02-20 06:28] myin142 commented on #310
I am using the ionic native plugin. The url should be replaceable with the simpler one above, have not tested it though.

[code]

[2020-02-21 07:12] Benjamin-Bur opened #311 "[Bug] [iOS] JSON serialization manipulates number values in POST request body"
**Describe the bug**
There's a problem of serializing a POST body with number values (iOS only). By sending a number value, for example: `0.1` in the POST body and by using JSON as dataSerializer in this plugin, I receive the passed `0.1` as  `0.10000000000000001` on the server side erroneously. The problem only occurs by setting the dataSerializer to json.

**System info**
 - affected HTTP plugin

[2020-02-24 16:17] Kepro opened #312 "[Bug] [Android] Without connection returning -3 instead of -6"
**Describe the bug**
With disabled wifi, I will get -3 Server Not Found instead of Not Connected -6
works fine on iOS

**System info**
 - affected HTTP plugin version: 2.4.1
 - affected platform(s) and version(s): Android 9
 - affected device(s): OnePlus 5
 - cordova version: 9.0.0
 - cordova platform version(s): android 8.1.0

**Minimum viable code to reproduce**
just do an HTTP call

[2020-02-24 16:38] matteobaldinidev commented on #245
We have the same issue here. Please help

[2020-02-26 19:23] agomezmoron opened #314 "[Bug] [platform] url-encoded documentation is wrong"
**Describe the bug**
Following the documentation to perform a POST www-url-encoded and it doesn't work. The 'urlencoded' serializer doesn't work and the header is not added. On the other hand, if you define the serializer as UTF8, it adds the Content-Type: application/www-url-encoded header.

**System info**
 - affected HTTP plugin version: 2.4.1
 - affected platform(s) and version(s): iOS and And

[2020-02-28 21:36] SSuarezBrooktec commented on #309
So the only solution is to delete the plugin file for Android?
The problem is that I need is the plugin for live updates :(

[2020-03-02 10:42] aecvargas commented on #134
I'm also having issues with uploadFile. I am uploading it to `attachments.php` but `$_FILES` seems to be empty and i'm not quite sure why.

[https://stackoverflow.com/questions/60486898/cordova-advanced-http-plugin-uploadfile-unable-to-access-files-on-server](StackOverflow Question)

[2020-03-02 16:09] aecvargas commented on #64
@silkimen I'm having issues with uploadFile, could you please see this from my stackoverflow question:

In my app I have the cordova camera plugin which allows me to take a picture and I can get the URI from it.

[code]
I then use that URI to upload to my server.

[code]
But I am getting these errors from the console.log result:

These are the lines in attachments.php:

[code]
It seems like that $

[2020-03-04 11:30] digaus commented on #88
Would also like to have a progress callback with `{loaded: number, total: number}`

[2020-03-04 18:24] BorntraegerMarc commented on #88
changing the return value of the `downloadFile` method is a breaking change. Would be a breaking change and not desirable in my opinion.

My suggestion would be (FYI I'm using ionic to simplify things): `downloadFile(url: string, body: any, headers: any, filePath: string, progessCallback: (progress: number)=>void): Promise<any>;`

[2020-03-04 20:33] silkimen commented on #295
@sarathi0333 Unfortunately I can't reproduce your problem. Please attach an extract of your JS code. And please try to run EXACTLY the code you can find in the e2e specs file (running against httpbin.org). I'd like to find out if it's related to something received from the server.

[2020-03-05 08:52] planbsim commented on #268
I´m using the [uk.co.workingedge.phonegap.plugin.launchnavigator](https://github.com/dpa99c/phonegap-launch-navigator) which currently use OKHTTP Version 3.12.0. I want to avoid compability problems, so I have installed the cordova-plugin-advanced-http with OKHTTP version 13.12.0 as described above. Using 3.12.0 brings the [Build Error](https://github.com/square/okhttp/issues/4395). Updating to 3.

[2020-03-05 09:06] Benjamin-Bur commented on #311
Is there any chance to get help for the described issue in this repository or is there just no support with this plugin for number values in POST request via iOS? This makes the plugin unuseable for my use-case as I have to send numbers in post request.

[2020-03-05 09:57] aecvargas opened #315 "uploadFile does not posts image to server file (PHP)"
I have a function which opens up the camera and calls another function once the picture has been taken.

[code]

This is the code inside fileUpload.

[code]

When I check attachments.php here are the results:

`$_GET` contains the param 'action' with the value 'INSERT'
`$_POST` is empty but I expected the params to be in post since I thought I was posting a file to the server.
`$_FILES` is empty.

[2020-03-05 12:05] silkimen commented on #268
Thanks for providing this info! I'm closing this issue, feel free to open a new issue, if you encounter problems! 👍

[2020-03-05 12:05] #268 closed

[2020-03-06 11:05] Kepro commented on #315
@aecvargas android? ios? browser?

[2020-03-06 11:08] aecvargas commented on #315
@Kepro My bad. It's Android.

[2020-03-06 11:10] beruic opened #317 "[Feature] Document non-http statuses"
**Is your feature request related to a problem? Please describe.**
I am trying to make my code handle various error scenarios gracefully, but I had to dig into the source code to find out what was going on.

I noticed that whenever there was a timeout, the response would look as follows:
[code]
, however I could find no documentation that could tell me that `-4` always means timeout.
I also see ot

[2020-03-06 16:07] aecvargas commented on #315
I've got it to kind of work by changing `picture` to `file` but it seems like the data is lacking. I thought it would just send off the entire file details?

Here is the serialize data:

`a:1:{s:4:"file";a:5:{s:4:"name";s:17:"1583510749038.jpg";s:4:"type";s:0:"";s:8:"tmp_name";s:0:"";s:5:"error";i:1;s:4:"size";i:0;}}`

[2020-03-07 04:52] silkimen commented on #310
You are passing a header `responseType`. This won't work. You need to provide it as an option, which is not possible with the shorthand function `get`. Use `sendRequest` instead, please read the docu carefully: https://github.com/silkimen/cordova-plugin-advanced-http#sendrequest

[2020-03-07 04:57] silkimen commented on #317
You are right. This info is missing in the docs. In the meantime you can check this: [www/error-codes.js](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/www/error-codes.js).

[2020-03-07 05:03] silkimen commented on #314
Hi Alejandro, your proposed code won't transmit URL encoded form data. It will send your data as plain text, but you'll be overriding the `Content-Type` header. Please add a code extract which is NOT working for you. I'll need to reproduce your problem.  There are several tests in the [e2e specs suite](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/test/e2e-specs.js) which ar

[2020-03-07 09:33] myin142 commented on #310
Did not notice that. Thanks, it works now.

[2020-03-07 09:33] #310 closed

[2020-03-08 02:25] pjmazenot opened #318 "[Bug] [android] Requests don't get sent"
**Describe the bug**
On the android platform the request never gets sent. The process stops in the sendBody function and no error is thrown.

**System info**
 - affected device(s): Tested with Pixel 2 API 28 (emulator)
 - cordova version: 9.0.0
 - cordova platform version(s): android 8.1.0

**Are you using ionic-native-wrapper?**
No

**Minimum viable code to reproduce**

[code]

Where

[code]

**A

[2020-03-09 12:56] silkimen commented on #318
Hi Pierre-Julien, two questions:
1. Is it working when you remove the additional headers sending an empty header object `{}`?
2. Is your backend URL publicly available for testing purposes?

[2020-03-10 08:51] pjmazenot commented on #318
Hi @silkimen,
Thanks for your reply, sadly I'm working on an internal app so the backend is only accessible via a restricted VPN.
However I'm experiencing this bug with any public url so it's doesn't seems related to our backend. I also tested without the extra headers as requested, also same results.
We could talk on Skype or equivalent and I could share my screen if it helps, just let me know.

[2020-03-10 12:37] beruic commented on #274
Can you confirm that this only happens on debug builds?

I'm experiencing random crashes on sessions downloading a lot of files.

[2020-03-10 23:46] digaus opened #319 "[Feature]"
**Is your feature request related to a problem? Please describe.**

Large blobs fail to get parsed. The reason is that JS cant handle such big base64 strings.

**Describe the solution you'd like**

 A possible solution would be to split the base64 string into chunks before sending it to the JS layer and then sending them one by one and then reconstruct the blob

Here I implemented the other way (c

[2020-03-11 08:44] digaus commented on #319
Here an example:

[code]

[2020-03-16 16:24] pserna95 opened #320 "[Bug] [Android] Incomplete XML response data"
I'm getting different responses when calling an XML service using this plugin in Android and iOS. An Android device does not receive the data complete inside the response unlike an iOS device.

**System info**
 - affected HTTP plugin version: 1.11.1 (OKHTTP_VERSION 3.10.0)
 - affected platform(s) and version(s): Android
 - cordova version: 8.1.2
 - cordova platform version(s): android 8.1.0
 - ion

[2020-03-17 14:41] #320 closed

[2020-03-17 14:52] pserna95 commented on #160
I'm facing the same problem but with an extra issue which is that I'm making a GET request to an external API which I can't control so I'm not able to configure the charset info in the response content-type header.

I tried modifying CordovaHttp.java to make the plugin only accept UTF8 charset but I'm getting MalformedInputException - "Could not decode response data due to malformed data".

Any id

[2020-03-18 02:44] silkimen commented on #160
You can try to interpret the data yourself via [TextDecoder API](https://developer.mozilla.org/en-US/docs/Web/API/TextDecoder). You'll need to request the data as ArrayBuffer, see also #310.

[2020-03-18 09:42] pserna95 commented on #160
sendRequest method is not available with ionic-native/http@4.20.0. If I update to ionic-native/http@5.x.x I cannot import the module inside my providers array

[2020-03-20 07:30] marutifh commented on #163
Hey, Can you please elaborate the solution? Looks like I am stuck with this issue.

[2020-03-25 13:26] pjmazenot commented on #318
UPDATE and RESOLVED:

After a few changes in the code the issue link to `openOutput ` disappeared, sadly I don't know which part did the job...

I ended up having trouble with `HttpURLConnection` when trying to do a `getResponseCode` and it ended up originating from a conflict with the internet connection. On the simulation the connection "data" was cutting internet from the connection "wifi" and

[2020-03-25 13:26] #318 closed

[2020-03-27 06:30] gatelli commented on #148
Hi ! Thanks for your work..
 Any new about this todo ?

[2020-03-28 12:41] gitdisrupt commented on #88
Any chance this will be implemented? This seems like the perfect solution!

[2020-03-30 03:41] gitdisrupt commented on #88
And also,  seems this would be the right approach

[2020-04-02 14:52] lhfongaa commented on #245
I have the same issue. any update?

[2020-04-02 15:28] Galiza commented on #245
Honestly, with my changes, I was able to make it work. Ever since this never happened again.

Try deleting all folders like /platforms, /www and running everything from scratch.

[2020-04-03 01:55] lhfongaa commented on #245
@Galiza I want to ask if "pinned" mode supports untrusted certificate (due to its author) as well, as I still can't make it work by following your work.

[2020-04-04 12:29] lucassouza16 opened #321 "Slow response for https request"
I have an application that uses the plugin to make calls to api, when using http it works normally, but when using https it takes at least 2 minutes to get the feedback, I already made the same call with xmlhttprequest on the webview and on the postman and it worked normally. Here is an example of my API get request https://myfooddelivery.com.br:8443/api/Inicio/VersaoApp

[2020-04-08 11:47] pliablepixels opened #322 "[Bug] [Android] Double Encoding"
**Describe the bug**
 I'm curious what the state of double encoding is. On an android phone, it looks like `cordova.http.sendRequest` (method=`GET`) is URL encoding the base URL, while as per https://github.com/silkimen/cordova-plugin-advanced-http/issues/195 it was mentioned the base URL won't be encoded internally.

Details:
1. I have not changed the serializer (anyway, it is only for `POST/PATC

[2020-04-10 17:18] bastifix opened #323 "POST is not working with strange error"
Hi, I can do a GET request without any problems. The PHP script also works well for POST requests, but when I do a POST request from my ionic app, I always get this error:

`{"__zone_symbol__currentTask":{"type":"microTask","state":"notScheduled","source":"Promise.then","zone":"angular","cancelFn":null,"runCount":0},"line":86,"column":22,"sourceURL":"file:///var/containers/Bundle/Application/FAC1A

[2020-04-10 23:18] arnoldgamarram commented on #274
Hi, use this commands, it work well for me.

cordova plugin add cordova-plugin-advanced-http --variable OKHTTP_VERSION="**3.12.1**"

or set it into project.properties directly (not recomended).

cordova.system.library.4=com.squareup.okhttp3:okhttp-urlconnection:**3.12.1**

[2020-04-10 23:37] arnoldgamarram commented on #323
Hi @bastifix you can use **adb logcat** in te terminal to check out more of you error in low level of your app.

I usually install my app on one device and use chrome://inspect/#devices and logcat to debug my application.

 cheers.

[2020-04-11 06:23] bastifix commented on #323
Ok, thanks!
I already tried that, but the above error is the only thing I can get there...

[2020-04-11 14:25] arnoldgamarram commented on #274
maybe you can share the code on github and paste the url here.

[2020-04-11 14:26] arnoldgamarram commented on #323
maybe you can share the code on github and paste the url here.

[2020-04-11 19:34] bastifix commented on #323
I shared all of the code above or is there missing something? The same with GET is also working, so I think that all imports etc. are alright.

My PHP file contains this (but I checked this part, it's working):

[code]

[2020-04-11 20:13] bastifix commented on #323
Ok, I got an error now:

` advanced-http: "data" option is configured to support only following data types: String`

I tried all forms of only strings in my post-data, but the error stays.

[2020-04-15 16:08] Pericle82 commented on #295
Same problem. API works from Postman but not in angular. The plugin seems not working when a try to make a put request in multipart and formData. It never return any response or error...

[2020-04-15 17:23] silkimen commented on #323
@bastifix please check:

* https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md#setdataserializer

* https://github.com/silkimen/cordova-plugin-advanced-http/wiki/Web-APIs-required-for-Multipart-requests

[2020-04-17 10:23] gaurav-chandra commented on #315
this is more of server side error. You need to check the logs on the server.

[2020-04-17 22:21] bcrigler commented on #183
Well for me adding HTTP to the Providers array doesn't even work.  I will file an issue with ionic-native but capacitor is a broken mess, which is why they now released capacitor 2.0 and are working to create a plugin similar to this one.

[code]

[2020-04-20 16:22] sneas opened #324 "POSTing valid JSON entities beside objects"
Hi, @silkimen. Thanks a lot for your hard work on the plugin!

The question: using the plugin, is there any way to send a valid JSON entity, but not an object. For example a string, a number, or a boolean value?

An example of such a request with cURL:

[code]

Unfortunately, attempting to do that with `sendRequest` method leads to the below error:

[code]

Is there any other way to achieve the de

[2020-04-21 05:09] octimus opened #325 "POST not working on iOS with ionic 5"
Hello,
when i try to send data by POST using iphone or iphone emulator, the server doesn't get the data.

i'm using ionic 5, and cordova-plugin-advanced-http 2.4.1

[2020-04-21 08:44] trajeshkumar opened #326 "HTTP post not working in IOS"
Hi, I need help in resolving this issue. I’m facing issue when doing POST request to get the access token in IOS. Whereas it works fine in Android.

**Code:**
const bodyParams = {‘client_id’:clientId,‘client_secret’:secret,‘grant_type’:‘authorization_code’,‘code’:tokenOrCode};

const httpResponse = await this.http.post(accessTokenUrl, bodyParams, {“Content-Type”: “application/json”});

**Error:**

[2020-04-21 11:00] costand opened #327 "[Feature] [Android] OkUrlFactory is deprecated"
**Is your feature request related to a problem? Please describe.**
OkConnectionFactory import which is deprecated and removed in latest versions of OKHTTP

**Describe the solution you'd like**
Android plugin should remove this dependency or include this class as suggested by OkHttps docs: https://gist.github.com/swankjesse/dd91c0a8854e1559b00f5fc9c7bfae70

[2020-04-21 17:30] silkimen commented on #324
Hi Dmitry, atm it's not possible using the `json` serializer, because the underlying native API does not support it. But people keep asking for it, so I'm planning to support this feature in a future version.

For time being you can use following workaround:
[code]

[2020-04-21 17:32] silkimen commented on #327
Duplicates #297 .

[2020-04-21 17:32] #327 closed

[2020-04-21 17:34] silkimen commented on #326
Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-04-21 17:34] #326 closed

[2020-04-21 17:34] silkimen commented on #325
Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-04-21 17:34] #325 closed

[2020-04-21 17:35] silkimen commented on #323
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-04-21 17:35] #323 closed

[2020-04-22 06:58] sneas commented on #324
Hi Sefa, thank you for your reply. It might help me to deal with the issue.

[2020-04-23 02:05] 3adeling opened #328 "How to resend session cookie with next request"
I am able to login using this library and I can see the cookie stored in local storage successfully.
but how to send it with the next request(s)? I can't find anything in the documentation related to my question.

your support is highly appreciated

[2020-04-29 12:44] sneas commented on #324
Hi @silkimen, when I try to call `sendRequest` with the help of `@ionic-native/http` like below

[code]

I receive a TS error `TS2322: Type 'string' is not assignable to type '{ [index: string]: any; }'.` because according to `@ionic-native/http`, data param could only be an object.

However, when I suppress the error, the plugin works find and as you described in your previous comment:

[code]

I

[2020-04-30 16:01] silkimen commented on #324
That's an official feature. I think we'll need to adjust the typings by using generics, because type of `data` is determined by `serializer`.

[2020-05-01 07:09] JamieMcDonnell commented on #295
Hi guys,
I have the same issue and have traced it to the FormData.append method from new window.top.cordova.plugin.http.ponyfills.FormData().

Some context - I am overriding the uploadData method of dropzone to work using cordova-plugin-advanced-http on my capacitor app.

Regardless of whether I am sending a blob or file object, the append method receives only the type string, e.g. "[Object blob]"

[2020-05-01 20:03] silkimen commented on #328
Hi @3adeling, they should be send automatically. There is nothing you need to do. Did you receive valid cookies? Did you check for a valid expiry date?

[2020-05-01 20:11] silkimen commented on #319
Hi @digaus, I know this problem and I've already thought about implementing this kind of feature. But for now there is a workaround which you've already described. Therefore, I won't handle this high prio.

[2020-05-01 20:15] silkimen commented on #292
Hi MrBitBucket, honestly I've never used / implemented dnsoh. I think it's better to use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-05-01 20:29] silkimen commented on #312
Hi Kepro, this error code is emitted by the underlying native Android API. You can see this in [CordovaHttpBase.java#L88](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/android/com/silkimen/cordovahttp/CordovaHttpBase.java#L88). Unfortunately, there is no "Not Connected" error on Android. But there is one on iOS, see [CordovaHttpPlugin.m#L121](https://github.com/silkimen/

[2020-05-05 15:12] maciej-zabielski opened #330 "Sharing cookies between HTTP-Plugin, WKWebView and InAppBrowser"
Hi, I'm trying to solve the following problem that I think is quite typical for many developers?

My app loads in main WebView (based on `cordova-plugin-ionic-webview`). It tries to make a call to server using this HTTP-Plugin as regular XHR would be blocked due to CORS restrictions.

When it gets Unauthorised response it will open up InAppBrowser (`cordova-plugin-inappbrowser` - WKWebView based a

[2020-05-06 08:41] maciej-zabielski commented on #330
Some follow up on this - I know a similar question was answered in a discussion [here](https://github.com/silkimen/cordova-plugin-advanced-http/issues/109). asked by @varunkumarm. @silkimen [replied](https://github.com/silkimen/cordova-plugin-advanced-http/issues/109#issuecomment-389219685):

But in that case i wonder how can **cordova-plugin-wkwebview-file-xhr** access cookies from WebView InAppB

[2020-05-07 10:14] Kepro commented on #312
@silkimen thanks for you answer, what about an additional check? if it's possible https://stackoverflow.com/questions/4238921/detect-whether-there-is-an-internet-connection-available-on-android

[2020-05-07 10:45] TheHighriser opened #331 "[Bug] [Android] First Request with HttpUrlConnection, Afterwards always OkHttp"
Description: I am surprised that nobody ever saw this but the second request is ALWAYS with OkHttp.

Following change is probably necessary:

[code]

to

[code]

On the JS side I have a simple request:

[code]

Proof can be seen when using monitoring solutions like Dynatrace.

First Request looks like the following:

2020-05-07 12:40:58.576 1543-1638/io.ionic.starter D/caa-aCallbackCore: #13443.PR

[2020-05-10 16:24] RomanRobot opened #332 "[Bug] [Android] StreamResetException (INTERNAL_ERROR) posting manually serialized FormData"
I'm running into the same issue as [Issue #295](https://github.com/silkimen/cordova-plugin-advanced-http/issues/295) with Capacitor where it won't serialize a Blob or File correctly. I setDataSerializer to "multipart" and it treats it like a string. No `filename` and the content is always `[object Object]`.

I tried serializing it myself
[code]
to generate the same exact body text as the Angular H

[2020-05-10 20:53] bryce13950 opened #333 "iOS 12 - Post requests turning into get requests"
**Describe the bug**
I am having an issue on my iPhone 6 running the most recent version of iOS available (12.4.6) where all post requests appear to be transformed into get requests. I have two devices, one running iOS 13, and another with iOS 12. They are both running the same build, but the problem only persists on my iPhone 6. I first found this bug with an older set of packages, so I updated e

[2020-05-12 12:39] antikalk opened #334 "[Bug] Empty JSON response triggers error, even though the request is successful"
**Describe the bug**
Error status: -7
Error message: advanced-http: an error occurred during post processing response: JSON Parse error, Unexpected EOF

When a REST request returns an empty response body the request fails even though its status indicates it is successful.

This is due to a faulty parsing of the response: With responseType JSON the response is parsed with JSON.parse(response.data)

[2020-05-13 07:48] yazantahhan commented on #248
Hi @silkimen,
When do you think this fix will be merged into master?

[2020-05-14 14:54] k018c1077 opened #336 "http.sendRequest Does not work on my Android"
I just copy and paste sample code to my Cordova Project.
But,`JSON error` has Occuered.
Could you help me?

`
const options = {
          method: 'post',
          data: { id: 12, message: 'test' },
          headers: { Authorization: 'OAuth2: token' }
        };

        cordova.plugin.http.sendRequest('https://google.com/', options, function (response) {
          console.log(response.status);

[2020-05-14 16:14] silkimen commented on #336
Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-05-14 16:14] #336 closed

[2020-05-15 08:58] abasit-folio3 commented on #225
Hi @Adza93 were you able to solve it? I am same exception but only on samsung galaxy android phones. Other than that every android phone is working perfectly exception samsung galaxy. Weired thing is before making this API, two APIs (POST and GET) are working.

[2020-05-18 08:48] florian72810 opened #337 "[Bug] [iOS] request fails with accentuated characters in url"
When downloading a file from an url with accentuated characters, the request failed with error
[code]

**Minimum viable code to reproduce**
[code]

If I escape the string with *encodeURI()*, the requests succeeds. The following works:
[code]

**System info**
 - affected HTTP plugin version: 2.4.1
 - affected platform(s) and version(s): iOS 13.4.1
 - affected device(s): iPhone SE 2nd Generation
 -

[2020-05-18 21:59] silkimen commented on #337
That‘s how it‘s intended to work. You need to escape special characters yourself. This is meant to prevent double encoding of pre-encoded URLs, as many users seem to have this case. It‘s also documented here: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md#sendrequest

[2020-05-19 16:41] #337 closed

[2020-05-19 16:43] florian72810 commented on #337
Thanks for your reply.

[2020-05-20 05:29] varadig commented on #321
I have a same issue on Android. on iOS is work normally.
`cordova.plugin.http.setRequestTimeout(0.3);`

on iOS is wait 300ms, but Android ....there is no effect.

[2020-05-20 20:09] khalilbenhassine opened #338 "XMLHttpRequest cannot load on iOS 13.4.1"
I am trying to call Restful API on iPhone   with .net backend .
Just for ios 13.4.1 I am getting the below error:
Request header field Authorization is not allowed by Access-Control-Allow-Headers
XMLHttpRequest cannot load http:*****  due to access control checks.

Ionic:

   ionic (Ionic CLI)  : 4.2.1
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.3

Cordova:

   cordova

[2020-05-21 20:12] silkimen commented on #338
If you're using XMLHttpRequest you are not using this plugin. If you have problems with ionic please ask them for support.

[2020-05-21 20:12] #338 closed

[2020-05-24 06:24] ryaa commented on #274
I use capacitor and --variable does not work there so I manually changed build.gradle by adding the below under allprojects so it looks as below

[code]

[2020-05-27 06:19] Benjamin-Bur commented on #311
@silkimen ping

[2020-05-27 16:04] louiemiranda opened #339 "Ionic Upload Error: advanced-http: “params” option needs to be an dictionary style object, <params: {[key: string]: string | string[]}>"
I actually posted an issue on stackoverflow; https://stackoverflow.com/questions/62047127/ionic-upload-error-advanced-http-params-option-needs-to-be-an-dictionary-sty.

However, figured that it might be best to ask the author too.

My code, it does not have any syntax error based on the documentation commented below. The issue was related on the params, which I could not figure out why...

`async

[2020-05-27 19:05] Motoralfa commented on #339
Im having the same issue, could find someting?

[2020-05-28 05:17] louiemiranda commented on #339
Hi guys, I resolved this by using .sendRequest() and using method "post" since that's what I am using on the API endpoint.

Here's my code and hope this help others as well.

[code]

[2020-05-28 05:17] #339 closed

[2020-05-28 12:50] gnochi commented on #59
@Immortalt I have a very similar Issue with the native Cookie handling on iOS. Would you mind sharing your solution ? Thanks in advance.

[2020-05-29 02:24] silkimen commented on #334
Will be fixed in v2.5.1. Thank you Oliver 👍

[2020-05-29 02:24] #334 closed

[2020-05-29 02:35] silkimen commented on #333
Hi Bryce, unfortunately I don't have a device running iOS 12, but I've checked on a iPhone 6 Simulator with iOS 12.4. The e2e specs suite is running without any problems and there are a lot of tests which would fail when post requests would turn to get requests. Can you please cross-check your build on a Simulator?

[2020-05-29 02:42] silkimen commented on #328
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2020-05-29 02:42] #328 closed

[2020-05-29 02:49] silkimen commented on #322
Hi pliablepixels, please check my answer in this issue #337. URL encoding has been an issue in older versions, but it shouldn't be in your version (v2.4.1).

[2020-05-29 02:52] silkimen commented on #321
@varadig slow response has nothing to do with timeout value. So, your problem is not related to this one.

@lucassouza16 I can't see something special with your backend. Try to get log files from the server and inspect them. Unfortunately, I can't help you.

[2020-05-29 02:53] silkimen commented on #317
Added missing info in README

[2020-05-29 02:53] #317 closed

[2020-05-29 02:59] silkimen commented on #248
@yazantahhan thanks for reminding me about this one 👍 Will be fixed in v2.5.1.

[2020-05-29 03:00] #248 closed

[2020-05-29 03:29] varadig commented on #321
Thank you for the answare @silkimen, and there is somethings to do with skip request on long response time? So if the address is no response for example 300ms break the request?

[2020-05-29 03:31] varadig commented on #321
I need to use no a two separate branch of my code, becaues on iOS is working your code, but not on Android, and the [Cordova Advanced HTTP 2](https://www.npmjs.com/package/cordova-plugin-advanced-http-2) is wokring on Android, but not on iOS (the same problem, can't setup timeout)

[2020-05-29 08:19] beruic commented on #317
@silkimen did you forget to push? Can't seem to find it anywhere.

[2020-05-29 10:41] pliablepixels commented on #322
Thank you, silkimem. I am going to close this out - this is only happening in certain build from source scenarios of my app that uses your plugin and not always. I've worked around it - thanks for your input.

[2020-05-29 10:41] #322 closed

[2020-05-29 11:13] bryce13950 commented on #333
Is there a debug point that you may be able to advise me to in order to debug this further on a real device on my own?

[2020-05-29 18:52] nabwill opened #340 "Change certificates"
Hi,

I implemented the plugin in my application. Works fine! My thanks to the community.
I'm afraid if someone decompiles my apk and changes the signed certificates. And in a second moment, recompiled the apk with invalid certificates in order to capture https requests.

Any guidance on that? This is possible?

resource:
https://v0x.nl/articles/bypass-ssl-pinning-android/
https://frida.re/

[2020-05-29 20:27] nabwill commented on #340
https://www.preemptive.com/blog/article/1149-tools-don-t-hack-apps-hackers-do-securing-android-apps-against-frida/102-mobile-protection

[2020-05-30 09:50] antikalk commented on #334
Thank you! :)

[2020-05-30 16:31] silkimen commented on #317
it's in the README.md here: https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/README.md#failure

[2020-06-01 12:51] antikalk commented on #334
@silkimen: When can I expect 2.5.1 to release? I am using npm as package manager and there is v2.4.1 the latest version. Thank you very much for your work by the way! This plugin really helps me out when trying to switch to WkWebView on iOS. :)

[2020-06-02 12:38] ikosta commented on #330
@silkimen is here any update or comment from your end on this?

[2020-06-02 13:20] maciej-zabielski commented on #330
I can only add that I haven't abandoned this topic, but having all the problems listed above I have released an app update that is still using UIWebView. I will have to work on a new version before end of year that will most likely include a different session management that is not so heavily dependent on cookies (JWT?), but that requires broad server side changes.

[2020-06-02 14:19] sansid1983 opened #341 "setClientAuthMode not available in npm package"
Hi,

I am not able include setClientAuthMode as the selector is missing in TS class. The method is available in the publicInterface and the CordovaHttpPlugin.h, but missing in the ionic-native package.

Thanks

[2020-06-02 14:40] jachstet-sea commented on #341
I assume you should report this at https://github.com/ionic-team/ionic-native
This repository (https://github.com/silkimen/cordova-plugin-advanced-http) does not include any TypeScript code

[2020-06-02 14:45] godonovan-jh commented on #248
Hi @silkimen, Just wondering if v2.5.1 is close to being ready? I see the code checked in, hoping to pull it in via NPM. The clearCookie fix is of interest to my project. Thank you!

[2020-06-03 22:20] silkimen commented on #341
Yep, that's true. Please head to the ionic-native repository: https://github.com/ionic-team/ionic-native

[2020-06-03 22:20] #341 closed

[2020-06-03 22:28] silkimen commented on #340
Hi nabwill, yes, that's absolutely possible. But it's not this plugin's task to prevent this kind of attacks. This plugin supports SSL pinning to create a secure e2e communication channel. It's meant to secure the session data and other sensible data It's not meant to prevent attackers from analyzing your APIs.

[2020-06-03 22:40] silkimen commented on #333
That's hard to tell, because the problem does not occur on my machine. I think you can start in line [CordovaHttpPlugin.m#L177](https://github.com/silkimen/cordova-plugin-advanced-http/blob/master/src/ios/CordovaHttpPlugin.m#L177) and then dig deeper.

[2020-06-03 23:03] silkimen commented on #330
Hi guys,
I don't know how XHR and InAppBrowser share their cookie stores, but this plugin does not share its cookie store with them. This plugin uses tough-cookie (See [README](https://github.com/silkimen/cordova-plugin-advanced-http#libraries)) for cookie management and stores them in the local storage.

But @maciej-zabielski already mentioned this here:

We had a similar issue in one of our proj

[2020-06-03 23:09] silkimen commented on #315
@gaurav-chandra is right, please check your server logs. And please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-06-03 23:09] #315 closed

[2020-06-03 23:11] #292 closed

[2020-06-03 23:12] silkimen commented on #290
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-06-03 23:12] #290 closed

[2020-06-03 23:39] silkimen commented on #248
Just released now 🙂

[2020-06-03 23:42] silkimen commented on #334
Just released now :)

[2020-06-04 08:17] ikosta commented on #330
Hi guys,
I've fixed this with an own plugin to get the cookies from the InAppBrowser and add the into the HTTP-Plugin. Will bullet-proof the plugin and post here when it is release. Works on iOS11+ with WkWebView and Android.

[2020-06-04 09:59] maciej-zabielski commented on #330
There must be some cookie sharing that happens on underlying connection that HTTP-plugin is using. Even if its not explicit, but as I have mentioned, we get two cookies returned to the InAppBrowser. Session cookie and RememberMe. RememberMe is "taken over" by HTTP-plugin. Even if there is nothing in the localstorage used by plugin, the cookie will be added. I don't understand how session cookie is

[2020-06-04 23:59] silkimen commented on #330
@ikosta that's very interesting. When I started developing this plugin (it was a fork that diverged long time ago), I wanted to implement cookie handling in the native code. But the problem (back then) was that I kept loosing cookie data on iOS. Then I decided to use tough-cookie and implement cookie handling in the JS runtime, which made it also easier to develop features for both platforms and i

[2020-06-05 11:20] sarath-vijay commented on #168
Any update on this issue? We are facing this issue in our application. I appreciate any help.

[2020-06-09 14:56] BenjaminDish commented on #295
Same problem for me on Android. I'm currently unable to send a POST request with a Blob or File in the formData. No request is sent to the server (I also checked Apache logs) and the Promise remains pending without throwing any error.

I searched for days how to make it works but I finally surrendered, it seems it is impossible to send a file with this Plugin.

Anyone else facing the same issue ?

[2020-06-10 04:26] 2ez4salt commented on #168
it works

[2020-06-15 21:21] Lindsor opened #342 "[Doc] Add Documentation Explaining Local Asset Load"
According to bug report #191 this plugin does not support loading local assets on the device.
When building a hybrid application this is a fairly common use case.

If possible i would suggest adding a comment/documentation in the README.md file explaining this behavior and maybe a justification.

[2020-06-16 14:16] Lindsor commented on #321
@varadig no idea if this is related to you but if your building an angular app make sure to wrap the `AdvancedHttp.sendRequest` in `this.ngZone.run()` since this is leaving the browser context angulars ChangeDetection looses context.

[2020-06-18 08:40] kanongil commented on #248
This "fix" broke my code, which relies on cookies being stored at the OS level…

[2020-06-19 18:14] jpike88 commented on #88
A callback as another argument makes sense.

Is anyone wanting to implement this? I'd like to but only if I get an assurance that there will be prompt review.

[2020-06-19 22:08] nooblado commented on #330
Hi @ikosta,

¿Is your cordova-plugin-cookies working even it's not released? I need a solution like that in my current project, so I can help to test it and give you feedback.

Thank you in advance

[2020-06-20 06:06] ikosta commented on #330
@nooblado yes it is. Had to release an app with first bugfix Version so I had no time to release the plugin. Will update the readme and release it later today.

[2020-06-20 06:11] ikosta commented on #330
#@silkimen an implementation of the an unified cookie-store for webview/http-plugin would be very nice but it’s also an edge-case. In our apps we use plenty of external crm api’s with multiple connection settings and from only three of them we need the cookie. One can be taken care of with just the http-plugin and for the other two we need that solution.

[2020-06-20 07:18] ikosta commented on #330
@nooblado @maciej-zabielski @silkimen I just published the plugin [cordova-plugin-cookies](https://www.npmjs.com/package/cordova-plugin-cookies)

[2020-06-21 18:43] nooblado commented on #330
Thank you @ikosta! I'm going to add your plugin to my app. Great job!!

[2020-06-23 14:22] HardikDG commented on #295
I am also facing the same issue for the iOS with sending the multipart request with Blob object

[2020-06-23 17:03] HardikDG commented on #339
@louiemiranda Where did you added the Blob(image data) in this? Inside FormData?
Also why use post instead of Upload?

[2020-06-23 17:10] silkimen commented on #342
Hi Lindsor, this is listed in the [FAQs](https://github.com/silkimen/cordova-plugin-advanced-http/wiki/FAQs#loading-local-files). I don't think it fits into the documentation, because it should focus on what is possible and how, not what is not possible. The FAQ section feels right to me for this kind of questions. What do you think @Lindsor?

[2020-06-23 17:13] silkimen commented on #340
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-06-23 17:13] #340 closed

[2020-06-24 21:21] Lindsor commented on #342
Yeah i understand the focus on whats possible, and FAQ sounds OK to me.
I feel like this one might be an edge case though, since were dealing with hybrid applications and if your using JS directly it allows you to AJAX into local files i feel like most developers would assume thats natural for this plugin.

The only reason we are moving to using the plugin is because our info-security department i

[2020-06-25 00:44] silkimen commented on #330
Thanks @ikosta, I'll add this into the FAQ list 👍

[2020-06-25 01:07] silkimen commented on #314
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2020-06-25 01:07] #314 closed

[2020-06-25 02:04] silkimen opened #344 "Test suite is failing on HTTP redirect specs"
**Describe the bug**
The test suite is failing for both Android and iOS on HTTP redirect specs. It's caused by an upstream issue here: https://github.com/postmanlabs/httpbin/issues/617. Hopefully, it's fixed soon.

**Screenshots**
<img width="595" alt="CleanShot 2020-06-25 at 04 03 44@2x" src="https://user-images.githubusercontent.com/4717881/85645029-e3b81e00-b698-11ea-9d68-49b18d0a01f2.png">

[2020-06-25 04:56] silkimen commented on #295
@RomanRobot I've checked your app, but that's not what I meant as MVP. 😅

Please check [MDN reference of FormData/append](https://developer.mozilla.org/de/docs/Web/API/FormData/append). It says:

The field's value. This can be a USVString or Blob (including subclasses such as File). If none of these are specified the value is **converted to a string**.

So, I think your Blob instance is not recogn

[2020-06-25 05:51] silkimen commented on #309
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-06-25 05:51] #309 closed

[2020-06-25 05:53] silkimen commented on #297
Will be removed in v3.0.0.

[2020-06-25 05:53] #297 closed

[2020-06-25 05:54] silkimen commented on #249
Should be fixed in #297. Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-06-25 05:54] #249 closed

[2020-06-25 05:54] silkimen commented on #258
Closing this, because you didn't provide enough information. 😔 Feel free to open a new issue, if your problem still exists! 👍

[2020-06-25 05:54] #258 closed

[2020-06-25 05:57] silkimen commented on #274
Should be fixed #297. Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-06-25 05:57] #274 closed

[2020-06-25 05:59] silkimen commented on #330
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-06-25 05:59] #330 closed

[2020-06-25 06:08] silkimen commented on #331
Thanks for reporting this issue, but we are dropping support for Android < 5.1 and therefore don't need to use the OkConnectionFactory class anymore. See #297. Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-06-25 06:08] #331 closed

[2020-06-25 06:30] silkimen commented on #307
Hi Andrey, I can't tell you the base version of AFNetworking used in this plugin anymore. I think it was 3.x. Anyways, it's basically a fork of AFNetworking and some features not needed by this plugin have been removed. Therefore it's not updated to newer versions. I need to apply patches on my own if there are patches affecting functionality of this plugin.

[2020-06-25 06:37] silkimen commented on #311
Hi Benjamin, I think this problem is caused by the accuracy problem of floating point values, because it's converted to a native floating point value before being serialized and sent via HTTP. I'll fix this when addressing #324 as it's related to this issue.

[2020-06-25 08:35] silkimen commented on #158
Headers which were previously set via `setHeader()` can be removed by passing null value in v3.0.0+. But it's not supported to remove default headers like "User-Agent".

[2020-06-25 08:35] #158 closed

[2020-06-25 13:56] anchitd opened #346 "SSL Pinning by passed using telerick fiddler tool"
I am developing an  hybrid application, we have used this plugin to have SSL pining in place, Now our security testing complain that SSL pinning is compromised when they use bypass code using telerik fiddler tool , Kindly let me know any ways to restrict the SSL Pinning code not to get bypassed.

Thanks,
Anchit

[2020-07-02 12:12] bsbechtel commented on #295
@silkimen I believe this is due to an [ongoing issue](https://github.com/ionic-team/capacitor/issues/1564) with ionic/capacitor apps and Angular's Zone library. I implemented [this suggested solution] (https://github.com/ionic-team/capacitor/issues/1564#issuecomment-647165490) in your library, and it fixed my issue. Please let me know if you would like me to submit a PR. Thanks

[2020-07-02 15:31] hrangel commented on #299
Any workaround ?

[2020-07-04 23:48] miderose opened #347 "[Question] [Android] uploadFile() seems does not send form-data to server"
**Describe the bug**
uploadFile() function seems does not send form-data to server (server doesn't receive any of the form-data in the body parameter)

**System info**
 - affected HTTP plugin version: 2.5.1
 - affected platform(s) and version(s): Android 9
 - affected device(s): Samsung Note 8
 - cordova version: 9.0.0
 - cordova platform version(s): android 8.1.0

**Are you using ionic-native-wra

[2020-07-05 06:05] amitguptagwl opened #348 "Upgrading XML Parser"
As we're currently using xml2js, I wanted to request upgrading to [fast-xml-parser](https://github.com/NaturalIntelligence/fast-xml-parser) due to performance;

file size | fxp 3.0 validator (rps) | fxp 3.0 parser (rps) | xml2js 0.4.19 (rps)
-- | -- | -- | --
1.5k | 16581.06758 | 14032.09323 | 4615.930805
1.5m | 14918.47793 | 13.23366098 | 5.90682005
13m | 1.834479235 | 1.135582008 | -1
1.3k with

[2020-07-05 07:11] hesampour opened #349 "[Question] [android] {"status":-1,"error":"There was an error with the request: unexpected end of stream"}","
I am using asp.net api for the backend code. I send datta as Json Format.
calling the api with browser or postman cause no Error.
calling api with cordova-plugin-advanced-http when no html is in the data again cause no Error.
calling api with cordova-plugin-advanced-http when some html code is in the data or data is a little large case There was an error with the request: unexpected end of stream

[2020-07-07 15:54] silkimen commented on #348
Hi @amitguptagwl, this is a dev dependency and it's only used to update the version number in `plugin.xml` file during build which is ~5k. It doesn't make sense to me to change the parser.

[2020-07-07 16:22] amitguptagwl commented on #348
I agree. I missed checking that. You can completely ignrore this issue. Thanks for your response.

[2020-07-07 16:22] #348 closed

[2020-07-07 17:49] araafat3 opened #350 "timed out"
hi
how to fix this
Request timed out: java.net.SocketTimeoutException: timeout

[2020-07-08 10:45] ir2pid opened #351 "[Crash on pinning] [iOS] self.pinnedCertificates is nil"
We get crashes on out iOS app

**System info**
 - affected HTTP plugin version: 2.5.1
 - affected platform(s) and version(s): iOS 13.x
 - affected device(s): iPhones/iPads
 - cordova version: 9.0.0 (cordova-lib@9.0.1)
 - cordova platform version(s): ios 5.1.1

**Are you using ionic-native-wrapper?**
 - ionic-native-wrapper version: "@ionic-native/http": "^4.20.0",
 - did you check [ionic-native is

[2020-07-11 18:09] digholesnehal opened #352 "API end expecting ID in formData with "msgId" as key name, but uploadFile doesn't give access for that."
I am using uploadFile method instead of sending formData in Post method, as Post method doesn't accept any other type than object or array. But my API end expect an id with the file object in formData.. where uploadFile method add id as params or body. How should I access the API if it only accepts a body as formdata as:

[code]
The above code snippet is of data which need to send as it is working

[2020-07-13 22:52] silkimen commented on #352
Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-07-13 22:54] silkimen commented on #350
Please read the documentation carefully and use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-07-13 22:56] silkimen commented on #349
This might be caused if you have non unicode characters in your data. Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-07-13 22:57] silkimen commented on #347
Please read the documentation carefully (you're using the API wrong) and use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-07-13 23:02] silkimen commented on #333
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-07-13 23:02] #333 closed

[2020-07-13 23:20] silkimen opened #353 "[Bug] [CI Pipeline] tests broken on Travis CI"
Testing is broken on Travis CI for Android. It's caused by an update of `mocha` to version 8.0.1 which requires Node.js v10.12.0 or newer.

[2020-07-14 00:56] silkimen commented on #353
Fixed in https://github.com/silkimen/cordova-plugin-advanced-http/commit/20ec4bee3160db796cbf8301c8d96f49c644b8ac

[2020-07-14 00:56] #353 closed

[2020-07-14 07:32] BassamHabash commented on #89
Hi @silkimen
Is there any update for this issue as we are running into the same issues.

[2020-07-14 10:32] klochko7 commented on #88
Good day! I am wanting to implement this feature. If any news exist?

[2020-07-16 06:47] shengjiong commented on #88
您好，麻烦问下楼上的各位解决了吗？我发现好像该库上传文件并没有提供一个progress回调函数来表示进度，不知道各位老哥解决了吗

<img width="1093" alt="WeChate887147bb3b749c9259acfcba08f0d73" src="https://user-images.githubusercontent.com/35161892/87636380-40c46280-c773-11ea-8e57-702bd9b67e26.png">

[2020-07-16 06:58] jpike88 commented on #88
Nobody here speaks Chinese...

[2020-07-16 07:04] lilmnm-kamikaze- commented on #88
I do not think they have added this feature yet.im sure the will accept a PR to add the feature.

[2020-07-16 07:25] shengjiong commented on #88
那么 现在我说了  hhhhhhhhhhhhh

[2020-07-16 07:56] lilmnm-kamikaze- commented on #88
I do not need progress callbacks as i dont use it for downloading files. The uploaded files for my app are really small and finish quickly and so a progress callback to show a progress bar would just make the screen flash. which isnt really user friendly. I am sure if you search google you can get a way to add what you are looking for. Then you can share it with others here by adding it with a PR.

[2020-07-16 07:58] shengjiong commented on #88
@lilmnm-kamikaze- ok, thank you my friend

[2020-07-16 09:04] klochko7 commented on #88
Good day! Could anyone say please if there is any plans to add this feature at closest time? I for example downlod big .zip files and show progress will be very useful. I can not find any alternative. Cordova-plugin-file-transfer is deprecated.

[2020-07-16 11:37] jpike88 commented on #88
Maybe when I get some time over the next couple of months I'll do it. Will let you all know if I do

[2020-07-16 11:49] klochko7 commented on #88
**jpike88**, thank you very much. It is sounds great!

[2020-07-16 12:31] shengjiong commented on #88
@jpike88 老铁，🐄🍺，66666

[2020-07-23 16:18] rluckez commented on #209
@falquinho Eu vi que você é brasileiro, eu estou fazendo o mesmo que você, tentando fazer um digest com um projeto Angular numa câmera IP, você consegue me dizer como você fez para montar os dados de autorização do digest? O seu projeto era em cima de alguma marca de câmera específica? No meu caso estou tentando fazer numa Intelbras.

Obrigado!

[2020-07-28 12:08] bsbechtel commented on #295
@RomanRobot  I ended up overwriting the prototype method in a bit of a hacky way until the library can be updated. I put this in main.ts:

[code]

[2020-07-29 08:41] morille commented on #88
If someone implements this please provide a callback argument like ProgressEvent: https://developer.mozilla.org/en-US/docs/Web/API/ProgressEvent

[2020-07-29 09:07] jpike88 commented on #88
So just thinking more about how to actually do this.

Cordova offers a simple call/response API, and doesn't allow for notifications directly from native to browser. We'd need to handle our progress callback all in javascript. Whatever we do it will involve polling the native layer at an interval.

Let's walk through someone trying to download a file:

They make a call like this:

[code]

This cal

[2020-07-29 09:26] morille commented on #88
@jpike88 Please provide the progress callback with an object containing lengthComputable/loaded/total keys.
- lengthComputable can be used if the platform does not support progress tracking under some conditions
- loaded+total convey all the information we may want to display on UI (byte count and progress)

[2020-07-29 10:21] jachstet-sea commented on #88
@jpike88 : Actually, you can call from "native" to JavaScript multiple times. Use the `setKeepCallback` method of the `CallbackContext` for that. Examples at https://stackoverflow.com/a/18762568/1505212

You could, for example, have a cordova plugin that you call once with an Init method. Then, the plugin can call the Init-method's callback by itself whenever required. This is useful for plugins t

[2020-08-01 23:56] millerg6711 commented on #286
I don't believe this is a user error. I seem to get the same error, whenever I set the response type to "json" it doesn't work. But, when I don't set one.. it works fine. I'm using the latest version with cordova browser, with the sendRequest() method.

[2020-08-02 02:05] millerg6711 opened #355 "[Bug] [Browser] responseType "json" not working with valid JSON response"
@silkimen I'm using platform browser with the sendRequest(), and responseType "json" - but this doesn't seem to work for me. I get the error - "advanced-http: an error occured during post proces…esponse: Unexpected token o in JSON at position 1". If I take it out, it'll work fine and yes.. the server is returning back valid json

_Originally posted by @millerg6711 in https://github.com/silkimen/co

[2020-08-05 14:51] jahanvi-droid opened #357 "cordova.plugin.http.setClientAuthMode"
I am not able to get the function of setClientAuthMode

I am using a capacitor in my project and adding a Cordova plugin with the native wrapper with below commands.

npm install cordova-plugin-advanced-http
npm install @ionic-native/http
ionic cap sync

I have imported HTTP in my app module and using it in service.  But I am not able to add setClientAuthMode function in my service

Can anybody pl

[2020-08-07 13:13] jahanvi-droid commented on #357
Can anybody please help with the above query?

I want to user .p12 for SSL certification. But I don't know how to use it?

[2020-08-10 11:11] LyteFM commented on #297
Hi, the commit says this will drop support for Android `< 5.1` while the issue states `< 5.0`. Which one is correct? And I think it would be a good idea to mention the required minimum version in the readme.

[2020-08-13 15:04] rajasekarsphcl opened #358 "Cookie handling is handled automatically by this plugin ?"
I tried using this plugin. I hit authentication api and on success, the server sent me a cookie.

I noticed, this plugin seems to be automatically sending the received cookie to the subsequent requests (just like any browser do).

Is that mean, i don't need to manually store cookie in localstorage and manually set cookie in in subsequent requests?. This plugin will handle that automatically ?

[2020-08-16 22:50] silkimen commented on #358
Yes, that's what this plugin does.

[2020-08-16 22:50] #358 closed

[2020-08-17 00:00] silkimen opened #359 "[Bug] [Android] memory leakage leads to app crashes"
**Describe the bug**
App crashes on Android due to a memory leakage in this plugin. This problem only occurs when the plugin is used heavily and many requests are made in a short period of time.

**Minimum viable code to reproduce**
[code]

**Screenshots**
![CleanShot 2020-07-22 at 00 57 03@2x](https://user-images.githubusercontent.com/4717881/90346802-61aafc80-e02c-11ea-86a6-23727d2febff.png)

[2020-08-17 01:02] #359 closed

[2020-08-17 01:18] silkimen commented on #297
Hi @LyteFM, you are right. I've changed the title to state the correct Android SDK level. Will also add it into the readme.

[2020-08-18 00:16] #355 closed

[2020-08-18 00:18] silkimen commented on #342
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-08-18 00:18] #342 closed

[2020-08-18 00:20] silkimen commented on #321
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-08-18 00:20] #321 closed

[2020-08-18 00:29] silkimen commented on #347
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-08-18 00:29] #347 closed

[2020-08-18 00:42] silkimen commented on #350
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-08-18 00:42] #350 closed

[2020-08-18 00:48] silkimen commented on #349
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-08-18 00:48] #349 closed

[2020-08-18 00:50] silkimen commented on #307
Closing this, feel free to open a new issue, if this won't answer your questions! 👍

[2020-08-18 00:50] #307 closed

[2020-08-18 06:56] rajasekarsphcl opened #360 "Need to check if the cookie is not expired."
Thanks for this awesome plugin. I just want to know, is there any straightforward way to check if the cookie has expired or not in javascript?.

[2020-08-18 17:51] swathi2378 commented on #147
Hi @pliablepixels How did you solve your issue?

[2020-08-20 06:40] jpike88 commented on #88
Ok I'm going to implement something and try to submit a PR over the next week.

It WON'T be pretty, but it will work and be a starting point.

God help me

[2020-08-20 08:49] jpike88 commented on #88
Big roadblock here. I'm going to be doing a nasty workaround in the interim.

AFNetworking has upload tasks and download tasks (upload tasks are used in this implementation). It seems I can only easily track the progress of either a request, but not the response as well. That's nuts if true. I raised an issue in the AFNetworking library about this. @silkimen does this sound correct?

[2020-08-20 10:57] jpike88 commented on #88
Ok iOS ready to go. android now in progress.

javascript implementation looks like this

```sendRequest(url, options, success, failure, progress)```

progress callback looks like this:
[code]

ok issue is making this work for multipart requests, but I don't use that so going to leave it to someone else. should be a one line fix probably.

[2020-08-20 12:29] silkimen commented on #88
Hi @jpike88, thanks for working on this issue! 👍 I'd prefer to add the progress handler into the `options`, because it's an optional handler. This will prevent breaking the ionic native wrapper code (expecting success and failure callbacks last or first).

And regarding:

I try to keep features consistent and in sync for all supported platforms. Therefore I'll check whether I can make it work for

[2020-08-21 03:22] wangli1992 opened #362 "iOS端 Error Domain=NSURLErrorDomain Code=-1001 "The request timed out.""
**You've got questions?**

ionic1项目
ionic info :
ionic (Ionic CLI) : 4.1.2 (/Users/wangli/.nvm/versions/node/v10.13.0/lib/node_modules/ionic)
   Ionic Framework   : ionic1 1.3.5
   @ionic/v1-toolkit : 3.1.2

Cordova:

   cordova (Cordova CLI) : 8.0.0
   Cordova Platforms     : ios 5.1.0
   Cordova Plugins       : cordova-plugin-ionic-webview 5.0.0, (and 26 other plugins)

System:

   Android SDK T

[2020-08-21 06:26] jpike88 commented on #88
Update: the android implementation here uses a 6 year old library which is has several shortcomings as shown here...

https://github.com/kevinsawicki/http-request/pull/47

- No download progress callback
- The upload progress implementation is broken for our needs, totalUnits is always -1, callback is set to null for some weird reason
- Basically a poor/old implementation, nowhere near the quality

[2020-08-24 13:49] adriansaenz commented on #311
@silkimen any update about the fix?

[2020-09-01 08:35] wangli1992 opened #363 "Why is the request parameter only a string type, and passing a numeric type gives an error"
cordova.plugin.http.setDataSerializer('json');
 var header = { "Content-Type": 'application/json' };
 var options = {"beginTime":1598952780000,"endTime":1598956260000,"meetingContent":"发发发","meetingRoomId":"8669"};
 cordova.plugin.http.post(url,
                options, header, function (response){},function(error){});

Error: advanced-http: "data" option is configured to support only following da

[2020-09-02 12:33] mrakowski0 commented on #357
Hey, did you find a solution? I have the same issue currently.

[2020-09-04 22:22] jagpreetsingh83 commented on #111
@cnotoham How did you performed manual redirect? Do you have a code sample?

[2020-09-08 12:36] jahanvi-droid commented on #357
No I didn't fine anything yet

[2020-09-09 09:31] mobilemarines opened #365 "[Bug] [Android] Not working in background since Android SDK 29"
**Describe the bug**
I was able to send http posts in background (after 5 minutes) with this plugin (version 2.2.0) on the Android target SDK 28 using ionic 4 and Cordova 8.1.2.
As we are all forced to use Android SDK 29 in November I migrated to Cordova 9 und upgraded this plugin to 3.0.1.
Since then I am not able to send http posts in background after 5 minutes anymore. They are postponed and se

[2020-09-09 17:04] BrixXare opened #366 "[Feature] Certificate transparency"
Any change you support certificate transparency?

An example:
https://github.com/babylonhealth/certificate-transparency-android

[2020-09-12 07:40] julianCast opened #367 "Is neccessary the cordova-plugin-file dependency?"
Hi, I wonder if the plugin cordova-plugin-file is neccesary.
I say that because the app permission is trying to write and read in a shared storage. and I'm just making http calls.

**The plugin 'cordova-plugin-file' is required by (cordova-plugin-advanced-http)**

Thanks!

[2020-09-14 10:37] defolly opened #368 "[Bug] [android] I/O error during system call, Connection reset by peer"
My app occasionally get an error when it requests the api (https) in Android, but most of the time it work well.  I don't know how to solve it，Is there anyone to help me with it?

[2020-09-16 18:19] russaa commented on #238
see also related issue [cordova-plugin-file#243](https://github.com/apache/cordova-plugin-file/issues/243)

[2020-09-17 09:40] HusFNS opened #370 "[Feature] iOS waitsForconnectivity"
**Is your feature request related to a problem?**
 iOS14 has waitsForconnectivity option and timeout settings this is needed for calls to local network connections

**Describe the solution you'd like**
Check the following link for more information https://lostmoa.com/blog/GettingReadyForNewiOS14LocalNetworkPrivacyRestrictions/
I would like to be able to set this dynamically per call by default the

[2020-09-17 15:39] johnborges commented on #248
As of version 3.0.0 of this plugin I can confirm this issue still exists. What worked for me was to use another separate plugin that cleared cookies in `HTTPCookieStorage.shared`.

[2020-09-20 18:06] lempere commented on #367
Yes for the download part:

https://github.com/silkimen/cordova-plugin-advanced-http/blob/5f327dc82a0da80b232faaf2e0d87508d9249bc7/src/android/com/silkimen/cordovahttp/CordovaHttpDownload.java#L34

If you don't use that part you could delete it and delete the cordova-plugin-file

[2020-09-20 20:25] julianCast commented on #367
Thank you!

[2020-09-20 20:25] #367 closed

[2020-09-28 21:36] mraible opened #371 "[Bug] [Capacitor] cordova-plugin-advanced-http doesn't work on Android"
**Describe the bug**

I'm trying to integrate the latest version of [Ionic AppAuth](https://github.com/wi3land/ionic-appauth) into my project. I've found that I need to include four Cordova plugins, even when using Capacitor:

[code]

The advanced-http one is a workaround I've used for the last year or so. It's to get around `capacitor://localhost` being sent as an `origin` header, which my identi

[2020-09-29 01:48] mraible commented on #371
It turns out, it's not the fault of this plugin as described [here](https://github.com/ionic-team/capacitor/discussions/3622#discussioncomment-86525).

Running the following commands fixed it for me.

[code]

[2020-09-29 01:48] #371 closed

[2020-09-29 08:58] TimSchnCoding commented on #370
Are there any plans to fix this issue?

[2020-09-29 13:26] cs-320-dev commented on #370
We solved the issue by this way:

[code]

Not sure about possible side-effects, but at least it works with our App.

[2020-10-01 00:39] silkimen commented on #363
Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-10-01 00:39] #363 closed

[2020-10-01 00:40] silkimen commented on #362
Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for this kind of questions.

[2020-10-01 00:40] #362 closed

[2020-10-01 01:11] silkimen commented on #368
This message means that the server has closed the connection (see [what-does-connection-reset-by-peer-mean](https://stackoverflow.com/questions/1434451/what-does-connection-reset-by-peer-mean)). You'll need more information to find out the reason. You could try to get logs from the server side.

Please use [StackOverflow](https://stackoverflow.com/questions/tagged/cordova-plugin-advanced-http) for

[2020-10-01 01:11] #368 closed

[2020-10-01 06:47] SamerAtawna commented on #359
I have updated to 3.0.1 and this issue still exists :/ any suggestions?

[2020-10-01 08:48] SamerAtawna commented on #359
@silkimen I have updated to 3.0.1 and this issue still exists :/ any suggestions? thanks

[2020-10-01 19:23] Adza93 commented on #351
Also experiencing same problem. On latest implementation in can sometimes happen in correlation with following issue:

Crashed: NSOperationQueue 0x104933860 (QOS: UNSPECIFIED)
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x00000005622d4490
0
libobjc.A.dylib
objc_msgSend + 20
1
AFSecurityPolicy.m - Line 282
-[AFSecurityPolicy evaluateServerTrust:forDomain:] + 282
2
CordovaHttpPlugin.m - Line 52
__45-[Cordov

[2020-10-02 00:42] silviogutierrez opened #372 "[Bug] Android: malformed empty multipart requests"
**Describe the bug**

First of all: thanks for all your work on this library. It's a life saver with cookies and avoiding CORS.

On Android only, if you post multipart with an empty FormData object, the boundary is not set. This is invalid and some frameworks will refuses to parse the request. See here: https://stackoverflow.com/questions/34326150/multipartparsererror-invalid-boundary

Note: only

[2020-10-02 20:54] SamerAtawna opened #373 "Can't load big chunks of data (~50MB) via get()"
The issues occurs whenever calling an API, the response have heavy data on it and the app crashes;

**System info**
 - affected HTTP plugin version: 3.0.1
 - affected platform(s) and version(s): Android 9
 - cordova version: 9.0.0
 - cordova platform version(s): 9

**Minimum viable code to reproduce**
** this api works so you may use this exact code to reproduce
[code]
**Screenshots**
Android stud

[2020-10-06 08:30] benallard opened #375 "Honor the "AppendUserAgent" setting from the config.xml"
Is there a way to let the plugin honor the Setting from the `config.xml` file ?

I'd like to append the App Name / Version to the current User-Agent, to better track who's using what. It used to work fine until we switched to the advanced-http-plugin. Is there a way to get the plugin work together with that setting ?

I'd rather not overwrite the User-Agent. There are other parts in here that migh

[2020-10-07 07:13] Adza93 opened #376 "[Bug] [iOS] Randomly crashing when [AFSecurityPolicy evaluateServerTrust:forDomain:]"
**Describe the bug**
While using latest version of cordova-plugin-advanced-http application randomly crashes while performing method [AFSecurityPolicy evaluateServerTrust:forDomain:] in 2 variants. Please help, this issue is really annoying and crashes applications without any notice. All SSL certificates are .cer files DER encoded, and they are valid, so there is no issue with certificates.

**1.

[2020-10-12 22:53] silkimen commented on #272
This will be available in v3.1.0. Thank you @russaa for your great PR!

[2020-10-12 22:53] #272 closed

[2020-10-12 22:57] TheCelavi commented on #272
Thanks @russaa ! You rock!

[2020-10-13 07:57] PauMateu commented on #234
Hi! @silkimen ,
This feature could be very useful as we won't have to force a binary update to the users when the certificate is updated or renewed.
Any hope this feature will be coming soon?

Thanks!

[2020-10-15 22:50] silkimen commented on #270
This feature didn't make it into major v3. But check out #374 if you want to use a fork of this plugin which supports this functionality.

[2020-10-15 23:16] silkimen commented on #373
Hi @SamerAtawna, this is not a memory leak problem. You are trying to load a file which is about ~50MB into your web view. This is done by loading the whole contents into memory, serializing them in the native coding into JSON to pass them into the web view (via cordova bridge functionality). The content is not streamed in chunks into the web view. Therefore it's consuming too much memory.

You sh

[2020-10-19 01:25] #372 closed

[2020-10-19 02:39] silkimen commented on #372
Hi Silvio, I've checked how an empty FormData instance is handled in AFNEtworking (on iOS). It's just falling back to an empty url encoded request instead, which seemed strange at first sight. But on the other hand: it never caused problems as yet and sending empty multipart requests should be an extremely rare case. So I've decided to match this behavior on Android. This issue will be fixed in 3.

[2020-10-19 02:43] silkimen commented on #373
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-10-19 02:43] #373 closed

[2020-10-19 02:49] silkimen commented on #360
This plugin does not expose any functionality for this purpose. But you can get the cookie string for a given URL with `getCookieString(url)`. If your cookie has expired it won't be included in this string.

[2020-10-19 02:49] silkimen commented on #360
Closing this, feel free to open a new issue, if this won't solve your problem! 👍

[2020-10-19 02:49] #360 closed

[2020-10-19 03:30] silkimen commented on #351
Hi guys, I've tried to reproduce your problem on my device but this problem never occurred here. How long does the App run before this problem comes up? Is there anything special with your devices? Honestly, I've no idea where to start diagnosing this problem.

[2020-10-19 03:37] silkimen commented on #376
Looks like it's related to #351 therefore I'm closing this one. We can track your issue there.

[2020-10-19 03:37] #376 closed

[2020-10-19 06:44] SamerAtawna commented on #373
@silkimen Thank you.

[2020-10-19 09:01] Adza93 commented on #351
Hey there @silkimen! Thanks for your efforts. This is very very hard to reproduce. I got some feeling that this is happening very rarely when you start the application. It happens more when you put your app in background, then start to use it again after 10-30 min or more.

While using older SSL plugin,specifically its native part, I have called setSSLCertMode every time prior to establishing http